CREATE TABLE TBL_C_M_PRODUCT_DETAILS (
    IID numeric NOT NULL(18, 0),
    ILOAN_MASTER_ID int,
    VCONTRACT_NO varchar(50),
    ISTATEMENT_OPTION numeric(18, 0),
    ICREDIT_LIMIT numeric(22, 2),
    ITEMP_CREDIT_AMOUT numeric(22, 2),
    ITEMP_CASH_AMOUT numeric(22, 2),
    ILOYALITY_POINTS numeric(22, 2),
    IREDEEM_POINTS numeric(22, 2),
    IOTB_CREDIT numeric(22, 2),
    IOTB_CASH numeric(22, 2),
    VACCOUNT_TYPE varchar(50),
    VMAS_CARD varchar(50),
    DNEXT_RENEW_DATE date,
    VBILLING_CYCLE_CODE varchar(50),
    ICASH_ADVANCE_RATE numeric(22, 2),
    VMOTHERS_MAIDEN_NAME varchar(50),
    VDIRECT_DEBIT_PYMNT_ACC varchar(50),
    VPAYMENT_CODE varchar(50),
    VRELATIVE_NAME varchar(500),
    VRELATIONSHIP varchar(50),
    VSTANDING_ORDER_ACCOUNT varchar(50),
    VSTANDING_ORDER_BRANCH varchar(50),
    VSTANDING_ORDER_PRESENTAGE varchar(50),
    VVIP varchar(50),
    VMILITARY_BRANCH varchar(50),
    INCOME numeric(20, 2),
    VOD_TYPE varchar(50),
    DSTART_DATE date,
    DEXPIRY_DATE date,
    ICASH_LIMIT numeric(22, 2),
    IUTILIZED_AMOUNT numeric(22, 2),
    VRELATION_MOBILENO varchar(100),

);
