CREATE TABLE TBL_C_A_LEGAL_LDSENT (
    IID numeric NOT NULL(20, 0),
    ICUSTID numeric(20, 0),
    ILOAN_MASTER_ID numeric(20, 0),
    IOFFICER_ID numeric(20, 0),
    DSENT_DATE datetime2,
    INUM_OF_LETTERS numeric(20, 0),
    IAMOUNT numeric(20, 2),
    DDELETEDDATE datetime2,
    IDELIND numeric(1, 0),
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDDATE datetime2,
    ICASEID numeric(18, 0),
    IFILEID numeric(20, 0),

);
