CREATE TABLE TBL_C_COM_TEMPLATE_ALLOCATION (
    IID numeric NOT NULL(20, 0),
    IPRODUCT_ID numeric NOT NULL(20, 0),
    ICAT_ID numeric NOT NULL(20, 0),
    ITEMPLATE_ID numeric NOT NULL(20, 0),
    IALLOCATION_TYPE_ID numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
