CREATE TABLE TBL_C_SET_CONTRACT_SCREEN_TAB_ALLOCATION (
    IID numeric NOT NULL(20, 0),
    VNAME varchar(200),
    VPATH varchar(200),
    VPRODUCTLIST varchar(200),
    IPUBLISH numeric(38, 0),
    IADDEDBY numeric(38, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(38, 0),
    DUPDATEDATE datetime2,
    DDELETEDDATE datetime2,
    VURL varchar(1000),
    VCLICK_FUNCTION_NAME varchar(200),
    VTAB_ID numeric(20, 0),

);
