CREATE TABLE TBL_C_WK_CASE_SMS (
    IID numeric NOT NULL(20, 0),
    ICASEDTLID numeric NOT NULL(20, 0),
    ITEMPLATEID numeric NOT NULL(20, 0),
    VTYPE varchar(1000),
    ILOAN_MASTER_ID numeric(20, 0),
    VCONTRACTNO varchar(1000),
    IASSIGNGROUPID numeric(20, 0),
    IASSIGNUSERID numeric(20, 0),
    VSENTSMSNO varchar(4000),
    VSUBJECT text,
    VMSGBODY text,
    VSTATUS numeric NOT NULL(20, 0),
    VRESPONSE text,
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
