CREATE TABLE TBL_C_M_LOAN_ASSEST (
    IID int NOT NULL,
    ICUSTOMER_ID int,
    ILOAN_MASTER_ID int,
    IASSEST_TYPE_ID int,
    VASSEST_NAME varchar(1000),
    VASSEST_DETAIL varchar(1000),
    VLOCATION varchar(1000),
    IMARKET_VALUE bigint,
    IFSV_VALUE bigint,
    VSREMARK varchar(1000),
    VASSEST_OWNER varchar(50),
    VOTHER varchar(1000),
    VREMARK varchar(1000),
    IADDEDBY int,
    DADDEDDATE date,
    IUPDATEBY int,
    DUPDATEDATE date,
    IPUBLISH int,
    SECURITY_ID varchar(45),
    REG_NO varchar(45),
    CRBOOKRECEIVED date,
    CR_BOOK_NO varchar(45),
    CUSTOMER_CONSENT varchar(45),
    VALUER_NAME varchar(100),
    VALUATION_DATE date,
    CUSTOMER_CIF bigint,
    COLLETERAL_CODE varchar(50),
    COLLETERAL_DESCRIPTION varchar(100),
    COLLETERAL_REFERENCE_NO bigint,
    MAXIMUM_COLLETERAL_AMOUNT decimal(20, 2),
    COLLETERAL_AMOUNT decimal(20, 2),
    FORCED_SALE_VALUE bigint,
    MARKET_VALUE_1 bigint,
    COLLETERAL_NO varchar(40),
    COLLETERAL_SUBID numeric(20, 0),
    VCUSTOMER_CIF varchar(20),
    VASSET_CODE varchar(20),
    VCURRENCY varchar(50),
    VEHICLE_ID varchar(50),
    VEHICLE_BRAND_MODEL varchar(200),
    VSHARE_COUNTER varchar(30),
    IORIGINAL_QUANTITY numeric(18, 0),
    ISHARE_PRICE numeric(20, 2),
    VASSET_SERIAL_NO varchar(30),
    VLAND_AREA_UNIT varchar(100),
    IDEED_NO numeric(18, 0),
    IMORTGAGE_BOND_VALUE numeric(18, 0),
    VALUTAION_EXPIRE_DATE date,
    VCHASSIS_NO varchar(100),
    VENGINE_NO varchar(100),
    VCOLOR varchar(100),
    VMAKE varchar(200),
    VMODEL varchar(200),
    ICOLLETERAL_AMOUNT numeric(20, 2),
    COLLETERAL_TYPE numeric(20, 0),

);
