CREATE TABLE TBL_C_SET_BUSINESS_ENT_OWNERS (
    IID numeric NOT NULL(20, 0),
    IBUSINESSENTID numeric(20, 0),
    VTYPE varchar(250),
    IUSERID numeric(20, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
