CREATE TABLE TBL_C_M_RENTAL_SCHEDULE (
    IID numeric NOT NULL(20, 0),
    ILOANMASTERID numeric(20, 0),
    PARTICIPATION_NUMBER numeric(20, 0),
    NUM_OF_PERMITS varchar(20),
    PAYMENT_SCHEDULE_TYPE varchar(20),
    SCHEDULED_PAYMENT_AMOUNT decimal(20, 2),
    ESCROW_PAYMENT_1 int,
    ESCROW_PAYMENT_2 int,
    SCHEDULE_PERIOD varchar(10),
    SCHEDULE_FREQUENCY int,
    SCHEDULE_SPECIFIC_DAY varchar(20),
    FIRST_PAYMENT_DATE int,
    CAPITAL_AMOUNT numeric(20, 2),
    INTEREST_AMOUNT numeric(20, 2),
    BALANCE_AMOUNT numeric(20, 2),
    UPDATE_DATE datetime2,
    INTEREST_PAID numeric(20, 2),
    INTEREST_BALANCE numeric(20, 2),
    CAPITAL_PAID numeric(20, 2),
    CAPITAL_BALANCE numeric(20, 2),
    OD_DUE numeric(20, 2),
    OD_PAID numeric(20, 2),
    OD_BALANCE numeric(20, 2),
    OTHER_DUE numeric(20, 2),
    OTHER_PAID numeric(20, 2),
    OTHER_BALANCE numeric(20, 2),

);
