CREATE TABLE TBL_C_M_HIRE_PURCHASE (
    LOAN_MASTER_ID varchar(45),
    PRODUCT_ID varchar(20),
    SUB_PRODUCT_ID varchar(20),
    PRIMARY_CUS_ID varchar(20),
    CONTRACT_NO varchar(20),
    LOAN_APPROVE_AMOUNT int,
    MATURE_DATE varchar(20),
    TRUE_RATE varchar(20),
    INSTALLMENT_AMOUNT int,
    ACCOUNT_OPEN_DATE varchar(20),
    FIRST_DISBURSEMENT_DATE varchar(20),
    MAIN_BRANCH_ID varchar(20),
    ALLOCATION_BRANCH_ID varchar(20),
    STATUS varchar(20),
    IS_WRITE_OFF varchar(20),
    DAYS_PASTDUE varchar(20),
    IID numeric NOT NULL(20, 0),

);
