CREATE TABLE TBL_C_A_CONTRACT_LOCATION (
    IID numeric NOT NULL(20, 0),
    ILOANMASTERID numeric(20, 0),
    VTYPE varchar(50),
    VLINK varchar(50),
    DADDEDDATE datetime2,
    IADDEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    IPUBLISH numeric(1, 0),
    DDELETEDDATE datetime2,

);
