CREATE TABLE TBL_C_DP_VEHICLE_CR_BOOK (
    IID numeric NOT NULL(20, 0),
    ILOAN_MASTER_ID numeric(20, 0),
    VVEHICLENO varchar(500),
    VCR_BK_AVAILABILITY varchar(100),
    DRELEASE_DATE datetime2,
    IBRANCH_ID numeric(20, 0),
    DOT_ACCEPTED_DATE datetime2,
    DOT_RECEIVED_DATE datetime2,
    VCR_UNIT_CR_AVAILABILITY varchar(100),
    VRMV_UNIT_RL_AVAILABILITY varchar(100),
    VRMV_UNIT_CR_AVAILABILITY varchar(100),
    TREMARKS varchar(4000),
    IPUBLISH numeric(1, 0),
    IDELIND numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(500),
    DDELETEDDATE datetime2,
    ATTACHMENTID numeric(20, 0),

);
