CREATE TABLE TBL_CAMP_BAK_OPERATIONS (
    IID numeric NOT NULL(20, 0),
    VOPERATION varchar(1000),
    VTYPE varchar(1000),
    VFIXEDVALUE varchar(1000),
    IPUBLISH smallint,
    DADDEDDATE datetime2,
    IADDEDBY decimal(20, 0),

);
