CREATE TABLE TBL_C_DP_VEHICLE_TENDER (
    IID numeric NOT NULL(20, 0),
    ICASEDTLID numeric(20, 0),
    ILOAN_MASTER_ID numeric(20, 0),
    IYARDVEHICLEMAINID numeric(20, 0),
    ITENDER_ID numeric(20, 0),
    VVEHICLENO varchar(500),
    IREC_PRICE numeric(20, 0),
    VSTATUS varchar(500),
    ISELLING_PRICE numeric(20, 0),
    IMAX_OFFER numeric(20, 0),
    IPUBLISH numeric(1, 0),
    IDELIND numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(500),
    DDELETEDDATE datetime2,
    IPOSTYARDID numeric(20, 0),

);
