CREATE TABLE TBL_C_WK_SET_STEPS (
    IID numeric NOT NULL(20, 0),
    VTITLE varchar(2000),
    VCODE varchar(1000),
    IENABLEPARALLELSTEP numeric(1, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
