CREATE TABLE TBL_C_M_PROVISION_CATEGORY (
    START_DATE varchar(45),
    END_DATE varchar(20),
    DAYS_PASS_DUE varchar(20),
    REGULAR_PRODUCT_TYPE varchar(20),
    IRREG_FROM_DAYS varchar(20),
    IRREG_TO_DAYS varchar(20),
    IRREG_CLASS_PRODUCT_CODE varchar(20),
    IRREG_RISK_CODE varchar(20),
    PASS_DUE_1_FROM_DAYS varchar(20),
    PASS_DUE_1_TO_DAYS varchar(20),
    PASS_DUE_1_CLAS_PRO_CODE varchar(20),
    PASS_DUE_1_RISK_CODE varchar(20),
    PASS_DUE_2_FROM_DAYS varchar(20),
    IID numeric NOT NULL(20, 0),

);
