CREATE TABLE TBL_C_M_SECURITY_VALUATION (
    IID numeric NOT NULL(20, 0),
    ILOANMASTERID numeric(20, 0),
    ISECURITYID numeric(20, 0),
    VVALUERNAME varchar(100),
    DVALUATIONDATE datetime2,
    DEXPIREDATE datetime2,
    VVALUATIONAMOUNT varchar(100),
    DELETE_FLAG varchar(5),
    DDATE_CREATED datetime2,
    DDATE_UPDATED datetime2,

);
