
Text                                                                                                                                 
----                                                                                                                                 
...                                                                                                                                  
CREATE PROCEDURE [dbo].[ACTION_HISTORY_DETAILS] ...                                                                                  
    AS...                                                                                                                            
BEGIN...                                                                                                                             
    BEGIN TRY...                                                                                                                     
	DECLARE...                                                                                                                          
		@v_histId				NUMERIC,...                                                                                                           
        @v_Old_histId			NUMERIC,...                                                                                                  
        @v_counter				NUMERIC,...                                                                                                    
        @v_cat1_id				NUMERIC,...                                                                                                    
        @v_cat2_id				NUMERIC,...                                                                                                    
        @v_cat3_id				NUMERIC,...                                                                                                    
        @v_exist                 NUMERIC,...                                                                                         
        @v_iparantial_status_id  NUMERIC,...                                                                                         
        @v_errorNo				VARCHAR(3),...                                                                                                 
        @v_error				VARCHAR(400),...                                                                                                 
...                                                                                                                                  
		@pcur_iaction_history_id	NUMERIC, ...                                                                                              
		@pcur_ihistory_id			NUMERIC, ...                                                                                                   
		@pcur_iparental_status_id	NUMERIC, ...                                                                                             
		@pcur_itype_id				NUMERIC, ...                                                                                                     
		@pcur_icat1_id				NUMERIC, ...                                                                                                     
		@pcur_icat2_id				NUMERIC, ...                                                                                                     
		@pcur_icat3_id				NUMERIC,...                                                                                                      
		@pcur_tcomments				VARCHAR(200),...                                                                                                
		@pcur_vtypeid_sub			VARCHAR(200), ...                                                                                              
		@pcur_iaccount_status		NUMERIC, ...                                                                                                
		@pcur_icampaign_detail_id	NUMERIC, ...                                                                                             
		@pcur_dletter_date			DATETIME, ...                                                                                                 
		@pcur_vvalidation_status	VARCHAR(200), ...                                                                                         
		@pcur_vvalidation_comments	VARCHAR(200), ...                                                                                       
		@pcur_damount				VARCHAR(200), ...                                                                                                 
		@pcur_vpayment_frequency	VARCHAR(200), ...                                                                                         
		@pcur_dpayment_occurrence	NUMERIC,...                                                                                              
		@pcur_ddate_from			DATETIME, ...                                                                                                   
		@pcur_dtime_from			DATETIME, ...                                                                                                   
		@pcur_ddate_to				DATETIME, ...                                                                                                    
		@pcur_dtime_to				DATETIME,...                                                                                                     
		@pcur_vpayment_method		VARCHAR(200), ...                                                                                           
		@pcur_dfollow_date			DATETIME, ...                                                                                                 
		@pcur_created_date			DATETIME, ...                                                                                                 
		@pcur_migrate_flag			NUMERIC,...                                                                                                   
...                                                                                                                                  
		@pcur_parantal_title		VARCHAR(200),...                                                                                             
		@pcur_old_history_id		NUMERIC,...                                                                                                  
		@pcur_old_action_history_id NUMERIC, ...                                                                                           
		@pcur_c1vtitle				VARCHAR(200), ...                                                                                                
		@pcur_c2vtitle				VARCHAR(200), ...                                                                                                
		@pcur_c3vtitle				VARCHAR(200), ...                                                                                                
		@pcur_iid					NUMERIC,...                                                                                                          
		...                                                                                                                                
		@IsERROR INT,...                                                                                                                   
		@Error_Message VARCHAR(500),...                                                                                                    
		@ERROR_LINE VARCHAR(20);...                                                                                                        
     ...                                                                                                                             
        DECLARE p_cursor CURSOR FOR --should modify this select using joins ...                                                      
        SELECT dt.*,st.vtitle as parantal_title,c1.vtitle as c1vtitle,c2.vtitle as c2vtitle,c3.vtitle as c3vtitle,...                
        stg.IID,stg.old_action_history_id...                                                                                         
         FROM TBL_C_A_ACTION_HISTORY stg,...                                                                                         
         SYN_tbl_action_history_details dt,...                                                                                       
         SYN_tbl_parantial_status st,...                                                                                             
         SYN_tbl_action_category1 c1,...                                                                                             
         SYN_tbl_action_category2 c2,...                                                                                             
         SYN_tbl_action_category3 c3...                                                                                              
         WHERE dt.ihistory_id=stg.old_action_history_id...                                                                           
         AND c1.icategory1_id=dt.icat1_id...                                                                                         
         AND c2.icategory2_id=dt.icat2_id...                                                                                         
         AND c3.icategory3_id=dt.icat3_id...                                                                                         
         AND st.iparantial_status_id=dt.iparental_status_id ...                                                                      
         AND stg.migrate_flag = 1...                                                                                                 
		 ORDER BY dt.iaction_hist_dtl_id ASC;...                                                                                           
...                                                                                                                                  
        OPEN p_cursor;...                                                                                                            
        FETCH p_cursor INTO @pcur_iaction_history_id, @pcur_ihistory_id, @pcur_iparental_status_id, @pcur_itype_id, @pcur_icat1_id...
							@pcur_icat2_id, @pcur_icat3_id, @pcur_tcomments, @pcur_vtypeid_sub, @pcur_iaccount_status, ...                                
							@pcur_icampaign_detail_id, @pcur_dletter_date, @pcur_vvalidation_status, @pcur_vvalidation_comments, @pcur_damount,...        
							@pcur_vpayment_frequency, @pcur_dpayment_occurrence, @pcur_ddate_from, @pcur_dtime_from, @pcur_ddate_to,...                   
							@pcur_dtime_to, @pcur_vpayment_method, @pcur_dfollow_date, @pcur_created_date, @pcur_migrate_flag,...                         
							@pcur_parantal_title, @pcur_c1vtitle, @pcur_c2vtitle, @pcur_c3vtitle,@pcur_iid,...                                            
							@pcur_old_action_history_id;...                                                                                               
...                                                                                                                                  
...                                                                                                                                  
        WHILE @@FETCH_STATUS=0...                                                                                                    
        BEGIN...                                                                                                                     
            SET @v_error = '01';...                                                                                                  
            SET @v_histId = NULL;...                                                                                                 
            SET @v_Old_histId =NULL;...                                                                                              
            SET @v_exist=NULL;...                                                                                                    
...                                                                                                                                  
            BEGIN TRY...                                                                                                             
                SET @v_error = '02';...                                                                                              
...                                                                                                                                  
                SET @v_histId = @pcur_iid;...                                                                                        
                SET @v_Old_histId = @pcur_old_action_history_id;...                                                                  
...                                                                                                                                  
...                                                                                                                                  
--					SELECT NVL(iparantial_status_id, 0) INTO v_iparantial_status_id ...                                                           
--					FROM tbl_parantial_status pt...                                                                                               
--					WHERE p_cursor.parantal_title = vtitle...                                                                                     
...                                                                                                                                  
                SELECT @v_cat1_id = ISNULL(IID, 0) ...                                                                               
                FROM TBL_C_SET_ACTION_CATEGORY1 ct1...                                                                               
                WHERE @pcur_c1vtitle = VTITLE;...                                                                                    
...                                                                                                                                  
                ...                                                                                                                  
                SELECT @v_cat2_id = ISNULL(IID, 0) ...                                                                               
                FROM TBL_C_SET_ACTION_CATEGORY2 ct2...                                                                               
                WHERE @pcur_c2vtitle = VTITLE;...                                                                                    
...                                                                                                                                  
                ...                                                                                                                  
                SELECT @v_cat3_id = ISNULL(IID, 0) ...                                                                               
                FROM TBL_C_SET_ACTION_CATEGORY3 ct3...                                                                               
                WHERE @pcur_c3vtitle = VTITLE;...                                                                                    
...                                                                                                                                  
...                                                                                                                                  
                SELECT @v_exist = COUNT(*)...                                                                                        
                FROM TBL_C_A_ACTION_HISTORY_DETAILS...                                                                               
                WHERE IHISTORY_ID = @pcur_iaction_history_id;...                                                                     
...                                                                                                                                  
			END TRY...                                                                                                                        
            ...                                                                                                                      
			BEGIN CATCH...                                                                                                                    
                SET @v_error = ERROR_MESSAGE();...                                                                                   
                ...                                                                                                                  
                INSERT INTO tbl_data_migration_error...                                                                              
                (err_source, err_desc, err_identify_type,...                                                                         
                err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                         
                VALUES ...                                                                                                           
                ('DATA_MIGRATION1.TBL_C_A_ACTION_HISTORY_DETAILS', @v_error, 'HIST_ID',...                                           
                ISNULL(@v_Old_histId, 0), GETDATE(), @v_errorNo, '2', NULL);...                                                      
                ...                                                                                                                  
            END CATCH...                                                                                                             
...                                                                                                                                  
            BEGIN TRY   ...                                                                                                          
...                                                                                                                                  
                SET @v_error = '03';...                                                                                              
--                v_vtitle :=p_cursor.vtitle;...                                                                                     
--                v_histDtlId := NULL;...                                                                                            
...                                                                                                                                  
                IF(@v_exist = 0) ...                                                                                                 
				BEGIN ...                                                                                                                        
...                                                                                                                                  
                        SET @v_errorNo = '05';...                                                                                    
					--v_actionHistId := p_cursor.iaction_history_id;...                                                                             
...                                                                                                                                  
                        ...                                                                                                          
                        INSERT INTO TBL_C_A_ACTION_HISTORY_DETAILS...                                                                
                        (IID,IHISTORY_ID,ITYPE_ID,ICAT1_ID,ICAT2_ID,...                                                              
                        ICAT3_ID,TCOMMENTS,VTYPEID_SUB,DLETTER_DATE,VVALIDATION_STATUS,...                                           
                        VVALIDATION_COMMENTS,DAMOUNT,VPAYMENT_FREQUENCY,DPAYMENT_OCCURRENCE,DDATE_FROM,...                           
                        DTIME_FROM,DDATE_TO,DTIME_TO,VPAYMENT_METHOD,DFOLLOW_DATE,...                                                
                        DCREATED_DATE,DDELETEDDATE,DADDEDDATE,DUPDATEDATE,IACCOUNT_STATUS,...                                        
						OLD_ICAT1_ID,OLD_ICAT2_ID,OLD_ICAT3_ID,OLD_IHISTORY_ID,OLD_IACTION_HIST_DTL_ID,...                                             
						MIGRATE_FLAG...                                                                                                                
                        )...                                                                                                         
...                                                                                                                                  
                        VALUES ...                                                                                                   
                        (NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY_DETAILS,@v_histId,@pcur_itype_id,@v_cat1_id,@v_cat2_id,...            
                        @v_cat3_id,@pcur_tcomments,@pcur_vtypeid_sub,@pcur_dletter_date,@pcur_vvalidation_status,...                 
                        @pcur_vvalidation_comments,@pcur_damount,@pcur_vpayment_frequency,@pcur_dpayment_occurrence,@pcur_ddate_fr...
						@pcur_dtime_from,@pcur_ddate_to,@pcur_dtime_to,@pcur_vpayment_method,@pcur_dfollow_date,...                                    
						@pcur_created_date,NULL,NULL,NULL,@pcur_iaccount_status,...                                                                    
						@v_cat1_id,@v_cat2_id,@v_cat3_id,@pcur_old_history_id,@pcur_old_action_history_id,...                                          
						1...                                                                                                                           
                        );...                                                                                                        
...                                                                                                                                  
                END...                                                                                                               
                ELSE ...                                                                                                             
				BEGIN...                                                                                                                         
                    SET @v_error = 'Duplicate HIST_ID';...                                                                           
...                                                                                                                                  
                    ...                                                                                                              
                    INSERT INTO tbl_data_migration_error...                                                                          
                    (err_source, err_desc, err_identify_type,...                                                                     
                     err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                    
                    VALUES ...                                                                                                       
                    ('DATA_MIGRATION1.TBL_C_A_ACTION_HISTORY_DETAILS', 'loop : ' + isnull(@v_error, ''), 'HIST_DTL_ID',...           
                     ISNULL(@v_histId, 0), GETDATE(), @v_errorNo, '3', NULL);...                                                     
                                        ...                                                                                          
					-- v_histDetailId := 0;...                                                                                                      
                END   ...                                                                                                            
...                                                                                                                                  
...                                                                                                                                  
			END TRY...                                                                                                                        
            BEGIN CATCH ...                                                                                                          
                    SET @v_error = ERROR_MESSAGE();...                                                                               
                    ...                                                                                                              
                    INSERT INTO tbl_data_migration_error...                                                                          
                    (err_source, err_desc, err_identify_type,...                                                                     
                    err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                     
                    VALUES ...                                                                                                       
                    ('DATA_MIGRATION1.TBL_C_A_ACTION_HISTORY_DETAILS', @v_error, 'HIST_ID',...                                       
                    ISNULL(@v_Old_histId, 0), GETDATE(), @v_errorNo, '2', NULL);...                                                  
                                       ...                                                                                           
            END CATCH...                                                                                                             
...                                                                                                                                  
...                                                                                                                                  
...                                                                                                                                  
--			INSERT INTO tbl_action_history_details_stg...                                                                                   
--                ...                                                                                                                
--                (SELECT hd.*, 1 ...                                                                                                
--                FROM SYN_tbl_action_history_details hd...                                                                          
--                WHERE ihistory_id = p_cursor.iaction_history_id);...                                                               
--        EXCEPTION ...                                                                                                              
--                WHEN OTHERS THEN ...                                                                                               
--                    v_error := SUBSTR(SQLERRM, 0, 400);...                                                                         
--                    INSERT INTO tbl_data_migration_error...                                                                        
--                    (err_source, err_desc, err_identify_type,...                                                                   
--                     err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                  
--                    VALUES ...                                                                                                     
--                    ('DATA_MIGRATION1.tbl_action_history_details', 'loop : ' || v_error, 'HIST_DTL_ID',...                         
--                     NVL(v_histDtlId, 0), SYSDATE, v_errorNo, '2', NULL);...                                                       
--                    COMMIT;                     ...                                                                                
--			END;...                                                                                                                         
        ...                                                                                                                          
        FETCH p_cursor INTO @pcur_iaction_history_id, @pcur_ihistory_id, @pcur_iparental_status_id, @pcur_itype_id, @pcur_icat1_id...
							@pcur_icat2_id, @pcur_icat3_id, @pcur_tcomments, @pcur_vtypeid_sub, @pcur_iaccount_status, ...                                
							@pcur_icampaign_detail_id, @pcur_dletter_date, @pcur_vvalidation_status, @pcur_vvalidation_comments, @pcur_damount,...        
							@pcur_vpayment_frequency, @pcur_dpayment_occurrence, @pcur_ddate_from, @pcur_dtime_from, @pcur_ddate_to,...                   
							@pcur_dtime_to, @pcur_vpayment_method, @pcur_dfollow_date, @pcur_created_date, @pcur_migrate_flag,...                         
							@pcur_parantal_title, @pcur_c1vtitle, @pcur_c2vtitle, @pcur_c3vtitle,@pcur_iid,...                                            
							@pcur_old_action_history_id;...                                                                                               
        END;...                                                                                                                      
        CLOSE p_cursor;...                                                                                                           
        DEALLOCATE p_cursor;...                                                                                                      
...                                                                                                                                  
    END TRY...                                                                                                                       
	BEGIN CATCH...                                                                                                                      
        ...                                                                                                                          
            SELECT @IsERROR = 1,...                                                                                                  
			@Error_Message = ERROR_MESSAGE(),...                                                                                              
			@ERROR_LINE = ERROR_LINE();...                                                                                                    
            ...                                                                                                                      
            INSERT INTO tbl_data_migration_error...                                                                                  
            (err_source, err_desc, err_identify_type,...                                                                             
             err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                            
            VALUES ...                                                                                                               
            ('DATA_MIGRATION1.TBL_C_A_ACTION_HISTORY_DETAILS', @Error_Message+'line '+@ERROR_LINE, 'HIST_ID',...                     
             ISNULL(@v_Old_histId, 0), GETDATE(), @v_errorNo, '2', NULL);...                                                         
	END CATCH            ...                                                                                                            
END;...                                                                                                                              


