
Text                                                                                                                                 
----                                                                                                                                 
...                                                                                                                                  
CREATE PROCEDURE [dbo].[AGENT_ACTION] AS...                                                                                          
BEGIN...                                                                                                                             
	BEGIN TRY...                                                                                                                        
    DECLARE ...                                                                                                                      
		@v_counter       	NUMERIC,...                                                                                                      
   		@v_uid				NUMERIC,...                                                                                                           
   		@v_iloanmasterId	NUMERIC,...                                                                                                    
		@v_sectionMainId    NUMERIC,...                                                                                                    
		@v_username         VARCHAR(200),...                                                                                               
		@v_contract_no      VARCHAR(200),...                                                                                               
   		@v_code				VARCHAR(200),...                                                                                                     
		@v_errorNo       	VARCHAR(3),...                                                                                                   
		@v_error        	VARCHAR(400),...                                                                                                  
...                                                                                                                                  
		@pcur_iagent_action_id	VARCHAR(200),...                                                                                            
		@pcur_iuser_id			VARCHAR(200),...                                                                                                  
		@pcur_iloan_master_id	VARCHAR(200),...                                                                                             
		@pcur_isection_main_id	VARCHAR(200),...                                                                                            
		@pcur_icampaigndetailid VARCHAR(200),...                                                                                           
		@pcur_icampaignaccountid VARCHAR(200),...                                                                                          
		@pcur_ideliquent_id		VARCHAR(200),...                                                                                              
		@pcur_iaccess_time		VARCHAR(200),...                                                                                               
		@pcur_iaction_time		VARCHAR(200),...                                                                                               
		@pcur_ihist_id			VARCHAR(200),...                                                                                                  
		@pcur_vremarks			VARCHAR(200),...                                                                                                  
		@pcur_icall_count		VARCHAR(200),...                                                                                                
		@pcur_iall_action		VARCHAR(200),...                                                                                                
		@pcur_rpc				VARCHAR(200),...                                                                                                      
		@pcur_nrpc				VARCHAR(200),...                                                                                                     
		@pcur_rpc_type			VARCHAR(200),...                                                                                                  
		@pcur_exp_type			VARCHAR(200),...                                                                                                  
		@pcur_vextra			VARCHAR(200),...                                                                                                    
		@pcur_idpd				VARCHAR(200),...                                                                                                     
		@pcur_iarrearsamount	VARCHAR(200),...                                                                                              
		@pcur_ireqcount			VARCHAR(200),...                                                                                                 
		@pcur_iptparrvalue		VARCHAR(200),...                                                                                               
		@pcur_vcontact_no		VARCHAR(200),...                                                                                                
		@pcur_irpc				VARCHAR(200),...                                                                                                     
		@pcur_iptpid			VARCHAR(200),...                                                                                                    
...                                                                                                                                  
		@pcur_csm_code			VARCHAR(200),...                                                                                                  
		@pcur_ahpa_ptpId		VARCHAR(200),...                                                                                                 
		@pcur_tu_username		VARCHAR(200),...                                                                                                
		@pcur_tlm_contractNo	VARCHAR(200),...                                                                                              
		@pcur_ahs_historyId		VARCHAR(200),		...                                                                                            
...                                                                                                                                  
		@IsERROR INT,...                                                                                                                   
		@Error_Message VARCHAR(500),...                                                                                                    
		@ERROR_LINE VARCHAR(20);...                                                                                                        
     ...                                                                                                                             
        DECLARE p_cursor CURSOR FOR ...                                                                                              
        SELECT aah.*, ...                                                                                                            
	        csm.campaign_code AS csm_code, ...                                                                                          
	        AHPA.IID AS ahpa_ptpId, ...                                                                                                 
	        tu.vusername AS tu_username, ...                                                                                            
	        tlm.vcontract_no AS tlm_contractNo,...                                                                                      
	        ahs.IID AS ahs_historyId...                                                                                                 
        FROM SYN_TBL_AGENT_ACTION aah...                                                                                             
            left join SYN_TBL_CAMPAIGN_SECTION_MAIN	csm...                                                                           
            on aah.ISECTION_MAIN_ID	= csm.ISECTION_MAIN_ID ...                                                                       
            left join  TBL_C_A_ACTION_HISTORY_PROMISE ahpa...                                                                        
            on aah.IPTPID = ahpa.OLD_IACTION_HIST_PTP_ARR_ID...                                                                      
			left join SYN_TBL_USERS	tu...                                                                                                     
            on aah.IUSER_ID	= tu.IUSER_ID...                                                                                         
			left join SYN_TBL_LOAN_MASTER tlm...                                                                                              
            on aah.ILOAN_MASTER_ID = tlm.ILOAN_MASTER_ID...                                                                          
			left join TBL_C_A_ACTION_HISTORY ahs...                                                                                           
            on aah.IHIST_ID	= ahs.OLD_ACTION_HISTORY_ID...                                                                           
            and ahs.MIGRATE_FLAG = 1...                                                                                              
            ORDER BY aah.iagent_action_id;...                                                                                        
...                                                                                                                                  
        OPEN p_cursor;...                                                                                                            
        FETCH p_cursor INTO @pcur_iagent_action_id, @pcur_iuser_id, @pcur_iloan_master_id, @pcur_isection_main_id, @pcur_icampaign...
							@pcur_icampaignaccountid, @pcur_ideliquent_id, @pcur_iaccess_time, @pcur_iaction_time, @pcur_ihist_id,...                     
							@pcur_vremarks, @pcur_icall_count, @pcur_iall_action, @pcur_rpc, @pcur_nrpc,...                                               
							@pcur_rpc_type, @pcur_exp_type, @pcur_vextra, @pcur_idpd, @pcur_iarrearsamount,...                                            
							@pcur_ireqcount, @pcur_iptparrvalue, @pcur_vcontact_no, @pcur_irpc, @pcur_iptpid,...                                          
							@pcur_csm_code, @pcur_ahpa_ptpId, @pcur_tu_username, @pcur_tlm_contractNo, @pcur_ahs_historyId;...                            
        WHILE @@FETCH_STATUS=0...                                                                                                    
        BEGIN...                                                                                                                     
            BEGIN...                                                                                                                 
                SET @v_errorNo 		= '01';...                                                                                          
                SET @v_uid			= 0;...                                                                                                 
                SET @v_iloanMasterId = 0;...                                                                                         
                SET @v_code			= NULL;...                                                                                             
                SET @v_sectionMainId = NULL;...                                                                                      
                SET @v_username    = NULL;...                                                                                        
...                                                                                                                                  
               	BEGIN TRY...                                                                                                         
	                SET @v_errorNo 		= '02';...                                                                                         
	                SET @v_username		= @pcur_tu_username;...                                                                            
                  	SET @v_code		 	= @pcur_csm_code;...                                                                               
...                                                                                                                                  
	                SELECT 	@v_sectionMainId = ISNULL(IID, 0) ...                                                                       
	                FROM 	TBL_C_CAMP_SET_SECTION_MAIN csmm...                                                                           
	                WHERE 	csmm.CAMPAIGN_CODE = @v_code;...                                                                             
...                                                                                                                                  
--                    IF (v_code IS NULL) THEN...                                                                                    
--                        v_sectionMainId := P_CURSOR.ISECTION_MAIN_ID;...                                                           
--                    ELSE ...                                                                                                       
--                         SELECT 		NVL(ISECTION_MAIN_ID, 0) ...                                                                     
--                            INTO 		v_sectionMainId ...                                                                             
--                            FROM 		TBL_CAMPAIGN_SECTION_MAIN csmm...                                                               
--                            WHERE 		csmm.campaign_code = v_code;...                                                                
--                    END IF;...                                                                                                     
--            ...                                                                                                                    
	                ...                                                                                                                 
                	SELECT 	@v_uid = ISNULL(IID, 0) ...                                                                                 
		            FROM 	TBL_USERS tuu...                                                                                                 
		            WHERE 	@pcur_tu_username = tuu.VUSERNAME;...                                                                           
...                                                                                                                                  
            		SELECT 	@v_iloanMasterId = ISNULL(IID, 0) ...                                                                          
		            FROM 	TBL_C_M_LOAN_MASTER tlmm ...                                                                                     
		            WHERE 	tlmm.VCONTRACT_NO = @pcur_tlm_contractNo;...                                                                    
...                                                                                                                                  
--                    SELECT NVL(iloan_master_id, 0) INTO v_loanMasterId ...                                                         
--                    FROM tbl_loan_master lm...                                                                                     
--                    WHERE vcontract_no = v_contractNo;...                                                                          
				...                                                                                                                              
				END TRY...                                                                                                                       
...                                                                                                                                  
                BEGIN CATCH...                                                                                                       
                        SET @v_error = ERROR_MESSAGE();...                                                                           
                        ...                                                                                                          
                        INSERT INTO tbl_data_migration_error...                                                                      
                        (err_source, err_desc, err_identify_type,...                                                                 
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                
                        VALUES ...                                                                                                   
                        ('DATA_MIGRATION5.tbl_agent_action', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_NO',...                     
                         @pcur_tlm_contractNo, GETDATE(), @v_errorNo, 'taa', NULL);...                                               
                                              ...                                                                                    
                END CATCH...                                                                                                         
...                                                                                                                                  
                BEGIN TRY...                                                                                                         
                    SET @v_errorNo = '04';...                                                                                        
...                                                                                                                                  
                    IF(@v_iloanmasterId != 0) ...                                                                                    
					BEGIN...                                                                                                                        
                        SET @v_errorNo = '05';...                                                                                    
...                                                                                                                                  
                        ...                                                                                                          
                        INSERT INTO TBL_C_A_AGENT_ACTION...                                                                          
                        (IID, IUSER_ID, ILOAN_MASTER_ID, ISECTION_MAIN_ID, ICAMPAIGN_DETAIL_ID,...                                   
						ICAMPAIGN_ACCOUNT_ID, IDELIQUENT_ID, IACCESS_TIME, IACTION_TIME, IHIST_ID,...                                                  
						VREMARKS, ICALL_COUNT, IALL_ACTION, RPC, NRPC, ...                                                                             
						RPC_TYPE, EXP_TYPE, VEXTRA, IDPD, IARREARSAMOUNT,...                                                                           
						IREQCOUNT, IPTPARRVALUE, VCONTACT_NO, IRPC_NO, IPTPID,...                                                                      
						OTHER_ACTION, OLD_AGENT_ACTION_ID, VCONTRACTNO, VUSERNAME, OLD_LOAN_MASTER_ID,...                                              
						MIGRATE_FLAG)...                                                                                                               
                        VALUES ...                                                                                                   
                        ('SEQ', @v_uid, @v_iloanMasterId, @v_sectionMainId, @pcur_icampaigndetailid,...                              
						@pcur_icampaignaccountid, @pcur_ideliquent_id, @pcur_iaccess_time, @pcur_iaction_time, @pcur_ahs_historyId,...                 
						@pcur_vremarks, @pcur_icall_count, @pcur_iall_action, @pcur_rpc, @pcur_nrpc,...                                                
						@pcur_rpc_type, @pcur_exp_type, @pcur_vextra, @pcur_idpd, @pcur_iarrearsamount,...                                             
						@pcur_ireqcount, @pcur_iptparrvalue, @pcur_vcontact_no, @pcur_irpc, @pcur_iptpid,...                                           
						NULL, @pcur_iagent_action_id, @pcur_tlm_contractNo, @pcur_tu_username, @pcur_iloan_master_id,...                               
						1);...                                                                                                                         
...                                                                                                                                  
                    END...                                                                                                           
                    ELSE ...                                                                                                         
					BEGIN...                                                                                                                        
                        SET @v_errorNo = '06';...                                                                                    
                        SET @v_error = 'loan master mapping data is null';...                                                        
                        ...                                                                                                          
                        INSERT INTO tbl_data_migration_error...                                                                      
                        (err_source, err_desc, err_identify_type,...                                                                 
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                
                        VALUES ...                                                                                                   
                        ('DATA_MIGRATION5.TBL_AGENT_ACTION', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_NO',...                     
                         @pcur_tlm_contractNo, GETDATE(), @v_errorNo, 'taa', NULL);...                                               
                                                 ...                                                                                 
                    END...                                                                                                           
				...                                                                                                                              
				END TRY...                                                                                                                       
                BEGIN CATCH ...                                                                                                      
                        SET @v_error = ERROR_MESSAGE();...                                                                           
                        ...                                                                                                          
                        INSERT INTO tbl_data_migration_error...                                                                      
                        (err_source, err_desc, err_identify_type,...                                                                 
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                
                        VALUES ...                                                                                                   
                        ('DATA_MIGRATION5.TBL_AGENT_ACTION', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_NO',...                     
                         @pcur_tlm_contractNo, GETDATE(), @v_errorNo, 'taa', ISNULL(@v_iloanmasterId, '') + '|' + ISNULL(NULL, '')...
                                              ...                                                                                    
                END CATCH...                                                                                                         
...                                                                                                                                  
            END;...                                                                                                                  
...                                                                                                                                  
        FETCH p_cursor INTO @pcur_iagent_action_id, @pcur_iuser_id, @pcur_iloan_master_id, @pcur_isection_main_id, @pcur_icampaign...
							@pcur_icampaignaccountid, @pcur_ideliquent_id, @pcur_iaccess_time, @pcur_iaction_time, @pcur_ihist_id,...                     
							@pcur_vremarks, @pcur_icall_count, @pcur_iall_action, @pcur_rpc, @pcur_nrpc,...                                               
							@pcur_rpc_type, @pcur_exp_type, @pcur_vextra, @pcur_idpd, @pcur_iarrearsamount,...                                            
							@pcur_ireqcount, @pcur_iptparrvalue, @pcur_vcontact_no, @pcur_irpc, @pcur_iptpid,...                                          
							@pcur_csm_code, @pcur_ahpa_ptpId, @pcur_tu_username, @pcur_tlm_contractNo, @pcur_ahs_historyId;...                            
        END;...                                                                                                                      
        CLOSE p_cursor;...                                                                                                           
        DEALLOCATE p_cursor;...                                                                                                      
        ...                                                                                                                          
    END TRY...                                                                                                                       
	BEGIN CATCH...                                                                                                                      
            SELECT @IsERROR = 1,...                                                                                                  
			@Error_Message = ERROR_MESSAGE(),...                                                                                              
			@ERROR_LINE = ERROR_LINE();...                                                                                                    
            ...                                                                                                                      
            INSERT INTO tbl_data_migration_error...                                                                                  
            (err_source, err_desc, err_identify_type,...                                                                             
             err_identify_id, err_date, err_no, cr_no, err_parameters)...                                                            
...                                                                                                                                  
             VALUES ...                                                                                                              
            ('DATA_MIGRATION5.TBL_AGENT_ACTION', @Error_Message+'line '+@ERROR_LINE, 'CONTRACT_NO',...                               
            @v_contract_no, GETDATE(), @v_errorNo, 'taa', ISNULL(@v_iloanmasterId, '') + '|' + ISNULL(NULL, ''));...                 
...                                                                                                                                  
    END CATCH...                                                                                                                     
END;...                                                                                                                              


