
Text                                                                                
----                                                                                
CREATE PROCEDURE [dbo].[COM_C_LOG_USER] AS...                                       
BEGIN...                                                                            
SET NOCOUNT ON;...                                                                  
MERGE INTO...                                                                       
  TBL_C_LOG_USER_BKP_ARCHIVE...                                                     
USING...                                                                            
(...                                                                                
select 	...                                                                         
	...                                                                                
		IID             ,...                                                              
		IUSERID			,...                                                                    
		VDESCRIPTION	,...                                                                 
		VMETHOD			,...                                                                    
		VPOSTDATA		,...                                                                   
		VUSERIP			,...                                                                    
		VBROWSER		,...                                                                    
		DDATETIME		,...                                                                   
		VSECTION		,...                                                                    
		DADDEDDATE		,...                                                                  
		START_DATE...                                                                     
...                                                                                 
...                                                                                 
...                                                                                 
from TBL_C_LOG_USER_BKP a...                                                        
...                                                                                 
  EXCEPT...                                                                         
    SELECT ...                                                                      
...                                                                                 
		IID             ,...                                                              
		IUSERID			,...                                                                    
		VDESCRIPTION	,...                                                                 
		VMETHOD			,...                                                                    
		VPOSTDATA		,...                                                                   
		VUSERIP			,...                                                                    
		VBROWSER		,...                                                                    
		DDATETIME		,...                                                                   
		VSECTION		,...                                                                    
		DADDEDDATE		,...                                                                  
		START_DATE...                                                                     
...                                                                                 
...                                                                                 
   FROM  TBL_C_LOG_USER_BKP_ARCHIVE...                                              
...                                                                                 
) TBL_C_LOG_USER_BKP...                                                             
ON...                                                                               
 TBL_C_LOG_USER_BKP_ARCHIVE.IID = TBL_C_LOG_USER_BKP.IID...                         
  WHEN MATCHED AND ...                                                              
  TBL_C_LOG_USER_BKP.START_DATE=GETDATE()-30...                                     
  THEN...                                                                           
  update set ...                                                                    
TBL_C_LOG_USER_BKP_ARCHIVE.IUSERID			= TBL_C_LOG_USER_BKP.IUSERID		,...             
TBL_C_LOG_USER_BKP_ARCHIVE.VDESCRIPTION	 = TBL_C_LOG_USER_BKP.VDESCRIPTION       ...
TBL_C_LOG_USER_BKP_ARCHIVE.VMETHOD	     = TBL_C_LOG_USER_BKP.VMETHOD   ,...         
TBL_C_LOG_USER_BKP_ARCHIVE.VPOSTDATA		= TBL_C_LOG_USER_BKP.VPOSTDATA     ,...       
TBL_C_LOG_USER_BKP_ARCHIVE.VUSERIP		= TBL_C_LOG_USER_BKP.VUSERIP  ,...              
TBL_C_LOG_USER_BKP_ARCHIVE.VBROWSER		= TBL_C_LOG_USER_BKP.VBROWSER  ,...            
TBL_C_LOG_USER_BKP_ARCHIVE.DDATETIME	= TBL_C_LOG_USER_BKP.DDATETIME  ,...           
TBL_C_LOG_USER_BKP_ARCHIVE.VSECTION	= TBL_C_LOG_USER_BKP.VSECTION  ,...             
TBL_C_LOG_USER_BKP_ARCHIVE.DADDEDDATE	= TBL_C_LOG_USER_BKP.DADDEDDATE  ,...         
TBL_C_LOG_USER_BKP_ARCHIVE.START_DATE	= TBL_C_LOG_USER_BKP.START_DATE  ...          
...                                                                                 
WHEN NOT MATCHED AND...                                                             
  TBL_C_LOG_USER_BKP.START_DATE=GETDATE()-30 THEN...                                
INSERT (...                                                                         
		...                                                                               
	IID             ,...                                                               
	IUSERID			,...                                                                     
	VDESCRIPTION	,...                                                                  
	VMETHOD			,...                                                                     
	VPOSTDATA		,...                                                                    
	VUSERIP			,...                                                                     
	VBROWSER		,...                                                                     
	DDATETIME		,...                                                                    
	VSECTION		,...                                                                     
	DADDEDDATE		,...                                                                   
	START_DATE      ,...                                                               
	ARCHIVE_DATE   ...                                                                 
...                                                                                 
       )...                                                                         
VALUES...                                                                           
      ( ...                                                                         
	IID			   ,...                                                                      
	IUSERID			,...                                                                     
	VDESCRIPTION	,...                                                                  
	VMETHOD			,...                                                                     
	VPOSTDATA		,...                                                                    
	VUSERIP			,...                                                                     
	VBROWSER		,...                                                                     
	DDATETIME		,...                                                                    
	VSECTION		,...                                                                     
	DADDEDDATE		,...                                                                   
	START_DATE     ,...                                                                
	GETDATE()...                                                                       
...                                                                                 
);...                                                                               
END;...                                                                             


