
Text                                                                                                                             
----                                                                                                                             
CREATE PROCEDURE [dbo].[LOLC_CORE_CHARGES_DETAILS](@para_UserID FLOAT)AS...                                                      
BEGIN...                                                                                                                         
...                                                                                                                              
  DECLARE ...                                                                                                                    
   @var_ErrorLogID        DECIMAL(20),...                                                                                        
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                      
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                      
   @var_ErrorMessage      VARCHAR(500),...                                                                                       
   @IsERROR               INT,...                                                                                                
   @Error_Message         VARCHAR(500),...                                                                                       
   @ERROR_LINE            VARCHAR(20);   ...                                                                                     
...                                                                                                                              
   SET @var_Rowsprocessed =  0;...                                                                                               
/* -------------------------------------------------------------------------*...                                                 
Procedure       : LOLC_CORE_ChARGES_DETAILS...                                                                                   
Author          : Pramod Perera...                                                                                               
Date Created    : ...                                                                                                            
Date Last Mod.  :...                                                                                                             
Description     : System User information from LOLC DB...                                                                        
Level           : DB Link to Core...                                                                                             
...                                                                                                                              
=============================================================================*/...                                               
...                                                                                                                              
...                                                                                                                              
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                        
...                                                                                                                              
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                          
(...                                                                                                                             
IID,...                                                                                                                          
VPROCESSDESC,...                                                                                                                 
VPHASE,...                                                                                                                       
DSTARTTIME...                                                                                                                    
)...                                                                                                                             
SELECT ...                                                                                                                       
@var_ProcessStatusID,...                                                                                                         
'LOLC_CORE_BRANCH',...                                                                                                           
'TBL_CORE_BRANCH',...                                                                                                            
GETDATE()...                                                                                                                     
;...                                                                                                                             
...                                                                                                                              
BEGIN TRY...                                                                                                                     
...                                                                                                                              
...                                                                                                                              
--TRUNCATE TABLE BEFORE INSERT...                                                                                                
TRUNCATE TABLE TBL_CORE_CHARGES_DETAILS;...                                                                                      
...                                                                                                                              
...                                                                                                                              
--INSERT INTO TBL_CORE_CHARGES_DETAILS(...                                                                                       
--		LENDING_ACCOUNT_ID,...                                                                                                       
--    CONTRACT_NO ,...                                                                                                           
--    CHARGES_TYPE_CODE ,...                                                                                                     
--    CHARGES_TYPE ,...                                                                                                          
--    CHARGES_AMOUNT ...                                                                                                         
...                                                                                                                              
--       )...                                                                                                                    
--SELECT * FROm OPENQUERY([LOLC_DS],...                                                                                          
--'SELECT...                                                                                                                     
--		LENDING_ACCOUNT_ID,...                                                                                                       
--    CONTRACT_NO ,...                                                                                                           
--    CHARGES_TYPE_CODE ,...                                                                                                     
--    CHARGES_TYPE ,...                                                                                                          
--    CHARGES_AMOUNT ...                                                                                                         
...                                                                                                                              
--FROM CNWNB_COMN_REPORT.VIEW_CHARGES_DETAILS ');...                                                                             
...                                                                                                                              
...                                                                                                                              
...                                                                                                                              
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                         
...                                                                                                                              
...                                                                                                                              
/* Update Process Status Log- Reporting Successful Completion */...                                                              
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                              
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                                     
        DENDTIM=GETDATE(),...                                                                                                    
        VCOMMENTS='LOLC_CORE_CHARGES_DETAILS Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                            
...                                                                                                                              
END TRY...                                                                                                                       
...                                                                                                                              
...                                                                                                                              
BEGIN CATCH...                                                                                                                   
...                                                                                                                              
     SELECT @IsERROR =1,...                                                                                                      
	 @Error_Message=ERROR_MESSAGE(),...                                                                                             
     @ERROR_LINE = ERROR_LINE();...                                                                                              
  -- ------------------------------------------------------------------------------------------------*...                        
...                                                                                                                              
      /* Add row to Process Status Log- Indcating Error occured */...                                                            
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                    
          SET     IROWSPROCESSE=0,...                                                                                            
                  DENDTIM=GETDATE(),...                                                                                          
                  VCOMMENTS='LOLC_CORE_CHARGES_DETAILS Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                              
      /* Log error Information in TBL_ERROR_LOG */...                                                                            
...                                                                                                                              
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                            
                    (...                                                                                                         
                    IID,...                                                                                                      
                    VITEMNAME,...                                                                                                
                    VERROR_MESSAGE,...                                                                                           
                    DPOSTDATETIME,...                                                                                            
                    ICREATEDBY...                                                                                                
...                                                                                                                              
                    )...                                                                                                         
                   SELECT...                                                                                                     
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                         
                   'LOLC_CORE_CHARGES_DETAILS',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                        
                   GETDATE(),...                                                                                                 
                   @para_UserID ...                                                                                              
                   ;...                                                                                                          
...                                                                                                                              
    END CATCH...                                                                                                                 
END;...                                                                                                                          
...                                                                                                                              
...                                                                                                                              


