
Text                                                                                                                            
----                                                                                                                            
CREATE PROCEDURE [dbo].[LOLC_MGR_DELINQUENCY](@para_UserID FLOAT)AS...                                                          
BEGIN...                                                                                                                        
...                                                                                                                             
  DECLARE ...                                                                                                                   
   @var_ErrorLogID        DECIMAL(20),...                                                                                       
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                     
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                     
   @var_ErrorMessage      VARCHAR(500),...                                                                                      
   @IsERROR               INT,...                                                                                               
   @Error_Message         VARCHAR(500),...                                                                                      
   @ERROR_LINE            VARCHAR(20);   ...                                                                                    
  ...                                                                                                                           
...                                                                                                                             
   SET @var_Rowsprocessed =  0;...                                                                                              
/* -------------------------------------------------------------------------*...                                                
Procedure       :LOLC_MGR_DELINQUENCY...                                                                                        
Author          : PRAMOD...                                                                                                     
Date ALTERd    : ...                                                                                                            
Date Last Mod.  : ...                                                                                                           
Description     : Merge data for Original table from core table...                                                              
Level           : merging...                                                                                                    
...                                                                                                                             
=============================================================================*/...                                              
...                                                                                                                             
...                                                                                                                             
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                       
...                                                                                                                             
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                         
(...                                                                                                                            
IID			,...                                                                                                                      
VPROCESSDESC,...                                                                                                                
VPHASE,...                                                                                                                      
DSTARTTIME...                                                                                                                   
...                                                                                                                             
)...                                                                                                                            
SELECT ...                                                                                                                      
@var_ProcessStatusID,...                                                                                                        
'LOLC_MGR_DELINQUENCY',...                                                                                                      
'DELINQUENCY',...                                                                                                               
GETDATE()...                                                                                                                    
;...                                                                                                                            
 ...                                                                                                                            
...                                                                                                                             
...                                                                                                                             
BEGIN TRY...                                                                                                                    
    UPDATE TBL_C_M_DELINQUENCY...                                                                                               
    SET    iactioned = 0...                                                                                                     
    WHERE  iactioned = 1; ...                                                                                                   
...                                                                                                                             
...                                                                                                                             
INSERT INTO ...                                                                                                                 
	TBL_C_M_DELINQUENCY(...                                                                                                        
		DSNAPSHOT_DATE,...                                                                                                            
		ILOAN_MASTER_ID,...                                                                                                           
		IPRODUCTID,...                                                                                                                
		IARR_DAYS,...                                                                                                                 
		IARR_TOT_AMT,...                                                                                                              
		ITOTAL_BALANCE,...                                                                                                            
		IRENTAL_IN_ARR_AMT,...                                                                                                        
		IACTIONED,...                                                                                                                 
		OLDEST_DUE_DATE,...                                                                                                           
		INTEREST_ARREARS,...                                                                                                          
		INTEREST_SUS_BALANCE,...                                                                                                      
		minimum_payment,...                                                                                                           
		WOFF_TOTAL,...                                                                                                                
		SYSTEM_DATE,...                                                                                                               
		SETTLED_NO_OF_RENTALS   ,                 ...                                                                                 
		TOTAL_OUTSTANDING_RENTALS   ,                 ...                                                                             
		GROSS_RENTAL_VOLUME                    ...                                                                                    
...                                                                                                                             
		...                                                                                                                           
		--DDATE...                                                                                                                    
	...                                                                                                                            
		...                                                                                                                           
)...                                                                                                                            
SELECT CUR_DATE, ILOAN_MASTER_ID, IPRODUCTID, DPD,...                                                                           
	TOTAL_ARREARS_AMOUNT, TOT_OUTSTANDING_AMOUNT, RENTAL_IN_ARREARS,...                                                            
	IACTIONED, OLDEST_DUE_DATE, INTEREST_ARREARS, INTEREST_SUS_BALANCE, ...                                                        
	minimum_payment,WOFF_TOTAL,...                                                                                                 
	SYSTEM_DATE,...                                                                                                                
	SETTLED_NO_OF_RENTALS   ,                 ...                                                                                  
	TOTAL_OUTSTANDING_RENTALS   ,                 ...                                                                              
	GROSS_RENTAL_VOLUME                    ...                                                                                     
...                                                                                                                             
FROM(...                                                                                                                        
SELECT ...                                                                                                                      
		GETDATE() AS CUR_DATE, ...                                                                                                    
		(SELECT TOP 1 L.IID ...                                                                                                       
		FROM TBL_C_M_LOAN_MASTER L...                                                                                                 
		WHERE L.VCONTRACT_NO = B.CONTRACT_NO) AS ILOAN_MASTER_ID,...                                                                  
		(SELECT TOP 1 L.IPRODUCT_ID ...                                                                                               
		FROM TBL_C_M_LOAN_MASTER L...                                                                                                 
		WHERE L.VCONTRACT_NO = B.CONTRACT_NO) AS IPRODUCTID,...                                                                       
		DPD,...                                                                                                                       
		TOTAL_ARREARS_AMOUNT,...                                                                                                      
		TOT_OUTSTANDING_AMOUNT,...                                                                                                    
		RENTAL_IN_ARREARS,...                                                                                                         
		1 AS IACTIONED, ...                                                                                                           
		OLDEST_DUE_DATE,...                                                                                                           
		INTEREST_ARREARS,...                                                                                                          
		INTEREST_SUS_BALANCE, ...                                                                                                     
		--D_DATE...                                                                                                                   
		minimum_payment,...                                                                                                           
		WOFF_TOTAL,...                                                                                                                
		SYSTEM_DATE,...                                                                                                               
		SETTLED_NO_OF_RENTALS   ,                 ...                                                                                 
		TOTAL_OUTSTANDING_RENTALS   ,                 ...                                                                             
		GROSS_RENTAL_VOLUME ,                   ...                                                                                   
...                                                                                                                             
		ROW_NUMBER() OVER(PARTITION BY CONTRACT_NO ORDER BY DPD) AS row_num ...                                                       
...                                                                                                                             
	FROM TBL_CORE_ARREARS_DETAILS b) AS c...                                                                                       
WHERE c.row_num = 1 ...                                                                                                         
	...                                                                                                                            
	...                                                                                                                            
...                                                                                                                             
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                        
...                                                                                                                             
/* Update Process Status Log- Reporting Successful Completion */...                                                             
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                             
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                               
        DENDTIM=GETDATE(),...                                                                                                   
        VCOMMENTS='LOLC_MGR_DELINQUENCY_new Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                           
...                                                                                                                             
END TRY...                                                                                                                      
...                                                                                                                             
...                                                                                                                             
BEGIN CATCH...                                                                                                                  
...                                                                                                                             
     SELECT @IsERROR =1,...                                                                                                     
	 @Error_Message=ERROR_MESSAGE(),...                                                                                            
     @ERROR_LINE = ERROR_LINE();...                                                                                             
  -- ------------------------------------------------------------------------------------------------*...                       
...                                                                                                                             
      /* Add row to Process Status Log- Indcating Error occured */...                                                           
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                   
          SET     IROWSTOBEPROCESSED=0,...                                                                                      
                  DENDTIM=GETDATE(),...                                                                                         
                  VCOMMENTS='LOLC_MGR_DELINQUENCY_new Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                 
...                                                                                                                             
      /* Log error Information in TBL_ERROR_LOG */...                                                                           
...                                                                                                                             
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                           
                    (...                                                                                                        
                    IID,...                                                                                                     
                    VITEMNAME,...                                                                                               
                    VERROR_MESSAGE,...                                                                                          
                    DPOSTDATETIME,...                                                                                           
                    ICREATEDBY...                                                                                               
...                                                                                                                             
                    )...                                                                                                        
                  SELECT...                                                                                                     
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                        
                   '   LOLC_MGR_DELINQUENCY',...                                                                                
                   @Error_Message+'line '+@ERROR_LINE,...                                                                       
                   GETDATE(),...                                                                                                
                   @para_UserID ...                                                                                             
                   ;...                                                                                                         
...                                                                                                                             
    END CATCH...                                                                                                                
END;...                                                                                                                         


