CREATE TABLE TBL_C_SET_ACTION_CATEGORY1_BK31 (
    IID numeric NOT NULL(20, 0),
    IPRODUCTID varchar(50),
    VTITLE varchar(100),
    ITYPEID numeric(20, 0),
    VCODE varchar(100),
    IORDER numeric(1, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),
    IDPDMIN numeric(10, 0),
    IDPDMAX numeric(10, 0),
    C121MAP varchar(100),
    C121VCODE varchar(100),

);
