CREATE TABLE TBL_C_LOG_ERROR_DB (
    IID numeric NOT NULL(20, 0),
    VITEMNAME varchar(100),
    VERROR_MESSAGE varchar(500),
    DPOSTDATETIME datetime2,
    ICREATEDBY numeric(38, 0),
    IMODIFIEDBY numeric(38, 0),
    VCOMMENTS varchar(500),
    VQUERY1 varchar(500),
    VQUERY2 varchar(500),
    ERROR_NO varchar(20),

);
