CREATE TABLE TBL_C_M_DLA (
    IID numeric NOT NULL(20, 0),
    IUSERID numeric(20, 0),
    ITYPEID numeric(20, 0),
    ILIMIT numeric(20, 0),
    VSTATUS varchar(100),
    DELETE_FLAG varchar(5),
    DDATE_CREATED datetime2,
    DDATE_UPDATED datetime2,

);
