CREATE TABLE TBL_C_A_ACCOUNT_STATUS (
    IID numeric NOT NULL(20, 0),
    ILOAN_MASTER_ID numeric NOT NULL(20, 0),
    IGRAND_PARANTIAL_STATUS_ID numeric NOT NULL(20, 0),
    IPARENTAL_STATUS_ID numeric NOT NULL(20, 0),
    IC121_STATUS_ID numeric(20, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    VACCOUNT_UNAPPROVED char(1),
    DUPDATEDATE datetime2,
    BRANCH_RECOVERIES_FLAG varchar(10),
    CENTRAL_RECOVERIES_FLAG varchar(10),
    OLD_ACCOUNT_STATUS_ID numeric(20, 0),
    OLD_LOAN_MASTER_ID numeric(20, 0),
    OLD_IGRAND_PARANTIAL_STATUS_ID numeric(20, 0),
    OLD_IPARENTAL_STATUS_ID numeric(20, 0),
    OLD_IC121_STATUS_ID numeric(20, 0),
    VUSERNAME varchar(250),
    MIGRATE_FLAG varchar(2),
    M_BRANCH_REC_FLAG varchar(10),
    M_BRANCH_REC_FLAG_DATE datetime2,
    BRANCH_RECOVERY_DATE datetime2,
    BRANCH_RETAINED_FLAG varchar(10),
    AUTO_BRANCH_RECOVERIES_FLAG varchar(10),
    AUTO_BRANCH_RECOVERIES_DATE date,
    RESCHEDULED_FLAG varchar(10),

);
