CREATE TABLE TBL_CORE_IMP_EXP_TRANSACTIONS (
    PRODUCT_CODE varchar(40),
    CONTRACT_NO varchar(40),
    BILL_NO varchar(40),
    DESCRIPTION varchar(40),
    CURRENCY_CODE varchar(40),
    TRANSACTION_AMOUNT decimal(18, 2),
    TRANSACTION_DATE date,
    TRAN_CODE numeric(20, 0),
    BENEFICIARY varchar(40),
    TRAN_DESCRIPTION varchar(40),

);
