CREATE TABLE TBL_C_A_AUCTION (
    IID numeric NOT NULL(20, 0),
    VCASE_NUMBER varchar(200),
    IAUCTIONEER_ID numeric(18, 0),
    DAUCTION_DATE datetime2,
    ILOAN_MASTER_ID numeric(18, 0),
    DDELETEDDATE datetime2,
    IADDEDBY numeric(18, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(18, 0),
    DUPDATEDDATE datetime2,
    IPUBLISH numeric(1, 0),

);
