CREATE TABLE TBL_C_COM_COMMUNICATION_BATCH (
    IID int NOT NULL,
    BATCH varchar(100),
    VTYPE varchar(50),
    ITEMPLATE_ID int,
    CONTRACT_COUNT int,
    STATUS varchar(50),
    APPROVED_BY varchar(50),
    IADDEDBY int,
    IUPDATEDBY int,
    DUPDATEDATE datetime2,
    DADDEDDATE datetime2,
    DDELETEDDATE datetime2,
    APPROVEDTIME datetime2,
    IPUBLISH bit,

);
