CREATE TABLE TBL_C_M_PROVINSION_TRANSACTIONS_DETAILS (
    IID numeric NOT NULL(20, 0),
    TRAN_DATE varchar(45),
    CUS_NUMBER varchar(45),
    APP_NUMBER varchar(45),
    ACC_NUMBER varchar(45),
    PROV_TYPE varchar(45),
    DEBIT_CREDIT_CODE varchar(45),
    CUR_PRODUCT_TYPE varchar(45),
    TRAN_DESCRIPTION varchar(45),
    PROV_AMOUNT decimal(20, 2),
    INTEREST_TAX_CURR_LOAN varchar(45),
    CASH_DEPOSIT varchar(45),

);
