
Text                                                             
----                                                             
CREATE  TRIGGER [dbo].[TRG_LOAN_MASTER_NEW_AFTER_INSERT]...      
ON [dbo].[TBL_C_M_LOAN_MASTER]...                                
AFTER INSERT...                                                  
AS...                                                            
...                                                              
    INSERT INTO tbl_c_a_account_status( IID,...                  
                                    iloan_master_id,...          
                                    igrand_parantial_status_id...
                                    iparental_status_id,...      
                                    daddeddate)...               
    SELECT NEXT VALUE FOR seq_c_a_account_status,...             
            i.iid,...                                            
            1,...                                                
            1,...                                                
            GETDATE()...                                         
            FROM Inserted i;...                                  
...                                                              
     INSERT INTO tbl_c_m_account_management( IID,...             
                                         iloan_master_id,...     
                                         ibusiness_entity_id,... 
                                         dupdatedate)...         
     SELECT NEXT VALUE FOR seq_c_m_account_management,...        
             i.iid,...                                           
             i.IBENTITY_ID,...                                   
             GETDATE()...                                        
            FROM Inserted i;...                                  


