
Text                                                                                                                                                                                           
----                                                                                                                                                                                           
CREATE VIEW BranchView AS...                                                                                                                                                                   


