
Text                                        
----                                        
CREATE VIEW PaymentInfoView AS...           
SELECT  *...                                
FROM peoples_db_views.dbo.TBL_PAYMENT_INFO; 


