
Text                                             
----                                             
CREATE VIEW ProductView AS...                    
SELECT  *...                                     
FROM peoples_db_views.dbo.TBL_PRODUCT_DETAILS;...


