CREATE TABLE TBL_CORE_SECURITY_DETAILS (
    REG_NO varchar(100),
    CR_BOOK_N0 varchar(100),
    SECURITY varchar(100),
    CHASSIS_NO varchar(100),
    COLOR varchar(100),
    ENGINE_NO varchar(100),
    EQUIP_TYPE varchar(100),
    MAKE varchar(100),
    MODEL varchar(100),
    FACILITY_TYPE varchar(100),
    AGREEMENT_NO varchar(100),
    CONTRACT_NO varchar(40),

);
