CREATE TABLE TBL_C_SLIPPAGE_RETURN_REPORT_DATA_HISTORY (
    IID numeric NOT NULL(20, 0),
    IREPORTDATAID numeric(20, 0),
    IREPORTHEADERID numeric(20, 0),
    ILOANMASTERID numeric(20, 0),
    VCONTRACTNO varchar(500),
    VBRANCH varchar(500),
    VREGION varchar(500),
    VCIF varchar(500),
    VCUSNAME varchar(500),
    VPRODUCT varchar(500),
    VSUBPRODUCT varchar(500),
    VPRODUCTCAT varchar(500),
    IFACILITYAMOUNT bigint,
    ITOTALOS bigint,
    ITOTALEXP bigint,
    ITOTALARR bigint,
    IDPD bigint,
    IIMPBALANCE bigint,
    VLSCODE varchar(500),
    VREASON varchar(500),
    DSETTLEMENTDATE datetime2,
    VACTION varchar(500),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDDATE datetime2,
    DDELETEDDATE datetime2,
    VURL varchar(1000),

);
