CREATE TABLE TBL_CORE_ACCOUNT_INFO (
    ACCOUNT_ID varchar(20),
    ACCOUNT_TYPE varchar(50),
    ACCOUNT_NO varchar(20),
    ACCOUNT_AMOUNT numeric(38, 2),
    ACCOUNT_OPEN_DATE varchar(20),
    ACCOUNT_CLOSED_DATE date,
    JOINT_BORROWER_ID varchar(20),
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE varchar(45),
    DATE_CREATED varchar(45),
    NIC varchar(20),
    CURRENCY varchar(20),
    OLD_ACCOUNT_NO varchar(500),
    OWNERSHIP_TYPE varchar(500),
    DEPOSITE_TYPE varchar(500),
    MATURITY_DATE datetime2,
    BRANCH varchar(500),
    TERM varchar(100),
    ACCOUNT_STATUS varchar(500),
    ACTUAL_BALANCE numeric(25, 5),
    LEDGER_BALANCE numeric(20, 6),
    AVAILBLE_BALANCE numeric(25, 5),
    ACCRUED_INTEREST numeric(20, 6),
    CUSTOMER_NAME varchar(100),

);
