CREATE TABLE TBL_C_A_CUSTOMER_BEHAVIOR (
    IID numeric NOT NULL(20, 0),
    ICUSTOMER_ID numeric(20, 0),
    ISEGMENTATION_ID numeric(20, 0),
    DADDEDDATE datetime2,
    DUPDATEDATE datetime2,
    DDELETEDDATE datetime2,
    VURL varchar(1000),
    ITOTAL_LOANS varchar(500),
    ITOTAL_TAKEN varchar(500),
    ITOTAL_OUTSTANDING varchar(500),
    ITOTAL_ARREARS varchar(500),
    ITOTAL_DEPOSITS varchar(500),
    ITOTAL_PTPS varchar(500),
    ITOTAL_KEPT varchar(500),
    ITOTAL_BROKEN varchar(500),
    ITOTAL_RPC varchar(500),
    ITOTAL_NRPC varchar(500),
    ISCOREBEHAVIOR varchar(500),
    ISCORELD varchar(500),

);
