CREATE TABLE TBL_CORE_CUSTOMER_INFO_CONTACT (
    CUSTOMERID numeric NOT NULL(20, 0),
    PERSONID numeric(20, 0),
    CONTACT_VALUE varchar(255),
    CONTACT_ID numeric(38, 0),
    STATUS varchar(20),
    CONTACT_TYPE_CODE varchar(20),
    CONTACT_TYPE_DESCRIPTION varchar(250),

);
