CREATE TABLE TBL_C_SET_PROFILE_SUB_SECTION (
    IID numeric NOT NULL(20, 0),
    ISECTIONID numeric(20, 0),
    VSUBSECTIONCODE varchar(500),
    VSUBSECTIONNAME varchar(500),
    IORDER numeric(20, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),
    VTYPE varchar(100),

);
