CREATE TABLE TBL_C_CAMP_LOGIC_SETUPfrom_BK_27 (
    IID numeric NOT NULL(20, 0),
    VCAMP_CODE varchar(100),
    ISECTION_MAIN_ID numeric(20, 0),
    VPRODUCT_CODE varchar(20),
    VCONDITION varchar(4000),
    ICAMPAIGN_ORDER decimal(20, 2),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
