
Text                                                                                                                                
----                                                                                                                                
...                                                                                                                                 
CREATE PROCEDURE [dbo].[MASTER_CORE_PROC_XGENCOLLECT]...                                                                            
AS...                                                                                                                               
BEGIN...                                                                                                                            
...                                                                                                                                 
  DECLARE ...                                                                                                                       
    @var_ErrorLogID        DECIMAL(20),...                                                                                          
    @var_ProcessStatusID   DECIMAL(20),...                                                                                          
    @var_Rowsprocessed     DECIMAL(20),     ...                                                                                     
    @var_ErrorMessage      VARCHAR(500),...                                                                                         
    @IsERROR               INT,...                                                                                                  
	@Error_Message         VARCHAR(500),...                                                                                            
    @ERROR_LINE            VARCHAR(20),...                                                                                          
    @Max_balance_date      DATE,...                                                                                                 
    @Max_system_run_date   DATE;...                                                                                                 
 ...                                                                                                                                
    SET @var_Rowsprocessed =  0;...                                                                                                 
/* -------------------------------------------------------------------------*...                                                    
Procedure       : MASTER_PROC_XGENCOLLECT...                                                                                        
Author          : CHATHURA B...                                                                                                     
Date Created    : 26/06/2019...                                                                                                     
Date Last Mod.  :...                                                                                                                
Description     : Procedure written to execute main collection procedures...                                                        
Level           : Sub ETL...                                                                                                        
...                                                                                                                                 
=============================================================================*/...                                                  
...                                                                                                                                 
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS; ...                                                          
...                                                                                                                                 
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                             
(...                                                                                                                                
IID			,...                                                                                                                          
VPROCESSDESC,...                                                                                                                    
VPHASE,...                                                                                                                          
DSTARTTIME...                                                                                                                       
)...                                                                                                                                
SELECT ...                                                                                                                          
@var_ProcessStatusID,...                                                                                                            
'MASTER_CORE_PROC_XGENCOLLECT',...                                                                                                  
'MASTER CORE ETL',...                                                                                                               
GETDATE()...                                                                                                                        
;...                                                                                                                                
...                                                                                                                                 
...                                                                                                                                 
BEGIN TRY...                                                                                                                        
-------------------------------------------------------------------*...                                                             
-- Execute...                                                                                                                       
-------------------------------------------------------------------*...                                                             
...                                                                                                                                 
--SELECT @Max_balance_date = MAX(CONVERT(DATE,EODDATE)) FROM Destinity_Scienter.dbo.LE_DallySummary_CM;...                          
...                                                                                                                                 
--SELECT @Max_system_run_date = ISNULL(MAX(CONVERT(DATE,RUN_DATE)),'01-01-1901') FROM TBL_C_LOG_SYSTEM_RUN;...                      
...                                                                                                                                 
IF 1 > 0 --@Max_balance_date > @Max_system_run_date...                                                                              
BEGIN...                                                                                                                            
...                                                                                                                                 
EXEC COM_CORE_BRANCH 1...                                                                                                           
EXEC COM_CORE_ACCOUNT_INFO 1...                                                                                                     
EXEC COM_CORE_ARREARS_DETAILS 1...                                                                                                  
EXEC COM_CORE_CONTRACT_INFO 1...                                                                                                    
EXEC COM_CORE_CUSTOMER_INFO 1 ...                                                                                                   
--EXEC COM_CORE_HIRE_PURCHASE 1...                                                                                                  
--EXEC COM_CORE_INSURANCE_DETAILS 1...                                                                                              
EXEC COM_CORE_MOVABLE_INFO 1...                                                                                                     
EXEC COM_CORE_OFFICERS 1...                                                                                                         
EXEC COM_CORE_PAWNING_DETAILS 1...                                                                                                  
EXEC COM_CORE_PAYMENT_MAIN 1...                                                                                                     
EXEC COM_CORE_PAYMENT_RETURNS 1...                                                                                                  
EXEC COM_CORE_PD_CHEQUE_DETAILS 1...                                                                                                
EXEC COM_CORE_PRODUCT_MAIN 1...                                                                                                     
EXEC COM_CORE_PRODUCT_SUB 1...                                                                                                      
EXEC COM_CORE_PROVINSION_DETAILS 1...                                                                                               
EXEC COM_CORE_PROVINSION_TRANSACTIONS_DETAILS 1...                                                                                  
EXEC COM_CORE_REGION 1...                                                                                                           
EXEC COM_CORE_RELATION_DETAILS 1...                                                                                                 
EXEC COM_CORE_RELATION_TYPES 1...                                                                                                   
EXEC COM_CORE_RENTAL_SCHEDULE 1...                                                                                                  
EXEC COM_CORE_SYSTEM_HISTORY_NOTE 1...                                                                                              
EXEC COM_CORE_SYSTEM_USER 1...                                                                                                      
--EXEC COM_CORE_TRANSACTION_TYPES 1...                                                                                              
EXEC COM_CORE_PAST_DUE_PAYMENTS 1...                                                                                                
EXEC COM_CORE_PAWNING_ADVANCES 1...                                                                                                 
EXEC COM_CORE_PROVISION_CATEGORY 1 ...                                                                                              
   ...                                                                                                                              
...                                                                                                                                 
...                                                                                                                                 
/* Update Process Status Log- Reporting Successful Completion */...                                                                 
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                                 
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                                   
        DENDTIM=GETDATE(),...                                                                                                       
        VCOMMENTS='MASTER_CORE_PROC_XGENCOLLECT  Completed Successfully !'...                                                       
WHERE   IID= @var_ProcessStatusID;...                                                                                               
 ...                                                                                                                                
    TRUNCATE TABLE TBL_C_LOG_SYSTEM_RUN;...                                                                                         
    INSERT INTO TBL_C_LOG_SYSTEM_RUN(IID,PROC_NAME,RUN_DATE,TYPE) VALUES(1,'MASTER ETL',@Max_balance_date,'LO');   ...              
...                                                                                                                                 
END...                                                                                                                              
ELSE...                                                                                                                             
BEGIN...                                                                                                                            
    UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                             
    SET     DENDTIM   = GETDATE(),...                                                                                               
            VCOMMENTS = 'MASTER_CORE_PROC_XGENCOLLECT - Loan balances were not updated'...                                          
    WHERE   IID = @var_ProcessStatusID;...                                                                                          
END...                                                                                                                              
...                                                                                                                                 
END TRY...                                                                                                                          
BEGIN CATCH...                                                                                                                      
...                                                                                                                                 
     SELECT @IsERROR =1,...                                                                                                         
	 @Error_Message=ERROR_MESSAGE(),...                                                                                                
     @ERROR_LINE = ERROR_LINE();...                                                                                                 
  --------------------------------------------------------------------------------------------------*...                            
...                                                                                                                                 
      /* Add row to Process Status Log- Indcating Error occured */...                                                               
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                       
          SET     IROWSTOBEPROCESSED=0,...                                                                                          
                  DENDTIM=GETDATE(),...                                                                                             
                  VCOMMENTS='MASTER_CORE_PROC_XGENCOLLECT Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                     
...                                                                                                                                 
      /* Log error Information in TBL_ERROR_LOG */...                                                                               
...                                                                                                                                 
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                               
                    (...                                                                                                            
                     IID,...                                                                                                        
                    VITEMNAME,...                                                                                                   
                    VERROR_MESSAGE,...                                                                                              
                    DPOSTDATETIME,...                                                                                               
                   ICREATEDBY...                                                                                                    
...                                                                                                                                 
                    )...                                                                                                            
					 SELECT...                                                                                                                     
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                                 
                   'MASTER_CORE_PROC_XGENCOLLECT',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                           
                   GETDATE(),...                                                                                                    
                   1 ...                                                                                                            
 ...                                                                                                                                
                   ;...                                                                                                             
    END CATCH...                                                                                                                    
END;...                                                                                                                             
 ...                                                                                                                                


