
Text                                                                                                                        
----                                                                                                                        
CREATE PROCEDURE [dbo].[PE_CORE_PAYMENT_MAIN](@para_UserID FLOAT)AS...                                                      
BEGIN...                                                                                                                    
...                                                                                                                         
  DECLARE ...                                                                                                               
   @var_ErrorLogID        DECIMAL(20),...                                                                                   
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                 
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                 
   @var_ErrorMessage      VARCHAR(500),...                                                                                  
   @IsERROR               INT,...                                                                                           
   @Error_Message         VARCHAR(500),...                                                                                  
   @ERROR_LINE            VARCHAR(20);   ...                                                                                
...                                                                                                                         
   SET @var_Rowsprocessed =  0;...                                                                                          
/* -------------------------------------------------------------------------*...                                            
Procedure       : PE_CORE_PAYMENT_MAIN...                                                                                   
Author          : ...                                                                                                       
Date Created    : ...                                                                                                       
Date Last Mod.  : ...                                                                                                       
Description     : System User information from COM DB...                                                                    
Level           : DB Link to Core...                                                                                        
...                                                                                                                         
=============================================================================*/...                                          
...                                                                                                                         
...                                                                                                                         
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                   
...                                                                                                                         
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                     
(...                                                                                                                        
IID,...                                                                                                                     
VPROCESSDESC,...                                                                                                            
VPHASE,...                                                                                                                  
DSTARTTIME...                                                                                                               
)...                                                                                                                        
SELECT ...                                                                                                                  
@var_ProcessStatusID,...                                                                                                    
'PE_CORE_PAYMENT_MAIN',...                                                                                                  
'TBL_CORE_PAYMENT_MAIN',...                                                                                                 
GETDATE()...                                                                                                                
;...                                                                                                                        
...                                                                                                                         
BEGIN TRY...                                                                                                                
...                                                                                                                         
TRUNCATE TABLE TBL_CORE_PAYMENT_MAIN;...                                                                                    
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
	INSERT INTO TBL_CORE_PAYMENT_MAIN(...                                                                                      
				CONTRACT_NO,...                                                                                                         
				DUEDATE,...                                                                                                             
				APPLIED_DATE,...                                                                                                        
				AMOUNT,...                                                                                                              
				RECEIPT_NO,...                                                                                                          
				PAYMT_CODE,...                                                                                                          
				PAYMT_METHOD,...                                                                                                        
				CURRENCY,...                                                                                                            
				PAYMT_BRANCH,...                                                                                                        
				PYMT_DATE,...                                                                                                           
				CURRENCY_CODE,...                                                                                                       
				CHEQUE_NO,...                                                                                                           
				CHEQUE_DATE,...                                                                                                         
				TRAN_REF_NO,...                                                                                                         
				OVER_PAY_AMOUNT...                                                                                                      
	 )...                                                                                                                      
	...                                                                                                                        
				SELECT ...                                                                                                              
				ContractNo,...                                                                                                          
				DueDate,...                                                                                                             
				AppliedDate,...                                                                                                         
				Amount,...                                                                                                              
				ReceiptNo,...                                                                                                           
				PaymentCode,...                                                                                                         
				PaymentMethod,...                                                                                                       
				Currency,...                                                                                                            
				PaymentBranch,...                                                                                                       
				PaymentDate,...                                                                                                         
				CurrencyCode,...                                                                                                        
				ChequeNo,...                                                                                                            
				ChequeDate,...                                                                                                          
				TransactionReferenceNo,...                                                                                              
				OverPaymentAmount...                                                                                                    
...                                                                                                                         
			FROM [dbo].[PaymentMainView]...                                                                                          
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
	;...                                                                                                                       
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
	 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                   
...                                                                                                                         
...                                                                                                                         
	/* Update Process Status Log- Reporting Successful Completion */...                                                        
	UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                        
	SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                               
			DENDTIM=GETDATE(),...                                                                                                    
			VCOMMENTS='PE_CORE_PAYMENT_MAIN Completed Successfully !'...                                                             
	WHERE   IID= @var_ProcessStatusID;...                                                                                      
...                                                                                                                         
END TRY...                                                                                                                  
...                                                                                                                         
...                                                                                                                         
...                                                                                                                         
BEGIN CATCH...                                                                                                              
...                                                                                                                         
     SELECT @IsERROR =1,...                                                                                                 
	 @Error_Message=ERROR_MESSAGE(),...                                                                                        
     @ERROR_LINE = ERROR_LINE();...                                                                                         
  -- ------------------------------------------------------------------------------------------------*...                   
...                                                                                                                         
      /* Add row to Process Status Log- Indcating Error occured */...                                                       
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                               
          SET     IROWSPROCESSE=0,...                                                                                       
                  DENDTIM=GETDATE(),...                                                                                     
                  VCOMMENTS='PE_CORE_PAYMENT_MAIN Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                             
...                                                                                                                         
      /* Log error Information in TBL_ERROR_LOG */...                                                                       
...                                                                                                                         
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                       
                    (...                                                                                                    
                    IID,...                                                                                                 
                    VITEMNAME,...                                                                                           
                    VERROR_MESSAGE,...                                                                                      
                    DPOSTDATETIME,...                                                                                       
                    ICREATEDBY...                                                                                           
...                                                                                                                         
                    )...                                                                                                    
                   SELECT...                                                                                                
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                    
                   'PE_CORE_PAYMENT_MAIN',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                   
                   GETDATE(),...                                                                                            
                   @para_UserID ...                                                                                         
                   ;...                                                                                                     
...                                                                                                                         
    END CATCH...                                                                                                            
END;...                                                                                                                     


