
Text                                                                                                                         
----                                                                                                                         
...                                                                                                                          
CREATE PROCEDURE [dbo].[PE_CORE_CUSTOMER_INFO](@para_UserID FLOAT)AS...                                                      
BEGIN...                                                                                                                     
...                                                                                                                          
  DECLARE ...                                                                                                                
   @var_ErrorLogID        DECIMAL(20),...                                                                                    
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                  
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                  
   @var_ErrorMessage      VARCHAR(500),...                                                                                   
   @IsERROR               INT,...                                                                                            
   @Error_Message         VARCHAR(500),...                                                                                   
   @ERROR_LINE            VARCHAR(20);   ...                                                                                 
...                                                                                                                          
   SET @var_Rowsprocessed =  0;...                                                                                           
/* -------------------------------------------------------------------------*...                                             
Procedure       : PE_CORE_CUSTOMER_INFO...                                                                                   
Author          : Navodya Wimalasooriya...                                                                                   
Date Created    : 08/09/2021...                                                                                              
Date Last Mod.  : 08/09/2021- Navodya ...                                                                                    
Description     : System User information from COM DB...                                                                     
Level           : DB Link to Core...                                                                                         
...                                                                                                                          
=============================================================================*/...                                           
...                                                                                                                          
...                                                                                                                          
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                    
...                                                                                                                          
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                      
(...                                                                                                                         
IID,...                                                                                                                      
VPROCESSDESC,...                                                                                                             
VPHASE,...                                                                                                                   
DSTARTTIME...                                                                                                                
)...                                                                                                                         
SELECT ...                                                                                                                   
@var_ProcessStatusID,...                                                                                                     
'PE_CORE_CUSTOMER_INFO',...                                                                                                  
'TBL_CORE_CUSTOMER_INFO',...                                                                                                 
GETDATE()...                                                                                                                 
;...                                                                                                                         
...                                                                                                                          
BEGIN TRY...                                                                                                                 
...                                                                                                                          
--TRUNCATE TABLE BEFORE INSERT...                                                                                            
TRUNCATE TABLE TBL_CORE_CUSTOMER_INFO;...                                                                                    
...                                                                                                                          
		INSERT INTO TBL_CORE_CUSTOMER_INFO(...                                                                                     
		CUSTOMERID,CSOURCE,CTYPE,GLOBAL_ID,GLOBAL_ID_TYPE,...                                                                      
		STATUS,CUSTOMER_CODE,NATIONALITY,DOB,OLD_NIC,--STATUS,...                                                                  
		MARITAL_STATUS,NEW_NIC,NIC_ISSUE_DATE,GENDER,AGE,LICENSE_NO,...                                                            
		LICENCE_STATE,LICENCE_EXPIRE_DATE,PASSPORT_NO,PASSPORT_EXPIRE_DATE,FULL_NAME,...                                           
		TITLE,CUST_INITIAL,FIRST_NAME,MIDDLE_NAME,...                                                                              
		MOBILE_1,MOBILE_2,MOBILE_3,SMS_1,SMS_2,...                                                                                 
		HOME_1,HOME_2,EMAIL_1,EMAIL_2,ADDRESS_UNFORMATTED,ADDRESS_1,...                                                            
		ADDRESS_2,ADDRESS_3,ADDRESS_4,CITY,MAILING_ADDRESS_UNFOMATTED,...                                                          
		MAILING_ADDRESS_1,MAILING_ADDRESS_2,MAILING_ADDRESS_3,MAILING_ADDRESS_4,--MAILING_ADDRESS_5,...                            
		--MAILING_ADDRESS_6,...                                                                                                    
		ALTER_ADDRESS_1,ALTER_ADDRESS_2,ALTER_ADDRESS_3,ALTER_ADDRESS_4,ALTER_ADDRESS_5,...                                        
		FORIGN_ADDRESS_UNFOMATTED,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_PHONE_NO,BRANCH_CODE,...                                 
		OCCUPATION,DESIGNATION,DATE_CREATED,STATEMENT_OPTION,TAX_FILE_NO,MAJOR_CATEGORY,...                                        
		NON_RESIDENT,INDUSTRY,OFFICER_CODE,LAST_UPDATED_DATE...                                                                    
...                                                                                                                          
       )...                                                                                                                  
		SELECT ...                                                                                                                 
		CustomerId,Source,Type,Global_ID,Global_ID_TYPE,...                                                                        
		Status,Cuscode,Nationality,Dob,NIC,...                                                                                     
		MaritalStatus,NICNew,NicIssueDate,Gender,Age,...                                                                           
		LicenseNo,LicenceState,LicenceExpDate,PassportNo,PassportExpDate,...                                                       
		FullName,Title,CustInitial,FirstName,MiddleName,...                                                                        
		Mobile1,Mobile2,Mobile3,...                                                                                                
		--Mobile4,Mobile5,...                                                                                                      
		SMSMobile1,SMSMobile2,HomePhone1,HomePhone2,...                                                                            
		--OfficePhone1,...                                                                                                         
		--OfficePhone2,...                                                                                                         
		EmailPrimary1,EmailSecondary1,...                                                                                          
		--EmailEstatment1,...                                                                                                      
		AddressUnformatted,...                                                                                                     
		Address1,Address2,Address3,Address4,City,...                                                                               
		MailingAddressUnformatted,MailingAddress1,MailingAddress2,MailingAddress3,MailingAddress4,...                              
		AlterAddress1,AlterAddress2,AlterAddress3,AlterAddress4,AlterAddress5,...                                                  
		ForeignAddressUnformatted,EmployerName,EmployerAddress,EmployerPhoneNo,BranchCode,...                                      
		Occupation,Designation,CreationDate,StatementOption,TaxFileNo,...                                                          
		MajorCategory,NonResident,...                                                                                              
		--CRRating,...                                                                                                             
		Industry,...                                                                                                               
		--BusinessPhone,...                                                                                                        
		OfficerCode,LastUpdateDate...                                                                                              
...                                                                                                                          
		FROM [dbo].[CustomerView];...                                                                                              
...                                                                                                                          
    ...                                                                                                                      
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                     
...                                                                                                                          
...                                                                                                                          
/* Update Process Status Log- Reporting Successful Completion */...                                                          
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                          
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                                 
        DENDTIM=GETDATE(),...                                                                                                
        VCOMMENTS='PE_CORE_CUSTOMER_INFO Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                        
...                                                                                                                          
END TRY...                                                                                                                   
...                                                                                                                          
...                                                                                                                          
BEGIN CATCH...                                                                                                               
...                                                                                                                          
     SELECT @IsERROR =1,...                                                                                                  
	 @Error_Message=ERROR_MESSAGE(),...                                                                                         
     @ERROR_LINE = ERROR_LINE();...                                                                                          
  -- ------------------------------------------------------------------------------------------------*...                    
...                                                                                                                          
      /* Add row to Process Status Log- Indcating Error occured */...                                                        
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                
          SET     IROWSPROCESSE=0,...                                                                                        
                  DENDTIM=GETDATE(),...                                                                                      
                  VCOMMENTS='PE_CORE_CUSTOMER_INFO Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                              
...                                                                                                                          
      /* Log error Information in TBL_ERROR_LOG */...                                                                        
...                                                                                                                          
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                        
                    (...                                                                                                     
                    IID,...                                                                                                  
                    VITEMNAME,...                                                                                            
                    VERROR_MESSAGE,...                                                                                       
                    DPOSTDATETIME,...                                                                                        
                    ICREATEDBY...                                                                                            
...                                                                                                                          
                    )...                                                                                                     
                   SELECT...                                                                                                 
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                     
                   'PE_CORE_CUSTOMER_INFO',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                    
                   GETDATE(),...                                                                                             
                   @para_UserID ...                                                                                          
                   ;...                                                                                                      
...                                                                                                                          
    END CATCH...                                                                                                             
END;                                                                                                                         


