
Text                                                                                                                     
----                                                                                                                     
...                                                                                                                      
CREATE PROCEDURE [dbo].[LOLC_MGR_TBL_USERS](@para_UserID FLOAT)AS...                                                     
BEGIN...                                                                                                                 
...                                                                                                                      
  DECLARE ...                                                                                                            
   @var_ErrorLogID        DECIMAL(20),...                                                                                
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                              
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                              
   @var_ErrorMessage      VARCHAR(500),...                                                                               
   @IsERROR               INT,...                                                                                        
   @Error_Message         VARCHAR(500),...                                                                               
   @ERROR_LINE            VARCHAR(20);   ...                                                                             
...                                                                                                                      
   SET @var_Rowsprocessed =  0;...                                                                                       
/* -------------------------------------------------------------------------*...                                         
Procedure       : COM_MGR_TBL_USERS...                                                                                   
Author          : Pramod Perera...                                                                                       
Date Created    : ...                                                                                                    
Date Last Mod.  : ...                                                                                                    
Description     : Merge data for Original table from core table...                                                       
Level           : merging...                                                                                             
...                                                                                                                      
=============================================================================*/...                                       
...                                                                                                                      
...                                                                                                                      
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                
...                                                                                                                      
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                  
(...                                                                                                                     
IID			,...                                                                                                               
VPROCESSDESC,...                                                                                                         
VPHASE,...                                                                                                               
DSTARTTIME...                                                                                                            
...                                                                                                                      
)...                                                                                                                     
SELECT ...                                                                                                               
@var_ProcessStatusID,...                                                                                                 
'COM_MGR_TBL_USERS',...                                                                                                  
'USER',...                                                                                                               
GETDATE()...                                                                                                             
;...                                                                                                                     
...                                                                                                                      
BEGIN TRY...                                                                                                             
...                                                                                                                      
MERGE INTO...                                                                                                            
  TBL_USERS...                                                                                                           
USING...                                                                                                                 
(...                                                                                                                     
select 	...                                                                                                              
		VEMAIL   ,...                                                                                                          
		VPASSWORD...                                                                                                           
	...                                                                                                                     
from TBL_CORE_SYSTEM_USER a...                                                                                           
...                                                                                                                      
  EXCEPT...                                                                                                              
    SELECT ...                                                                                                           
			...                                                                                                                   
			VUSERNAME   ,...                                                                                                      
			password...                                                                                                           
			...                                                                                                                   
    FROM   TBL_USERS...                                                                                                  
...                                                                                                                      
) TBL_CORE_SYSTEM_USER...                                                                                                
ON...                                                                                                                    
  TBL_USERS.VUSERNAME = TBL_CORE_SYSTEM_USER.VEMAIL...                                                                   
   WHEN MATCHED THEN...                                                                                                  
	update set...                                                                                                           
	TBL_USERS.VUSERNAME=TBL_CORE_SYSTEM_USER.VEMAIL,...                                                                     
	TBL_USERS.DUPDATEDATE=GETDATE() ...                                                                                     
...                                                                                                                      
WHEN NOT MATCHED THEN...                                                                                                 
INSERT (...                                                                                                              
		IGROUPID,...                                                                                                           
		VUSERNAME,...                                                                                                          
		password,...                                                                                                           
		VPASSWORDSALT,...                                                                                                      
		VSCOPE,...                                                                                                             
		DLASTLOGIN,...                                                                                                         
		IDELIND,...                                                                                                            
		DDELETEDDATE,...                                                                                                       
		IPUBLISH,...                                                                                                           
		IADDEDBY,...                                                                                                           
		DADDEDDATE,...                                                                                                         
		IUPDATEDBY,...                                                                                                         
		VURL...                                                                                                                
...                                                                                                                      
       )...                                                                                                              
VALUES...                                                                                                                
      ( ...                                                                                                              
		NULL        ,...                                                                                                       
		VEMAIL	,...                                                                                                            
		VPASSWORD	,...                                                                                                         
		NULL        ,...                                                                                                       
		NULL        ,...                                                                                                       
		NULL        ,...                                                                                                       
		NULL           ,...                                                                                                    
		NULL        ,...                                                                                                       
		1           ,...                                                                                                       
		NULL        ,...                                                                                                       
		GETDATE()   ,...                                                                                                       
		NULL        ,...                                                                                                       
		NEWID()  ...                                                                                                           
...                                                                                                                      
      );...                                                                                                              
    ...                                                                                                                  
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                 
...                                                                                                                      
/* Update Process Status Log- Reporting Successful Completion */...                                                      
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                      
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                        
        DENDTIM=GETDATE(),...                                                                                            
        VCOMMENTS='COM_MGR_TBL_USERS Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                    
...                                                                                                                      
END TRY...                                                                                                               
...                                                                                                                      
...                                                                                                                      
BEGIN CATCH...                                                                                                           
...                                                                                                                      
     SELECT @IsERROR =1,...                                                                                              
	 @Error_Message=ERROR_MESSAGE(),...                                                                                     
     @ERROR_LINE = ERROR_LINE();...                                                                                      
  -- ------------------------------------------------------------------------------------------------*...                
...                                                                                                                      
      /* Add row to Process Status Log- Indcating Error occured */...                                                    
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                            
          SET     IROWSTOBEPROCESSED=0,...                                                                               
                  DENDTIM=GETDATE(),...                                                                                  
                  VCOMMENTS='COM_MGR_TBL_USERS Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                          
...                                                                                                                      
      /* Log error Information in TBL_ERROR_LOG */...                                                                    
...                                                                                                                      
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                    
                    (...                                                                                                 
                    IID,...                                                                                              
                    VITEMNAME,...                                                                                        
                    VERROR_MESSAGE,...                                                                                   
                    DPOSTDATETIME,...                                                                                    
                    ICREATEDBY...                                                                                        
...                                                                                                                      
                    )...                                                                                                 
                   SELECT...                                                                                             
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                      
                   'COM_MGR_TBL_USERS',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                
                   GETDATE(),...                                                                                         
                   @para_UserID ...                                                                                      
                   ;...                                                                                                  
...                                                                                                                      
    END CATCH...                                                                                                         
END;...                                                                                                                  


