
Text                                                                                                                          
----                                                                                                                          
CREATE PROCEDURE [dbo].[PE_MGR_CUSTOMER_INFO](@para_UserID FLOAT)AS...                                                        
BEGIN...                                                                                                                      
...                                                                                                                           
  DECLARE ...                                                                                                                 
   @var_ErrorLogID        DECIMAL(20),...                                                                                     
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                   
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                   
   @var_ErrorMessage      VARCHAR(500),...                                                                                    
   @IsERROR               INT,...                                                                                             
   @Error_Message         VARCHAR(500),...                                                                                    
   @ERROR_LINE            VARCHAR(20);   ...                                                                                  
...                                                                                                                           
   SET @var_Rowsprocessed =  0;...                                                                                            
/* -------------------------------------------------------------------------*...                                              
Procedure       : PE_MGR_CUSTOMER_INFO...                                                                                     
Author          : ...                                                                                                         
Date ALTERd     : ...                                                                                                         
Date Last Mod.  : ...                                                                                                         
Description     : Merge data for Original table from core table...                                                            
Level           : merging...                                                                                                  
...                                                                                                                           
=============================================================================*/...                                            
...                                                                                                                           
...                                                                                                                           
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                     
...                                                                                                                           
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                       
(...                                                                                                                          
IID			,...                                                                                                                    
VPROCESSDESC,...                                                                                                              
VPHASE,...                                                                                                                    
DSTARTTIME...                                                                                                                 
...                                                                                                                           
)...                                                                                                                          
SELECT ...                                                                                                                    
@var_ProcessStatusID,...                                                                                                      
'PE_MGR_CUSTOMER_INFO',...                                                                                                    
'CUSTOMER_INFO',...                                                                                                           
GETDATE()...                                                                                                                  
;...                                                                                                                          
...                                                                                                                           
...                                                                                                                           
BEGIN TRY...                                                                                                                  
...                                                                                                                           
MERGE INTO...                                                                                                                 
   TBL_C_M_CUSTOMER_INFO...                                                                                                   
USING...                                                                                                                      
(...                                                                                                                          
select ...                                                                                                                    
		...                                                                                                                         
		CUSTOMERID,CTYPE,CUSTOMER_CODE,...                                                                                          
		TITLE,FIRST_NAME,MIDDLE_NAME,...                                                                                            
		LAST_NAME,FULL_NAME,BRANCH_CODE,...                                                                                         
		NATIONALITY,NEW_NIC,OLD_NIC,...                                                                                             
		NIC_ISSUE_DATE,...                                                                                                          
		--CAST(DOB AS DATE)AS DOB,...                                                                                               
		STATUS,	...                                                                                                                 
		GENDER,MARITAL_STATUS,AGE,...                                                                                               
		LICENSE_NO,LICENCE_EXPIRE_DATE,PASSPORT_NO,...                                                                              
		PASSPORT_EXPIRE_DATE,CUST_INITIAL,ADDRESS_UNFORMATTED,...                                                                   
		ADDRESS_1,ADDRESS_2,ADDRESS_3,...                                                                                           
		ADDRESS_4,CITY,MAILING_ADDRESS_UNFOMATTED,...                                                                               
		MAILING_ADDRESS_1,MAILING_ADDRESS_2,MAILING_ADDRESS_3,...                                                                   
		MAILING_ADDRESS_4,MAILING_ADDRESS_5,MAILING_ADDRESS_6,...                                                                   
		FORIGN_ADDRESS_UNFOMATTED,FORIGN_ADDRESS_1,...                                                                              
		FORIGN_ADDRESS_2,FORIGN_ADDRESS_3,FORIGN_ADDRESS_4,...                                                                      
		FORIGN_ADDRESS_5,ALTER_ADDRESS_UNFOMATTED,ALTER_ADDRESS_1,...                                                               
		ALTER_ADDRESS_2,ALTER_ADDRESS_3,ALTER_ADDRESS_4,...                                                                         
		ALTER_ADDRESS_5,MOBILE_1,MOBILE_2,...                                                                                       
		MOBILE_3,HOME_1,WORK_1,...                                                                                                  
		EMAIL_1,EMAIL_2,EMPLOYER_NAME,...                                                                                           
		EMPLOYER_ADDRESS,EMPLOYER_PHONE_NO,PREF_SMS_ALERT,...                                                                       
		PREF_EMAIL_ALERT,PREF_LETTERS_RECEIVED,IPUBLISH,...                                                                         
		LAST_UPDATED_DATE,LAST_EXTRACTED_DATE,DATE_CREATED,...                                                                      
		GLOBAL_ID,GLOBAL_ID_TYPE,SMS_1,...                                                                                          
		SMS_2,VVW_MOBILE_NO_1,VVW_MOBILE_NO_2,...                                                                                   
		HOME_2,OCCUPATION,DESIGNATION,...                                                                                           
		STATEMENT_OPTION,TAX_FILE_NO,MAJOR_CATEGORY,...                                                                             
		NON_RESIDENT,CUSTOMER_RATING,INDUSTRY,...                                                                                   
		CLIENT_INDICATOR,CUST_TRANS_STATUS,OFFICER_CODE,...                                                                         
		PROPOSITION,SECTOR,ADDRESS_CODE,DESCRIPTION,CONTACT_VALUE   ,                 ...                                           
		CONTACT_ID ,                   ...                                                                                          
		CONTACT_TYPE_CODE   ,                 ...                                                                                   
		CONTACT_TYPE_DESCRIPTION                    ...                                                                             
                  ...                                                                                                         
  ...                                                                                                                         
		...                                                                                                                         
...                                                                                                                           
from TBL_CORE_CUSTOMER_INFO a...                                                                                              
...                                                                                                                           
  EXCEPT...                                                                                                                   
    SELECT ...                                                                                                                
		VCUSTOMER_ID,ITYPEID,VCUSTOMER_CODE,...                                                                                     
		VTITLE,VFIRST_NAME,VVMIDDLE_NAME,...                                                                                        
		VLAST_NAME,VFULL_NAME,IBRANCHID,...                                                                                         
		VNATIONALITY,VNEW_NIC,VOLD_NIC,...                                                                                          
		DNIC_ISSUE_DATE,...                                                                                                         
		--DDOB,...                                                                                                                  
		VSTATUS,...                                                                                                                 
		VGENDER,VMARITAL_STATUS,IAGE,...                                                                                            
		VDRIVER_LICENCE,DDL_EXP_DATE,VPASSPORT,...                                                                                  
		DPASSPORT_EXP_DATE,VNAME_WITH_INITIAL,ADDRESS_UNFORMATTED,...                                                               
		ADDRESS_1,ADDRESS_2,ADDRESS_3,...                                                                                           
		ADDRESS_4,CITY,MAILING_ADDRESS_UNFOMATTED,...                                                                               
		MAILING_ADDRESS_1,MAILING_ADDRESS_2,MAILING_ADDRESS_3,...                                                                   
		MAILING_ADDRESS_4,MAILING_ADDRESS_5,MAILING_ADDRESS_6,...                                                                   
		FORIGN_ADDRESS_UNFOMATTED,FORIGN_ADDRESS_1,...                                                                              
		FORIGN_ADDRESS_2,FORIGN_ADDRESS_3,FORIGN_ADDRESS_4,...                                                                      
		FORIGN_ADDRESS_5,ALTER_ADDRESS_UNFOMATTED,ALTER_ADDRESS_1,...                                                               
		ALTER_ADDRESS_2,ALTER_ADDRESS_3,ALTER_ADDRESS_4,...                                                                         
		ALTER_ADDRESS_5,MOBILE_1,MOBILE_2,...                                                                                       
		MOBILE_3,HOME_1,WORK_1,...                                                                                                  
		EMAIL_1,EMAIL_2,VEMPLOYER_NAME,...                                                                                          
		VEMPLOYER_ADDRESS,VEMPLOYER_PHONE_NO,SMS_PREF,...                                                                           
		EMAIL_PREF,LETTER_PREF,IPUBLISH,...                                                                                         
		DUPDATEDATE,DDELETEDDATE,DADDEDDATE,...                                                                                     
		GLOBAL_ID,GLOBAL_ID_TYPE,SMS_1,...                                                                                          
		SMS_2,VVW_MOBILE_NO_1,VVW_MOBILE_NO_2,...                                                                                   
		HOME_2,OCCUPATION,DESIGNATION,...                                                                                           
		STATEMENT_OPTION,TAX_FILE_NO,MAJOR_CATEGORY,...                                                                             
		NON_RESIDENT,CUSTOMER_RATING,INDUSTRY,...                                                                                   
		CLIENT_INDICATOR,CUST_TRANS_STATUS,OFFICER_CODE,...                                                                         
		PROPOSITION,SECTOR,ADDRESS_CODE,DESCRIPTION,CONTACT_VALUE   ,                 ...                                           
		CONTACT_ID ,                   ...                                                                                          
		CONTACT_TYPE_CODE   ,                 ...                                                                                   
		CONTACT_TYPE_DESCRIPTION                    ...                                                                             
                  ...                                                                                                         
		...                                                                                                                         
...                                                                                                                           
...                                                                                                                           
   FROM   TBL_C_M_CUSTOMER_INFO...                                                                                            
   ...                                                                                                                        
) TBL_CORE_CUSTOMER_INFO...                                                                                                   
ON...                                                                                                                         
   TBL_C_M_CUSTOMER_INFO.VCUSTOMER_CODE = TBL_CORE_CUSTOMER_INFO.CUSTOMER_CODE...                                             
   WHEN MATCHED THEN...                                                                                                       
   UPDATE SET ...                                                                                                             
TBL_C_M_CUSTOMER_INFO.VCUSTOMER_ID			=	TBL_CORE_CUSTOMER_INFO.CUSTOMERID			,...                                               
TBL_C_M_CUSTOMER_INFO.ITYPEID			    =	TBL_CORE_CUSTOMER_INFO.CTYPE				,        ...                                            
TBL_C_M_CUSTOMER_INFO.VTITLE				=	TBL_CORE_CUSTOMER_INFO.TITLE                ,...                                            
TBL_C_M_CUSTOMER_INFO.VFIRST_NAME			=	TBL_CORE_CUSTOMER_INFO.FIRST_NAME           ,...                                        
TBL_C_M_CUSTOMER_INFO.VVMIDDLE_NAME			=	TBL_CORE_CUSTOMER_INFO.MIDDLE_NAME          ,...                                      
TBL_C_M_CUSTOMER_INFO.VLAST_NAME			=	TBL_CORE_CUSTOMER_INFO.LAST_NAME            ,...                                         
TBL_C_M_CUSTOMER_INFO.VFULL_NAME			=	TBL_CORE_CUSTOMER_INFO.FULL_NAME            ,...                                         
TBL_C_M_CUSTOMER_INFO.IBRANCHID				=	TBL_CORE_CUSTOMER_INFO.BRANCH_CODE          ,...                                         
TBL_C_M_CUSTOMER_INFO.VNATIONALITY			=	TBL_CORE_CUSTOMER_INFO.NATIONALITY          ,...                                       
TBL_C_M_CUSTOMER_INFO.VNEW_NIC				=	TBL_CORE_CUSTOMER_INFO.NEW_NIC				,...                                                    
TBL_C_M_CUSTOMER_INFO.VOLD_NIC				=	TBL_CORE_CUSTOMER_INFO.OLD_NIC              ,...                                          
TBL_C_M_CUSTOMER_INFO.DNIC_ISSUE_DATE		=	TBL_CORE_CUSTOMER_INFO.NIC_ISSUE_DATE       ,...                                     
--TBL_C_M_CUSTOMER_INFO.DDOB					=	TBL_CORE_CUSTOMER_INFO.DOB                  ,...                                           
TBL_C_M_CUSTOMER_INFO.VSTATUS				=	TBL_CORE_CUSTOMER_INFO.STATUS				,...                                                      
TBL_C_M_CUSTOMER_INFO.VGENDER				=	TBL_CORE_CUSTOMER_INFO.GENDER               ,...                                           
TBL_C_M_CUSTOMER_INFO.VMARITAL_STATUS		=	TBL_CORE_CUSTOMER_INFO.MARITAL_STATUS       ,...                                     
TBL_C_M_CUSTOMER_INFO.IAGE					=	TBL_CORE_CUSTOMER_INFO.AGE                  ,...                                             
TBL_C_M_CUSTOMER_INFO.VDRIVER_LICENCE		=	TBL_CORE_CUSTOMER_INFO.LICENSE_NO           ,...                                     
TBL_C_M_CUSTOMER_INFO.DDL_EXP_DATE			=	TBL_CORE_CUSTOMER_INFO.LICENCE_EXPIRE_DATE  ,...                                       
TBL_C_M_CUSTOMER_INFO.VPASSPORT				=	TBL_CORE_CUSTOMER_INFO.PASSPORT_NO          ,...                                         
TBL_C_M_CUSTOMER_INFO.DPASSPORT_EXP_DATE	=	TBL_CORE_CUSTOMER_INFO.PASSPORT_EXPIRE_DATE ,...                                   
TBL_C_M_CUSTOMER_INFO.VNAME_WITH_INITIAL	=	TBL_CORE_CUSTOMER_INFO.CUST_INITIAL         ,...                                   
TBL_C_M_CUSTOMER_INFO.ADDRESS_UNFORMATTED	=	TBL_CORE_CUSTOMER_INFO.ADDRESS_UNFORMATTED  ,...                                  
TBL_C_M_CUSTOMER_INFO.ADDRESS_1				=	TBL_CORE_CUSTOMER_INFO.ADDRESS_1			,...                                                  
TBL_C_M_CUSTOMER_INFO.ADDRESS_2				=	TBL_CORE_CUSTOMER_INFO.ADDRESS_2			,...                                                  
TBL_C_M_CUSTOMER_INFO.ADDRESS_3				=	TBL_CORE_CUSTOMER_INFO.ADDRESS_3			,...                                                  
TBL_C_M_CUSTOMER_INFO.ADDRESS_4				=	TBL_CORE_CUSTOMER_INFO.ADDRESS_4			,...                                                  
TBL_C_M_CUSTOMER_INFO.CITY					=	TBL_CORE_CUSTOMER_INFO.CITY					,...                                                         
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_UNFOMATTED	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_UNFOMATTED  ,...                    
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_1	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_1                       ,...                 
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_2	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_2                       ,...                 
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_3	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_3                       ,...                 
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_4	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_4                       ,...                 
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_5	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_5                       ,...                 
TBL_C_M_CUSTOMER_INFO.MAILING_ADDRESS_6	=	TBL_CORE_CUSTOMER_INFO.MAILING_ADDRESS_6                       ,...                 
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_UNFOMATTED	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_UNFOMATTED       ,...                 
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_1	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_1                        ,...                  
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_2	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_2                        ,...                  
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_3	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_3                        ,...                  
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_4	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_4                        ,...                  
TBL_C_M_CUSTOMER_INFO.FORIGN_ADDRESS_5	=	TBL_CORE_CUSTOMER_INFO.FORIGN_ADDRESS_5                        ,...                  
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_UNFOMATTED	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_UNFOMATTED        ,...                  
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_1	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_1                         ,...                   
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_2	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_2                         ,...                   
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_3	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_3                         ,...                   
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_4	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_4                         ,...                   
TBL_C_M_CUSTOMER_INFO.ALTER_ADDRESS_5	=	TBL_CORE_CUSTOMER_INFO.ALTER_ADDRESS_5						   ,...                                   
TBL_C_M_CUSTOMER_INFO.MOBILE_1			=	TBL_CORE_CUSTOMER_INFO.MOBILE_1                                ,...                        
TBL_C_M_CUSTOMER_INFO.MOBILE_2			=	TBL_CORE_CUSTOMER_INFO.MOBILE_2                                ,...                        
TBL_C_M_CUSTOMER_INFO.MOBILE_3			=	TBL_CORE_CUSTOMER_INFO.MOBILE_3								   ,...                                             
TBL_C_M_CUSTOMER_INFO.HOME_1			=	TBL_CORE_CUSTOMER_INFO.HOME_1                                  ,...                          
TBL_C_M_CUSTOMER_INFO.WORK_1			=	TBL_CORE_CUSTOMER_INFO.WORK_1                                  ,...                          
TBL_C_M_CUSTOMER_INFO.EMAIL_1			=	TBL_CORE_CUSTOMER_INFO.EMAIL_1                                 ,...                         
TBL_C_M_CUSTOMER_INFO.EMAIL_2			=	TBL_CORE_CUSTOMER_INFO.EMAIL_2                                 ,...                         
TBL_C_M_CUSTOMER_INFO.VEMPLOYER_NAME		=	TBL_CORE_CUSTOMER_INFO.EMPLOYER_NAME        ,...                                      
TBL_C_M_CUSTOMER_INFO.VEMPLOYER_ADDRESS		=	TBL_CORE_CUSTOMER_INFO.EMPLOYER_ADDRESS     ,...                                   
TBL_C_M_CUSTOMER_INFO.VEMPLOYER_PHONE_NO	=	TBL_CORE_CUSTOMER_INFO.EMPLOYER_PHONE_NO	,...                                      
TBL_C_M_CUSTOMER_INFO.SMS_PREF				=	TBL_CORE_CUSTOMER_INFO.PREF_SMS_ALERT		,...                                               
TBL_C_M_CUSTOMER_INFO.EMAIL_PREF			=	TBL_CORE_CUSTOMER_INFO.PREF_EMAIL_ALERT		,...                                            
TBL_C_M_CUSTOMER_INFO.LETTER_PREF 			=	TBL_CORE_CUSTOMER_INFO.PREF_LETTERS_RECEIVED ,...                                      
TBL_C_M_CUSTOMER_INFO.IPUBLISH				=	TBL_CORE_CUSTOMER_INFO.IPUBLISH             ,...                                          
TBL_C_M_CUSTOMER_INFO.DUPDATEDATE			=	TBL_CORE_CUSTOMER_INFO.LAST_UPDATED_DATE	,...                                           
TBL_C_M_CUSTOMER_INFO.DDELETEDDATE			=	TBL_CORE_CUSTOMER_INFO.LAST_EXTRACTED_DATE  ,...                                       
TBL_C_M_CUSTOMER_INFO.DADDEDDATE			=	TBL_CORE_CUSTOMER_INFO.DATE_CREATED         ,...                                         
...                                                                                                                           
TBL_C_M_CUSTOMER_INFO.GLOBAL_ID				=	TBL_CORE_CUSTOMER_INFO.GLOBAL_ID			,...                                                  
TBL_C_M_CUSTOMER_INFO.GLOBAL_ID_TYPE		=	TBL_CORE_CUSTOMER_INFO.GLOBAL_ID_TYPE		,...                                           
TBL_C_M_CUSTOMER_INFO.SMS_1					=	TBL_CORE_CUSTOMER_INFO.SMS_1				,...                                                        
TBL_C_M_CUSTOMER_INFO.SMS_2					=	TBL_CORE_CUSTOMER_INFO.SMS_2				,...                                                        
TBL_C_M_CUSTOMER_INFO.VVW_MOBILE_NO_1		=	TBL_CORE_CUSTOMER_INFO.VVW_MOBILE_NO_1		,...                                         
TBL_C_M_CUSTOMER_INFO.VVW_MOBILE_NO_2		=	TBL_CORE_CUSTOMER_INFO.VVW_MOBILE_NO_2		,...                                         
TBL_C_M_CUSTOMER_INFO.HOME_2				=	TBL_CORE_CUSTOMER_INFO.HOME_2				,...                                                       
TBL_C_M_CUSTOMER_INFO.OCCUPATION			=	TBL_CORE_CUSTOMER_INFO.OCCUPATION			,...                                                 
TBL_C_M_CUSTOMER_INFO.DESIGNATION			=	TBL_CORE_CUSTOMER_INFO.DESIGNATION			,...                                               
TBL_C_M_CUSTOMER_INFO.STATEMENT_OPTION		=	TBL_CORE_CUSTOMER_INFO.STATEMENT_OPTION     ,...                                    
TBL_C_M_CUSTOMER_INFO.TAX_FILE_NO			=	TBL_CORE_CUSTOMER_INFO.TAX_FILE_NO			,...                                               
TBL_C_M_CUSTOMER_INFO.MAJOR_CATEGORY		=	TBL_CORE_CUSTOMER_INFO.MAJOR_CATEGORY       ,...                                      
TBL_C_M_CUSTOMER_INFO.NON_RESIDENT			=	TBL_CORE_CUSTOMER_INFO.NON_RESIDENT         ,...                                       
TBL_C_M_CUSTOMER_INFO.CUSTOMER_RATING		=	TBL_CORE_CUSTOMER_INFO.CUSTOMER_RATING		,...                                         
TBL_C_M_CUSTOMER_INFO.INDUSTRY				=	TBL_CORE_CUSTOMER_INFO.INDUSTRY				,...                                                   
TBL_C_M_CUSTOMER_INFO.CLIENT_INDICATOR		=	TBL_CORE_CUSTOMER_INFO.CLIENT_INDICATOR     ,...                                    
TBL_C_M_CUSTOMER_INFO.CUST_TRANS_STATUS		=	TBL_CORE_CUSTOMER_INFO.CUST_TRANS_STATUS    ,...                                   
TBL_C_M_CUSTOMER_INFO.OFFICER_CODE			=	TBL_CORE_CUSTOMER_INFO.OFFICER_CODE         ,...                                       
TBL_C_M_CUSTOMER_INFO.PROPOSITION			=	TBL_CORE_CUSTOMER_INFO.PROPOSITION			,...                                               
TBL_C_M_CUSTOMER_INFO.SECTOR			=	TBL_CORE_CUSTOMER_INFO.SECTOR			,...                                                         
TBL_C_M_CUSTOMER_INFO.ADDRESS_CODE				=	TBL_CORE_CUSTOMER_INFO.ADDRESS_CODE ,    ...                                          
TBL_C_M_CUSTOMER_INFO.DESCRIPTION				=	TBL_CORE_CUSTOMER_INFO.DESCRIPTION  ,  ...                                             
TBL_C_M_CUSTOMER_INFO.CONTACT_VALUE				=	TBL_CORE_CUSTOMER_INFO.CONTACT_VALUE,...                                             
TBL_C_M_CUSTOMER_INFO.CONTACT_ID				=	TBL_CORE_CUSTOMER_INFO.CONTACT_ID    ,...                                               
TBL_C_M_CUSTOMER_INFO.CONTACT_TYPE_CODE				=	TBL_CORE_CUSTOMER_INFO.CONTACT_TYPE_CODE    ,...                                 
TBL_C_M_CUSTOMER_INFO.CONTACT_TYPE_DESCRIPTION				=	TBL_CORE_CUSTOMER_INFO.CONTACT_TYPE_DESCRIPTION    ...                    
...                                                                                                                           
...                                                                                                                           
WHEN NOT MATCHED THEN...                                                                                                      
INSERT (...                                                                                                                   
		VCUSTOMER_ID,ITYPEID,...                                                                                                    
		VCUSTOMER_CODE,VTITLE,VFIRST_NAME,...                                                                                       
		VVMIDDLE_NAME,VLAST_NAME,VFULL_NAME,...                                                                                     
		IBRANCHID,VNATIONALITY,VNEW_NIC,...                                                                                         
		VOLD_NIC,DNIC_ISSUE_DATE,...                                                                                                
		--DDOB,...                                                                                                                  
		VSTATUS,VGENDER,VMARITAL_STATUS,...                                                                                         
		IAGE,VDRIVER_LICENCE,...                                                                                                    
		DDL_EXP_DATE,VPASSPORT,DPASSPORT_EXP_DATE,...                                                                               
		VNAME_WITH_INITIAL,ADDRESS_UNFORMATTED,ADDRESS_1,...                                                                        
		ADDRESS_2,ADDRESS_3,ADDRESS_4,...                                                                                           
		CITY,...                                                                                                                    
		MAILING_ADDRESS_UNFOMATTED,...                                                                                              
		MAILING_ADDRESS_1,MAILING_ADDRESS_2,MAILING_ADDRESS_3,...                                                                   
		MAILING_ADDRESS_4,MAILING_ADDRESS_5,MAILING_ADDRESS_6,...                                                                   
		FORIGN_ADDRESS_UNFOMATTED,FORIGN_ADDRESS_1,...                                                                              
		FORIGN_ADDRESS_2,FORIGN_ADDRESS_3,FORIGN_ADDRESS_4,...                                                                      
		FORIGN_ADDRESS_5,...                                                                                                        
		ALTER_ADDRESS_UNFOMATTED,ALTER_ADDRESS_1,ALTER_ADDRESS_2,...                                                                
		ALTER_ADDRESS_3,ALTER_ADDRESS_4,ALTER_ADDRESS_5,...                                                                         
		MOBILE_1,...                                                                                                                
		MOBILE_2,MOBILE_3,HOME_1,...                                                                                                
		WORK_1,EMAIL_1,EMAIL_2,...                                                                                                  
		VEMPLOYER_NAME,VEMPLOYER_ADDRESS,VEMPLOYER_PHONE_NO,...                                                                     
		SMS_PREF,EMAIL_PREF,...                                                                                                     
		LETTER_PREF,...                                                                                                             
		IPUBLISH,DUPDATEDATE,DDELETEDDATE,...                                                                                       
		DADDEDDATE,GLOBAL_ID,...                                                                                                    
		GLOBAL_ID_TYPE,SMS_1,SMS_2,...                                                                                              
		VVW_MOBILE_NO_1,VVW_MOBILE_NO_2,HOME_2,...                                                                                  
		OCCUPATION,DESIGNATION,STATEMENT_OPTION,...                                                                                 
		TAX_FILE_NO,MAJOR_CATEGORY,NON_RESIDENT,...                                                                                 
		CUSTOMER_RATING,INDUSTRY,CLIENT_INDICATOR,...                                                                               
		CUST_TRANS_STATUS,OFFICER_CODE,PROPOSITION,...                                                                              
		SECTOR,ADDRESS_CODE,DESCRIPTION,CONTACT_VALUE,                    ...                                                       
		CONTACT_ID ,                   ...                                                                                          
		CONTACT_TYPE_CODE   ,                 ...                                                                                   
		CONTACT_TYPE_DESCRIPTION    ...                                                                                             
       )...                                                                                                                   
VALUES...                                                                                                                     
      ( ...                                                                                                                   
		CUSTOMERID,CTYPE,...                                                                                                        
		CUSTOMER_CODE,TITLE,FIRST_NAME,...                                                                                          
		MIDDLE_NAME,LAST_NAME,FULL_NAME,...                                                                                         
		BRANCH_CODE,NATIONALITY,NEW_NIC,...                                                                                         
		OLD_NIC,NIC_ISSUE_DATE,...                                                                                                  
		--DOB,	...                                                                                                                  
		STATUS,GENDER,MARITAL_STATUS,...                                                                                            
		AGE,LICENSE_NO,...                                                                                                          
		LICENCE_EXPIRE_DATE,PASSPORT_NO,PASSPORT_EXPIRE_DATE,...                                                                    
		CUST_INITIAL,ADDRESS_UNFORMATTED,ADDRESS_1,...                                                                              
		ADDRESS_2,ADDRESS_3,ADDRESS_4,...                                                                                           
		CITY,...                                                                                                                    
		MAILING_ADDRESS_UNFOMATTED,...                                                                                              
		MAILING_ADDRESS_1,MAILING_ADDRESS_2,MAILING_ADDRESS_3,...                                                                   
		MAILING_ADDRESS_4,MAILING_ADDRESS_5,MAILING_ADDRESS_6,...                                                                   
		FORIGN_ADDRESS_UNFOMATTED,FORIGN_ADDRESS_1,...                                                                              
		FORIGN_ADDRESS_2,FORIGN_ADDRESS_3,FORIGN_ADDRESS_4,...                                                                      
		FORIGN_ADDRESS_5,...                                                                                                        
		ALTER_ADDRESS_UNFOMATTED,ALTER_ADDRESS_1,ALTER_ADDRESS_2,...                                                                
		ALTER_ADDRESS_3,ALTER_ADDRESS_4,ALTER_ADDRESS_5,...                                                                         
		MOBILE_1,...                                                                                                                
		MOBILE_2,MOBILE_3,HOME_1,...                                                                                                
		WORK_1,EMAIL_1,EMAIL_2,...                                                                                                  
		EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_PHONE_NO,...                                                                        
		PREF_SMS_ALERT,PREF_EMAIL_ALERT,...                                                                                         
		PREF_LETTERS_RECEIVED,...                                                                                                   
		IPUBLISH,LAST_UPDATED_DATE,LAST_EXTRACTED_DATE,...                                                                          
		DATE_CREATED,GLOBAL_ID,...                                                                                                  
		GLOBAL_ID_TYPE,SMS_1,SMS_2,...                                                                                              
		VVW_MOBILE_NO_1,VVW_MOBILE_NO_2,HOME_2,...                                                                                  
		OCCUPATION,DESIGNATION,STATEMENT_OPTION,...                                                                                 
		TAX_FILE_NO,MAJOR_CATEGORY,NON_RESIDENT,...                                                                                 
		CUSTOMER_RATING,INDUSTRY,CLIENT_INDICATOR,...                                                                               
		CUST_TRANS_STATUS,OFFICER_CODE,PROPOSITION,...                                                                              
		SECTOR,ADDRESS_CODE,DESCRIPTION,CONTACT_VALUE,                    ...                                                       
		CONTACT_ID ,                   ...                                                                                          
		CONTACT_TYPE_CODE   ,                 ...                                                                                   
		CONTACT_TYPE_DESCRIPTION    ...                                                                                             
      );...                                                                                                                   
    ...                                                                                                                       
    ...                                                                                                                       
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                      
...                                                                                                                           
/* Update Process Status Log- Reporting Successful Completion */...                                                           
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                           
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                             
        DENDTIM=GETDATE(),...                                                                                                 
        VCOMMENTS='  PE_MGR_CUSTOMER_INFO Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                         
...                                                                                                                           
END TRY...                                                                                                                    
...                                                                                                                           
...                                                                                                                           
BEGIN CATCH...                                                                                                                
...                                                                                                                           
     SELECT @IsERROR =1,...                                                                                                   
	 @Error_Message=ERROR_MESSAGE(),...                                                                                          
     @ERROR_LINE = ERROR_LINE();...                                                                                           
  -- ------------------------------------------------------------------------------------------------*...                     
...                                                                                                                           
      /* Add row to Process Status Log- Indcating Error occured */...                                                         
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                 
          SET     IROWSTOBEPROCESSED=0,...                                                                                    
                  DENDTIM=GETDATE(),...                                                                                       
                  VCOMMENTS='  PE_MGR_CUSTOMER_INFO Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                               
...                                                                                                                           
      /* Log error Information in TBL_ERROR_LOG */...                                                                         
...                                                                                                                           
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                         
                    (...                                                                                                      
                    IID,...                                                                                                   
                    VITEMNAME,...                                                                                             
                    VERROR_MESSAGE,...                                                                                        
                    DPOSTDATETIME,...                                                                                         
                    ICREATEDBY...                                                                                             
...                                                                                                                           
                    )...                                                                                                      
                   SELECT...                                                                                                  
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                           
                   '  PE_MGR_CUSTOMER_INFO',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                     
                   GETDATE(),...                                                                                              
                   @para_UserID ...                                                                                           
                   ;...                                                                                                       
...                                                                                                                           
    END CATCH...                                                                                                              
END;...                                                                                                                       


