
Text                                                                                                                  
----                                                                                                                  
...                                                                                                                   
CREATE PROCEDURE [dbo].[LOLC_MGR_REGION](@para_UserID FLOAT)AS...                                                     
BEGIN...                                                                                                              
...                                                                                                                   
  DECLARE ...                                                                                                         
   @var_ErrorLogID        DECIMAL(20),...                                                                             
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                           
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                           
   @var_ErrorMessage      VARCHAR(500),...                                                                            
   @IsERROR               INT,...                                                                                     
   @Error_Message         VARCHAR(500),...                                                                            
   @ERROR_LINE            VARCHAR(20);   ...                                                                          
...                                                                                                                   
   SET @var_Rowsprocessed =  0;...                                                                                    
/* -------------------------------------------------------------------------*...                                      
Procedure       : COM_MGR_REGION...                                                                                   
Author          : ...                                                                                                 
Date ALTERd		: ...                                                                                                    
Date Last Mod.  : ...                                                                                                 
Description     : Merge data for Original table from core table...                                                    
Level           : merging...                                                                                          
...                                                                                                                   
=============================================================================*/...                                    
...                                                                                                                   
...                                                                                                                   
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                             
...                                                                                                                   
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                               
(...                                                                                                                  
IID			,...                                                                                                            
VPROCESSDESC,...                                                                                                      
VPHASE,...                                                                                                            
DSTARTTIME...                                                                                                         
...                                                                                                                   
)...                                                                                                                  
SELECT ...                                                                                                            
@var_ProcessStatusID,...                                                                                              
'COM_MGR_REGION',...                                                                                                  
'USER',...                                                                                                            
GETDATE()...                                                                                                          
;...                                                                                                                  
...                                                                                                                   
BEGIN TRY...                                                                                                          
...                                                                                                                   
MERGE INTO...                                                                                                         
  TBL_C_SET_REGION...                                                                                                 
USING...                                                                                                              
(...                                                                                                                  
select 	...                                                                                                           
		REGION_CODE         ,...                                                                                            
		REGION_NAME         ,...                                                                                            
		DATE_CREATED        ,...                                                                                            
		LAST_UPDATED_DATE,...                                                                                               
		REGION_ID...                                                                                                        
from TBL_CORE_REGION a...                                                                                             
...                                                                                                                   
  EXCEPT...                                                                                                           
    SELECT ...                                                                                                        
			...                                                                                                                
			VCODE           ,...                                                                                               
			VNAME           ,...                                                                                               
			DADDEDDATE      ,...                                                                                               
			DUPDATEDATE,...                                                                                                    
			REGION_ID...                                                                                                       
    FROM   TBL_C_SET_REGION...                                                                                        
...                                                                                                                   
) TBL_CORE_REGION...                                                                                                  
ON...                                                                                                                 
  TBL_C_SET_REGION.VCODE = TBL_CORE_REGION.REGION_CODE...                                                             
  WHEN MATCHED THEN ...                                                                                               
  update SET...                                                                                                       
			TBL_C_SET_REGION.VNAME            = TBL_CORE_REGION.REGION_NAME,...                                                
			TBL_C_SET_REGION.DADDEDDATE       = TBL_CORE_REGION.DATE_CREATED,...                                               
			TBL_C_SET_REGION.DUPDATEDATE	 =	TBL_CORE_REGION.LAST_UPDATED_DATE,...                                              
			TBL_C_SET_REGION.REGION_ID	 =	TBL_CORE_REGION.REGION_ID...                                                         
WHEN NOT MATCHED THEN...                                                                                              
INSERT (...                                                                                                           
	...                                                                                                                  
		IZONEID         ,...                                                                                                
		VCODE           ,...                                                                                                
		VNAME           ,...                                                                                                
		IDELIND         ,...                                                                                                
		DDELETEDDATE    ,...                                                                                                
		IPUBLISH        ,...                                                                                                
		IADDEDBY        ,...                                                                                                
		DADDEDDATE      ,...                                                                                                
		IUPDATEDBY      ,...                                                                                                
		DUPDATEDATE     ,...                                                                                                
		VURL,...                                                                                                            
		REGION_ID...                                                                                                        
...                                                                                                                   
       )...                                                                                                           
VALUES...                                                                                                             
      ( ...                                                                                                           
		...                                                                                                                 
		NULL                ,...                                                                                            
		REGION_CODE	        ,...                                                                                            
		REGION_NAME	        ,...                                                                                            
		NULL                ,...                                                                                            
		NULL                ,...                                                                                            
			1               ,...                                                                                               
		NULL                ,...                                                                                            
		DATE_CREATED	    ,...                                                                                               
		NULL                ,...                                                                                            
		LAST_UPDATED_DATE	,...                                                                                              
		NULL  ,...                                                                                                          
		REGION_ID...                                                                                                        
      );...                                                                                                           
    ...                                                                                                               
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                              
...                                                                                                                   
/* Update Process Status Log- Reporting Successful Completion */...                                                   
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                   
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                     
        DENDTIM=GETDATE(),...                                                                                         
        VCOMMENTS='COM_MGR_REGION Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                 
...                                                                                                                   
END TRY...                                                                                                            
...                                                                                                                   
...                                                                                                                   
BEGIN CATCH...                                                                                                        
...                                                                                                                   
     SELECT @IsERROR =1,...                                                                                           
	 @Error_Message=ERROR_MESSAGE(),...                                                                                  
     @ERROR_LINE = ERROR_LINE();...                                                                                   
  -- ------------------------------------------------------------------------------------------------*...             
...                                                                                                                   
      /* Add row to Process Status Log- Indcating Error occured */...                                                 
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                         
          SET     IROWSTOBEPROCESSED=0,...                                                                            
                  DENDTIM=GETDATE(),...                                                                               
                  VCOMMENTS='COM_MGR_REGION Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                       
...                                                                                                                   
      /* Log error Information in TBL_ERROR_LOG */...                                                                 
...                                                                                                                   
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                 
                    (...                                                                                              
                    IID,...                                                                                           
                    VITEMNAME,...                                                                                     
                    VERROR_MESSAGE,...                                                                                
                    DPOSTDATETIME,...                                                                                 
                    ICREATEDBY...                                                                                     
...                                                                                                                   
                    )...                                                                                              
                   SELECT...                                                                                          
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                   
                   'COM_MGR_REGION',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                             
                   GETDATE(),...                                                                                      
                   @para_UserID ...                                                                                   
                   ;...                                                                                               
...                                                                                                                   
    END CATCH...                                                                                                      
END;...                                                                                                               


