
Text                                                                                                          
----                                                                                                          
CREATE PROCEDURE [dbo].[CAMPAIGN_SUMMARY_PRODTOT_w1](@branchId NUMERIC, @regionId NUMERIC, @product NUMERIC...
AS...                                                                                                         
BEGIN ...                                                                                                     
...                                                                                                           
	DECLARE @v_campaign_codes TABLE (v_campaign_code VARCHAR(100)); ...                                          
...                                                                                                           
    DECLARE...                                                                                                
        @v_branchId         NUMERIC,...                                                                       
        @v_regionId         NUMERIC,...                                                                       
        @v_month            VARCHAR(20),...                                                                   
        @v_year             INT,...                                                                           
        @v_monthName        VARCHAR(20),...                                                                   
        @v_product          NUMERIC,...                                                                       
        @v_subproduct       NUMERIC,...                                                                       
        @vc_current_date    DATE;...                                                                          
...                                                                                                           
    SET @v_branchId = @branchId;...                                                                           
    SET @v_regionId = @regionId;...                                                                           
    SET @v_product = @product;...                                                                             
...                                                                                                           
    SET NOCOUNT ON;...                                                                                        
    ...                                                                                                       
    BEGIN...                                                                                                  
        SET @vc_current_date = GETDATE();...                                                                  
        SET @v_year = YEAR(GETDATE());...                                                                     
        SET @v_monthName = DATENAME(MONTH, DATEADD(MONTH, -1, GETDATE())); ...                                
        SET @v_month = CONCAT(@v_monthName, ' ', @v_year);...                                                 
...                                                                                                           
...                                                                                                           
		INSERT INTO @v_campaign_codes (v_campaign_code)  ...                                                        
		SELECT CAMPAIGN_CODE...                                                                                     
		FROM TBL_C_CAMP_SET_SECTION_MAIN...                                                                         
		WHERE iid IN (1,7,8,9,24,10,11,25,14,36,37,148,147,38,150,149,39,125)...                                    
...                                                                                                           
    END;...                                                                                                   
...                                                                                                           
    WITH summary AS...                                                                                        
    (...                                                                                                      
        SELECT ...                                                                                            
            lm.VCONTRACT_NO AS contractno,...                                                                 
            dl.ITOTAL_BALANCE AS totos,...                                                                    
            lm.IPRODUCT_ID AS productId,...                                                                   
            lm.IBENTITY_ID AS branchid,...                                                                    
            bs.IREGIONID AS regionid,...                                                                      
            p.VNAME as productname,...                                                                        
            lm.ISUB_PRODUCT_ID as subproductid,...                                                            
            dt.isection_id as sectionid,...                                                                   
            sm.iid as campaignId,...                                                                          
            sm.VTITLE as campaignName,...                                                                     
            sm.campaign_code as campaignCode,...                                                              
            ac.IACTION_TAKEN as actionCount,...                                                               
            dt.itot_account as accCount,...                                                                   
            CASE WHEN lm.VNPSTATUS = 'Y' THEN 'Y' ELSE 'N'  END as npastatus...                               
        FROM ...                                                                                              
            TBL_C_M_DELINQUENCY dl...                                                                         
        JOIN ...                                                                                              
            TBL_C_M_LOAN_MASTER lm ON dl.ILOAN_MASTER_ID = lm.IID...                                          
        ...                                                                                                   
        JOIN ...                                                                                              
            TBL_C_SET_BUSINESS_ENTITY bs ON bs.iid = lm.IBENTITY_ID...                                        
        JOIN ...                                                                                              
            TBL_C_SET_PRODUCT p ON P.IID=lm.IPRODUCT_ID...                                                    
         JOIN ...                                                                                             
            TBL_C_CAMP_CAMPAIGN_ACCOUNTS ac ON AC.ILOAN_MASTER_ID=LM.IID...                                   
         JOIN ...                                                                                             
            TBL_C_CAMP_CAMPAIGN_DETAILS dt ON DT.IID=ac.ICAMAIGN_DETAIL_ID...                                 
         JOIN ...                                                                                             
            TBL_C_CAMP_SECTIONS  se ON se.IID=dt.ISECTION_ID...                                               
         JOIN ...                                                                                             
            TBL_C_CAMP_SET_SECTION_MAIN sm  ON sm.iid=se.ISECTION_MAIN_ID...                                  
        WHERE ...                                                                                             
            dt.IPUBLISH=1...                                                                                  
            AND dl.IACTIONED=1    ...                                                                         
			AND EXISTS (...                                                                                            
				SELECT 1...                                                                                               
				FROM @v_campaign_codes vc...                                                                              
				WHERE vc.v_campaign_code = sm.campaign_code...                                                            
			)...                                                                                                       
    )...                                                                                                      
...                                                                                                           
    ...                                                                                                       
    SELECT ...                                                                                                
        SUM(b.accCount) as totAccCount,...                                                                    
        productId,...                                                                                         
        productname ...                                                                                       
  ...                                                                                                         
    FROM ...                                                                                                  
    (...                                                                                                      
        SELECT ...                                                                                            
            productId,...                                                                                     
            productname,...                                                                                   
            COUNT(accCount) AS accCount,...                                                                   
            campaignName,...                                                                                  
            campaignCode,...                                                                                  
            COUNT(CASE WHEN actionCount <> 0 THEN 1 END) AS actionCount...                                    
        FROM ...                                                                                              
            summary ...                                                                                       
        WHERE ...                                                                                             
            (branchid = @v_branchId OR @v_branchId IS NULL) ...                                               
            AND (regionid = @v_regionId OR @v_regionId IS NULL) ...                                           
            AND (productId = @v_product OR @v_product IS NULL)...                                             
        GROUP BY ...                                                                                          
            campaignId, campaignName, campaignCode, productId, productname...                                 
    ) b...                                                                                                    
    GROUP BY ...                                                                                              
        productId, productname;...                                                                            
...                                                                                                           
...                                                                                                           
   ...                                                                                                        
END;...                                                                                                       


