
Text                                                                                                                         
----                                                                                                                         
/****** Object:  StoredProcedure [dbo].[COM_CORE_PAYMENT_MAIN]     ******/...                                                
...                                                                                                                          
...                                                                                                                          
CREATE   PROCEDURE [dbo].[COM_CORE_PAYMENT_MAIN](@para_UserID FLOAT)AS...                                                    
BEGIN...                                                                                                                     
...                                                                                                                          
  DECLARE ...                                                                                                                
   @var_ErrorLogID        DECIMAL(20),...                                                                                    
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                  
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                  
   @var_ErrorMessage      VARCHAR(500),...                                                                                   
   @IsERROR               INT,...                                                                                            
   @Error_Message         VARCHAR(500),...                                                                                   
   @ERROR_LINE            VARCHAR(20);   ...                                                                                 
...                                                                                                                          
   SET @var_Rowsprocessed =  0;...                                                                                           
/* -------------------------------------------------------------------------*...                                             
Procedure       : COM_CORE_PAYMENT_MAIN...                                                                                   
Author          : ...                                                                                                        
Date Created    : ...                                                                                                        
Date Last Mod.  : ...                                                                                                        
Description     : System User information from COM DB...                                                                     
Level           : DB Link to Core...                                                                                         
...                                                                                                                          
=============================================================================*/...                                           
...                                                                                                                          
...                                                                                                                          
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                    
...                                                                                                                          
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                      
(...                                                                                                                         
IID,...                                                                                                                      
VPROCESSDESC,...                                                                                                             
VPHASE,...                                                                                                                   
DSTARTTIME...                                                                                                                
)...                                                                                                                         
SELECT ...                                                                                                                   
@var_ProcessStatusID,...                                                                                                     
'COM_CORE_PAYMENT_MAIN',...                                                                                                  
'TBL_CORE_PAYMENT_MAIN',...                                                                                                  
GETDATE()...                                                                                                                 
;...                                                                                                                         
...                                                                                                                          
BEGIN TRY...                                                                                                                 
...                                                                                                                          
...                                                                                                                          
INSERT INTO TBL_CORE_PAYMENT_MAIN(...                                                                                        
			CONTRACT_NO,...                                                                                                           
			PYMT_DATE,...                                                                                                             
			LAST_UPDATED_DATE,...                                                                                                     
			AMOUNT,...                                                                                                                
			RECEIPT_NO,...                                                                                                            
			PAYMT_CODE,...                                                                                                            
			PAYMT_METHOD,...                                                                                                          
			CURRENCY,...                                                                                                              
			PAYMT_BRANCH,...                                                                                                          
			TRAN_REF_NO,...                                                                                                           
			LAST_EXTRACTED_DATE	...                                                                                                   
       )...                                                                                                                  
SELECT ...                                                                                                                   
			ACCOUNT_NUMBER,...                                                                                                        
			BOOKING_DATE,...                                                                                                          
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			OUR_REFERENCE,...                                                                                                         
			TRANSACTION_CODE,...                                                                                                      
			NULL,...                                                                                                                  
			CURRENCY,...                                                                                                              
			CO_CODE,...                                                                                                               
			OUR_REFERENCE,...                                                                                                         
			NULL...                                                                                                                   
...                                                                                                                          
FROM  TX_STMT_ENTRY...                                                                                                       
...                                                                                                                          
      ;...                                                                                                                   
...                                                                                                                          
	  ...                                                                                                                       
INSERT INTO TBL_CORE_PAYMENT_MAIN(...                                                                                        
			CONTRACT_NO...                                                                                                            
			--PYMT_DATE,...                                                                                                           
			--LAST_UPDATED_DATE,...                                                                                                   
			--AMOUNT,...                                                                                                              
			--RECEIPT_NO,...                                                                                                          
			--PAYMT_CODE,...                                                                                                          
			--PAYMT_METHOD,...                                                                                                        
			--PAYMT_BRANCH,...                                                                                                        
			--LAST_EXTRACTED_DATE...                                                                                                  
 )...                                                                                                                        
SELECT		FACID...                                                                                                             
		...                                                                                                                        
FROM  stg_skl_receipt_component...                                                                                           
...                                                                                                                          
      ;...                                                                                                                   
	  ...                                                                                                                       
INSERT INTO TBL_CORE_PAYMENT_MAIN(...                                                                                        
			CONTRACT_NO,...                                                                                                           
			PYMT_DATE,...                                                                                                             
			LAST_UPDATED_DATE,...                                                                                                     
			AMOUNT,...                                                                                                                
			RECEIPT_NO,...                                                                                                            
			PAYMT_CODE,...                                                                                                            
			PAYMT_METHOD,...                                                                                                          
			CURRENCY,...                                                                                                              
			PAYMT_BRANCH,...                                                                                                          
			TRAN_REF_NO,...                                                                                                           
			LAST_EXTRACTED_DATE	...                                                                                                   
		...                                                                                                                        
			...                                                                                                                       
       )...                                                                                                                  
SELECT ...                                                                                                                   
			SEQUENCENUMBER,...                                                                                                        
			TRANSACTIONDATE,...                                                                                                       
			NULL,...                                                                                                                  
			TRANSACTIONAMOUNT,...                                                                                                     
			NULL,...                                                                                                                  
			PAYMENTTYPE,...                                                                                                           
			SOURCETYPE,...                                                                                                            
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL...                                                                                                                   
...                                                                                                                          
...                                                                                                                          
	...                                                                                                                         
		...                                                                                                                        
FROM  STG_CMS_BE_PAYMENT...                                                                                                  
      ;...                                                                                                                   
    ...                                                                                                                      
INSERT INTO TBL_CORE_PAYMENT_MAIN(...                                                                                        
			CONTRACT_NO,...                                                                                                           
			PYMT_DATE,...                                                                                                             
			LAST_UPDATED_DATE,...                                                                                                     
			AMOUNT,...                                                                                                                
			RECEIPT_NO,...                                                                                                            
			PAYMT_CODE,...                                                                                                            
			PAYMT_METHOD,...                                                                                                          
			CURRENCY,...                                                                                                              
			PAYMT_BRANCH,...                                                                                                          
			TRAN_REF_NO,...                                                                                                           
			LAST_EXTRACTED_DATE	...                                                                                                   
		...                                                                                                                        
			...                                                                                                                       
       )...                                                                                                                  
SELECT ...                                                                                                                   
			FACID,...                                                                                                                 
			RCPTDATE,...                                                                                                              
			NULL,...                                                                                                                  
			RCPTAMT,...                                                                                                               
			RCPTNO,...                                                                                                                
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL,...                                                                                                                  
			NULL...                                                                                                                   
...                                                                                                                          
...                                                                                                                          
...                                                                                                                          
...                                                                                                                          
...                                                                                                                          
			...                                                                                                                       
...                                                                                                                          
...                                                                                                                          
	FROM stg_skl_receipts;...                                                                                                   
...                                                                                                                          
...                                                                                                                          
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                     
...                                                                                                                          
...                                                                                                                          
/* Update Process Status Log- Reporting Successful Completion */...                                                          
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                          
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                                 
        DENDTIM=GETDATE(),...                                                                                                
        VCOMMENTS='COM_CORE_PAYMENT_MAIN Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                        
...                                                                                                                          
END TRY...                                                                                                                   
...                                                                                                                          
...                                                                                                                          
...                                                                                                                          
...                                                                                                                          
BEGIN CATCH...                                                                                                               
...                                                                                                                          
     SELECT @IsERROR =1,...                                                                                                  
	 @Error_Message=ERROR_MESSAGE(),...                                                                                         
     @ERROR_LINE = ERROR_LINE();...                                                                                          
  -- ------------------------------------------------------------------------------------------------*...                    
...                                                                                                                          
      /* Add row to Process Status Log- Indcating Error occured */...                                                        
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                
          SET     IROWSPROCESSE=0,...                                                                                        
                  DENDTIM=GETDATE(),...                                                                                      
                  VCOMMENTS='COM_CORE_PAYMENT_MAIN Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                              
...                                                                                                                          
      /* Log error Information in TBL_ERROR_LOG */...                                                                        
...                                                                                                                          
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                        
                    (...                                                                                                     
                    IID,...                                                                                                  
                    VITEMNAME,...                                                                                            
                    VERROR_MESSAGE,...                                                                                       
                    DPOSTDATETIME,...                                                                                        
                    ICREATEDBY...                                                                                            
...                                                                                                                          
                    )...                                                                                                     
                   SELECT...                                                                                                 
              NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                               
                   'COM_CORE_PAYMENT_MAIN',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                    
                   GETDATE(),...                                                                                             
                   @para_UserID ...                                                                                          
                   ;...                                                                                                      
...                                                                                                                          
    END CATCH...                                                                                                             
END;...                                                                                                                      


