
Text                                                                                                                              
----                                                                                                                              
...                                                                                                                               
CREATE  PROCEDURE [dbo].[COM_MGR_RELATION_DETAILS](@para_UserID FLOAT)AS...                                                       
BEGIN...                                                                                                                          
...                                                                                                                               
  DECLARE ...                                                                                                                     
   @var_ErrorLogID        DECIMAL(20),...                                                                                         
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                       
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                       
   @var_ErrorMessage      VARCHAR(500),...                                                                                        
   @IsERROR               INT,...                                                                                                 
   @Error_Message         VARCHAR(500),...                                                                                        
   @ERROR_LINE            VARCHAR(20);   ...                                                                                      
...                                                                                                                               
   SET @var_Rowsprocessed =  0;...                                                                                                
/* -------------------------------------------------------------------------*...                                                  
Procedure       :   COM_MGR_RELATION_DETAILS...                                                                                   
Author          : Navodya Wimalasooriya...                                                                                        
Date Created    : 21/09/2021...                                                                                                   
Date Last Mod.  : ...                                                                                                             
Description     : Merge data for Original table from core table...                                                                
Level           : merging...                                                                                                      
...                                                                                                                               
=============================================================================*/...                                                
...                                                                                                                               
...                                                                                                                               
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                         
...                                                                                                                               
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                           
(...                                                                                                                              
IID			,...                                                                                                                        
VPROCESSDESC,...                                                                                                                  
VPHASE,...                                                                                                                        
DSTARTTIME...                                                                                                                     
...                                                                                                                               
)...                                                                                                                              
SELECT ...                                                                                                                        
@var_ProcessStatusID,...                                                                                                          
'COM_MGR_RELATION_DETAILS',...                                                                                                    
'RELATION_DETAILS',...                                                                                                            
GETDATE()...                                                                                                                      
;...                                                                                                                              
...                                                                                                                               
BEGIN TRY...                                                                                                                      
...                                                                                                                               
MERGE INTO...                                                                                                                     
   TBL_C_M_LOAN_RELATION_DETAILS...                                                                                               
USING...                                                                                                                          
(...                                                                                                                              
SELECT ...                                                                                                                        
...                                                                                                                               
    COALESCE(...                                                                                                                  
        (SELECT RS.MAPID ...                                                                                                      
         FROM TBL_C_M_LOAN_RELATION_STATUS RS...                                                                                  
         WHERE RS.ID = A.RELATIONSHIP),...                                                                                        
        (SELECT MA.MAPID ...                                                                                                      
         FROM TBL_C_M_LOAN_RELATION_MASTER MA...                                                                                  
         WHERE MA.RELATIONSHIP_CODE = A.RELATIONSHIP),...                                                                         
        NULL...                                                                                                                   
    ) AS RELATIONSHIPID,...                                                                                                       
...                                                                                                                               
...                                                                                                                               
    (SELECT L.IID ...                                                                                                             
     FROM TBL_C_M_LOAN_MASTER L...                                                                                                
     WHERE L.VACCOUNT_SUB_NO = A.CONTRACT_NO) AS ILOAN_MASTER_ID,...                                                              
...                                                                                                                               
    (SELECT C.IID ...                                                                                                             
     FROM TBL_C_M_CUSTOMER_INFO C...                                                                                              
     WHERE C.VCUSTOMER_CODE = A.CUSTOMER_ID) AS ICUSTOMER_ID...                                                                   
...                                                                                                                               
FROM TBL_CORE_RELATION_DETAILS A...                                                                                               
...                                                                                                                               
EXCEPT...                                                                                                                         
...                                                                                                                               
SELECT ...                                                                                                                        
    IRELATION_STATUS_ID,...                                                                                                       
    ILOAN_MASTER_ID,...                                                                                                           
    ICUSTORMER_ID...                                                                                                              
FROM TBL_C_M_LOAN_RELATION_DETAILS...                                                                                             
...                                                                                                                               
...                                                                                                                               
) TBL_CORE_RELATION_DETAILS...                                                                                                    
ON...                                                                                                                             
   TBL_C_M_LOAN_RELATION_DETAILS.ILOAN_MASTER_ID = TBL_CORE_RELATION_DETAILS.ILOAN_MASTER_ID...                                   
   WHEN MATCHED THEN...                                                                                                           
	update set...                                                                                                                    
	TBL_C_M_LOAN_RELATION_DETAILS.IRELATION_STATUS_ID=TBL_CORE_RELATION_DETAILS.RELATIONSHIPID ,...                                  
	TBL_C_M_LOAN_RELATION_DETAILS.ICUSTORMER_ID=TBL_CORE_RELATION_DETAILS.ICUSTOMER_ID...                                            
...                                                                                                                               
...                                                                                                                               
   WHEN NOT MATCHED THEN...                                                                                                       
INSERT (...                                                                                                                       
	IRELATION_STATUS_ID,...                                                                                                          
	ILOAN_MASTER_ID,...                                                                                                              
	ICUSTORMER_ID,...                                                                                                                
	VRELATIONSHIP_REMARK,...                                                                                                         
	VINVOLVEMENT_START_DATE,...                                                                                                      
	INVOLVEMENT_FINISHED_DATE,...                                                                                                    
	DADDED_DATE,...                                                                                                                  
	IACTIVE,...                                                                                                                      
	DELETE_FLAG,...                                                                                                                  
	COLLATRAL_REF_NO,...                                                                                                             
	POLICY_NO...                                                                                                                     
       )...                                                                                                                       
VALUES...                                                                                                                         
      ( ...                                                                                                                       
	RELATIONSHIPID,...                                                                                                               
	ILOAN_MASTER_ID,...                                                                                                              
	ICUSTOMER_ID,...                                                                                                                 
	NULL,...                                                                                                                         
	NULL	,...                                                                                                                        
	NULL,...                                                                                                                         
	NULL,...                                                                                                                         
	NULL	,...                                                                                                                        
	NULL,...                                                                                                                         
	NULL,...                                                                                                                         
	NULL...                                                                                                                          
      );...                                                                                                                       
    ...                                                                                                                           
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                          
...                                                                                                                               
/* Update Process Status Log- Reporting Successful Completion */...                                                               
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                               
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                                 
        DENDTIM=GETDATE(),...                                                                                                     
        VCOMMENTS='COM_MGR_RELATION_DETAILS Completed Successfully !'...                                                          
WHERE   IID= @var_ProcessStatusID;...                                                                                             
...                                                                                                                               
END TRY...                                                                                                                        
...                                                                                                                               
...                                                                                                                               
BEGIN CATCH...                                                                                                                    
...                                                                                                                               
     SELECT @IsERROR =1,...                                                                                                       
	 @Error_Message=ERROR_MESSAGE(),...                                                                                              
     @ERROR_LINE = ERROR_LINE();...                                                                                               
  -- ------------------------------------------------------------------------------------------------*...                         
...                                                                                                                               
      /* Add row to Process Status Log- Indcating Error occured */...                                                             
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                     
          SET     IROWSTOBEPROCESSED=0,...                                                                                        
                  DENDTIM=GETDATE(),...                                                                                           
                  VCOMMENTS='  COM_MGR_RELATION_DETAILS Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                   
...                                                                                                                               
      /* Log error Information in TBL_ERROR_LOG */...                                                                             
...                                                                                                                               
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                             
                    (...                                                                                                          
                    IID,...                                                                                                       
                    VITEMNAME,...                                                                                                 
                    VERROR_MESSAGE,...                                                                                            
                    DPOSTDATETIME,...                                                                                             
                    ICREATEDBY...                                                                                                 
...                                                                                                                               
                    )...                                                                                                          
                   SELECT...                                                                                                      
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                               
                   'COM_MGR_RELATION_DETAILS',...                                                                                 
                   @Error_Message+'line '+@ERROR_LINE,...                                                                         
                   GETDATE(),...                                                                                                  
                   @para_UserID ...                                                                                               
                   ;...                                                                                                           
...                                                                                                                               
    END CATCH...                                                                                                                  
END;...                                                                                                                           


