
Text                                                                                                                                    
----                                                                                                                                    
CREATE PROCEDURE [dbo].[crd_dashboard_w1](@productId VARCHAR(MAX), @branchId VARCHAR(MAX), @regionId VARCHAR(MAX), @month VARCHAR(20)...
AS...                                                                                                                                   
BEGIN ...                                                                                                                               
DECLARE...                                                                                                                              
	@v_productId		VARCHAR(MAX),...                                                                                                         
	@v_branchId			VARCHAR(MAX),...                                                                                                         
	@v_regionId			VARCHAR(MAX),...                                                                                                         
	@v_month			VARCHAR(20),...                                                                                                             
	@v_year				INT,...                                                                                                                     
    @v_monthName		VARCHAR(20);...                                                                                                       
...                                                                                                                                     
	SET @v_productId = @productId;...                                                                                                      
	SET @v_branchId = @branchId;...                                                                                                        
	SET @v_regionId = @regionId;...                                                                                                        
	SET @v_month = @month;...                                                                                                              
...                                                                                                                                     
	SET NOCOUNT ON;...                                                                                                                     
	...                                                                                                                                    
	IF @month IS NULL...                                                                                                                   
    BEGIN...                                                                                                                            
        SET @v_year = YEAR(GETDATE());...                                                                                               
        SET @v_monthName = DATENAME(MONTH, DATEADD(MONTH, -1, GETDATE())); ...                                                          
		SET @v_month = CONCAT(@v_monthName, ' ', @v_year);...                                                                                 
    END;...                                                                                                                             
...                                                                                                                                     
	WITH summary1 AS...                                                                                                                    
	(SELECT MS.REC_ID AS np, MS.IMONTHENDOS AS np_os, ...                                                                                  
	MS.PRODUCT_ID AS product, MS.BRANCH_ID AS branch, MS.REGIONID AS region,...                                                            
	MS.MONTH AS month, MS.YEAR AS year...                                                                                                  
	FROM TBL_MONTH_SUMMARY MS...                                                                                                           
		JOIN TBL_C_SET_PRODUCT P ON P.IID = MS.PRODUCT_ID ...                                                                                 
		JOIN TBL_C_SET_BUSINESS_ENTITY BE ON BE.IID = MS.BRANCH_ID...                                                                         
		JOIN TBL_C_SET_REGION R ON R.IID = MS.REGIONID...                                                                                     
	WHERE MS.NPSTATUS = 'Y'),...                                                                                                           
...                                                                                                                                     
	summary2 AS...                                                                                                                         
	(SELECT MS.REC_ID AS p, MS.IMONTHENDOS AS p_os, ...                                                                                    
	MS.PRODUCT_ID AS product, MS.BRANCH_ID AS branch, MS.REGIONID AS region,...                                                            
	MS.MONTH AS month, MS.YEAR AS year...                                                                                                  
	FROM TBL_MONTH_SUMMARY MS...                                                                                                           
		JOIN TBL_C_SET_PRODUCT P ON P.IID = MS.PRODUCT_ID ...                                                                                 
		JOIN TBL_C_SET_BUSINESS_ENTITY BE ON BE.IID = MS.BRANCH_ID...                                                                         
		JOIN TBL_C_SET_REGION R ON R.IID = MS.REGIONID...                                                                                     
	WHERE MS.NPSTATUS = 'N')...                                                                                                            
...                                                                                                                                     
	SELECT ...                                                                                                                             
    (SELECT COUNT(np) FROM summary1...                                                                                                  
	...                                                                                                                                    
	WHERE (product IN (SELECT VALUE FROM string_split(@v_productId, ',')) OR @v_productId IS NULL OR @v_productId = '')...                 
	AND (branch IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')  ...                     
	AND (region IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '')...                       
	AND (CONCAT(month, ' ', year) = @v_month OR @v_month IS NULL)) AS totalCountNp,...                                                     
...                                                                                                                                     
    (SELECT SUM(np_os) FROM summary1 ...                                                                                                
	WHERE (product IN (SELECT VALUE FROM string_split(@v_productId, ',')) OR @v_productId IS NULL OR @v_productId = '')...                 
	AND (branch IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')  ...                     
	AND (region IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '')...                       
	AND (CONCAT(month, ' ', year) = @v_month OR @v_month IS NULL)) AS totalOsNp,...                                                        
...                                                                                                                                     
    (SELECT COUNT(p) FROM summary2 ...                                                                                                  
	WHERE (product IN (SELECT VALUE FROM string_split(@v_productId, ',')) OR @v_productId IS NULL OR @v_productId = '')...                 
	AND (branch IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')  ...                     
	AND (region IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '')...                       
	AND (CONCAT(month, ' ', year) = @v_month OR @v_month IS NULL)) AS totalCountP,...                                                      
...                                                                                                                                     
    (SELECT SUM(p_os) FROM summary2 ...                                                                                                 
	WHERE (product IN (SELECT VALUE FROM string_split(@v_productId, ',')) OR @v_productId IS NULL OR @v_productId = '')...                 
	AND (branch IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')   ...                    
	AND (region IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '')...                       
	AND (CONCAT(month, ' ', year) = @v_month OR @v_month IS NULL)) AS totalOsP;...                                                         
...                                                                                                                                     
END;                                                                                                                                    


