
Text                                                                                                                                                             
----                                                                                                                                                             
CREATE  PROCEDURE [dbo].[P_MONTH_SUMMARY_REPORT_COMM](@para_UserID FLOAT)AS...                                                                                   
BEGIN...                                                                                                                                                         
    DECLARE ...                                                                                                                                                  
   @var_ErrorLogID        DECIMAL(20),...                                                                                                                        
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                                                      
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                                                      
   @var_ErrorMessage      VARCHAR(500),...                                                                                                                       
   @IsERROR               INT,...                                                                                                                                
   @Error_Message         VARCHAR(500),...                                                                                                                       
   @ERROR_LINE            VARCHAR(20),  ...                                                                                                                      
   @SYSTEM_RUN_DATE       DATETIME,...                                                                                                                           
   @SYSTEM_RUN_MONTH_YEAR VARCHAR(50);...                                                                                                                        
...                                                                                                                                                              
   SET @var_Rowsprocessed =  0;...                                                                                                                               
...                                                                                                                                                              
/********************************************************************...                                                                                         
* Purpose		   : To generate month wise contract summary...                                                                                                       
* Author		   : ...                                                                                                                                               
* Date Created	   : ...                                                                                                                                          
* Last Modified    : ...                                                                                                                                         
*********************************************************************/...                                                                                        
...                                                                                                                                                              
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                                                        
...                                                                                                                                                              
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                                                          
(...                                                                                                                                                             
IID			,...                                                                                                                                                       
VPROCESSDESC,...                                                                                                                                                 
VPHASE,...                                                                                                                                                       
DSTARTTIME...                                                                                                                                                    
...                                                                                                                                                              
)...                                                                                                                                                             
SELECT ...                                                                                                                                                       
@var_ProcessStatusID,...                                                                                                                                         
'P_MONTH_SUMMARY_REPORT_COMM',...                                                                                                                                
'SUMMARY_REPORT',...                                                                                                                                             
GETDATE()...                                                                                                                                                     
;...                                                                                                                                                             
--BEGIN TRY...                                                                                                                                                   
...                                                                                                                                                              
...                                                                                                                                                              
SET @SYSTEM_RUN_DATE = GETDATE();...                                                                                                                             
SET @SYSTEM_RUN_MONTH_YEAR = FORMAT (GETDATE(), 'MMM-yyyy');...                                                                                                  
COMMIT;...                                                                                                                                                       
...                                                                                                                                                              
...                                                                                                                                                              
MERGE INTO tbl_month_summary_new bn...                                                                                                                           
USING (...                                                                                                                                                       
SELECT ...                                                                                                                                                       
t.REC_ID,...                                                                                                                                                     
t.YEAR,...                                                                                                                                                       
t.MONTH,...                                                                                                                                                      
t.VCONTRACT_NO,...                                                                                                                                               
t.ILOAN_MASTER_ID,...                                                                                                                                            
t.ME_USERNAME,...                                                                                                                                                
/*(select AD_USER from tbl_users where vusername = t.ME_USERNAME)*/ NULL as ME_AD,...                                                                            
CASE  when t.DCLOSE_DATE <= DATEADD(day, 1, EOMONTH(GETDATE(), -1)) then 'EXPIRED'...                                                                            
ELSE 'ACTIVE'...                                                                                                                                                 
END AS MONTH_START_STATUS,...                                                                                                                                    
CASE  when t.DCLOSE_DATE <= CONVERT(VARCHAR(10),GETDATE(),126) then 'EXPIRED'...                                                                                 
ELSE 'ACTIVE'...                                                                                                                                                 
END AS MONTH_END_STATUS,...                                                                                                                                      
t.DCLOSE_DATE,...                                                                                                                                                
t.DLOAN_APPLY_DTE,...                                                                                                                                            
t.LOAN_AMOUNT,...                                                                                                                                                
t.PRODUCT_ID,...                                                                                                                                                 
t.PRODUCT_NAME,...                                                                                                                                               
t.LOAN_PRODUCT_ID,...                                                                                                                                            
t.LOAN_PRODUCT_NAME,...                                                                                                                                          
t.IMONTHSTARTOS,...                                                                                                                                              
t.IMONTHMAXOS,...                                                                                                                                                
t.IMONTHENDOS,...                                                                                                                                                
t.IMONTHSTARTMINARR,...                                                                                                                                          
t.IMONTHMAXMINARR,...                                                                                                                                            
t.IMONTHENDMINARR,...                                                                                                                                            
t.MONTH_START_DPD_DATE,...                                                                                                                                       
t.MONTH_START_DPD,...                                                                                                                                            
t.MONTH_MAX_DPD,...                                                                                                                                              
t.MONTH_END_DPD_DATE,...                                                                                                                                         
t.MONTH_END_DPD,...                                                                                                                                              
(select max(dl2.IARR_TOT_AMT) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                   
    where dl2.ILOAN_MASTER_ID = t.ILOAN_MASTER_ID ...                                                                                                            
    and convert(varchar(10),  dl2.DSNAPSHOT_DATE,126)= t.MONTH_START_DPD_DATE) AS MONTH_START_ARR,...                                                            
t.MONTH_MAX_ARR,...                                                                                                                                              
t.MONTH_END_ARR,...                                                                                                                                              
t.campaign_start,...                                                                                                                                             
t.campaign_end,...                                                                                                                                               
CASE  when t.MONTH_START_DPD >= 210 then 'B9 DPD(250+)' ...                                                                                                      
      when t.MONTH_START_DPD >= 180 then 'B8 DPD(180-249)' ...                                                                                                   
      when t.MONTH_START_DPD >= 150 then 'B7 DPD(150-179)' ...                                                                                                   
      when t.MONTH_START_DPD >= 120 then 'B6 DPD(120-149)' ...                                                                                                   
      when t.MONTH_START_DPD >= 90 then 'B5 DPD(90-119)' ...                                                                                                     
      when t.MONTH_START_DPD >= 60 then 'B4 DPD(60-89)' ...                                                                                                      
      when t.MONTH_START_DPD >= 30 then 'B3 DPD(30-59)' ...                                                                                                      
      when t.MONTH_START_DPD >= 1 then 'B2 DPD(1-29)'...                                                                                                         
      when t.MONTH_START_DPD = 0 then 'B1 DPD(0)'...                                                                                                             
      when t.MONTH_START_DPD < 0 then 'B0 DPD(-)'...                                                                                                             
      END AS BUCKET_START,...                                                                                                                                    
CASE  when t.MONTH_END_DPD >= 210 then 'B9 DPD(250+)' ...                                                                                                        
      when t.MONTH_END_DPD >= 180 then 'B8 DPD(180-249)' ...                                                                                                     
      when t.MONTH_END_DPD >= 150 then 'B7 DPD(150-179)' ...                                                                                                     
      when t.MONTH_END_DPD >= 120 then 'B6 DPD(120-149)' ...                                                                                                     
      when t.MONTH_END_DPD >= 90 then 'B5 DPD(90-119)' ...                                                                                                       
      when t.MONTH_END_DPD >= 60 then 'B4 DPD(60-89)' ...                                                                                                        
      when t.MONTH_END_DPD >= 30 then 'B3 DPD(30-59)' ...                                                                                                        
      when t.MONTH_END_DPD >= 1 then 'B2 DPD(1-29)'...                                                                                                           
      when t.MONTH_END_DPD = 0 then 'B1 DPD(0)'...                                                                                                               
      when t.MONTH_END_DPD < 0 then 'B0 DPD(-)'...                                                                                                               
      END AS BUCKET_END,      ...                                                                                                                                
(select max(dl2.ITOTAL_BALANCE) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                 
    where dl2.ILOAN_MASTER_ID = t.ILOAN_MASTER_ID ...                                                                                                            
    and convert(varchar(10),  dl2.DSNAPSHOT_DATE,126)= t.MONTH_START_DPD_DATE) AS MONTH_START_BALANCE,...                                                        
t.MONTH_END_BALANCE,...                                                                                                                                          
t.MONTH_TOTAL_PAYMENT,...                                                                                                                                        
t.act_count,...                                                                                                                                                  
t.access_count,...                                                                                                                                               
t.call_count,...                                                                                                                                                 
t.rpc_count,...                                                                                                                                                  
t.nrpc_count,...                                                                                                                                                 
t.fv_count,...                                                                                                                                                   
t.ptp_count,...                                                                                                                                                  
t.ptp_amount,...                                                                                                                                                 
t.ptp_kept_count_in,...                                                                                                                                          
t.ptp_kept_amount_in,...                                                                                                                                         
t.ptp_brkn_count_in,...                                                                                                                                          
t.ptp_brkn_amount_in,...                                                                                                                                         
t.ptp_kept_count_for,...                                                                                                                                         
t.ptp_kept_amount_for,...                                                                                                                                        
t.ptp_brkn_count_for,...                                                                                                                                         
t.ptp_brkn_amount_for,...                                                                                                                                        
t.arr_count,...                                                                                                                                                  
t.arr_amount,...                                                                                                                                                 
t.arr_kept_count_in,...                                                                                                                                          
t.arr_kept_amount_in,...                                                                                                                                         
t.arr_brkn_count_in,...                                                                                                                                          
t.arr_brkn_amount_in,...                                                                                                                                         
t.arr_kept_count_for,...                                                                                                                                         
t.arr_kept_amount_for,...                                                                                                                                        
t.arr_brkn_count_for,...                                                                                                                                         
t.arr_brkn_amount_for,...                                                                                                                                        
t.IBRANCH_ID...                                                                                                                                                  
...                                                                                                                                                              
FROM...                                                                                                                                                          
(...                                                                                                                                                             
select...                                                                                                                                                        
CONCAT(@SYSTEM_RUN_MONTH_YEAR ,'-',VCONTRACT_NO) AS REC_ID,...                                                                                                   
DATEPART(YEAR,GETDATE()) AS YEAR,...                                                                                                                             
DATENAME(MONTH,GETDATE()) AS MONTH,...                                                                                                                           
VCONTRACT_NO ,...                                                                                                                                                
IID AS ILOAN_MASTER_ID,...                                                                                                                                       
/*(select MKEX_USER_ID...                                                                                                                                        
from tbl_account_management am...                                                                                                                                
inner join tbl_l_mkex x on x.imkex_id = am.IME_ACCOUNT_OWNER_ID...                                                                                               
where am.ILOAN_MASTER_ID = ILOAN_MASTER_ID )*/...                                                                                                                
NULL as ME_USERNAME,...                                                                                                                                          
DLOAN_APPLY_DTE,...                                                                                                                                              
ILOAN_AMOUNT AS LOAN_AMOUNT,...                                                                                                                                  
IPRODUCT_ID AS PRODUCT_ID,...                                                                                                                                    
lpname AS PRODUCT_NAME,...                                                                                                                                       
ISUB_PRODUCT_ID AS LOAN_PRODUCT_ID,...                                                                                                                           
VNAME AS LOAN_PRODUCT_NAME,...                                                                                                                                   
(select max(dl2.ITOTAL_BALANCE) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                 
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  ...                                                                                                             
    and convert(varchar(10),  dl2.DSNAPSHOT_DATE,126)= min_date) AS IMONTHSTARTOS,  ...                                                                          
(select max(dl2.ITOTAL_BALANCE) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                 
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  and  FORMAT (dl2.DSNAPSHOT_DATE, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR) AS IMONTHMAXOS, ...                      
(select dl2.ITOTAL_BALANCE from TBL_C_M_DELINQUENCY dl2 ...                                                                                                      
    where dl2.IID = DLIID...                                                                                                                                     
	and convert(varchar(10),dl2.DSNAPSHOT_DATE,126)= EOMONTH (GETDATE()))...                                                                                        
	AS IMONTHENDOS,  ...                                                                                                                                            
(select max(dl2.IRENTAL_IN_ARR_AMT) from TBL_C_M_DELINQUENCY dl2 ...                                                                                             
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  ...                                                                                                             
    and convert(varchar(10),  dl2.DSNAPSHOT_DATE,126)= min_date) AS IMONTHSTARTMINARR,  ...                                                                      
(select max(dl2.IRENTAL_IN_ARR_AMT) from TBL_C_M_DELINQUENCY dl2 ...                                                                                             
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  and FORMAT (dl2.DSNAPSHOT_DATE, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR) AS IMONTHMAXMINARR, ...                   
(select dl2.IRENTAL_IN_ARR_AMT from TBL_C_M_DELINQUENCY dl2 ...                                                                                                  
    where dl2.IID = DLIID...                                                                                                                                     
	and convert(varchar(10),dl2.DSNAPSHOT_DATE,126)= EOMONTH (GETDATE()))AS IMONTHENDMINARR,     ...                                                                
min_date AS MONTH_START_DPD_DATE,...                                                                                                                             
(select max(dl2.IARR_DAYS) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                      
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  ...                                                                                                             
    and convert(varchar(10),  dl2.DSNAPSHOT_DATE,126)= min_date) AS MONTH_START_DPD,  ...                                                                        
(select max(dl2.IARR_DAYS) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                      
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  and  FORMAT (dl2.DSNAPSHOT_DATE, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR) AS MONTH_MAX_DPD, ...                    
(select convert(varchar(10),  dl2.DSNAPSHOT_DATE,126) from TBL_C_M_DELINQUENCY dl2 ...                                                                           
    where dl2.IID = DLIID...                                                                                                                                     
	and iactioned=1) AS MONTH_END_DPD_DATE,...                                                                                                                      
(select dl2.IARR_DAYS from TBL_C_M_DELINQUENCY dl2 ...                                                                                                           
    where dl2.IID = DLIID...                                                                                                                                     
	and iactioned=1) AS MONTH_END_DPD,  ...                                                                                                                         
...                                                                                                                                                              
...                                                                                                                                                              
(select max(dl2.IARR_TOT_AMT) from TBL_C_M_DELINQUENCY dl2 ...                                                                                                   
    where dl2.ILOAN_MASTER_ID = ILOAN_MASTER_ID  and  FORMAT (dl2.DSNAPSHOT_DATE, 'MMM-yyyy')= @SYSTEM_RUN_MONTH_YEAR) AS MONTH_MAX_ARR,    ...                  
(select dl2.IARR_TOT_AMT from TBL_C_M_DELINQUENCY dl2 ...                                                                                                        
    where dl2.IID = DLIID) AS MONTH_END_ARR,...                                                                                                                  
...                                                                                                                                                              
(  select TOP 1 sm.VTITLE...                                                                                                                                     
   from TBL_C_CAMP_CAMPAIGN_ACCOUNTS ca...                                                                                                                       
   inner join TBL_C_CAMP_CAMPAIGN_DETAILS cd on cd.IID = ca.ICAMAIGN_DETAIL_ID...                                                                                
   inner join TBL_C_CAMP_SECTIONS cs on cs.IID=cd.ISECTION_ID...                                                                                                 
   inner join TBL_C_CAMP_SET_SECTION_MAIN sm on sm.IID = cs.iSection_Main_ID...                                                                                  
   where ca.ILOAN_MASTER_ID =ILOAN_MASTER_ID ...                                                                                                                 
   and convert(varchar(10),ca.DDATE_TIME,126)= camp_min_date...                                                                                                  
   ) AS campaign_start,...                                                                                                                                       
...                                                                                                                                                              
(  select TOP 1 sm.VTITLE ...                                                                                                                                    
   from TBL_C_CAMP_CAMPAIGN_ACCOUNTS ca...                                                                                                                       
   inner join TBL_C_CAMP_CAMPAIGN_DETAILS cd on cd.IID = ca.ICAMAIGN_DETAIL_ID...                                                                                
   inner join TBL_C_CAMP_SECTIONS cs on cs.IID=cd.ISECTION_ID...                                                                                                 
   inner join TBL_C_CAMP_SET_SECTION_MAIN sm on sm.IID = cs.iSection_Main_ID...                                                                                  
   where ca.ILOAN_MASTER_ID =ILOAN_MASTER_ID ...                                                                                                                 
   and convert(varchar(10),ca.DDATE_TIME,126)= camp_max_date...                                                                                                  
   ) AS campaign_end,...                                                                                                                                         
...                                                                                                                                                              
(select dl2.ITOTAL_BALANCE from TBL_C_M_DELINQUENCY dl2 ...                                                                                                      
    where dl2.IID = DLIID) AS MONTH_END_BALANCE,    ...                                                                                                          
...                                                                                                                                                              
(SELECT ISNULL(SUM(p.DTOTALAMT),0) FROM TBL_C_A_PAYMENT_MAIN p...                                                                                                
    WHERE p.iloan_master_id = ILOAN_MASTER_ID ...                                                                                                                
    AND p.dpaymt_date BETWEEN (GETDATE() - DATEPART(DAY,DATEADD(day, -1, GETDATE()))) AND GETDATE()) AS MONTH_TOTAL_PAYMENT,...                                  
...                                                                                                                                                              
(select count(*) from TBL_C_A_AGENT_ACTION ...                                                                                                                   
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACTION_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR) AS act_count,...                                        
...                                                                                                                                                              
(select count(*) from TBL_C_A_AGENT_ACTION ...                                                                                                                   
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACCESS_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and IACTION_TIME is null) AS access_count,...            
...                                                                                                                                                              
(select ISNULL(sum(ICALL_COUNT),0) from TBL_C_A_AGENT_ACTION ...                                                                                                 
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACTION_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR) AS call_count,    ...                                   
...                                                                                                                                                              
(select ISNULL(sum(RPC),0) from TBL_C_A_AGENT_ACTION ...                                                                                                         
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACTION_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and RPC>0) AS rpc_count,...                              
...                                                                                                                                                              
(select ISNULL(sum(NRPC),0) from TBL_C_A_AGENT_ACTION ...                                                                                                        
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACTION_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and NRPC>0) AS nrpc_count,...                            
...                                                                                                                                                              
(select count(*) from TBL_C_A_AGENT_ACTION ...                                                                                                                   
    where ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(IACTION_TIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and VREMARKS = 'Field Visit') AS fv_count,    ...        
...                                                                                                                                                              
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and ISNULL(hsptp.VSTATUS,1) <> 'CANCELLED'...  
    and  c2.VCODE ='PTP'  ) AS ptp_count,    ...                                                                                                                 
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DDATETIME,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and ISNULL(hsptp.VSTATUS,1) <> 'CANCELLED'...   
    and c2.VCODE ='PTP' ) AS ptp_amount,    ...                                                                                                                  
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE hsptp...                                                                                                    
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Kept' ...               
    and c2.VCODE ='PTP') AS ptp_kept_count_in,    ...                                                                                                            
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Kept' ...              
    and  c2.VCODE ='PTP') AS ptp_kept_amount_in,    ...                                                                                                          
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE hsptp...                                                                                                    
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID  ...                                                                                     
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Broken' ...             
    and c2.VCODE ='PTP') AS ptp_brkn_count_in,    ...                                                                                                            
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID  ...                                                                                     
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Broken' ...             
    and c2.VCODE ='PTP') AS ptp_brkn_amount_in,...                                                                                                               
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Kept' ...                 
    and c2.VCODE ='PTP') AS ptp_kept_count_for,    ...                                                                                                           
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Kept' ...                 
    and c2.VCODE ='PTP') AS ptp_kept_amount_for,    ...                                                                                                          
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Broken' ...               
    and c2.VCODE ='PTP') AS ptp_brkn_count_for,    ...                                                                                                           
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and hsptp.VSTATUS ='Broken' ...               
    and c2.VCODE ='PTP') AS ptp_brkn_amount_for,    ...                                                                                                          
...                                                                                                                                                              
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and ISNULL( hsptp.VSTATUS,1) <> 'CANCELLED...
    and  c2.VCODE ='ARR')  AS arr_count,    ...                                                                                                                  
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and ISNULL( hsptp.VSTATUS,1) <> 'CANCELLED...
    and c2.VCODE ='ARR') AS arr_amount,    ...                                                                                                                   
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Kept' ...             
    and c2.VCODE ='ARR') AS arr_kept_count_in,    ...                                                                                                            
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Kept' ...             
    and c2.VCODE ='ARR') AS arr_kept_amount_in,    ...                                                                                                           
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Broken' ...           
    and c2.VCODE ='ARR') AS arr_brkn_count_in,    ...                                                                                                            
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT(hsptp.DUPDATED_DATE,'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Broken' ...           
    and c2.VCODE ='ARR')  AS arr_brkn_amount_in,...                                                                                                              
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Kept' ...               
    and  c2.VCODE ='ARR') AS arr_kept_count_for,    ...                                                                                                          
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Kept' ...               
    and c2.VCODE ='ARR') AS arr_kept_amount_for,    ...                                                                                                          
(select count(*) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                                   
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Broken' ...             
    and  c2.VCODE ='ARR') AS arr_brkn_count_for,    ...                                                                                                          
(select ISNULL(sum(DAMOUNT),0) from TBL_C_A_ACTION_HISTORY_PROMISE  hsptp...                                                                                     
      left join TBL_C_SET_ACTION_CATEGORY2 c2 on c2.IID = hsptp.ICAT2ID ...                                                                                      
    where  hsptp.ILOAN_MASTER_ID=ILOAN_MASTER_ID  and FORMAT (hsptp.DDATETIME, 'MMM-yyyy')=  @SYSTEM_RUN_MONTH_YEAR and  hsptp.VSTATUS ='Broken' ...             
    and  c2.VCODE ='ARR')  AS arr_brkn_amount_for,...                                                                                                            
IBRANCH_ID,...                                                                                                                                                   
DCLOSE_DATE...                                                                                                                                                   
	...                                                                                                                                                             
...                                                                                                                                                              
FROM(...                                                                                                                                                         
	SELECT...                                                                                                                                                       
	lm.VCONTRACT_NO,lm.IID,lm.DACC_OPEN_DATE,lm.DCLOSE_DATE,lm.ILOAN_AMOUNT,lm.IPRODUCT_ID,lm.ISUB_PRODUCT_ID,...                                                   
	lp.VNAME AS lpname,lm.IBRANCH_ID,lm.DLOAN_APPLY_DTE,p.VNAME,dl.IID AS DLIID,...                                                                                 
	[dbo].[IS_DPD_MIN_DATE](ILOAN_MASTER_ID ,  @SYSTEM_RUN_MONTH_YEAR) min_date,...                                                                                 
    [dbo].[IS_DPD_MIN_DATE](ILOAN_MASTER_ID , @SYSTEM_RUN_MONTH_YEAR ) max_date,...                                                                              
	[dbo].[IS_CAMP_MAX_DATE](ILOAN_MASTER_ID , @SYSTEM_RUN_MONTH_YEAR) camp_max_date,...                                                                            
	[dbo].[IS_CAMP_MIN_DATE](ILOAN_MASTER_ID , @SYSTEM_RUN_MONTH_YEAR) camp_min_date...                                                                             
	...                                                                                                                                                             
	...                                                                                                                                                             
	FROM...                                                                                                                                                         
    TBL_C_M_DELINQUENCY dl...                                                                                                                                    
	inner join TBL_C_M_LOAN_MASTER lm on lm.IID = dl.ILOAN_MASTER_ID...                                                                                             
	inner join TBL_C_SET_PRODUCT lp on lp.IID = lm.IPRODUCT_ID ...                                                                                                  
	inner join TBL_C_SET_SUB_PRODUCT p on p.IPRODUCTID = lp.IID...                                                                                                  
	AND dl.iactioned=1)J...                                                                                                                                         
) t...                                                                                                                                                           
) stg...                                                                                                                                                         
...                                                                                                                                                              
ON (stg.REC_ID=bn.REC_ID)...                                                                                                                                     
 WHEN MATCHED THEN...                                                                                                                                            
 UPDATE SET  ...                                                                                                                                                 
...                                                                                                                                                              
	bn.YEAR = stg.YEAR, ...                                                                                                                                         
	bn.MONTH = stg.MONTH, ...                                                                                                                                       
	bn.CONTRACT_NO = stg.VCONTRACT_NO, ...                                                                                                                          
	bn.LOANMASTER_ID = stg.ILOAN_MASTER_ID,...                                                                                                                      
    bn.ME_USERNAME = stg.ME_USERNAME,...                                                                                                                         
    bn.ME_AD = stg.ME_AD,...                                                                                                                                     
    bn.MONTH_START_STATUS = stg.MONTH_START_STATUS,...                                                                                                           
    bn.MONTH_END_STATUS = stg.MONTH_END_STATUS,...                                                                                                               
    bn.LOAN_EXPIRE_DATE = stg.DCLOSE_DATE,...                                                                                                                    
    bn.LOAN_START_DATE = stg.DLOAN_APPLY_DTE,...                                                                                                                 
    bn.LOAN_AMOUNT = stg.LOAN_AMOUNT,...                                                                                                                         
    bn.PRODUCT_ID = stg.PRODUCT_ID,...                                                                                                                           
	bn.PRODUCT_NAME = stg.PRODUCT_NAME,...                                                                                                                          
    bn.LOAN_PRODUCT_ID = stg.LOAN_PRODUCT_ID,...                                                                                                                 
	bn.LOAN_PRODUCT_NAME = stg.LOAN_PRODUCT_NAME,...                                                                                                                
    bn.IMONTHSTARTOS = stg.IMONTHSTARTOS,...                                                                                                                     
    bn.IMONTHMAXOS = stg.IMONTHMAXOS,...                                                                                                                         
    bn.IMONTHENDOS = stg.IMONTHENDOS,...                                                                                                                         
    bn.IMONTHSTARTMINARR = stg.IMONTHSTARTMINARR,...                                                                                                             
    bn.IMONTHMAXMINARR = stg.IMONTHMAXMINARR,...                                                                                                                 
    bn.IMONTHENDMINARR = stg.IMONTHENDMINARR,        ...                                                                                                         
    bn.MONTH_START_DPD_DATE = stg.MONTH_START_DPD_DATE,...                                                                                                       
    bn.MONTH_START_DPD = stg.MONTH_START_DPD,    ...                                                                                                             
	bn.MONTH_MAX_DPD = stg.MONTH_MAX_DPD,...                                                                                                                        
    bn.MONTH_END_DPD_DATE = stg.MONTH_END_DPD_DATE,...                                                                                                           
	bn.MONTH_END_DPD = stg.MONTH_END_DPD,...                                                                                                                        
    bn.MONTH_START_ARR = stg.MONTH_START_ARR, ...                                                                                                                
	bn.MONTH_MAX_ARR = stg.MONTH_MAX_ARR, ...                                                                                                                       
	bn.MONTH_END_ARR = stg.MONTH_END_ARR,...                                                                                                                        
	bn.CAMPAIGN_START = stg.CAMPAIGN_START, ...                                                                                                                     
	bn.CAMPAIGN_END = stg.CAMPAIGN_END,...                                                                                                                          
	bn.BUCKET_START = stg.BUCKET_START, ...                                                                                                                         
	bn.BUCKET_END = stg.BUCKET_END,...                                                                                                                              
    bn.MONTH_START_BALANCE = stg.MONTH_START_BALANCE,...                                                                                                         
    bn.MONTH_END_BALANCE = stg.MONTH_END_BALANCE,...                                                                                                             
	bn.MONTH_TOTAL_PAYMENT = stg.MONTH_TOTAL_PAYMENT, ...                                                                                                           
	bn.MONTH_ACTIONS = stg.act_count, ...                                                                                                                           
	bn.MONTH_ACCESS = stg.access_count,...                                                                                                                          
    bn.MONTH_CALL_COUNT = stg.call_count,...                                                                                                                     
	bn.MONTH_RPC = stg.rpc_count, ...                                                                                                                               
	bn.MONTH_NRPC = stg.nrpc_count,...                                                                                                                              
    bn.MONTH_FIELD_VISITS = stg.fv_count,...                                                                                                                     
	bn.MONTH_PTP_COUNT = stg.ptp_count, ...                                                                                                                         
	bn.MONTH_PTP_AMOUNT = stg.ptp_amount,    ...                                                                                                                    
	bn.PTP_KEPT_COUNT_IN_MONTH = stg.ptp_kept_count_in, ...                                                                                                         
	bn.PTP_KEPT_AMOUNT_IN_MONTH = stg.ptp_kept_amount_in, ...                                                                                                       
	bn.PTP_BROKEN_COUNT_IN_MONTH = stg.ptp_brkn_count_in, ...                                                                                                       
	bn.PTP_BROKEN_AMOUNT_IN_MONTH = stg.ptp_brkn_amount_in,    ...                                                                                                  
	bn.PTP_KEPT_COUNT_FOR_MONTH = stg.ptp_kept_count_for, ...                                                                                                       
	bn.PTP_KEPT_AMOUNT_FOR_MONTH = stg.ptp_kept_amount_for, ...                                                                                                     
	bn.PTP_BROKEN_COUNT_FOR_MONTH = stg.ptp_brkn_count_for, ...                                                                                                     
	bn.PTP_BROKEN_AMOUNT_FOR_MONTH = stg.ptp_brkn_amount_for,    ...                                                                                                
	bn.MONTH_ARR_COUNT = stg.arr_count, ...                                                                                                                         
	bn.MONTH_ARR_AMOUNT = stg.arr_amount,    ...                                                                                                                    
	bn.ARR_KEPT_COUNT_IN_MONTH = stg.arr_kept_count_in, ...                                                                                                         
	bn.ARR_KEPT_AMOUNT_IN_MONTH = stg.arr_kept_amount_in, ...                                                                                                       
	bn.ARR_BROKEN_COUNT_IN_MONTH = stg.arr_brkn_count_in, ...                                                                                                       
	bn.ARR_BROKEN_AMOUNT_IN_MONTH = stg.arr_brkn_amount_in,    ...                                                                                                  
	bn.ARR_KEPT_COUNT_FOR_MONTH = stg.arr_kept_count_for, ...                                                                                                       
	bn.ARR_KEPT_AMOUNT_FOR_MONTH = stg.arr_kept_amount_for, ...                                                                                                     
	bn.ARR_BROKEN_COUNT_FOR_MONTH = stg.arr_brkn_count_for, ...                                                                                                     
	bn.ARR_BROKEN_AMOUNT_FOR_MONTH = stg.arr_brkn_amount_for,...                                                                                                    
    bn.BRANCH_ID = stg.IBRANCH_ID,...                                                                                                                            
	bn.UPDATED_DATE = GETDATE(),...                                                                                                                                 
    bn.RUN_DATE = GETDATE()...                                                                                                                                   
...                                                                                                                                                              
 WHEN NOT MATCHED THEN...                                                                                                                                        
 INSERT (...                                                                                                                                                     
	REC_ID, ...                                                                                                                                                     
	YEAR, ...                                                                                                                                                       
	MONTH, ...                                                                                                                                                      
	CONTRACT_NO, ...                                                                                                                                                
	LOANMASTER_ID,...                                                                                                                                               
    ME_USERNAME,...                                                                                                                                              
    ME_AD,...                                                                                                                                                    
    MONTH_START_STATUS,...                                                                                                                                       
    MONTH_END_STATUS,...                                                                                                                                         
    LOAN_EXPIRE_DATE,    ...                                                                                                                                     
    LOAN_START_DATE,...                                                                                                                                          
    LOAN_AMOUNT,...                                                                                                                                              
    PRODUCT_ID,...                                                                                                                                               
	PRODUCT_NAME,...                                                                                                                                                
    LOAN_PRODUCT_ID,...                                                                                                                                          
	LOAN_PRODUCT_NAME,...                                                                                                                                           
	IMONTHSTARTOS,...                                                                                                                                               
	IMONTHMAXOS,...                                                                                                                                                 
	IMONTHENDOS,...                                                                                                                                                 
	IMONTHSTARTMINARR,...                                                                                                                                           
	IMONTHMAXMINARR,...                                                                                                                                             
	IMONTHENDMINARR,  ...                                                                                                                                           
    MONTH_START_DPD_DATE,...                                                                                                                                     
    MONTH_START_DPD,...                                                                                                                                          
	MONTH_MAX_DPD,...                                                                                                                                               
    MONTH_END_DPD_DATE,...                                                                                                                                       
	MONTH_END_DPD,...                                                                                                                                               
    MONTH_START_ARR, ...                                                                                                                                         
	MONTH_MAX_ARR, ...                                                                                                                                              
	MONTH_END_ARR,...                                                                                                                                               
	CAMPAIGN_START, ...                                                                                                                                             
	CAMPAIGN_END,...                                                                                                                                                
	BUCKET_START, ...                                                                                                                                               
	BUCKET_END,...                                                                                                                                                  
    MONTH_START_BALANCE,...                                                                                                                                      
    MONTH_END_BALANCE,...                                                                                                                                        
	MONTH_TOTAL_PAYMENT, ...                                                                                                                                        
	MONTH_ACTIONS, ...                                                                                                                                              
	MONTH_ACCESS,...                                                                                                                                                
    MONTH_CALL_COUNT,...                                                                                                                                         
	MONTH_RPC, ...                                                                                                                                                  
	MONTH_NRPC,...                                                                                                                                                  
    MONTH_FIELD_VISITS,...                                                                                                                                       
	MONTH_PTP_COUNT, ...                                                                                                                                            
	MONTH_PTP_AMOUNT, ...                                                                                                                                           
	PTP_KEPT_COUNT_IN_MONTH, ...                                                                                                                                    
	PTP_KEPT_AMOUNT_IN_MONTH, ...                                                                                                                                   
	PTP_BROKEN_COUNT_IN_MONTH, ...                                                                                                                                  
	PTP_BROKEN_AMOUNT_IN_MONTH,    ...                                                                                                                              
	PTP_KEPT_COUNT_FOR_MONTH, ...                                                                                                                                   
	PTP_KEPT_AMOUNT_FOR_MONTH, ...                                                                                                                                  
	PTP_BROKEN_COUNT_FOR_MONTH, ...                                                                                                                                 
	PTP_BROKEN_AMOUNT_FOR_MONTH,    ...                                                                                                                             
	MONTH_ARR_COUNT, ...                                                                                                                                            
	MONTH_ARR_AMOUNT, ...                                                                                                                                           
	ARR_KEPT_COUNT_IN_MONTH, ...                                                                                                                                    
	ARR_KEPT_AMOUNT_IN_MONTH, ...                                                                                                                                   
	ARR_BROKEN_COUNT_IN_MONTH, ...                                                                                                                                  
	ARR_BROKEN_AMOUNT_IN_MONTH,...                                                                                                                                  
	ARR_KEPT_COUNT_FOR_MONTH, ...                                                                                                                                   
	ARR_KEPT_AMOUNT_FOR_MONTH, ...                                                                                                                                  
	ARR_BROKEN_COUNT_FOR_MONTH, ...                                                                                                                                 
	ARR_BROKEN_AMOUNT_FOR_MONTH,...                                                                                                                                 
    BRANCH_ID,...                                                                                                                                                
    RUN_DATE,...                                                                                                                                                 
	CREATED_DATE...                                                                                                                                                 
        )...                                                                                                                                                     
        VALUES...                                                                                                                                                
        (...                                                                                                                                                     
    stg.REC_ID,...                                                                                                                                               
    stg.YEAR,...                                                                                                                                                 
    stg.MONTH,...                                                                                                                                                
    stg.VCONTRACT_NO,...                                                                                                                                         
    stg.ILOAN_MASTER_ID,...                                                                                                                                      
    stg.ME_USERNAME,...                                                                                                                                          
    stg.ME_AD,...                                                                                                                                                
    stg.MONTH_START_STATUS,...                                                                                                                                   
    stg.MONTH_END_STATUS,...                                                                                                                                     
    stg.DCLOSE_DATE,    ...                                                                                                                                      
    stg.DLOAN_APPLY_DTE,...                                                                                                                                      
    stg.LOAN_AMOUNT,...                                                                                                                                          
    stg.PRODUCT_ID,...                                                                                                                                           
    stg.PRODUCT_NAME,...                                                                                                                                         
    stg.LOAN_PRODUCT_ID,...                                                                                                                                      
    stg.LOAN_PRODUCT_NAME,...                                                                                                                                    
    stg.IMONTHSTARTOS,...                                                                                                                                        
    stg.IMONTHMAXOS,...                                                                                                                                          
    stg.IMONTHENDOS,...                                                                                                                                          
    stg.IMONTHSTARTMINARR,...                                                                                                                                    
    stg.IMONTHMAXMINARR,...                                                                                                                                      
    stg.IMONTHENDMINARR,   ...                                                                                                                                   
    stg.MONTH_START_DPD_DATE,...                                                                                                                                 
    stg.MONTH_START_DPD,...                                                                                                                                      
    stg.MONTH_MAX_DPD,...                                                                                                                                        
    stg.MONTH_END_DPD_DATE,...                                                                                                                                   
    stg.MONTH_END_DPD,...                                                                                                                                        
    stg.MONTH_START_ARR,...                                                                                                                                      
    stg.MONTH_MAX_ARR,...                                                                                                                                        
    stg.MONTH_END_ARR,...                                                                                                                                        
    stg.campaign_start,...                                                                                                                                       
    stg.campaign_end,...                                                                                                                                         
    stg.BUCKET_START,...                                                                                                                                         
    stg.BUCKET_END,      ...                                                                                                                                     
    stg.MONTH_START_BALANCE,...                                                                                                                                  
    stg.MONTH_END_BALANCE,...                                                                                                                                    
    stg.MONTH_TOTAL_PAYMENT,...                                                                                                                                  
    stg.act_count,...                                                                                                                                            
    stg.access_count,...                                                                                                                                         
    stg.call_count,...                                                                                                                                           
    stg.rpc_count,...                                                                                                                                            
    stg.nrpc_count,...                                                                                                                                           
    stg.fv_count,...                                                                                                                                             
    stg.ptp_count,...                                                                                                                                            
    stg.ptp_amount,...                                                                                                                                           
	stg.ptp_kept_count_in, ...                                                                                                                                      
	stg.ptp_kept_amount_in, ...                                                                                                                                     
	stg.ptp_brkn_count_in, ...                                                                                                                                      
	stg.ptp_brkn_amount_in,    ...                                                                                                                                  
	stg.ptp_kept_count_for, ...                                                                                                                                     
	stg.ptp_kept_amount_for, ...                                                                                                                                    
	stg.ptp_brkn_count_for, ...                                                                                                                                     
	stg.ptp_brkn_amount_for,  ...                                                                                                                                   
    stg.arr_count,...                                                                                                                                            
    stg.arr_amount,...                                                                                                                                           
	stg.arr_kept_count_in, ...                                                                                                                                      
	stg.arr_kept_amount_in, ...                                                                                                                                     
	stg.arr_brkn_count_in, ...                                                                                                                                      
	stg.arr_brkn_amount_in,    ...                                                                                                                                  
	stg.arr_kept_count_for, ...                                                                                                                                     
	stg.arr_kept_amount_for, ...                                                                                                                                    
	stg.arr_brkn_count_for, ...                                                                                                                                     
	stg.arr_brkn_amount_for,...                                                                                                                                     
    stg.IBRANCH_ID,...                                                                                                                                           
    GETDATE(),...                                                                                                                                                
    GETDATE()...                                                                                                                                                 
        );...                                                                                                                                                    
...                                                                                                                                                              
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                                                         
...                                                                                                                                                              
 COMMIT;...                                                                                                                                                      
...                                                                                                                                                              
/* Update Process Status Log- Reporting Successful Completion */...                                                                                              
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                                                              
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                                                                
        DENDTIM=GETDATE(),...                                                                                                                                    
        VCOMMENTS='   COM_MGR_MOVABLE_INFO  Completed Successfully !'...                                                                                         
WHERE   IID= @var_ProcessStatusID;...                                                                                                                            
...                                                                                                                                                              
COMMIT;...                                                                                                                                                       
...                                                                                                                                                              
--END TRY...                                                                                                                                                     
...                                                                                                                                                              
...                                                                                                                                                              
--BEGIN CATCH...                                                                                                                                                 
...                                                                                                                                                              
  --   SELECT @IsERROR =1,...                                                                                                                                    
	 --@Error_Message=ERROR_MESSAGE(),...                                                                                                                           
  --   @ERROR_LINE = ERROR_LINE();...                                                                                                                            
  -- ------------------------------------------------------------------------------------------------*...                                                        
...                                                                                                                                                              
      /* Add row to Process Status Log- Indcating Error occured */...                                                                                            
      --UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                                                  
      --    SET     IROWSTOBEPROCESSED=0,...                                                                                                                     
      --            DENDTIM=GETDATE(),...                                                                                                                        
      --            VCOMMENTS='P_MONTH_SUMMARY_REPORT  Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !'...                               
      --    WHERE   IID= @var_ProcessStatusID;...                                                                                                                
...                                                                                                                                                              
      /* Log error Information in TBL_ERROR_LOG */...                                                                                                            
...                                                                                                                                                              
                   -- INSERT INTO TBL_C_LOG_ERROR_DB...                                                                                                          
                   -- (...                                                                                                                                       
                   -- IID,...                                                                                                                                    
                   -- VITEMNAME,...                                                                                                                              
                   -- VERROR_MESSAGE,...                                                                                                                         
                   -- DPOSTDATETIME,...                                                                                                                          
                   -- ICREATEDBY...                                                                                                                              
...                                                                                                                                                              
                   -- )...                                                                                                                                       
                   --SELECT...                                                                                                                                   
                   --NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                                                            
                   --' P_MONTH_SUMMARY_REPORT_COMM ',...                                                                                                         
                   --@Error_Message+'line '+@ERROR_LINE,...                                                                                                      
                   --GETDATE(),...                                                                                                                               
                   --@para_UserID ...                                                                                                                            
                   --;...                                                                                                                                        
...                                                                                                                                                              
    --END CATCH...                                                                                                                                               
END;...                                                                                                                                                          
...                                                                                                                                                              


