
Text                                                                 
----                                                                 
-- =============================================...                  
-- Author:		<Author,,Name>...                                        
-- Create date: <Create Date,,>...                                   
-- Description:	<Description,,>...                                   
-- =============================================...                  
CREATE PROCEDURE P_TBL_C_M_SECURITY_DETAILS...                       
AS...                                                                
BEGIN...                                                             
DECLARE ...                                                          
		@iloanMasterId		NUMERIC(20,0)...                                   
		DECLARE cur CURSOR LOCAL FAST_FORWARD FOR...                       
		SELECT lm.iid ...                                                  
		FROM TBL_C_M_LOAN_MASTER lm ...                                    
			INNER JOIN TBL_C_M_DELINQUENCY dl ON lm.IID = dl.ILOAN_MASTER_I...
		WHERE dl.IACTIONED = 1...                                          
			AND lm.IPRODUCT_ID IN (1,3,5,6)...                                
...                                                                  
		OPEN cur...                                                        
		FETCH NEXT FROM cur...                                             
		INTO  @iloanMasterId  ...                                          
...                                                                  
		WHILE @@FETCH_STATUS = 0...                                        
		BEGIN /* Begin of While loop */ ...                                
				...                                                              
			--SET @iloanMasterId			= NULL;...                                 
			--PRINT @iloanMasterId;...                                        
...                                                                  
...                                                                  
			INSERT INTO [dbo].[TBL_C_M_SECURITY_DETAILS](...                  
				REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...            
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, LOANMASTER_ID)...                                  
			(SELECT REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...     
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, @iloanMasterId...                                  
			FROM [dbo].[TBL_C_M_SECURITY_DETAILS1]...                         
			WHERE iid = (SELECT FLOOR(RAND()*(6304-1+1))+1));...              
...                                                                  
			INSERT INTO [dbo].[TBL_C_M_SECURITY_DETAILS](...                  
				REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...            
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, LOANMASTER_ID)...                                  
			(SELECT REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...     
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, @iloanMasterId...                                  
			FROM [dbo].[TBL_C_M_SECURITY_DETAILS2]...                         
			WHERE iid = (SELECT FLOOR(RAND()*(12608-6305+1))+6305));...       
...                                                                  
...                                                                  
			INSERT INTO [dbo].[TBL_C_M_SECURITY_DETAILS](...                  
				REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...            
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, LOANMASTER_ID)...                                  
			(SELECT REG_NO, CR_BOOK_N0, [SECURITY] ,CHASSIS_NO, COLOR,...     
				ENGINE_NO, EQUIP_TYPE, MAKE, MODEL, FACILITY_TYPE,...            
				AGREEMENT_NO, @iloanMasterId...                                  
			FROM [dbo].[TBL_C_M_SECURITY_DETAILS3]...                         
			WHERE iid = (SELECT FLOOR(RAND()*(18913-12609+1))+12609));...     
			...                                                               
...                                                                  
...                                                                  
...                                                                  
...                                                                  
...                                                                  
			FETCH NEXT FROM cur...                                            
				INTO @iloanMasterId...                                           
		END...                                                             
		CLOSE onhold_cur...                                                
		DEALLOCATE onhold_cur...                                           
END...                                                               


