
Text                                                                                                                                                                                           
----                                                                                                                                                                                           
CREATE PROCEDURE [dbo].[p_unit_dashboard_w2](@fromDate VARCHAR(10), @toDate VARCHAR(10), @unitId NUMERIC, @loggedUserId NUMERIC)...                                                            
AS...                                                                                                                                                                                          
BEGIN ...                                                                                                                                                                                      
DECLARE...                                                                                                                                                                                     
	@v_fromDate				DATE,...                                                                                                                                                                       
	@v_toDate				DATE,...                                                                                                                                                                         
	@v_unitId				NUMERIC;...                                                                                                                                                                      
...                                                                                                                                                                                            
	SET @v_fromDate = CONVERT(DATE, @fromDate, 121);...                                                                                                                                           
	SET @v_toDate = CONVERT(DATE, @toDate, 121);...                                                                                                                                               
	SET @v_unitId = @unitId;...                                                                                                                                                                   
...                                                                                                                                                                                            
	PRINT '01';...                                                                                                                                                                                
...                                                                                                                                                                                            
	IF(@unitId = 0 OR @unitId IS NULL)...                                                                                                                                                         
	BEGIN...                                                                                                                                                                                      
		PRINT '02';...                                                                                                                                                                               
		SELECT @v_unitId = up.iunitid ...                                                                                                                                                            
		FROM tbl_user_profile up...                                                                                                                                                                  
		WHERE up.iuserid = @loggedUserId;...                                                                                                                                                         
		PRINT '03';...                                                                                                                                                                               
	END;...                                                                                                                                                                                       
...                                                                                                                                                                                            
	--SET @v_unitId = @loggedUserId;...                                                                                                                                                           
...                                                                                                                                                                                            
	PRINT '04';...                                                                                                                                                                                
	PRINT @v_unitId;...                                                                                                                                                                           
...                                                                                                                                                                                            
		WITH users AS...                                                                                                                                                                             
	(...                                                                                                                                                                                          
		SELECT u.* ...                                                                                                                                                                               
		FROM tbl_users u ...                                                                                                                                                                         
			LEFT JOIN tbl_user_profile up ON u.iid = up.iuserid...                                                                                                                                      
		WHERE up.iunitid = 2...                                                                                                                                                                      
	),...                                                                                                                                                                                         
	...                                                                                                                                                                                           
	...                                                                                                                                                                                           
	summary AS...                                                                                                                                                                                 
	(SELECT ...                                                                                                                                                                                   
	--hp.*, --commented on 13/6/23...                                                                                                                                                             
	aa.iuser_id,--added on 13/6/23...                                                                                                                                                             
	hp.damount,...                                                                                                                                                                                
	aa.ihist_id,...                                                                                                                                                                               
	CAST(aa.iaccess_time AS DATE) AS iaccess_time, hp.iid AS hist_id, ISNULL(aa.rpc, 0) rpc, ISNULL(aa.nrpc, 0) nrpc,...                                                                          
		aa.vremarks, aa.icall_count, aa.rpc_type, aa.exp_type, aa.iall_action...                                                                                                                     
	FROM tbl_c_a_agent_action aa...                                                                                                                                                               
		INNER JOIN tbl_c_m_loan_master lm ON aa.ILOAN_MASTER_ID = lm.iid...                                                                                                                          
		--INNER JOIN tbl_c_a_action_history_promise hp ON lm.iid = hp.iloan_master_id AND aa.ihist_id = aa.ihist_id  --commented on 13/6/23...                                                       
		LEFT  JOIN tbl_c_a_action_history_promise hp ON hp.iloan_master_id=lm.iid  AND aa.ihist_id = aa.ihist_id AND aa.iuser_id=hp.iuser_id--added on 13/6/23...                                    
		LEFT JOIN tbl_c_set_action_category2 ac2 ON ac2.iid = hp.icat2id...                                                                                                                          
		LEFT JOIN tbl_user_profile up ON up.iuserid = aa.iuser_id...                                                                                                                                 
		LEFT JOIN tbl_users u ON up.iuserid = u.iid AND aa.iuser_id = u.iid...                                                                                                                       
	WHERE u.iid IN (SELECT u.iid FROM users u))...                                                                                                                                                
...                                                                                                                                                                                            
...                                                                                                                                                                                            
...                                                                                                                                                                                            
	SELECT a.*, ...                                                                                                                                                                               
		((CAST(a.ptp_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) ptp_per,...                                                                                                             
		((CAST(a.arr_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) arr_per,...                                                                                                             
		((CAST(a.cbl_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) cbl_per,...                                                                                                             
		((CAST(a.oh_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) oh_per,...                                                                                                               
		((CAST(a.oth_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) oth_per,...                                                                                                             
		((CAST(a.extra_count AS FLOAT) / CAST(a.total_format AS FLOAT)) * 100) extra_per...                                                                                                          
	FROM(...                                                                                                                                                                                      
	SELECT...                                                                                                                                                                                     
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'PTP' AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS p...
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'ARR' AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS a...
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'CBL' AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS c...
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'OH' AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS oh...
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'OTH' AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS o...
		(SELECT COUNT(rpc_type) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH') OR rpc_type IS NULL AND ihist_id IS NOT N...
		(SELECT COUNT(*) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS total,...                       
		(SELECT NULLIF(COUNT(*), 0) FROM summary WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND ihist_id IS NOT NULL AND iuser_id IN (SELECT u.iid FROM users u )) AS total_format) a...   
		--(SELECT COUNT(*) FROM summary WHERE rpc_type = 'PTP') AS ptp_count,...                                                                                                                     
		--(SELECT COUNT(*) FROM summary WHERE rpc_type = 'ARR') AS arr_count,...                                                                                                                     
		--(SELECT COUNT(*) FROM summary WHERE rpc_type = 'CBL') AS cbl_count,...                                                                                                                     
		--(SELECT COUNT(*) FROM summary WHERE rpc_type = 'OH') AS oh_count,...                                                                                                                       
		--(SELECT COUNT(*) FROM summary WHERE rpc_type = 'OTH') AS oth_count,...                                                                                                                     
		----(SELECT COUNT(*) FROM summary WHERE rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH')) AS extra_count,...                                                                               
	 --   (SELECT COUNT(*) FROM summary WHERE rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH')OR rpc_type IS NULL) AS extra_count,...                                                           
		...                                                                                                                                                                                          
...                                                                                                                                                                                            
END;                                                                                                                                                                                           


