
Text                                                                                                                                                         
----                                                                                                                                                         
...                                                                                                                                                          
CREATE PROCEDURE [dbo].[pb_dashboard_w3](@branchId VARCHAR(MAX), @regionId VARCHAR(MAX), @month VARCHAR(20),@product VARCHAR(MAX),@subproduct VARCHAR(MAX)...
AS...                                                                                                                                                        
BEGIN ...                                                                                                                                                    
DECLARE...                                                                                                                                                   
...                                                                                                                                                          
	@v_branchId			VARCHAR(MAX),...                                                                                                                              
	@v_regionId			VARCHAR(MAX),...                                                                                                                              
	@v_month			VARCHAR(20),...                                                                                                                                  
	@v_year				INT,...                                                                                                                                          
    @v_monthName		VARCHAR(20),...                                                                                                                            
	@v_product			VARCHAR(MAX),...                                                                                                                               
	@v_subproduct			VARCHAR(MAX);...                                                                                                                            
...                                                                                                                                                          
	SET @v_branchId = @branchId;...                                                                                                                             
	SET @v_regionId = @regionId;...                                                                                                                             
	SET @v_month = @month;...                                                                                                                                   
	SET @v_product=@product;...                                                                                                                                 
	SET @v_subproduct=@subproduct;...                                                                                                                           
...                                                                                                                                                          
	SET NOCOUNT ON;...                                                                                                                                          
	...                                                                                                                                                         
WITH summary AS...                                                                                                                                           
(...                                                                                                                                                         
    SELECT ...                                                                                                                                               
        lm.VCONTRACT_NO AS contractno,...                                                                                                                    
        su.IMONTHENDOS AS totos,...                                                                                                                          
        lm.IPRODUCT_ID AS product,...                                                                                                                        
        lm.IBENTITY_ID AS branchid,...                                                                                                                       
        bs.IREGIONID AS regionid,...                                                                                                                         
        p.VNAME as productname,...                                                                                                                           
        lm.ISUB_PRODUCT_ID as subproductid,...                                                                                                               
        CASE WHEN su.NPSTATUS = 'Y' THEN 'Y' ELSE 'N' END as npastatus,...                                                                                   
        su.YEAR AS year,...                                                                                                                                  
        su.MONTH AS month ...                                                                                                                                
    FROM ...                                                                                                                                                 
        TBL_MONTH_SUMMARY su...                                                                                                                              
    JOIN ...                                                                                                                                                 
        TBL_C_M_LOAN_MASTER lm ON su.loanmaster_id = lm.IID...                                                                                               
    JOIN ...                                                                                                                                                 
        TBL_C_SET_BUSINESS_ENTITY bs ON bs.iid = lm.IBENTITY_ID...                                                                                           
    JOIN ...                                                                                                                                                 
        TBL_C_SET_PRODUCT p ON P.IID = lm.IPRODUCT_ID...                                                                                                     
    WHERE ...                                                                                                                                                
        su.MONTH_END_DPD_DATE BETWEEN DATEADD(MONTH, -7, DATEADD(DAY, 1, EOMONTH(GETDATE()))) AND CAST(DATEADD(month, -1, GETDATE())AS DATE)...              
        AND su.NPSTATUS = 'Y'...                                                                                                                             
)...                                                                                                                                                         
...                                                                                                                                                          
...                                                                                                                                                          
...                                                                                                                                                          
SELECT ...                                                                                                                                                   
	product,...                                                                                                                                                 
	productname,...                                                                                                                                             
    COUNT(contractno) AS totalContCount,...                                                                                                                  
	month,...                                                                                                                                                   
	year...                                                                                                                                                     
FROM ...                                                                                                                                                     
    summary ...                                                                                                                                              
WHERE ...                                                                                                                                                    
    (branchid IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')  ...                                         
    AND (regionid IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '')...                                       
	AND (product IN (SELECT VALUE FROM string_split(@v_product, ',')) OR @v_product IS NULL OR @v_product = '')...                                              
	AND (subproductid IN (SELECT VALUE FROM string_split(@v_subproduct, ',')) OR @v_subproduct IS NULL OR @v_subproduct = '')...                                
GROUP BY ...                                                                                                                                                 
    month,...                                                                                                                                                
	product,...                                                                                                                                                 
	productname,...                                                                                                                                             
	year;...                                                                                                                                                    
...                                                                                                                                                          
...                                                                                                                                                          
END;                                                                                                                                                         


