
Text                                                                                          
----                                                                                          
...                                                                                           
  ...                                                                                         
CREATE FUNCTION [dbo].[IS_CAMP_MAX_DATE] (@Loan_Master_ID NUMERIC,@Mon VARCHAR(20))        ...
    RETURNS DATE ...                                                                          
AS...                                                                                         
    BEGIN ...                                                                                 
      DECLARE ...                                                                             
        @MAXDate DATE...                                                                      
...                                                                                           
        SELECT @MAXDate = max(convert(date,ca2.DDATE_TIME))...                                
        from TBL_C_CAMP_CAMPAIGN_ACCOUNTS ca2...                                              
        where ca2.ILOAN_MASTER_ID = @Loan_Master_ID...                                        
        --and convert(varchar(7), ca2.DDATE_TIME, 126) = @Mon;...                             
			and FORMAT(ca2.DDATE_TIME, 'MMM-yyyy') = @Mon;...                                          
...                                                                                           
      RETURN @MAXDate;...                                                                     
  END...                                                                                      


