
Text                                                                                         
----                                                                                         
...                                                                                          
  ...                                                                                        
CREATE FUNCTION [dbo].[IS_DPD_MIN_DATE] (@Loan_Master_ID NUMERIC,@Mon VARCHAR(20))        ...
    RETURNS DATE ...                                                                         
AS...                                                                                        
    BEGIN ...                                                                                
      DECLARE ...                                                                            
        @MinDate DATE...                                                                     
...                                                                                          
        SELECT @MinDate = min(convert(date,d.DSNAPSHOT_DATE))...                             
        from TBL_C_M_DELINQUENCY d...                                                        
        where d.ILOAN_MASTER_ID = @Loan_Master_ID...                                         
        --and convert(varchar(7), d.DSNAPSHOT_DATE, 126) = @Mon;...                          
			AND  FORMAT( d.DSNAPSHOT_DATE, 'MMM-yyyy') = @Mon;...                                     
      RETURN @MinDate;...                                                                    
  END...                                                                                     
  ...                                                                                        
  ...                                                                                        


