CREATE TABLE fact$ (
    IPRODUCT_ID float,
    ISUB_PRODUCT_ID nvarchar(255),
    ISUBTYPE_ID nvarchar(255),
    IBENTITY_ID float,
    IBRANCH_ID float,
    VCURRENCY nvarchar(255),
    ISEQ nvarchar(255),
    IREC_ACCOUNT_ID nvarchar(255),
    ISAV_ACCOUNT_ID nvarchar(255),
    VACCOUNT_NO nvarchar(255),
    VACCOUNT_SUB_NO float,
    IPRIMARY_CUSTORMER_ID nvarchar(255),
    ISECONDARY_CUSTORMER_ID nvarchar(255),
    VCONTRACT_NO float,
    VOLD_CONTRACT_NO float,
    VLOT_ISSUED nvarchar(255),
    DLOAN_APPLY_AMT nvarchar(255),
    DLOAN_APPLY_DTE nvarchar(255),
    DLOAN_APPROVE_DTE nvarchar(255),
    DLOAN_APPROVE_AMT float,
    DACC_OPEN_DATE nvarchar(255),
    DLOAN_FIRST_DISBURSE_DTE nvarchar(255),
    DMAT_DATE nvarchar(255),
    DCLOSE_DATE nvarchar(255),
    ILOAN_TERM float,
    VTERM_TYPE nvarchar(255),
    ILOAN_AMOUNT float,
    ITOTAL_AMOUNT nvarchar(255),
    IINSTALMENT_AMOUNT float,
    VCREDIT_PURPOSE nvarchar(255),
    VLOAN_PAYMT_METHD nvarchar(255),
    VACCOUNT_CLOSED_REASON nvarchar(255),
    DRENT_DUE_DATE nvarchar(255),
    IACCOUNT_ACTIVE nvarchar(255),
    SETTL_ACCT_NO nvarchar(255),
    VLOAN_OWNERSHIP_TYPE nvarchar(255),
    ILOAN_OWNER nvarchar(255),
    VCORE_OWNER nvarchar(255),
    IRNR_OFFICER nvarchar(255),
    IPROV_AMT nvarchar(255),
    DELETE_FLAG nvarchar(255),
    VURL nvarchar(255),
    DATE_CREATED nvarchar(255),
    DATE_LAST_UPDATED nvarchar(255),
    ILASTACTIONUSERID nvarchar(255),
    ILASTACTIONHISTORYID nvarchar(255),
    ILASTACTIONDATE nvarchar(255),
    RESHEDULE_FLAG nvarchar(255),
    NEXT_INSTALLMENT_DATE nvarchar(255),
    NEXT_INSTALLMENT_AMOUNT float,
    NEXT_INSTALLMEN_TYPE float,
    TC_ID nvarchar(255),
    CURRENCY nvarchar(255),
    OFFICE_CODE nvarchar(255),
    DAILY_FACTOR float,
    LATE_FEES float,
    IS_WRITE_OFF nvarchar(255),
    MORATORIUM_FLAG nvarchar(255),
    VNPSTATUS nvarchar(255),
    VVIP_FLAG nvarchar(255),
    TRUE_RATE float,
    SMS_PREF nvarchar(255),
    EMAIL_PREF nvarchar(255),
    LETTER_PREF nvarchar(255),
    IS_WRIRE_OFF nvarchar(255),
    PRINCIPAL nvarchar(255),
    TRAN_DESCRIPTION nvarchar(255),
    MATURITY_PERIOD nvarchar(255),
    REFERENCE_LC nvarchar(255),
    INVOICE_NO nvarchar(255),
    PRODUCT nvarchar(255),
    CIF nvarchar(255),
    CARD_ACC_TYPE nvarchar(255),
    MAS_CARD nvarchar(255),
    ACCOUNT1 nvarchar(255),
    BILLING_CYCLE_CODE nvarchar(255),
    ACC_STATUS nvarchar(255),
    CITIZEN_ID nvarchar(255),
    DIRECT_DEBIT_PYMNT_ACC nvarchar(255),
    PAYMENT_CODE nvarchar(255),
    LAST_PAYMENT nvarchar(255),
    LAST_PAYMENT_DATE nvarchar(255),
    MINIMUM_PAYMENT nvarchar(255),
    EXPIRED_PAYMENTS nvarchar(255),
    APP_APPROVAL_DATE nvarchar(255),
    BRANCH_OFFICE_CODE nvarchar(255),
    FUTURE_PYMNT_DUE_DATE nvarchar(255),
    CARD_STATUS nvarchar(255),
    FIELD4 nvarchar(255),
    VIP_PROFILE nvarchar(255),
    OCCU_CODE nvarchar(255),
    MOTHERS_MAIDEN_NAME nvarchar(255),
    MILITARY_BRANCH nvarchar(255),
    INCOME_1 nvarchar(255),
    INCOME_2 nvarchar(255),
    EMAIL nvarchar(255),
    CLIENT_ID nvarchar(255),
    SCH_NAME nvarchar(255),
    LAST_PAYMENT_AMOUNT nvarchar(255),
    LAST_DUE_DATE nvarchar(255),

);
