CREATE TABLE TBL_C_COMMUNICATION_CONFIG_SUB_TYPE (
    IID numeric NOT NULL(20, 0),
    VTITLE varchar(100),
    VCODE varchar(1000),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
