CREATE TABLE TBL_C_ACCOUNT_VIEW_LOG (
    IID numeric NOT NULL(20, 0),
    IP varchar(500),
    TYPE varchar(500),
    ACCOUNTNO varchar(500),
    USERID varchar(500),
    SECTION varchar(50),
    DATETIME datetime2,

);
