CREATE TABLE TBL_C_SET_PRODUCT (
    IID numeric NOT NULL(20, 0),
    IMASTERPRODUCTID numeric(20, 0),
    VPRODUCTCODE varchar(200),
    VNAME varchar(200),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),
    IS_AGENCY_PRODUCT numeric(1, 0),

);
