CREATE TABLE TBL_CORE_PAYMENT_INFO (
    PAYMT_MAIN_ID varchar(45),
    RECEIPT_NO varchar(20),
    APPLIED_DATE date,
    PAYMT_DATE date,
    AMOUNT int,
    PAYMT_CODE varchar(20),
    PAYMT_TYPE varchar(20),
    REF_NO varchar(20),
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,

);
