CREATE TABLE TBL_CORE_PAWNING_ADVANCES (
    TYPE_OF_ARTICLE varchar(45),
    CARATAGE varchar(20),
    GROSS_WEIGHT_ARTICLE varchar(20),
    NET_WEIGHT_ARTICLE varchar(20),
    OPEN_DATE varchar(20),
    ASSESED_VALUE decimal(20, 2),
    NET_GOLD_VALUE decimal(20, 2),
    PAWN_TICKET_NO varchar(20),
    LOAN_NO varchar(20),

);
