CREATE TABLE TBL_SIP_PRODUCT_CALLCAMPAIGNS (
    IID numeric NOT NULL(20, 0),
    PRODUCT varchar(250),
    CAMPAIGN varchar(250),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
