CREATE TABLE TBL_SET_MASTER_PRIVILEGES (
    IID numeric NOT NULL(20, 0),
    VSCOPE varchar(500),
    ISYSTEMID numeric(20, 0),
    VMASTERCODE varchar(500),
    VMASTERNAME varchar(500),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
