CREATE TABLE TBL_CORE_MOVABLE_INFO (
    CONTRACT_NO varchar(20),
    ASSEST_TYPE_ID varchar(45),
    ASSEST_NAME varchar(500),
    ASSEST_DES varchar(500),
    MARKET_VALUE decimal(20, 2),
    FSV_VALUE decimal(20, 2),
    ASSEST_OWNER varchar(45),
    REG_NO varchar(20),
    CRBOOK_RECEIVED varchar(10),
    CR_BOOK_NO varchar(45),
    CUSTOMER_CONSENT varchar(45),
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,
    SECURITY_ID varchar(45),
    FORCED_SALE_VALUE bigint,
    MARKET_VALUE_1 bigint,
    VALUER_NAME varchar(100),
    VALUATION_DATE date,
    COLLETERAL_NO varchar(100),
    COLLETERAL_SUBID numeric(25, 0),

);
