CREATE TABLE TBL_C_A_OFFICER_CODE_HISTORY (
    IID numeric NOT NULL(20, 0),
    VCONTRACT_NO varchar(500),
    IFILE_NO varchar(500),
    VOFFICER_CODE varchar(500),
    IPUBLISH numeric(18, 0),
    IADDEDBY varchar(50),
    IUPDATEDBY varchar(50),
    DADDEDDATE datetime2,
    DUPDATEDATE datetime2,

);
