CREATE TABLE TBL_C_M_PAST_DUE_PAYMENTS (
    CONTRACT_NO varchar(45),
    SEQUENCE int,
    TYPE varchar(45),
    DATE varchar(45),
    INSTALLMENT decimal(20, 2),
    AMOUNT_1 decimal(18, 3),
    AMOUNT_2 decimal(18, 3),
    AMOUNT_3 decimal(18, 3),
    AMOUNT_4 decimal(18, 3),
    AMOUNT_5 decimal(18, 3),
    AMOUNT_6 decimal(18, 3),
    CODE int,
    IID numeric NOT NULL(20, 0),
    LOAN_MASTER_ID numeric(20, 0),

);
