CREATE TABLE TBL_C_M_VERIFICATION (
    IID numeric NOT NULL(20, 0),
    ILOAN_MASTER_ID numeric(20, 0),
    VQUESTION varchar(100),
    VANSWER varchar(1000),
    DADDEDDATE datetime,
    IADDEDBY numeric(20, 0),
    DUPDATEDATE datetime,
    VACTION varchar(100),

);
