CREATE TABLE TBL_CAMP_BAK_CAMPAIGN_CONFIG_VAL (
    IID numeric NOT NULL(20, 0),
    ICAMPCONFIGID decimal(20, 0),
    VASSIGNVALUE varchar(1000),
    IPUBLISH smallint,
    DADDEDDATE datetime2,
    IADDEDBY decimal(20, 0),

);
