CREATE TABLE TBL_C_M_IMMOVABLE_INFO (
    IID numeric NOT NULL(20, 0),
    CONTRACT_NO varchar(45),
    SEC_TYPE_ID varchar(45),
    SEC_NAME varchar(200),
    DEED_NO varchar(45),
    PLAN_NO varchar(45),
    VLOCATION varchar(200),
    MARKET_VALUE int,
    FSV_VALUE int,
    PROPERTY_OWNER varchar(200),
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,
    SECURITY_ID varchar(45),

);
