CREATE TABLE TBL_C_A_ACCOUNT_REQUEST (
    IID numeric NOT NULL(20, 0),
    ILOAN_MASTER_ID numeric(20, 0),
    ICAMPAIGN_DETAIL_ID numeric(20, 0),
    IREQUESTHISTORY_ID numeric(20, 0),
    ICAT1_ID numeric(20, 0),
    ICAT2_ID numeric(20, 0),
    ICAT3_ID numeric(20, 0),
    VREQUESTTYPE varchar(1000),
    DREQUEST_DATE datetime2,
    IACTIVE numeric(1, 0),
    IRESPONCE numeric(1, 0),
    IRESPONCEHISTORY_ID numeric(20, 0),
    DRESPONCE_DATE datetime2,
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
