CREATE TABLE TBL_C_CAMP_SECTIONS (
    IID numeric NOT NULL(20, 0),
    IPRODUCT_ID numeric(20, 0),
    VCATEGORY varchar(100),
    IACTIONTYPE numeric(20, 0),
    ISECTION_MAIN_ID numeric(20, 0),
    ICAMPAIGN_ORDER numeric(20, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),
    IPARENTIID numeric(20, 0),

);
