CREATE TABLE TBL_C_M_CUSTOMER_OTH_CONTACT (
    IID numeric NOT NULL(20, 0),
    ICUSTOMERID numeric(20, 0),
    VTYPE varchar(50),
    VVALUE varchar(500),
    DADDEDDATE datetime2,
    IADDEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    IPUBLISH numeric(1, 0),

);
