CREATE TABLE TBL_CORE_PAST_DUE_PAYMENTS (
    CONTRACT_NO varchar(45),
    SEQUENCE int,
    TYPE varchar(45),
    DATE varchar(45),
    INSTALLMENT decimal(20, 2),
    AMOUNT_1 decimal(18, 3),
    AMOUNT_2 decimal(18, 3),
    AMOUNT_3 decimal(18, 3),
    AMOUNT_4 decimal(18, 3),
    AMOUNT_5 decimal(18, 3),
    AMOUNT_6 decimal(18, 3),
    CODE int,

);
