CREATE TABLE TBL_CORE_REGION (
    REGION_ID int,
    REGION_CODE varchar(100),
    REGION_NAME varchar(100),
    REGION_HEAD_USER varchar(100),
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,

);
