CREATE TABLE TBL_C_M_LOAN_MASTER (
    IID numeric NOT NULL(20, 0),
    IPRODUCT_ID numeric NOT NULL(20, 0),
    ISUB_PRODUCT_ID numeric(20, 0),
    ISUBTYPE_ID numeric(20, 0),
    IBENTITY_ID numeric(20, 0),
    IBRANCH_ID numeric(20, 0),
    VCURRENCY varchar(100),
    ISEQ numeric(1, 0),
    IREC_ACCOUNT_ID varchar(50),
    ISAV_ACCOUNT_ID varchar(50),
    VACCOUNT_NO varchar(20),
    VACCOUNT_SUB_NO varchar(50),
    IPRIMARY_CUSTORMER_ID numeric(20, 0),
    ISECONDARY_CUSTORMER_ID varchar(50),
    VCONTRACT_NO varchar NOT NULL(100),
    VOLD_CONTRACT_NO varchar(100),
    VLOT_ISSUED char(1),
    DLOAN_APPLY_AMT decimal(20, 2),
    DLOAN_APPLY_DTE datetime,
    DLOAN_APPROVE_DTE datetime,
    DLOAN_APPROVE_AMT decimal(20, 2),
    DACC_OPEN_DATE varchar(20),
    DLOAN_FIRST_DISBURSE_DTE varchar(20),
    DMAT_DATE datetime2,
    DCLOSE_DATE datetime,
    ILOAN_TERM numeric(20, 0),
    VTERM_TYPE varchar(20),
    ILOAN_AMOUNT decimal(20, 2),
    ITOTAL_AMOUNT decimal(20, 2),
    IINSTALMENT_AMOUNT decimal(20, 2),
    VCREDIT_PURPOSE varchar(4000),
    VLOAN_PAYMT_METHD varchar(100),
    VACCOUNT_CLOSED_REASON varchar(100),
    DRENT_DUE_DATE varchar(40),
    IACCOUNT_ACTIVE varchar(100),
    SETTL_ACCT_NO varchar(100),
    VLOAN_OWNERSHIP_TYPE varchar(50),
    ILOAN_OWNER bigint,
    VCORE_OWNER varchar(50),
    IRNR_OFFICER numeric(20, 0),
    IPROV_AMT decimal(20, 2),
    DELETE_FLAG varchar(20),
    VURL varchar(100),
    DATE_CREATED datetime2,
    DATE_LAST_UPDATED datetime2,
    ILASTACTIONUSERID numeric(38, 0),
    ILASTACTIONHISTORYID numeric(38, 0),
    ILASTACTIONDATE datetime2,
    RESHEDULE_FLAG varchar(50),
    NEXT_INSTALLMENT_DATE varchar(45),
    NEXT_INSTALLMENT_AMOUNT numeric(20, 0),
    NEXT_INSTALLMEN_TYPE varchar(45),
    TC_ID varchar(50),
    CURRENCY varchar(50),
    VNPSTATUS varchar(50),
    MORATORIUM_FLAG varchar(50),
    IS_WRITE_OFF char(1),
    VVIP_FLAG varchar(10),
    IS_WRIRE_OFF char(1),
    OFFICE_CODE varchar(100),
    DAILY_FACTOR varchar(50),
    LATE_FEES int,
    SMS_PREF numeric(10, 0),
    EMAIL_PREF numeric(10, 0),
    LETTER_PREF numeric(10, 0),
    TRUE_RATE decimal(20, 8),
    PRINCIPAL varchar(100),
    TRAN_DESCRIPTION varchar(100),
    MATURITY_PERIOD varchar(100),
    REFERENCE_LC varchar(100),
    INVOICE_NO varchar(100),
    PRODUCT varchar(100),
    CIF varchar(100),
    CARD_ACC_TYPE varchar(50),
    MAS_CARD varchar(50),
    ACCOUNT1 varchar(50),
    BILLING_CYCLE_CODE varchar(50),
    ACC_STATUS varchar(50),
    CITIZEN_ID varchar(50),
    DIRECT_DEBIT_PYMNT_ACC varchar(50),
    PAYMENT_CODE varchar(50),
    LAST_PAYMENT decimal(20, 2),
    LAST_PAYMENT_DATE varchar(50),
    MINIMUM_PAYMENT decimal(20, 2),
    EXPIRED_PAYMENTS decimal(20, 2),
    APP_APPROVAL_DATE date,
    BRANCH_OFFICE_CODE varchar(50),
    FUTURE_PYMNT_DUE_DATE date,
    CARD_STATUS varchar(50),
    FIELD4 varchar(50),
    VIP_PROFILE varchar(50),
    OCCU_CODE varchar(50),
    MOTHERS_MAIDEN_NAME varchar(50),
    MILITARY_BRANCH varchar(50),
    INCOME_1 decimal(20, 2),
    INCOME_2 decimal(20, 2),
    EMAIL varchar(50),
    CLIENT_ID varchar(50),
    SCH_NAME varchar(50),
    LAST_PAYMENT_AMOUNT decimal(18, 3),
    LAST_DUE_DATE date,
    VLAST_PAYMENT_DATE date,
    VPRODUCT_CATEGORY varchar(40),
    VSUBPRODUCT_CATEGORY varchar(40),
    OLDEST_DUE_DATE date,
    USER_CODE1 char(1),
    DEPOSITS varchar(100),
    DESTINATION_ACC varchar(100),
    INTEREST_SUS_CURR decimal(18, 3),
    NOTE_NO varchar(100),
    PAY_OFF_BALANCE decimal(18, 3),
    PAY_ACC_NO varchar(100),
    RECOVERY_STATUS varchar(10),
    OVERDUE_MONTHS varchar(40),
    FUTURE_RENTALS decimal(18, 3),
    VNP_STATUS varchar(50),
    DUE_DAY int,
    RUPEE_EQUIVALENT_AMOUNT numeric(20, 2),
    LS_CODE varchar(100),
    VFIRST_NAME varchar(1000),
    RUPEE_EQ_AMOUNT numeric(20, 2),
    DEBIT_AC_IDENTITY varchar(100),
    SENSITIVE_CUS_CODE varchar(100),
    IMPAIRMENT_BALANCE numeric(20, 0),
    NPCF_DATE date,
    NPCF_LOAN_DATE varchar(20),
    NPCF_OD_DATE varchar(20),
    RES_TYPE varchar(50),
    RES_COUNT varchar(50),

);
