CREATE TABLE TBL_CORE_CUSTOMER_INFO_ (
    CUSTOMERID varchar(100),
    CSOURCE varchar(100),
    CTYPE varchar(100),
    CUSTOMER_CODE varchar(100),
    TITLE varchar(100),
    FIRST_NAME varchar(200),
    MIDDLE_NAME varchar(200),
    LAST_NAME varchar(200),
    FULL_NAME varchar(200),
    BRANCH_CODE varchar(100),
    NATIONALITY varchar(100),
    NEW_NIC varchar(100),
    OLD_NIC varchar(100),
    NIC_ISSUE_DATE date,
    DOB varchar(45),
    STATUS varchar(100),
    GENDER varchar(100),
    MARITAL_STATUS varchar(100),
    AGE int,
    LICENSE_NO varchar(100),
    LICENCE_STATE varchar(100),
    LICENCE_EXPIRE_DATE date,
    PASSPORT_NO varchar(100),
    PASSPORT_EXPIRE_DATE date,
    CUST_INITIAL varchar(100),
    ADDRESS_UNFORMATTED varchar(1000),
    ADDRESS_1 varchar(1000),
    ADDRESS_2 varchar(1000),
    ADDRESS_3 varchar(1000),
    ADDRESS_4 varchar(1000),
    CITY varchar(100),
    DISTRICT varchar(100),
    GRAMASEWAKA_DIVISION varchar(100),
    POSTAL_CODE varchar(100),
    COUNTRY varchar(100),
    MAILING_ADDRESS_UNFOMATTED varchar(1000),
    MAILING_ADDRESS_1 varchar(1000),
    MAILING_ADDRESS_2 varchar(1000),
    MAILING_ADDRESS_3 varchar(1000),
    MAILING_ADDRESS_4 varchar(1000),
    MAILING_ADDRESS_5 varchar(1000),
    MAILING_ADDRESS_6 varchar(1000),
    MAILING_CITY varchar(100),
    FORIGN_ADDRESS_UNFOMATTED varchar(1000),
    FORIGN_ADDRESS_1 varchar(1000),
    FORIGN_ADDRESS_2 varchar(1000),
    FORIGN_ADDRESS_3 varchar(1000),
    FORIGN_ADDRESS_4 varchar(1000),
    FORIGN_ADDRESS_5 varchar(1000),
    FORIGN_ADDRESS_6 varchar(1000),
    FORIGN_CITY varchar(100),
    ALTER_ADDRESS_UNFOMATTED varchar(1000),
    ALTER_ADDRESS_1 varchar(1000),
    ALTER_ADDRESS_2 varchar(1000),
    ALTER_ADDRESS_3 varchar(1000),
    ALTER_ADDRESS_4 varchar(1000),
    ALTER_ADDRESS_5 varchar(1000),
    ALTER_ADDRESS_6 varchar(1000),
    ALTER_CITY varchar(100),
    MOBILE_1 varchar(1000),
    MOBILE_2 varchar(1000),
    MOBILE_3 varchar(1000),
    HOME_1 varchar(1000),
    WORK_1 varchar(1000),
    EMAIL_1 varchar(1000),
    EMAIL_2 varchar(1000),
    EMPLOYER_NAME varchar(100),
    EMPLOYER_ADDRESS varchar(500),
    EMPLOYER_PHONE_NO varchar(100),
    PREF_SMS_PTP_REMIND varchar(100),
    PREF_SMS_ALERT varchar(100),
    PREF_EMAIL_ALERT varchar(100),
    PREF_LETTERS_RECEIVED varchar(100),
    PREF_COM_METHOD varchar(100),
    BEST_TIME_TO_CONTACT varchar(100),
    IPUBLISH int,
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,
    DATE_ALTERD varchar(100),

);
