CREATE TABLE TBL_C_SET_CUSTOMER_SEGMENTATION (
    IID numeric NOT NULL(20, 0),
    VCODE varchar(500),
    SEGMENT varchar(200),
    IPUBLISH numeric(18, 0),
    IADDEDBY varchar(50),
    IUPDATEDBY varchar(50),
    DADDEDDATE datetime2,
    DUPDATEDATE datetime2,
    DDELETEDDATE datetime2,
    VURL varchar(1000),

);
