CREATE TABLE TBL_C_COM_TEMPLATE (
    IID numeric NOT NULL(20, 0),
    VSENDTYPE varchar(1000),
    VTYPE varchar(1000),
    VTEMPLATENAME varchar(1000),
    VSUBJECT varchar(1000),
    VBODY text,
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),

);
