CREATE TABLE TBL_C_A_R2_COURT_SETTLEMENTS_TERM (
    IID numeric NOT NULL(20, 0),
    ICASEID numeric(18, 0),
    ILOAN_MASTER_ID numeric(18, 0),
    DTERMSDATE date,
    VTERMS varchar(2000),
    IPUBLISH numeric(1, 0),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    DADDEDDATE datetime2,
    IADDEDBY numeric(18, 0),
    DSETTLMENTDATE datetime2,
    IUPDATEDBY numeric(18, 0),
    DUPDATEDDATE datetime2,

);
