CREATE TABLE TBL_C_M_CUSTOMER_INFO (
    IID numeric NOT NULL(20, 0),
    ITYPEID varchar(20),
    VCUSTOMER_CODE varchar(50),
    IBRANCHID numeric(20, 0),
    VTITLE varchar(1000),
    VFULL_NAME varchar(1000),
    VNAME_WITH_INITIAL varchar(1000),
    VFIRST_NAME varchar(1000),
    VVMIDDLE_NAME varchar(1000),
    VLAST_NAME varchar(1000),
    VDISPLAY_NAME varchar(1000),
    DDOB varchar(20),
    VNATIONALITY varchar(1000),
    VNEW_NIC varchar(1000),
    VOLD_NIC varchar(1000),
    VPREF_LANGUAGE varchar(1000),
    VGENDER varchar(1000),
    IAGE numeric(20, 0),
    VMARITAL_STATUS varchar(1000),
    VDRIVER_LICENCE varchar(1000),
    DDL_EXP_DATE datetime,
    VPASSPORT varchar(1000),
    DPASSPORT_EXP_DATE datetime,
    VBIRTH_PLACE varchar(200),
    IDELIND numeric(1, 0),
    DDELETEDDATE datetime2,
    IPUBLISH numeric(1, 0),
    IADDEDBY numeric(20, 0),
    DADDEDDATE datetime2,
    IUPDATEDBY numeric(20, 0),
    DUPDATEDATE datetime2,
    VURL varchar(1000),
    VEMPLOYER_NAME varchar(500),
    VEMPLOYER_ADDRESS varchar(500),
    VEMPLOYER_PHONE_NO varchar(500),
    MOBILE_1 varchar(500),
    MOBILE_2 varchar(500),
    MOBILE_3 varchar(500),
    MOBILE_4 varchar(500),
    HOME_1 varchar(500),
    HOME_2 varchar(100),
    EMAIL_1 varchar(500),
    EMAIL_2 varchar(500),
    ADDRESS_UNFORMATTED varchar(500),
    ADDRESS_1 varchar(500),
    ADDRESS_2 varchar(500),
    ADDRESS_3 varchar(500),
    ADDRESS_4 varchar(500),
    CITY varchar(500),
    MAILING_ADDRESS_UNFOMATTED varchar(500),
    MAILING_ADDRESS_1 varchar(500),
    MAILING_ADDRESS_2 varchar(500),
    MAILING_ADDRESS_3 varchar(500),
    MAILING_ADDRESS_4 varchar(500),
    MAILING_ADDRESS_5 varchar(500),
    MAILING_ADDRESS_6 varchar(500),
    FORIGN_ADDRESS_UNFOMATTED varchar(500),
    FORIGN_ADDRESS_1 varchar(500),
    FORIGN_ADDRESS_2 varchar(500),
    FORIGN_ADDRESS_3 varchar(500),
    FORIGN_ADDRESS_4 varchar(500),
    FORIGN_ADDRESS_5 varchar(500),
    ALTER_ADDRESS_UNFOMATTED varchar(500),
    ALTER_ADDRESS_1 varchar(500),
    ALTER_ADDRESS_2 varchar(500),
    ALTER_ADDRESS_3 varchar(500),
    ALTER_ADDRESS_4 varchar(500),
    ALTER_ADDRESS_5 varchar(500),
    SMS_PREF numeric(10, 0),
    EMAIL_PREF numeric(10, 0),
    LETTER_PREF numeric(10, 0),
    VSTATUS varchar(100),
    STR_CUSTOMER_CODE varchar(100),
    ONGOING_EXT_BATCHNO varchar(1000),

);
