CREATE TABLE TBL_C_M_SEIZER (
    IID numeric NOT NULL(20, 0),
    NAME varchar(500),
    ADDRESS varchar(500),
    MOBILE varchar(20),
    OFFICENO varchar(20),
    EMAIL varchar(500),
    IPUBLISH numeric(18, 0),
    IADDEDBY varchar(50),
    IUPDATEDBY varchar(50),
    DADDEDDATE datetime2,
    DUPDATEDATE datetime2,
    DDELETEDDATE datetime2,
    VURL varchar(1000),

);
