CREATE TABLE TBL_CORE_PAWNING_DETAILS (
    LOAN_OD_TYPE varchar(45),
    LOAN_NO_OD_NO varchar(20),
    CUSTOMER_NIC varchar(20),
    CUSTOMER_CIF varchar(20),
    OPEN_DATE varchar(20),
    OPEN_JULIAN_DATE varchar(20),
    OPEN_DATE_1 varchar(20),
    CLOSE_DATE varchar(20),
    CLOSE_JULIAN_DATE varchar(20),
    CLOSE_DATE_1 varchar(20),
    ADVANCE_TYPE varchar(20),
    PRODUCT_TYPE varchar(20),
    PERIOD_MONTHS varchar(20),
    INTEREST_RATE varchar(20),
    SPECIAL_RATE varchar(20),
    ITEM_COUNT varchar(20),
    ADVANCE_AMOUNT decimal(20, 2),
    SETTLEMT_AMOUNT decimal(20, 2),
    TOTAL_AMOUNT decimal(20, 2),
    ASSESSED_VALUE decimal(20, 2),
    NET_GOLD_VALUE decimal(20, 2),
    DAILY_FACTOR varchar(20),
    LATE_FEES varchar(20),
    PAWN_TICK_NO varchar(20),

);
