CREATE TABLE TBL_C_M_PAYMENT_RETURNS (
    CONTRACT_NO varchar(20),
    RECIEPT_NO varchar(20),
    AMOUNT int,
    PAMT_DATE date,
    RETURN_DATE date,
    LAST_UPDATED_DATE date,
    LAST_EXTRACTED_DATE date,
    DATE_CREATED date,
    LOAN_MASTER_ID numeric(20, 0),
    IID int,
    CHEQUE_NO int,

);
