
Text                                                                                                                                             
----                                                                                                                                             
...                                                                                                                                              
CREATE PROCEDURE [dbo].[COM_MGR_PROVINSION_TRANSACTIONS_DETAILS](@para_UserID FLOAT)AS...                                                        
BEGIN...                                                                                                                                         
...                                                                                                                                              
  DECLARE ...                                                                                                                                    
   @var_ErrorLogID        DECIMAL(20),...                                                                                                        
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                                      
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                                      
   @var_ErrorMessage      VARCHAR(500),...                                                                                                       
   @IsERROR               INT,...                                                                                                                
   @Error_Message         VARCHAR(500),...                                                                                                       
   @ERROR_LINE            VARCHAR(20);   ...                                                                                                     
...                                                                                                                                              
   SET @var_Rowsprocessed =  0;...                                                                                                               
/* -------------------------------------------------------------------------*...                                                                 
Procedure       :   COM_MGR_PROVINSION_TRANSACTIONS_DETAILS...                                                                                   
Author          : Navodya Wimalasooriya...                                                                                                       
Date Created    : 21/09/2021...                                                                                                                  
Date Last Mod.  : ...                                                                                                                            
Description     : Merge data for Original table from core table...                                                                               
Level           : merging...                                                                                                                     
...                                                                                                                                              
=============================================================================*/...                                                               
...                                                                                                                                              
...                                                                                                                                              
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                                        
...                                                                                                                                              
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                                          
(...                                                                                                                                             
IID			,...                                                                                                                                       
VPROCESSDESC,...                                                                                                                                 
VPHASE,...                                                                                                                                       
DSTARTTIME...                                                                                                                                    
...                                                                                                                                              
)...                                                                                                                                             
SELECT ...                                                                                                                                       
@var_ProcessStatusID,...                                                                                                                         
'  COM_MGR_PROVINSION_TRANSACTIONS_DETAILS',...                                                                                                  
'PROVINSION_TRANSACTIONS_DETAILS',...                                                                                                            
GETDATE()...                                                                                                                                     
;...                                                                                                                                             
...                                                                                                                                              
BEGIN TRY...                                                                                                                                     
...                                                                                                                                              
MERGE INTO...                                                                                                                                    
   TBL_C_M_PROVINSION_TRANSACTIONS_DETAILS...                                                                                                    
    ...                                                                                                                                          
USING...                                                                                                                                         
(...                                                                                                                                             
select ...                                                                                                                                       
		    TRAN_DATE                  ,...                                                                                                            
			CUS_NUMBER                 ,...                                                                                                               
			APP_NUMBER                 ,...                                                                                                               
			(SELECT L.IID ...                                                                                                                             
	FROM TBL_C_M_LOAN_MASTER L...                                                                                                                   
	WHERE L.VACCOUNT_SUB_NO = A.ACC_NUMBER ) AS ACC_NUMBER,...                                                                                      
			PROV_TYPE                  ,...                                                                                                               
			DEBIT_CREDIT_CODE          ,...                                                                                                               
			CUR_PRODUCT_TYPE           ,...                                                                                                               
			TRAN_DESCRIPTION           ,...                                                                                                               
			PROV_AMOUNT                ,...                                                                                                               
			INTEREST_TAX_CURR_LOAN     ,...                                                                                                               
			CASH_DEPOSIT	...                                                                                                                              
...                                                                                                                                              
from TBL_CORE_PROVINSION_TRANSACTIONS_DETAILS a...                                                                                               
...                                                                                                                                              
		EXCEPT...                                                                                                                                      
			SELECT...                                                                                                                                     
			TRAN_DATE                  ,...                                                                                                               
			CUS_NUMBER                 ,...                                                                                                               
			APP_NUMBER                 ,...                                                                                                               
			ACC_NUMBER                 ,...                                                                                                               
			PROV_TYPE                  ,...                                                                                                               
			DEBIT_CREDIT_CODE          ,...                                                                                                               
			CUR_PRODUCT_TYPE           ,...                                                                                                               
			TRAN_DESCRIPTION           ,...                                                                                                               
			PROV_AMOUNT                ,...                                                                                                               
			INTEREST_TAX_CURR_LOAN     ,...                                                                                                               
			CASH_DEPOSIT...                                                                                                                               
...                                                                                                                                              
		...                                                                                                                                            
			...                                                                                                                                           
   FROM   TBL_C_M_PROVINSION_TRANSACTIONS_DETAILS...                                                                                             
...                                                                                                                                              
) TBL_CORE_PROVINSION_TRANSACTIONS_DETAILS...                                                                                                    
ON...                                                                                                                                            
   TBL_C_M_PROVINSION_TRANSACTIONS_DETAILS.ACC_NUMBER = TBL_CORE_PROVINSION_TRANSACTIONS_DETAILS.ACC_NUMBER...                                   
   WHEN NOT MATCHED THEN...                                                                                                                      
INSERT (...                                                                                                                                      
			TRAN_DATE                  ,...                                                                                                               
			CUS_NUMBER                 ,...                                                                                                               
			APP_NUMBER                 ,...                                                                                                               
			ACC_NUMBER                 ,...                                                                                                               
			PROV_TYPE                  ,...                                                                                                               
			DEBIT_CREDIT_CODE          ,...                                                                                                               
			CUR_PRODUCT_TYPE           ,...                                                                                                               
			TRAN_DESCRIPTION           ,...                                                                                                               
			PROV_AMOUNT                ,...                                                                                                               
			INTEREST_TAX_CURR_LOAN     ,...                                                                                                               
			CASH_DEPOSIT...                                                                                                                               
       )...                                                                                                                                      
VALUES...                                                                                                                                        
      ( ...                                                                                                                                      
	        TRAN_DATE                  ,...                                                                                                         
			CUS_NUMBER                 ,...                                                                                                               
			APP_NUMBER                 ,...                                                                                                               
			ACC_NUMBER                 ,...                                                                                                               
			PROV_TYPE                  ,...                                                                                                               
			DEBIT_CREDIT_CODE          ,...                                                                                                               
			CUR_PRODUCT_TYPE           ,...                                                                                                               
			TRAN_DESCRIPTION           ,...                                                                                                               
			PROV_AMOUNT                ,...                                                                                                               
			INTEREST_TAX_CURR_LOAN     ,...                                                                                                               
			CASH_DEPOSIT...                                                                                                                               
      );...                                                                                                                                      
    ...                                                                                                                                          
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                                         
...                                                                                                                                              
/* Update Process Status Log- Reporting Successful Completion */...                                                                              
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                                              
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                                                
        DENDTIM=GETDATE(),...                                                                                                                    
        VCOMMENTS='  COM_MGR_PROVINSION_TRANSACTIONS_DETAILS Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                                            
...                                                                                                                                              
END TRY...                                                                                                                                       
...                                                                                                                                              
...                                                                                                                                              
BEGIN CATCH...                                                                                                                                   
...                                                                                                                                              
     SELECT @IsERROR =1,...                                                                                                                      
	 @Error_Message=ERROR_MESSAGE(),...                                                                                                             
     @ERROR_LINE = ERROR_LINE();...                                                                                                              
  -- ------------------------------------------------------------------------------------------------*...                                        
...                                                                                                                                              
      /* Add row to Process Status Log- Indcating Error occured */...                                                                            
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                                    
          SET     IROWSTOBEPROCESSED=0,...                                                                                                       
                  DENDTIM=GETDATE(),...                                                                                                          
                  VCOMMENTS='  COM_MGR_PROVINSION_TRANSACTIONS_DETAILS Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                                  
...                                                                                                                                              
      /* Log error Information in TBL_ERROR_LOG */...                                                                                            
...                                                                                                                                              
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                                            
                    (...                                                                                                                         
                    IID,...                                                                                                                      
                    VITEMNAME,...                                                                                                                
                    VERROR_MESSAGE,...                                                                                                           
                    DPOSTDATETIME,...                                                                                                            
                    ICREATEDBY...                                                                                                                
...                                                                                                                                              
                    )...                                                                                                                         
                   SELECT...                                                                                                                     
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                                              
                   '  COM_MGR_PROVINSION_TRANSACTIONS_DETAILS',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                                        
                   GETDATE(),...                                                                                                                 
                   @para_UserID ...                                                                                                              
                   ;...                                                                                                                          
...                                                                                                                                              
    END CATCH...                                                                                                                                 
END;...                                                                                                                                          


