
Text                                                
----                                                
...                                                 
...                                                 
...                                                 
...                                                 
CREATE PROCEDURE [dbo].[COM_ACCOUNT_VIEW_LOG] AS... 
BEGIN ...                                           
...                                                 
...                                                 
...                                                 
TRUNCATE TABLE TBL_C_ACCOUNT_VIEW_LOG_BKP_ARCHIVE...
...                                                 
...                                                 
INSERT INTO TBL_C_ACCOUNT_VIEW_LOG_BKP_ARCHIVE(...  
	...                                                
		IID        ,...                                   
		IP		   ,...                                       
		TYPE	   ,...                                      
		ACCOUNTNO  ,...                                   
		USERID	   ,...                                    
		SECTION	   ,...                                   
		DATETIME   ,...                                   
		START_DATE...                                     
...                                                 
...                                                 
)...                                                
...                                                 
...                                                 
SELECT  ...                                         
		IID         ,...                                  
		IP			,...                                         
		TYPE		,...                                        
		ACCOUNTNO	,...                                    
		USERID		,...                                      
		SECTION		,...                                     
		DATETIME    ,...                                  
		START_DATE...                                     
...                                                 
...                                                 
FROM TBL_C_ACCOUNT_VIEW_LOG_BKP ...                 
WHERE START_DATE <= DATEADD(DAY,-30,GETDATE()) ...  
AND START_DATE<=GETDATE()...                        
...                                                 
...                                                 
END...                                              
;...                                                
...                                                 
...                                                 


