
Text                                                                                                                      
----                                                                                                                      
...                                                                                                                       
CREATE   PROCEDURE [dbo].[COM_TBL_C_M_LOAN_MASTER]...                                                                     
    @para_UserID FLOAT...                                                                                                 
AS...                                                                                                                     
BEGIN...                                                                                                                  
    DECLARE ...                                                                                                           
        @var_ErrorLogID        DECIMAL(20),...                                                                            
        @var_ProcessStatusID   DECIMAL(20),  ...                                                                          
        @var_Rowsprocessed     DECIMAL(20),  ...                                                                          
        @var_ErrorMessage      VARCHAR(500),...                                                                           
        @IsERROR               INT,...                                                                                    
        @Error_Message         VARCHAR(500),...                                                                           
        @ERROR_LINE            VARCHAR(20);...                                                                            
...                                                                                                                       
    SET @var_Rowsprocessed = 0;...                                                                                        
...                                                                                                                       
    /* Fetch next process status ID */...                                                                                 
    SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                             
...                                                                                                                       
    /* Log start of the process */...                                                                                     
    INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                               
    (...                                                                                                                  
        IID,...                                                                                                           
        VPROCESSDESC,...                                                                                                  
        VPHASE,...                                                                                                        
        DSTARTTIME...                                                                                                     
    )...                                                                                                                  
    SELECT ...                                                                                                            
        @var_ProcessStatusID,...                                                                                          
        'COM_TBL_C_M_LOAN_MASTER',...                                                                                     
        'COM_TBL_C_M_LOAN_MASTER',...                                                                                     
        GETDATE();...                                                                                                     
...                                                                                                                       
    BEGIN TRY...                                                                                                          
        /* Insert into TBL_C_M_LOAN_MASTER based on the fields in CB_SYNM_P05 */...                                       
        INSERT INTO TBL_C_M_LOAN_MASTER...                                                                                
        (...                                                                                                              
            IPRODUCT_ID,...                                                                                               
            ISUB_PRODUCT_ID,...                                                                                           
            ISUBTYPE_ID,...                                                                                               
            IBENTITY_ID,...                                                                                               
            IBRANCH_ID,...                                                                                                
            VCURRENCY,...                                                                                                 
            ISEQ,...                                                                                                      
            IREC_ACCOUNT_ID,...                                                                                           
            ISAV_ACCOUNT_ID,...                                                                                           
            VACCOUNT_NO,...                                                                                               
            VACCOUNT_SUB_NO,...                                                                                           
            IPRIMARY_CUSTORMER_ID,...                                                                                     
            ISECONDARY_CUSTORMER_ID,...                                                                                   
            VCONTRACT_NO,...                                                                                              
            VOLD_CONTRACT_NO,...                                                                                          
            VLOT_ISSUED,...                                                                                               
            DLOAN_APPLY_AMT,...                                                                                           
            DLOAN_APPLY_DTE,...                                                                                           
            DLOAN_APPROVE_DTE,...                                                                                         
            DLOAN_APPROVE_AMT,...                                                                                         
            DACC_OPEN_DATE,...                                                                                            
            DLOAN_FIRST_DISBURSE_DTE,...                                                                                  
            DMAT_DATE,...                                                                                                 
            DCLOSE_DATE,...                                                                                               
            ILOAN_TERM,...                                                                                                
            VTERM_TYPE,...                                                                                                
            ILOAN_AMOUNT,...                                                                                              
            ITOTAL_AMOUNT,...                                                                                             
            IINSTALMENT_AMOUNT,...                                                                                        
            VCREDIT_PURPOSE,...                                                                                           
            VLOAN_PAYMT_METHD,...                                                                                         
            VACCOUNT_CLOSED_REASON,...                                                                                    
            DRENT_DUE_DATE,...                                                                                            
            IACCOUNT_ACTIVE,...                                                                                           
            SETTL_ACCT_NO,...                                                                                             
            VLOAN_OWNERSHIP_TYPE,...                                                                                      
            ILOAN_OWNER,...                                                                                               
            VCORE_OWNER,...                                                                                               
            IRNR_OFFICER,...                                                                                              
            IPROV_AMT,...                                                                                                 
            DELETE_FLAG,...                                                                                               
            VURL,...                                                                                                      
            DATE_CREATED,...                                                                                              
            DATE_LAST_UPDATED,...                                                                                         
            ILASTACTIONUSERID,...                                                                                         
            ILASTACTIONHISTORYID,...                                                                                      
            ILASTACTIONDATE,...                                                                                           
            RESHEDULE_FLAG,...                                                                                            
            NEXT_INSTALLMENT_DATE,...                                                                                     
            NEXT_INSTALLMENT_AMOUNT,...                                                                                   
            NEXT_INSTALLMEN_TYPE,...                                                                                      
            TC_ID,...                                                                                                     
            CURRENCY,...                                                                                                  
            VNPSTATUS,...                                                                                                 
            MORATORIUM_FLAG,...                                                                                           
            IS_WRITE_OFF,...                                                                                              
            VVIP_FLAG,...                                                                                                 
            IS_WRIRE_OFF,...                                                                                              
            OFFICE_CODE,...                                                                                               
            DAILY_FACTOR,...                                                                                              
            LATE_FEES,...                                                                                                 
            SMS_PREF,...                                                                                                  
            EMAIL_PREF,...                                                                                                
            LETTER_PREF,...                                                                                               
            TRUE_RATE,...                                                                                                 
            PRINCIPAL,...                                                                                                 
            TRAN_DESCRIPTION,...                                                                                          
            MATURITY_PERIOD,...                                                                                           
            REFERENCE_LC,...                                                                                              
            INVOICE_NO,...                                                                                                
            PRODUCT,...                                                                                                   
            CIF,...                                                                                                       
            CARD_ACC_TYPE,...                                                                                             
            MAS_CARD,...                                                                                                  
            ACCOUNT1,...                                                                                                  
            BILLING_CYCLE_CODE,...                                                                                        
            ACC_STATUS,...                                                                                                
            CITIZEN_ID,...                                                                                                
            DIRECT_DEBIT_PYMNT_ACC,...                                                                                    
            PAYMENT_CODE,...                                                                                              
            LAST_PAYMENT,...                                                                                              
            LAST_PAYMENT_DATE,...                                                                                         
            MINIMUM_PAYMENT,...                                                                                           
            EXPIRED_PAYMENTS,...                                                                                          
            APP_APPROVAL_DATE,...                                                                                         
            BRANCH_OFFICE_CODE,...                                                                                        
            FUTURE_PYMNT_DUE_DATE,...                                                                                     
            CARD_STATUS,...                                                                                               
            FIELD4,...                                                                                                    
            VIP_PROFILE,...                                                                                               
            OCCU_CODE,...                                                                                                 
            MOTHERS_MAIDEN_NAME,...                                                                                       
            MILITARY_BRANCH,...                                                                                           
            INCOME_1,...                                                                                                  
            INCOME_2,...                                                                                                  
            EMAIL,...                                                                                                     
            CLIENT_ID,...                                                                                                 
            SCH_NAME,...                                                                                                  
            LAST_PAYMENT_AMOUNT,...                                                                                       
            LAST_DUE_DATE,...                                                                                             
            VLAST_PAYMENT_DATE,...                                                                                        
            VPRODUCT_CATEGORY,...                                                                                         
            VSUBPRODUCT_CATEGORY,...                                                                                      
            OLDEST_DUE_DATE,...                                                                                           
            USER_CODE1,...                                                                                                
            DEPOSITS,...                                                                                                  
            DESTINATION_ACC,...                                                                                           
            INTEREST_SUS_CURR,...                                                                                         
            NOTE_NO,...                                                                                                   
            PAY_OFF_BALANCE,...                                                                                           
            PAY_ACC_NO,...                                                                                                
            RECOVERY_STATUS,...                                                                                           
            OVERDUE_MONTHS,...                                                                                            
            FUTURE_RENTALS,...                                                                                            
            VNP_STATUS,...                                                                                                
            DUE_DAY...                                                                                                    
            ...                                                                                                           
        )...                                                                                                              
        SELECT ...                                                                                                        
            IPRODUCT_ID,...                                                                                               
            ISUB_PRODUCT_ID,...                                                                                           
            ISUBTYPE_ID,...                                                                                               
            IBENTITY_ID,...                                                                                               
            IBRANCH_ID,...                                                                                                
            VCURRENCY,...                                                                                                 
            ISEQ,...                                                                                                      
            IREC_ACCOUNT_ID,...                                                                                           
            ISAV_ACCOUNT_ID,...                                                                                           
            VACCOUNT_NO,...                                                                                               
            VACCOUNT_SUB_NO,...                                                                                           
            IPRIMARY_CUSTORMER_ID,...                                                                                     
            ISECONDARY_CUSTORMER_ID,...                                                                                   
            VCONTRACT_NO,...                                                                                              
            VOLD_CONTRACT_NO,...                                                                                          
            VLOT_ISSUED,...                                                                                               
            DLOAN_APPLY_AMT,...                                                                                           
            DLOAN_APPLY_DTE,...                                                                                           
            DLOAN_APPROVE_DTE,...                                                                                         
            DLOAN_APPROVE_AMT,...                                                                                         
            DACC_OPEN_DATE,...                                                                                            
            DLOAN_FIRST_DISBURSE_DTE,...                                                                                  
            DMAT_DATE,...                                                                                                 
            DCLOSE_DATE,...                                                                                               
            ILOAN_TERM,...                                                                                                
            VTERM_TYPE,...                                                                                                
            ILOAN_AMOUNT,...                                                                                              
            ITOTAL_AMOUNT,...                                                                                             
            IINSTALMENT_AMOUNT,...                                                                                        
            VCREDIT_PURPOSE,...                                                                                           
            VLOAN_PAYMT_METHD,...                                                                                         
            VACCOUNT_CLOSED_REASON,...                                                                                    
            DRENT_DUE_DATE,...                                                                                            
            IACCOUNT_ACTIVE,...                                                                                           
            SETTL_ACCT_NO,...                                                                                             
            VLOAN_OWNERSHIP_TYPE,...                                                                                      
            ILOAN_OWNER,...                                                                                               
            VCORE_OWNER,...                                                                                               
            IRNR_OFFICER,...                                                                                              
            IPROV_AMT,...                                                                                                 
            DELETE_FLAG,...                                                                                               
            VURL,...                                                                                                      
            DATE_CREATED,...                                                                                              
            DATE_LAST_UPDATED,...                                                                                         
            ILASTACTIONUSERID,...                                                                                         
            ILASTACTIONHISTORYID,...                                                                                      
            ILASTACTIONDATE,...                                                                                           
            RESHEDULE_FLAG,...                                                                                            
            NEXT_INSTALLMENT_DATE,...                                                                                     
            NEXT_INSTALLMENT_AMOUNT,...                                                                                   
            NEXT_INSTALLMEN_TYPE,...                                                                                      
            TC_ID,...                                                                                                     
            CURRENCY,...                                                                                                  
            VNPSTATUS,...                                                                                                 
            MORATORIUM_FLAG,...                                                                                           
            IS_WRITE_OFF,...                                                                                              
            VVIP_FLAG,...                                                                                                 
            IS_WRIRE_OFF,...                                                                                              
            OFFICE_CODE,...                                                                                               
            DAILY_FACTOR,...                                                                                              
            LATE_FEES,...                                                                                                 
            SMS_PREF,...                                                                                                  
            EMAIL_PREF,...                                                                                                
            LETTER_PREF,...                                                                                               
            TRUE_RATE,...                                                                                                 
            PRINCIPAL,...                                                                                                 
            TRAN_DESCRIPTION,...                                                                                          
            MATURITY_PERIOD,...                                                                                           
            REFERENCE_LC,...                                                                                              
            INVOICE_NO,...                                                                                                
            PRODUCT,...                                                                                                   
            CIF,...                                                                                                       
            CARD_ACC_TYPE,...                                                                                             
            MAS_CARD,...                                                                                                  
            ACCOUNT1,...                                                                                                  
            BILLING_CYCLE_CODE,...                                                                                        
            ACC_STATUS,...                                                                                                
            CITIZEN_ID,...                                                                                                
            DIRECT_DEBIT_PYMNT_ACC,...                                                                                    
            PAYMENT_CODE,...                                                                                              
            LAST_PAYMENT,...                                                                                              
            LAST_PAYMENT_DATE,...                                                                                         
            MINIMUM_PAYMENT,...                                                                                           
            EXPIRED_PAYMENTS,...                                                                                          
            APP_APPROVAL_DATE,...                                                                                         
            BRANCH_OFFICE_CODE,...                                                                                        
            FUTURE_PYMNT_DUE_DATE,...                                                                                     
            CARD_STATUS,...                                                                                               
            FIELD4,...                                                                                                    
            VIP_PROFILE,...                                                                                               
            OCCU_CODE,...                                                                                                 
            MOTHERS_MAIDEN_NAME,...                                                                                       
            MILITARY_BRANCH,...                                                                                           
            INCOME_1,...                                                                                                  
            INCOME_2,...                                                                                                  
            EMAIL,...                                                                                                     
            CLIENT_ID,...                                                                                                 
            SCH_NAME,...                                                                                                  
            LAST_PAYMENT_AMOUNT,...                                                                                       
            LAST_DUE_DATE,...                                                                                             
            VLAST_PAYMENT_DATE,...                                                                                        
            VPRODUCT_CATEGORY,...                                                                                         
            VSUBPRODUCT_CATEGORY,...                                                                                      
            OLDEST_DUE_DATE,...                                                                                           
            USER_CODE1,...                                                                                                
            DEPOSITS,...                                                                                                  
            DESTINATION_ACC,...                                                                                           
            INTEREST_SUS_CURR,...                                                                                         
            NOTE_NO,...                                                                                                   
            PAY_OFF_BALANCE,...                                                                                           
            PAY_ACC_NO,...                                                                                                
            RECOVERY_STATUS,...                                                                                           
            OVERDUE_MONTHS,...                                                                                            
            FUTURE_RENTALS,...                                                                                            
            VNP_STATUS,...                                                                                                
            DUE_DAY...                                                                                                    
        FROM TBL_C_M_LOAN_MASTER_RECOVERY;...                                                                             
...                                                                                                                       
        /* Record number of rows processed */...                                                                          
        SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                           
...                                                                                                                       
        /* Update process status to mark successful completion */...                                                      
        UPDATE TBL_C_LOG_PROCESS_STATUS...                                                                                
        SET IROWSPROCESSE = @var_Rowsprocessed,...                                                                        
            DENDTIM = GETDATE(),...                                                                                       
            VCOMMENTS = 'COM_TBL_C_M_LOAN_MASTER Completed Successfully!'...                                              
        WHERE IID = @var_ProcessStatusID;...                                                                              
    ...                                                                                                                   
    END TRY...                                                                                                            
...                                                                                                                       
    BEGIN CATCH...                                                                                                        
        /* Handle any errors */...                                                                                        
        SELECT @IsERROR = 1,...                                                                                           
               @Error_Message = ERROR_MESSAGE(),...                                                                       
               @ERROR_LINE = ERROR_LINE();...                                                                             
...                                                                                                                       
        /* Log error in process status */...                                                                              
        UPDATE TBL_C_LOG_PROCESS_STATUS...                                                                                
        SET IROWSPROCESSE = 0,...                                                                                         
            DENDTIM = GETDATE(),...                                                                                       
            VCOMMENTS = 'COM_TBL_C_M_LOAN_MASTER Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details!...
        WHERE IID = @var_ProcessStatusID;...                                                                              
...                                                                                                                       
        /* Log detailed error information */...                                                                           
        INSERT INTO TBL_C_LOG_ERROR_DB...                                                                                 
        (...                                                                                                              
            IID,...                                                                                                       
            VITEMNAME,...                                                                                                 
            VERROR_MESSAGE,...                                                                                            
            DPOSTDATETIME,...                                                                                             
            ICREATEDBY...                                                                                                 
        )...                                                                                                              
        SELECT...                                                                                                         
            NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                         
            'COM_TBL_C_M_LOAN_MASTER',...                                                                                 
            @Error_Message + 'line ' + @ERROR_LINE,...                                                                    
            GETDATE(),...                                                                                                 
            @para_UserID;...                                                                                              
    END CATCH...                                                                                                          
END;...                                                                                                                   


