
Text                                                                                                                            
----                                                                                                                            
...                                                                                                                             
CREATE PROCEDURE [dbo].[COM_MGR_HIRE_PURCHASE](@para_UserID FLOAT)AS...                                                         
BEGIN...                                                                                                                        
...                                                                                                                             
  DECLARE ...                                                                                                                   
   @var_ErrorLogID        DECIMAL(20),...                                                                                       
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                     
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                     
   @var_ErrorMessage      VARCHAR(500),...                                                                                      
   @IsERROR               INT,...                                                                                               
   @Error_Message         VARCHAR(500),...                                                                                      
   @ERROR_LINE            VARCHAR(20);   ...                                                                                    
...                                                                                                                             
   SET @var_Rowsprocessed =  0;...                                                                                              
/* -------------------------------------------------------------------------*...                                                
Procedure       :    COM_MGR_HIRE_PURCHASE...                                                                                   
Author          : Navodya Wimalasooriya...                                                                                      
Date Created    : 21/09/2021...                                                                                                 
Date Last Mod.  : ...                                                                                                           
Description     : Merge data for Original table from core table...                                                              
Level           : merging...                                                                                                    
...                                                                                                                             
=============================================================================*/...                                              
...                                                                                                                             
...                                                                                                                             
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                       
...                                                                                                                             
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                         
(...                                                                                                                            
IID			,...                                                                                                                      
VPROCESSDESC,...                                                                                                                
VPHASE,...                                                                                                                      
DSTARTTIME...                                                                                                                   
...                                                                                                                             
)...                                                                                                                            
SELECT ...                                                                                                                      
@var_ProcessStatusID,...                                                                                                        
'   COM_MGR_HIRE_PURCHASE',...                                                                                                  
'HIRE_PURCHASE',...                                                                                                             
GETDATE()...                                                                                                                    
;...                                                                                                                            
...                                                                                                                             
BEGIN TRY...                                                                                                                    
...                                                                                                                             
MERGE INTO...                                                                                                                   
   TBL_C_M_HIRE_PURCHASE...                                                                                                     
    ...                                                                                                                         
USING...                                                                                                                        
(...                                                                                                                            
select ...                                                                                                                      
...                                                                                                                             
			(SELECT L.IID ...                                                                                                            
	FROM TBL_C_M_LOAN_MASTER L...                                                                                                  
	WHERE L.VACCOUNT_SUB_NO = A.LOAN_MASTER_ID ) AS LOAN_MASTER_ID,...                                                             
			PRODUCT_ID               ,...                                                                                                
			SUB_PRODUCT_ID           ,...                                                                                                
			PRIMARY_CUS_ID           ,...                                                                                                
			CONTRACT_NO              ,...                                                                                                
			LOAN_APPROVE_AMOUNT      ,...                                                                                                
			MATURE_DATE              ,...                                                                                                
			TRUE_RATE                ,...                                                                                                
			INSTALLMENT_AMOUNT       ,...                                                                                                
			ACCOUNT_OPEN_DATE        ,...                                                                                                
			FIRST_DISBURSEMENT_DATE  ,...                                                                                                
			MAIN_BRANCH_ID           ,...                                                                                                
			ALLOCATION_BRANCH_ID     ,...                                                                                                
			STATUS                   ,...                                                                                                
			IS_WRITE_OFF             ,...                                                                                                
			DAYS_PASTDUE...                                                                                                              
		...                                                                                                                           
		...                                                                                                                           
from   TBL_CORE_HIRE_PURCHASE a...                                                                                              
...                                                                                                                             
	EXCEPT...                                                                                                                      
		SELECT...                                                                                                                     
	        LOAN_MASTER_ID           ,...                                                                                          
			PRODUCT_ID               ,...                                                                                                
			SUB_PRODUCT_ID           ,...                                                                                                
			PRIMARY_CUS_ID           ,...                                                                                                
			CONTRACT_NO              ,...                                                                                                
			LOAN_APPROVE_AMOUNT      ,...                                                                                                
			MATURE_DATE              ,...                                                                                                
			TRUE_RATE                ,...                                                                                                
			INSTALLMENT_AMOUNT       ,...                                                                                                
			ACCOUNT_OPEN_DATE        ,...                                                                                                
			FIRST_DISBURSEMENT_DATE  ,...                                                                                                
			MAIN_BRANCH_ID           ,...                                                                                                
			ALLOCATION_BRANCH_ID     ,...                                                                                                
			STATUS                   ,...                                                                                                
			IS_WRITE_OFF             ,...                                                                                                
			DAYS_PASTDUE...                                                                                                              
...                                                                                                                             
		...                                                                                                                           
			...                                                                                                                          
   FROM   TBL_C_M_HIRE_PURCHASE...                                                                                              
...                                                                                                                             
)   TBL_CORE_HIRE_PURCHASE...                                                                                                   
ON...                                                                                                                           
   TBL_C_M_HIRE_PURCHASE.CONTRACT_NO =   TBL_CORE_HIRE_PURCHASE.CONTRACT_NO...                                                  
   WHEN NOT MATCHED THEN...                                                                                                     
INSERT (...                                                                                                                     
		    LOAN_MASTER_ID           ,...                                                                                             
			PRODUCT_ID               ,...                                                                                                
			SUB_PRODUCT_ID           ,...                                                                                                
			PRIMARY_CUS_ID           ,...                                                                                                
			CONTRACT_NO              ,...                                                                                                
			LOAN_APPROVE_AMOUNT      ,...                                                                                                
			MATURE_DATE              ,...                                                                                                
			TRUE_RATE                ,...                                                                                                
			INSTALLMENT_AMOUNT       ,...                                                                                                
			ACCOUNT_OPEN_DATE        ,...                                                                                                
			FIRST_DISBURSEMENT_DATE  ,...                                                                                                
			MAIN_BRANCH_ID           ,...                                                                                                
			ALLOCATION_BRANCH_ID     ,...                                                                                                
			STATUS                   ,...                                                                                                
			IS_WRITE_OFF             ,...                                                                                                
			DAYS_PASTDUE...                                                                                                              
...                                                                                                                             
       )...                                                                                                                     
VALUES...                                                                                                                       
      ( ...                                                                                                                     
	        LOAN_MASTER_ID           ,...                                                                                          
			PRODUCT_ID               ,...                                                                                                
			SUB_PRODUCT_ID           ,...                                                                                                
			PRIMARY_CUS_ID           ,...                                                                                                
			CONTRACT_NO              ,...                                                                                                
			LOAN_APPROVE_AMOUNT      ,...                                                                                                
			MATURE_DATE              ,...                                                                                                
			TRUE_RATE                ,...                                                                                                
			INSTALLMENT_AMOUNT       ,...                                                                                                
			ACCOUNT_OPEN_DATE        ,...                                                                                                
			FIRST_DISBURSEMENT_DATE  ,...                                                                                                
			MAIN_BRANCH_ID           ,...                                                                                                
			ALLOCATION_BRANCH_ID     ,...                                                                                                
			STATUS                   ,...                                                                                                
			IS_WRITE_OFF             ,...                                                                                                
			DAYS_PASTDUE...                                                                                                              
...                                                                                                                             
      );...                                                                                                                     
    ...                                                                                                                         
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                        
...                                                                                                                             
/* Update Process Status Log- Reporting Successful Completion */...                                                             
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                             
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                               
        DENDTIM=GETDATE(),...                                                                                                   
        VCOMMENTS='   COM_MGR_HIRE_PURCHASE Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                           
...                                                                                                                             
END TRY...                                                                                                                      
...                                                                                                                             
...                                                                                                                             
BEGIN CATCH...                                                                                                                  
...                                                                                                                             
     SELECT @IsERROR =1,...                                                                                                     
	 @Error_Message=ERROR_MESSAGE(),...                                                                                            
     @ERROR_LINE = ERROR_LINE();...                                                                                             
  -- ------------------------------------------------------------------------------------------------*...                       
...                                                                                                                             
      /* Add row to Process Status Log- Indcating Error occured */...                                                           
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                   
          SET     IROWSTOBEPROCESSED=0,...                                                                                      
                  DENDTIM=GETDATE(),...                                                                                         
                  VCOMMENTS='   COM_MGR_HIRE_PURCHASE Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                 
...                                                                                                                             
      /* Log error Information in TBL_ERROR_LOG */...                                                                           
...                                                                                                                             
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                           
                    (...                                                                                                        
                    IID,...                                                                                                     
                    VITEMNAME,...                                                                                               
                    VERROR_MESSAGE,...                                                                                          
                    DPOSTDATETIME,...                                                                                           
                    ICREATEDBY...                                                                                               
...                                                                                                                             
                    )...                                                                                                        
                   SELECT...                                                                                                    
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                             
                   '   COM_MGR_HIRE_PURCHASE',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                       
                   GETDATE(),...                                                                                                
                   @para_UserID ...                                                                                             
                   ;...                                                                                                         
...                                                                                                                             
    END CATCH...                                                                                                                
END;...                                                                                                                         


