
Text                                                                                                                                 
----                                                                                                                                 
 ...                                                                                                                                 
CREATE PROCEDURE [dbo].[COM_MGR_PROVISION_CATEGORY](@para_UserID FLOAT)AS...                                                         
BEGIN...                                                                                                                             
...                                                                                                                                  
  DECLARE ...                                                                                                                        
   @var_ErrorLogID        DECIMAL(20),...                                                                                            
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                                          
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                                          
   @var_ErrorMessage      VARCHAR(500),...                                                                                           
   @IsERROR               INT,...                                                                                                    
   @Error_Message         VARCHAR(500),...                                                                                           
   @ERROR_LINE            VARCHAR(20);   ...                                                                                         
...                                                                                                                                  
   SET @var_Rowsprocessed =  0;...                                                                                                   
/* -------------------------------------------------------------------------*...                                                     
Procedure       :    COM_MGR_PROVISION_CATEGORY...                                                                                   
Author          : Navodya Wimalasooriya...                                                                                           
Date Created    : 21/09/2021...                                                                                                      
Date Last Mod.  : ...                                                                                                                
Description     : Merge data for Original table from core table...                                                                   
Level           : merging...                                                                                                         
...                                                                                                                                  
=============================================================================*/...                                                   
...                                                                                                                                  
...                                                                                                                                  
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                                            
...                                                                                                                                  
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                              
(...                                                                                                                                 
IID			,...                                                                                                                           
VPROCESSDESC,...                                                                                                                     
VPHASE,...                                                                                                                           
DSTARTTIME...                                                                                                                        
...                                                                                                                                  
)...                                                                                                                                 
SELECT ...                                                                                                                           
@var_ProcessStatusID,...                                                                                                             
'   COM_MGR_PROVISION_CATEGORY',...                                                                                                  
'PROVISION_CATEGORY',...                                                                                                             
GETDATE()...                                                                                                                         
;...                                                                                                                                 
...                                                                                                                                  
BEGIN TRY...                                                                                                                         
...                                                                                                                                  
MERGE INTO...                                                                                                                        
   TBL_C_M_PROVISION_CATEGORY...                                                                                                     
    ...                                                                                                                              
USING...                                                                                                                             
(...                                                                                                                                 
select ...                                                                                                                           
		START_DATE               ,     ...                                                                                                 
		END_DATE                 ,...                                                                                                      
		DAYS_PASS_DUE            ,...                                                                                                      
		REGULAR_PRODUCT_TYPE     ,...                                                                                                      
		IRREG_FROM_DAYS          ,...                                                                                                      
		IRREG_TO_DAYS            ,...                                                                                                      
		IRREG_CLASS_PRODUCT_CODE ,...                                                                                                      
		IRREG_RISK_CODE          ,...                                                                                                      
		PASS_DUE_1_FROM_DAYS     ,...                                                                                                      
		PASS_DUE_1_TO_DAYS       ,...                                                                                                      
		PASS_DUE_1_CLAS_PRO_CODE ,...                                                                                                      
		PASS_DUE_1_RISK_CODE     ,...                                                                                                      
		PASS_DUE_2_FROM_DAYS...                                                                                                            
from  TBL_CORE_PROVISION_CATEGORY a...                                                                                               
...                                                                                                                                  
		EXCEPT...                                                                                                                          
			SELECT...                                                                                                                         
	    START_DATE               ,     ...                                                                                              
		END_DATE                 ,...                                                                                                      
		DAYS_PASS_DUE            ,...                                                                                                      
		REGULAR_PRODUCT_TYPE     ,...                                                                                                      
		IRREG_FROM_DAYS          ,...                                                                                                      
		IRREG_TO_DAYS            ,...                                                                                                      
		IRREG_CLASS_PRODUCT_CODE ,...                                                                                                      
		IRREG_RISK_CODE          ,...                                                                                                      
		PASS_DUE_1_FROM_DAYS     ,...                                                                                                      
		PASS_DUE_1_TO_DAYS       ,...                                                                                                      
		PASS_DUE_1_CLAS_PRO_CODE ,...                                                                                                      
		PASS_DUE_1_RISK_CODE     ,...                                                                                                      
		PASS_DUE_2_FROM_DAYS...                                                                                                            
...                                                                                                                                  
		...                                                                                                                                
			...                                                                                                                               
   FROM   TBL_C_M_PROVISION_CATEGORY...                                                                                              
...                                                                                                                                  
)  TBL_CORE_PROVISION_CATEGORY...                                                                                                    
ON...                                                                                                                                
   TBL_C_M_PROVISION_CATEGORY.IRREG_CLASS_PRODUCT_CODE =  TBL_CORE_PROVISION_CATEGORY.IRREG_CLASS_PRODUCT_CODE...                    
   WHEN NOT MATCHED THEN...                                                                                                          
INSERT (...                                                                                                                          
		START_DATE               ,     ...                                                                                                 
		END_DATE                 ,...                                                                                                      
		DAYS_PASS_DUE            ,...                                                                                                      
		REGULAR_PRODUCT_TYPE     ,...                                                                                                      
		IRREG_FROM_DAYS          ,...                                                                                                      
		IRREG_TO_DAYS            ,...                                                                                                      
		IRREG_CLASS_PRODUCT_CODE ,...                                                                                                      
		IRREG_RISK_CODE          ,...                                                                                                      
		PASS_DUE_1_FROM_DAYS     ,...                                                                                                      
		PASS_DUE_1_TO_DAYS       ,...                                                                                                      
		PASS_DUE_1_CLAS_PRO_CODE ,...                                                                                                      
		PASS_DUE_1_RISK_CODE     ,...                                                                                                      
		PASS_DUE_2_FROM_DAYS...                                                                                                            
       )...                                                                                                                          
VALUES...                                                                                                                            
      ( ...                                                                                                                          
	    START_DATE               ,     ...                                                                                              
		END_DATE                 ,...                                                                                                      
		DAYS_PASS_DUE            ,...                                                                                                      
		REGULAR_PRODUCT_TYPE     ,...                                                                                                      
		IRREG_FROM_DAYS          ,...                                                                                                      
		IRREG_TO_DAYS            ,...                                                                                                      
		IRREG_CLASS_PRODUCT_CODE ,...                                                                                                      
		IRREG_RISK_CODE          ,...                                                                                                      
		PASS_DUE_1_FROM_DAYS     ,...                                                                                                      
		PASS_DUE_1_TO_DAYS       ,...                                                                                                      
		PASS_DUE_1_CLAS_PRO_CODE ,...                                                                                                      
		PASS_DUE_1_RISK_CODE     ,...                                                                                                      
		PASS_DUE_2_FROM_DAYS...                                                                                                            
      );...                                                                                                                          
    ...                                                                                                                              
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                             
...                                                                                                                                  
/* Update Process Status Log- Reporting Successful Completion */...                                                                  
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                                  
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                                    
        DENDTIM=GETDATE(),...                                                                                                        
        VCOMMENTS='   COM_MGR_PROVISION_CATEGORY Completed Successfully !'...                                                        
WHERE   IID= @var_ProcessStatusID;...                                                                                                
...                                                                                                                                  
END TRY...                                                                                                                           
...                                                                                                                                  
...                                                                                                                                  
BEGIN CATCH...                                                                                                                       
...                                                                                                                                  
     SELECT @IsERROR =1,...                                                                                                          
	 @Error_Message=ERROR_MESSAGE(),...                                                                                                 
     @ERROR_LINE = ERROR_LINE();...                                                                                                  
  -- ------------------------------------------------------------------------------------------------*...                            
...                                                                                                                                  
      /* Add row to Process Status Log- Indcating Error occured */...                                                                
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                                        
          SET     IROWSTOBEPROCESSED=0,...                                                                                           
                  DENDTIM=GETDATE(),...                                                                                              
                  VCOMMENTS='   COM_MGR_PROVISION_CATEGORY Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                                      
...                                                                                                                                  
   /* Log error Information in TBL_ERROR_LOG */...                                                                                   
...                                                                                                                                  
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                                
                    (...                                                                                                             
                    IID,...                                                                                                          
                    VITEMNAME,...                                                                                                    
                    VERROR_MESSAGE,...                                                                                               
                    DPOSTDATETIME,...                                                                                                
                    ICREATEDBY...                                                                                                    
...                                                                                                                                  
                    )...                                                                                                             
                   SELECT...                                                                                                         
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                                  
                   '   COM_MGR_PROVISION_CATEGORY',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                                            
                   GETDATE(),...                                                                                                     
                   @para_UserID ...                                                                                                  
                   ;...                                                                                                              
...                                                                                                                                  
    END CATCH...                                                                                                                     
END;...                                                                                                                              


