
Text                                                                                                                                      
----                                                                                                                                      
...                                                                                                                                       
CREATE   PROCEDURE [dbo].[crd_dashboard_w3](@productId VARCHAR(MAX), @branchId VARCHAR(MAX), @regionId VARCHAR(MAX), @month VARCHAR(20)...
AS...                                                                                                                                     
BEGIN ...                                                                                                                                 
DECLARE...                                                                                                                                
	@v_productId		VARCHAR(MAX),...                                                                                                           
	@v_branchId			VARCHAR(MAX),...                                                                                                           
	@v_regionId			VARCHAR(MAX),...                                                                                                           
	@v_month			VARCHAR(20),...                                                                                                               
	@v_year				INT,...                                                                                                                       
    @v_monthName		VARCHAR(20);...                                                                                                         
...                                                                                                                                       
	SET @v_productId = @productId;...                                                                                                        
	SET @v_branchId = @branchId;...                                                                                                          
	SET @v_regionId = @regionId;...                                                                                                          
	SET @v_month = @month;...                                                                                                                
...                                                                                                                                       
	SET NOCOUNT ON;...                                                                                                                       
	...                                                                                                                                      
	IF @month IS NULL...                                                                                                                     
    BEGIN...                                                                                                                              
        SET @v_year = YEAR(GETDATE());...                                                                                                 
        SET @v_monthName = DATENAME(MONTH, DATEADD(MONTH, -1, GETDATE())); ...                                                            
		SET @v_month = CONCAT(@v_monthName, ' ', @v_year);...                                                                                   
    END;...                                                                                                                               
...                                                                                                                                       
	WITH summary AS...                                                                                                                       
	(SELECT MS.REC_ID AS crd, MS.IMONTHENDOS AS crd_os,...                                                                                   
	MS.PRODUCT_ID AS product, MS.BRANCH_ID AS branch, MS.REGIONID AS region,...                                                              
	MS.MONTH AS month, MS.YEAR AS year, O.OFFICER_CODE AS officer...                                                                         
	FROM TBL_MONTH_SUMMARY MS...                                                                                                             
		JOIN TBL_C_SET_PRODUCT P ON P.IID = MS.PRODUCT_ID ...                                                                                   
		JOIN TBL_C_SET_BUSINESS_ENTITY BE ON BE.IID = MS.BRANCH_ID...                                                                           
		JOIN TBL_C_SET_REGION R ON R.IID = MS.REGIONID...                                                                                       
		JOIN TBL_C_M_ACCOUNT_OFFICER_TYPES O ON O.OFFICER_CODE = MS.OFFICE_CODE...                                                              
	WHERE MS.NPSTATUS = 'Y'...                                                                                                               
	AND O.IID IN (SELECT IOFFICERCODEID FROM TBL_C_SET_CRD_OFFICER))...                                                                      
...                                                                                                                                       
	SELECT ...                                                                                                                               
		SM.officer AS officerCode,...                                                                                                           
		COUNT(SM.crd) AS totalCountCrd,...                                                                                                      
		SUM(SM.crd_os) AS totalOsCrd...                                                                                                         
	FROM summary SM...                                                                                                                       
	WHERE (product IN (SELECT VALUE FROM string_split(@v_productId, ',')) OR @v_productId IS NULL OR @v_productId = '')...                   
	AND (branch IN (SELECT VALUE FROM string_split(@v_branchId, ',')) OR @v_branchId IS NULL OR @v_branchId = '')  ...                       
	AND (region IN (SELECT VALUE FROM string_split(@v_regionId, ',')) OR @v_regionId IS NULL OR @v_regionId = '') ...                        
	AND (CONCAT(month, ' ', year) = @v_month OR @v_month IS NULL)...                                                                         
	GROUP BY SM.officer;...                                                                                                                  
...                                                                                                                                       
END;                                                                                                                                      


