
Text                                                                                                                                                                   
----                                                                                                                                                                   
...                                                                                                                                                                    
create     PROCEDURE [dbo].[crd_dashboard_w4_test](@officerId NUMERIC, @officerCodeId NUMERIC, @fromDate VARCHAR(12), @toDate VARCHAR(12))...                          
AS...                                                                                                                                                                  
BEGIN ...                                                                                                                                                              
DECLARE...                                                                                                                                                             
	@v_officerId		NUMERIC,...                                                                                                                                             
	@v_officerCodeId	NUMERIC,...                                                                                                                                          
	@v_fromDate				DATE,...                                                                                                                                               
	@v_toDate				DATE;...                                                                                                                                                 
...                                                                                                                                                                    
	SET @v_officerId = @officerId;...                                                                                                                                     
	SET @v_officerCodeId = @officerCodeId;...                                                                                                                             
	SET @v_fromDate = CONVERT(DATE, @fromDate, 121);...                                                                                                                   
	SET @v_toDate = CONVERT(DATE, @toDate, 121);...                                                                                                                       
...                                                                                                                                                                    
	SET NOCOUNT ON;...                                                                                                                                                    
	...                                                                                                                                                                   
	IF @v_fromDate IS NULL...                                                                                                                                             
	BEGIN...                                                                                                                                                              
		SET @v_fromDate = CONVERT(DATE, DATEADD(MONTH, -1, GETDATE()), 121);...                                                                                              
	END;...                                                                                                                                                               
...                                                                                                                                                                    
	IF @v_toDate IS NULL...                                                                                                                                               
	BEGIN...                                                                                                                                                              
		SET @v_toDate = CONVERT(DATE, GETDATE(), 121);...                                                                                                                    
	END;...                                                                                                                                                               
...                                                                                                                                                                    
	WITH summary AS...                                                                                                                                                    
	(SELECT  ...                                                                                                                                                          
	DISTINCT RO.IID AS officerId, RO.VOFFICER_NAME AS officerName, LM.OFFICE_CODE, ROC.OFFICER_CODE, ROB.BRANCH_IDS, ...                                                  
	LM.IID, LM.VCONTRACT_NO AS contractNo, CF.ILOANMASTERID, CF.VCONTRACTNO, D.ITOTAL_BALANCE AS os, CF.VFILENUMBER AS fileNo, ...                                        
	CF.IACTIVE AS active, COALESCE(RCS.IID,0) AS action, RCS.DADDEDDATE AS actionDate, CRDO.IID AS officerCodeId...                                                       
	FROM TBL_C_A_RNR_OFFICERS RO...                                                                                                                                       
	JOIN TBL_C_A_RNR_OFFICER_CODES ROC ON RO.IID = ROC.OFFICER_ID...                                                                                                      
	JOIN TBL_C_A_RNR_OFFICER_BRANCHES ROB ON RO.IID = ROB.OFFICER_ID...                                                                                                   
	JOIN TBL_C_M_ACCOUNT_OFFICER_TYPES OT ON OT.OFFICER_CODE = ROC.OFFICER_CODE...                                                                                        
	JOIN TBL_C_SET_CRD_OFFICER CRDO ON CRDO.IOFFICERCODEID = OT.IID...                                                                                                    
	JOIN TBL_C_M_LOAN_MASTER LM ON LM.IBENTITY_ID = ROB.BRANCH_IDS AND LM.OFFICE_CODE = ROC.OFFICER_CODE...                                                               
	JOIN TBL_C_M_DELINQUENCY D ON LM.IID = D.ILOAN_MASTER_ID...                                                                                                           
	LEFT JOIN TBL_C_A_CASE_FILE CF ON LM.IID = CF.ILOANMASTERID...                                                                                                        
	LEFT JOIN TBL_C_A_RECOVERY_CASE RC ON CF.IID = RC.IFILEID...                                                                                                          
	LEFT JOIN TBL_C_A_RECOVERY_CASE_STEPS RCS ON RC.IID = RCS.ICASEID...                                                                                                  
	WHERE RO.IPUBLISH = 1 AND RO.DDELETEDDATE IS NULL AND ROC.DDELETEDDATE IS NULL)...                                                                                    
...                                                                                                                                                                    
	SELECT ...                                                                                                                                                            
		 SM.officerName AS officerName,...                                                                                                                                   
    COUNT(contractNo) AS noOfContracts,...                                                                                                                             
    COUNT(CASE WHEN SM.active = 1 THEN SM.fileNo END) AS noOfFiles,...                                                                                                 
    COUNT(CASE WHEN SM.action != 0 AND SM.active = 1 AND (CONVERT(DATE, actionDate, 121) BETWEEN @v_fromDate  AND @v_toDate) THEN SM.fileNo END) AS noOfFileActioned...
    COUNT(CASE WHEN ...                                                                                                                                                
	 SM.action = 0 AND SM.active = 1  THEN SM.fileNo END) AS noOfFileNotActioned,...                                                                                      
    SUM(SM.os) AS totalOS...                                                                                                                                           
	...                                                                                                                                                                   
		...                                                                                                                                                                  
	FROM summary SM...                                                                                                                                                    
	WHERE (officerId = @v_officerId OR @v_officerId IS NULL) AND (officerCodeId = @v_officerCodeId OR @v_officerCodeId IS NULL)...                                        
	GROUP BY SM.officerName;...                                                                                                                                           
...                                                                                                                                                                    
END;                                                                                                                                                                   


