
Text                                                                                                      
----                                                                                                      
CREATE PROCEDURE GetProductAndCampSections...                                                             
AS...                                                                                                     
BEGIN...                                                                                                  
...                                                                                                       
    DECLARE @ProductCursor CURSOR;...                                                                     
    DECLARE @CampSectionCursor CURSOR;...                                                                 
...                                                                                                       
    DECLARE @ProductID INT;...                                                                            
    DECLARE @ProductName NVARCHAR(100);...                                                                
...                                                                                                       
...                                                                                                       
    DECLARE @SectionID INT;...                                                                            
    DECLARE @SectionName NVARCHAR(100);...                                                                
...                                                                                                       
  ...                                                                                                     
    SET @ProductCursor = CURSOR FOR...                                                                    
    SELECT iid,VPRODUCTCODE...                                                                            
    FROM TBL_C_SET_PRODUCT;...                                                                            
    ...                                                                                                   
...                                                                                                       
    SET @CampSectionCursor = CURSOR FOR...                                                                
    SELECT iid, CAMPAIGN_CODE...                                                                          
    FROM TBL_C_CAMP_SET_SECTION_MAIN...                                                                   
    WHERE iid IN (1,2);...                                                                                
    ...                                                                                                   
   ...                                                                                                    
    OPEN @ProductCursor;...                                                                               
    FETCH NEXT FROM @ProductCursor INTO @ProductID, @ProductName;...                                      
    ...                                                                                                   
    -- Loop through TBL_C_SET_PRODUCT...                                                                  
    WHILE @@FETCH_STATUS = 0...                                                                           
    BEGIN...                                                                                              
        -- Output product information...                                                                  
        PRINT 'Product ID: ' + CAST(@ProductID AS NVARCHAR(10)) + ', Product Name: ' + @ProductName;...   
        ...                                                                                               
        -- Open the cursor for TBL_C_CAMP_SET_SECTION_MAIN and fetch the first row...                     
        OPEN @CampSectionCursor;...                                                                       
        FETCH NEXT FROM @CampSectionCursor INTO @SectionID, @SectionName;...                              
        ...                                                                                               
        -- Loop through TBL_C_CAMP_SET_SECTION_MAIN...                                                    
        WHILE @@FETCH_STATUS = 0...                                                                       
        BEGIN...                                                                                          
            -- Output section information...                                                              
            PRINT 'Section ID: ' + CAST(@SectionID AS NVARCHAR(10)) + ', Section Name: ' + @SectionName...
            ...                                                                                           
            -- Fetch the next row from TBL_C_CAMP_SET_SECTION_MAIN...                                     
            FETCH NEXT FROM @CampSectionCursor INTO @SectionID, @SectionName;...                          
        END...                                                                                            
        ...                                                                                               
        -- Close the cursor for TBL_C_CAMP_SET_SECTION_MAIN...                                            
        CLOSE @CampSectionCursor;...                                                                      
        DEALLOCATE @CampSectionCursor;...                                                                 
        ...                                                                                               
        -- Fetch the next row from TBL_C_SET_PRODUCT...                                                   
        FETCH NEXT FROM @ProductCursor INTO @ProductID, @ProductName;...                                  
    END...                                                                                                
    ...                                                                                                   
    -- Close the cursor for TBL_C_SET_PRODUCT...                                                          
    CLOSE @ProductCursor;...                                                                              
    DEALLOCATE @ProductCursor;...                                                                         
END;...                                                                                                   


