
Text                                                                                                                                                                                           
----                                                                                                                                                                                           
...                                                                                                                                                                                            
CREATE PROCEDURE [dbo].[p_my_dashboard_w5](@fromDate VARCHAR(12), @toDate VARCHAR(12), @agent NUMERIC)...                                                                                      
AS...                                                                                                                                                                                          
BEGIN ...                                                                                                                                                                                      
DECLARE...                                                                                                                                                                                     
	@v_fromDate				DATE,...                                                                                                                                                                       
	@v_toDate				DATE;...                                                                                                                                                                         
...                                                                                                                                                                                            
	--PRINT '02';...                                                                                                                                                                              
	SET @v_fromDate = CONVERT(DATE, @fromDate, 121);...                                                                                                                                           
	--PRINT '03';...                                                                                                                                                                              
	SET @v_toDate = CONVERT(DATE, @toDate, 121);...                                                                                                                                               
	SET NOCOUNT ON;...                                                                                                                                                                            
...                                                                                                                                                                                            
...                                                                                                                                                                                            
	WITH hierarchy1 AS ...                                                                                                                                                                        
	(...                                                                                                                                                                                          
		SELECT h1.iid, h1.iuserid, h1.iparentid, 0 AS level ...                                                                                                                                      
		FROM tbl_c_set_user_hierarchy h1...                                                                                                                                                          
		WHERE iparentid = @agent...                                                                                                                                                                  
			AND (h1.ddeleteddate IS NULL OR h1.ddeleteddate < CONVERT(DATE, getdate(), 121))		...                                                                                                       
		UNION ALL ...                                                                                                                                                                                
		SELECT h2.iid, h2.iuserid, h2.iparentid, level + 1 ...                                                                                                                                       
		FROM tbl_c_set_user_hierarchy h2...                                                                                                                                                          
			INNER JOIN hierarchy1 h ON h.iuserid = h2.iparentid...                                                                                                                                      
		WHERE (h2.ddeleteddate IS NULL OR h2.ddeleteddate <  CONVERT(DATE, getdate(), 121))...                                                                                                       
	),...                                                                                                                                                                                         
	hierarchy AS(...                                                                                                                                                                              
		SELECT h.iid, h.iuserid, h.iparentid, -1 AS level  ...                                                                                                                                       
		FROM tbl_c_set_user_hierarchy h...                                                                                                                                                           
		WHERE iuserid = 9...                                                                                                                                                                         
		UNION ALL...                                                                                                                                                                                 
		SELECT h1.iid, h1.iuserid, h1.iparentid, 0 AS level  ...                                                                                                                                     
		FROM hierarchy1 h1...                                                                                                                                                                        
	),...                                                                                                                                                                                         
...                                                                                                                                                                                            
summary as...                                                                                                                                                                                  
	(select aa.*,ac.VTITLE,ac.ITYPEID,ac.C121VCODE,AC2.VTITLE as v,ac2.VCODE from TBL_C_A_AGENT_ACTION AA...                                                                                      
	LEFT JOIN tbl_c_m_loan_master lm ON aa.iloan_master_id = lm.iid...                                                                                                                            
	LEFT JOIN tbl_users u ON aa.iuser_id = u.iid...                                                                                                                                               
	LEFT JOIN tbl_user_profile up ON up.iuserid = aa.iuser_id ...                                                                                                                                 
	left join TBL_C_A_ACTION_HISTORY_DETAILS AHD on AA.IHIST_ID=ahd.IHISTORY_ID...                                                                                                                
	INNER join TBL_C_SET_ACTION_CATEGORY1 AC on ac.IID=AHD.ICAT1_ID...                                                                                                                            
	INNER JOIN TBL_C_SET_ACTION_CATEGORY2 AC2 on ahd.ICAT2_ID=ac2.IID ...                                                                                                                         
	WHERE aa.iuser_id IN (SELECT iuserid FROM hierarchy h)...                                                                                                                                     
	--AND CAST(aa.iaccess_time AS DATE)  BETWEEN @v_fromDate AND @v_fromDate...                                                                                                                   
	)...                                                                                                                                                                                          
	--SELECT * FROM SUMMARY...                                                                                                                                                                    
	--WHERE ITYPEID=1...                                                                                                                                                                          
...                                                                                                                                                                                            
...                                                                                                                                                                                            
	SELECT...                                                                                                                                                                                     
    SM.VREMARKS AS TYPE,...                                                                                                                                                                    
    SM.VTITLE AS ACTION,...                                                                                                                                                                    
    SM.V AS VTITLE,...                                                                                                                                                                         
    COUNT(CASE WHEN SM.VCODE = 'PTP' AND SM.ITYPEID IN (1,5,7,6) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate A...
    COUNT(CASE WHEN SM.VCODE = 'CBL' AND SM.ITYPEID IN (1,7) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @...
    COUNT(CASE WHEN SM.VCODE = 'ARR' AND SM.ITYPEID IN (1,5,7,6) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate A...
    COUNT(CASE WHEN SM.VCODE = 'OH' AND SM.ITYPEID IN (1,5,7) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END)AS onholdcount,...                                
    COUNT(CASE WHEN SM.VCODE = 'OTH' AND SM.ITYPEID IN (1,5) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS othercount,...                                 
	COUNT(CASE WHEN SM.v = 'Switched Off' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS switchedoff,...                                   
    COUNT(CASE WHEN SM.v = 'Call Terminated' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS callterminated,...                          
    COUNT(CASE WHEN SM.v = 'Fax Number' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS faxnum,...                                       
    COUNT(CASE WHEN SM.v = 'Wrong Number' AND SM.ITYPEID IN (1,7) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS wrongnum,...                              
    COUNT(CASE WHEN SM.v = 'Disconnected' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS disconnected,...                               
	COUNT(CASE WHEN SM.v = 'Not Reachable' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS notreachable,...                                 
	COUNT(CASE WHEN SM.v = 'No Answer' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS noanswer,...                                         
	COUNT(CASE WHEN SM.v = 'Cut the Line' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS cutline,...                                       
	COUNT(CASE WHEN SM.v = 'Block Number' AND SM.ITYPEID = 1 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS blocknumber,...                                   
	COUNT(CASE WHEN SM.VCODE = 'CC' AND SM.ITYPEID IN (5,6) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS cashcollected,...                                  
	COUNT(CASE WHEN SM.v = 'Informed Spouse' AND SM.ITYPEID = 5 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS informed_scount,...                            
	COUNT(CASE WHEN SM.v = 'Informed Relative' AND SM.ITYPEID = 5 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS infomred_rcount,...                          
	COUNT(CASE WHEN SM.v = 'No Party Contacted' AND SM.ITYPEID = 5 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS nopartycount,...                            
	COUNT(CASE WHEN SM.VCODE = 'MP' AND SM.ITYPEID IN (6) AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS meetingpostcount,...                                 
    COUNT(CASE WHEN SM.v = 'Meeting Canceled' AND SM.ITYPEID = 6 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS meeting_can_count,...                      
	COUNT(CASE WHEN SM.v = 'No Agreement' AND SM.ITYPEID = 6 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS noagrremnt_count,...                              
	COUNT(CASE WHEN SM.v = 'Absence of Client' AND SM.ITYPEID = 6 AND CAST(SM.iaccess_time AS DATE) BETWEEN @v_fromDate AND @v_toDate THEN 1 END) AS absense_clcount...                           
FROM...                                                                                                                                                                                        
    SUMMARY AS SM...                                                                                                                                                                           
GROUP BY...                                                                                                                                                                                    
    SM.VREMARKS,...                                                                                                                                                                            
    SM.VTITLE,...                                                                                                                                                                              
    SM.V;...                                                                                                                                                                                   
...                                                                                                                                                                                            
...                                                                                                                                                                                            
...                                                                                                                                                                                            
...                                                                                                                                                                                            
...                                                                                                                                                                                            
END;                                                                                                                                                                                           


