
Text                                         
----                                         
CREATE PROCEDURE test_proc(@param1 NUMERIC...
AS ...                                       
BEGIN ...                                    
	SELECT * ...                                
	FROM TBL_C_SET_PRODUCT;...                  
END;                                         


