
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE PROCEDURE [dbo].[COM_MGR_SYSTEM_NOTE ](@para_UserID FLOAT)AS...                                                 
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       :    COM_MGR_SYSTEM_NOTE ...                                                                           
Author          : Navodya Wimalasooriya...                                                                             
Date ALTERd    : 21/09/2021...                                                                                         
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'   COM_MGR_SYSTEM_NOTE ',...                                                                                          
'SYSTEM_NOTE ',...                                                                                                     
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
   TBL_C_M_SYSTEM_NOTE...                                                                                              
USING...                                                                                                               
(...                                                                                                                   
select ...                                                                                                             
	(SELECT L.IID ...                                                                                                     
	FROM TBL_C_M_LOAN_MASTER L...                                                                                         
	WHERE L.VACCOUNT_SUB_NO = A.CONTRACT_NO ) AS ILOANMASTERID,...                                                        
	HTYPE,...                                                                                                             
	HDATE,...                                                                                                             
	COMMENTS_1+' ,'+COMMENTS_2+' ,'+COMMENTS_3+' ,'+COMMENTS_4 as HNOTECOMMENT ,...                                       
	PROMISED_DATE,...                                                                                                     
	PROMISED_AMOUNT,...                                                                                                   
	ACTION_USER,...                                                                                                       
	DATE_CREATED,...                                                                                                      
	LAST_UPDATED_DATE...                                                                                                  
from TBL_CORE_SYSTEM_HISTORY_NOTE     a...                                                                             
...                                                                                                                    
  EXCEPT...                                                                                                            
    SELECT ...                                                                                                         
	ILOANMASTERID,...                                                                                                     
	ITYPEID,...                                                                                                           
	DDATE,...                                                                                                             
	VNOTE,...                                                                                                             
	VPROMISDDATE,...                                                                                                      
	VPROMISDAMOUNT,...                                                                                                    
	VUSERNAME,...                                                                                                         
	DDATE_CREATED,...                                                                                                     
	DDATE_UPDATED...                                                                                                      
		...                                                                                                                  
   FROM   TBL_C_M_SYSTEM_NOTE...                                                                                       
...                                                                                                                    
) TBL_CORE_SYSTEM_HISTORY_NOTE    ...                                                                                  
ON...                                                                                                                  
   TBL_C_M_SYSTEM_NOTE.ILOANMASTERID = TBL_CORE_SYSTEM_HISTORY_NOTE.ILOANMASTERID...                                   
   WHEN MATCHED THEN...                                                                                                
   UPDATE SET...                                                                                                       
TBL_C_M_SYSTEM_NOTE.ITYPEID			=	TBL_CORE_SYSTEM_HISTORY_NOTE.HTYPE,...                                                 
TBL_C_M_SYSTEM_NOTE.DDATE          =	TBL_CORE_SYSTEM_HISTORY_NOTE.HDATE,...                                            
TBL_C_M_SYSTEM_NOTE.VNOTE          =	TBL_CORE_SYSTEM_HISTORY_NOTE.HNOTECOMMENT ,...                                    
TBL_C_M_SYSTEM_NOTE.VPROMISDDATE   =	TBL_CORE_SYSTEM_HISTORY_NOTE.PROMISED_DATE,...                                    
TBL_C_M_SYSTEM_NOTE.VPROMISDAMOUNT =	TBL_CORE_SYSTEM_HISTORY_NOTE.PROMISED_AMOUNT,...                                  
TBL_C_M_SYSTEM_NOTE.VUSERNAME      =	TBL_CORE_SYSTEM_HISTORY_NOTE.ACTION_USER,...                                      
TBL_C_M_SYSTEM_NOTE.DDATE_CREATED  =	TBL_CORE_SYSTEM_HISTORY_NOTE.DATE_CREATED,...                                     
TBL_C_M_SYSTEM_NOTE.DDATE_UPDATED  =	TBL_CORE_SYSTEM_HISTORY_NOTE.LAST_UPDATED_DATE...                                 
   ...                                                                                                                 
   WHEN NOT MATCHED THEN...                                                                                            
INSERT (...                                                                                                            
	...                                                                                                                   
	ILOANMASTERID,...                                                                                                     
	ITYPEID,...                                                                                                           
	DDATE,...                                                                                                             
	VNOTE,...                                                                                                             
	VPROMISDDATE,...                                                                                                      
	VPROMISDAMOUNT,...                                                                                                    
	VUSERNAME,...                                                                                                         
	IACTIONUSERID,...                                                                                                     
	DELETE_FLAG,...                                                                                                       
	DDATE_CREATED,...                                                                                                     
	DDATE_UPDATED...                                                                                                      
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
	ILOANMASTERID,...                                                                                                     
	HTYPE,	...                                                                                                            
	HDATE,	...                                                                                                            
	HNOTECOMMENT,	...                                                                                                     
	PROMISED_DATE	,...                                                                                                    
	PROMISED_AMOUNT	,...                                                                                                  
	ACTION_USER	,...                                                                                                      
	NULL,...                                                                                                              
	NULL,...                                                                                                              
    DATE_CREATED	,...                                                                                                  
    LAST_UPDATED_DATE	...                                                                                              
    );...                                                                                                              
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_MGR_SYSTEM_NOTE  Completed Successfully !'...                                                   
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_MGR_SYSTEM_NOTE  Completed With Errors, Please refer TBL_ERROR_LOG_DB for more deta...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
       DPOSTDATETIME,...                                                                                               
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   '   COM_MGR_SYSTEM_NOTE ',...                                                                       
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


