
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE PROCEDURE [dbo].[COM_MGR_PD_CHEQUE](@para_UserID FLOAT)AS...                                                    
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_MGR_PD_CHEQUE...                                                                                 
Author          : ...                                                                                                  
Date ALTERd     : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_MGR_PD_CHEQUE',...                                                                                                
'PD_CHEQUE',...                                                                                                        
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
  TBL_C_M_PD_CHEQUE...                                                                                                 
USING...                                                                                                               
(...                                                                                                                   
select 	...                                                                                                            
		(SELECT L.IID ...                                                                                                    
		FROM TBL_C_M_LOAN_MASTER L...                                                                                        
		WHERE L.VCONTRACT_NO = a.ACCOUNT) AS ACCOUNT,...                                                                     
		(SELECT B.IID ...                                                                                                    
		FROM TBL_C_M_CUSTOMER_INFO B...                                                                                      
		WHERE B.VNEW_NIC = a.NIC) AS NIC,...                                                                                 
		CUSTOMER_TYPE          ,		...                                                                                        
		PRODUCT,...                                                                                                          
		(SELECT D.IID ...                                                                                                    
		FROM TBL_C_SET_SUB_PRODUCT D...                                                                                      
		WHERE D.VSUBPRODUCTCODE = a.PRODUCT_CODE) AS PRODUCT_CODE,...                                                        
		(SELECT E.IID...                                                                                                     
		FROM TBL_C_SET_BUSINESS_ENTITY E...                                                                                  
		WHERE  E.VCODE = A.BRANCH) AS BRANCH,...                                                                             
		LIMIT				   ,...                                                                                                     
		PRODUCT_CATEGORY	   ,...                                                                                             
		NAME				   ,...                                                                                                      
		CIF					   ,...                                                                                                      
		OFFICER				   ,...                                                                                                   
		CHQ_INV_NUMBER		   ,...                                                                                              
		TRAN_AMOUNT			   ,...                                                                                                
		TRANSACTION_DATE	   ,...                                                                                             
		CHQ_MATURITY_DATE	   ,...                                                                                            
		CREDIT_PERIOD		   ,...                                                                                               
		SCHEDULE_TYPE		   ,...                                                                                               
		INV_MATURITY_DATE	   ,...                                                                                            
		RTN_DATE			   ,...                                                                                                   
		DEBTOR_CODE			   ,...                                                                                                
		DPD_DAYS			...                                                                                                       
...                                                                                                                    
from TBL_CORE_PD_CHEQUE_DETAILS a...                                                                                   
...                                                                                                                    
  EXCEPT...                                                                                                            
    SELECT ...                                                                                                         
		ILOANMASTERID,...                                                                                                    
		NIC         ,...                                                                                                     
		CUSTOMER_TYPE          ,		...                                                                                        
		PRODUCT				   ,...                                                                                                   
		PRODUCT_CODE		   ,...                                                                                                
		BRANCH				   ,...                                                                                                    
		LIMIT				   ,...                                                                                                     
		PRODUCT_CATEGORY	   ,...                                                                                             
		NAME				   ,...                                                                                                      
		CIF					   ,...                                                                                                      
		OFFICER				   ,...                                                                                                   
		CHQ_INV_NUMBER		   ,...                                                                                              
		TRAN_AMOUNT			   ,...                                                                                                
		TRANSACTION_DATE	   ,...                                                                                             
		CHQ_MATURITY_DATE	   ,...                                                                                            
		CREDIT_PERIOD		   ,...                                                                                               
		SCHEDULE_TYPE		   ,...                                                                                               
		INV_MATURITY_DATE	   ,...                                                                                            
		RTN_DATE			   ,...                                                                                                   
		DEBTOR_CODE			   ,...                                                                                                
		DPD_DAYS			...                                                                                                       
		...                                                                                                                  
			...                                                                                                                 
    FROM   TBL_C_M_PD_CHEQUE...                                                                                        
...                                                                                                                    
...                                                                                                                    
) TBL_CORE_PD_CHEQUE_DETAILS...                                                                                        
ON...                                                                                                                  
  TBL_C_M_PD_CHEQUE.ILOANMASTERID = TBL_CORE_PD_CHEQUE_DETAILS.ACCOUNT...                                              
  and TBL_C_M_PD_CHEQUE.CHQ_INV_NUMBER = TBL_CORE_PD_CHEQUE_DETAILS.CHQ_INV_NUMBER...                                  
  WHEN MATCHED THEN...                                                                                                 
  update SET...                                                                                                        
TBL_C_M_PD_CHEQUE.NIC               =	TBL_CORE_PD_CHEQUE_DETAILS.NIC                    ,...                           
TBL_C_M_PD_CHEQUE.CUSTOMER_TYPE     =	TBL_CORE_PD_CHEQUE_DETAILS.CUSTOMER_TYPE                    ,...                 
TBL_C_M_PD_CHEQUE.PRODUCT           =	TBL_CORE_PD_CHEQUE_DETAILS.PRODUCT                ,...                           
TBL_C_M_PD_CHEQUE.PRODUCT_CODE      =	TBL_CORE_PD_CHEQUE_DETAILS.PRODUCT_CODE           ,...                           
TBL_C_M_PD_CHEQUE.BRANCH            =	TBL_CORE_PD_CHEQUE_DETAILS.BRANCH                 ,...                           
TBL_C_M_PD_CHEQUE.LIMIT             =	TBL_CORE_PD_CHEQUE_DETAILS.LIMIT                  ,...                           
TBL_C_M_PD_CHEQUE.PRODUCT_CATEGORY  =	TBL_CORE_PD_CHEQUE_DETAILS.PRODUCT_CATEGORY        ,...                          
TBL_C_M_PD_CHEQUE.NAME              =	TBL_CORE_PD_CHEQUE_DETAILS.NAME                    ,...                          
TBL_C_M_PD_CHEQUE.CIF               =	TBL_CORE_PD_CHEQUE_DETAILS.CIF                     ,...                          
TBL_C_M_PD_CHEQUE.OFFICER           =	TBL_CORE_PD_CHEQUE_DETAILS.OFFICER                 ,...                          
TBL_C_M_PD_CHEQUE.CHQ_INV_NUMBER	=	TBL_CORE_PD_CHEQUE_DETAILS.CHQ_INV_NUMBER          ,...                             
TBL_C_M_PD_CHEQUE.TRAN_AMOUNT       =	TBL_CORE_PD_CHEQUE_DETAILS.TRAN_AMOUNT             ,...                          
TBL_C_M_PD_CHEQUE.TRANSACTION_DATE  =	TBL_CORE_PD_CHEQUE_DETAILS.TRANSACTION_DATE        ,...                          
TBL_C_M_PD_CHEQUE.CHQ_MATURITY_DATE =	TBL_CORE_PD_CHEQUE_DETAILS.CHQ_MATURITY_DATE       ,...                          
TBL_C_M_PD_CHEQUE.CREDIT_PERIOD     =	TBL_CORE_PD_CHEQUE_DETAILS.CREDIT_PERIOD           ,...                          
TBL_C_M_PD_CHEQUE.SCHEDULE_TYPE     =	TBL_CORE_PD_CHEQUE_DETAILS.SCHEDULE_TYPE           ,...                          
TBL_C_M_PD_CHEQUE.INV_MATURITY_DATE =	TBL_CORE_PD_CHEQUE_DETAILS.INV_MATURITY_DATE       ,...                          
TBL_C_M_PD_CHEQUE.RTN_DATE          =	TBL_CORE_PD_CHEQUE_DETAILS.RTN_DATE                ,...                          
TBL_C_M_PD_CHEQUE.DEBTOR_CODE       =	TBL_CORE_PD_CHEQUE_DETAILS.DEBTOR_CODE             ,...                          
TBL_C_M_PD_CHEQUE.DPD_DAYS          =	TBL_CORE_PD_CHEQUE_DETAILS.DPD_DAYS             ...                              
...                                                                                                                    
...                                                                                                                    
  ...                                                                                                                  
WHEN NOT MATCHED THEN...                                                                                               
INSERT (...                                                                                                            
		...                                                                                                                  
		ILOANMASTERID         ,...                                                                                           
		NIC                   ,...                                                                                           
		CUSTOMER_TYPE        ,...                                                                                            
		PRODUCT               ,...                                                                                           
		PRODUCT_CODE          ,...                                                                                           
		BRANCH                ,...                                                                                           
		LIMIT                 ,...                                                                                           
		PRODUCT_CATEGORY      ,...                                                                                           
		NAME                  ,...                                                                                           
		CIF                   ,...                                                                                           
		OFFICER               ,...                                                                                           
		CHQ_INV_NUMBER	      ,...                                                                                            
		TRAN_AMOUNT           ,...                                                                                           
		TRANSACTION_DATE      ,...                                                                                           
		CHQ_MATURITY_DATE     ,...                                                                                           
		CREDIT_PERIOD         ,...                                                                                           
		SCHEDULE_TYPE         ,...                                                                                           
		INV_MATURITY_DATE     ,...                                                                                           
		RTN_DATE              ,...                                                                                           
		DEBTOR_CODE           ,...                                                                                           
		DPD_DAYS         ...                                                                                                 
		...                                                                                                                  
...                                                                                                                    
...                                                                                                                    
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
		ACCOUNT                     ,	...                                                                                    
		NIC                         ,...                                                                                     
		CUSTOMER_TYPE        ,...                                                                                            
		PRODUCT                     ,...                                                                                     
		PRODUCT_CODE                ,...                                                                                     
		BRANCH                      ,...                                                                                     
		LIMIT                       ,...                                                                                     
		PRODUCT_CATEGORY            ,...                                                                                     
		NAME                        ,...                                                                                     
		CIF                         ,...                                                                                     
		OFFICER                     ,...                                                                                     
		CHQ_INV_NUMBER              ,...                                                                                     
		TRAN_AMOUNT                 ,...                                                                                     
		TRANSACTION_DATE            ,...                                                                                     
		CHQ_MATURITY_DATE           ,...                                                                                     
		CREDIT_PERIOD               ,...                                                                                     
		SCHEDULE_TYPE               ,...                                                                                     
		INV_MATURITY_DATE           ,...                                                                                     
		RTN_DATE                    ,...                                                                                     
		DEBTOR_CODE                 ,...                                                                                     
		DPD_DAYS          ...                                                                                                
...                                                                                                                    
		...                                                                                                                  
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_MGR_PD_CHEQUE Completed Successfully !'...                                                      
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_MGR_PD_CHEQUE Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'COM_MGR_PD_CHEQUE',...                                                                             
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;                                                                                                                   


