
Text                                                                                                                   
----                                                                                                                   
CREATE PROCEDURE [dbo].[COM_MGR_PAWNING_DETAILS](@para_UserID FLOAT)AS...                                              
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       :     COM_MGR_PAWNING_DETAILS...                                                                       
Author          : Navodya Wimalasooriya...                                                                             
Date Created    : 21/09/2021...                                                                                        
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'    COM_MGR_PAWNING_DETAILS',...                                                                                      
'PAWNING_DETAILS',...                                                                                                  
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
     TBL_C_M_PAWNING_DETAILS...                                                                                        
    ...                                                                                                                
USING...                                                                                                               
(...                                                                                                                   
select ...                                                                                                             
        LOAN_OD_TYPE      ,...                                                                                         
		(SELECT L.IID ...                                                                                                    
		FROM TBL_C_M_LOAN_MASTER L...                                                                                        
		WHERE L.VACCOUNT_SUB_NO= A.LOAN_NO_OD_NO)  AS LOAN_NO_OD_NO,...                                                      
			CUSTOMER_NIC      ,...                                                                                              
			CUSTOMER_CIF      ,...                                                                                              
			OPEN_DATE         ,...                                                                                              
			OPEN_JULIAN_DATE  ,...                                                                                              
			OPEN_DATE_1       ,...                                                                                              
			CLOSE_DATE        ,...                                                                                              
			CLOSE_JULIAN_DATE ,...                                                                                              
			CLOSE_DATE_1      ,...                                                                                              
			ADVANCE_TYPE      ,...                                                                                              
			PRODUCT_TYPE      ,...                                                                                              
			PERIOD_MONTHS     ,...                                                                                              
			INTEREST_RATE     ,...                                                                                              
			SPECIAL_RATE      ,...                                                                                              
			ITEM_COUNT        ,...                                                                                              
			ADVANCE_AMOUNT    ,...                                                                                              
			SETTLEMT_AMOUNT   ,...                                                                                              
			TOTAL_AMOUNT  ,   ...                                                                                               
			ASSESSED_VALUE  , ...                                                                                               
            NET_GOLD_VALUE,...                                                                                         
			PAWN_TICK_NO...                                                                                                     
		...                                                                                                                  
		...                                                                                                                  
from   TBL_CORE_PAWNING_DETAILS a...                                                                                   
LEFT JOIN TBL_C_M_LOAN_MASTER L ON L.VACCOUNT_SUB_NO = A.LOAN_NO_OD_NO ...                                             
WHERE  L.VACCOUNT_SUB_NO IS NOT NULL...                                                                                
	EXCEPT...                                                                                                             
		SELECT...                                                                                                            
	        LOAN_OD_TYPE      ,...                                                                                        
			ILOANMASTER_ID     ,...                                                                                             
			CUSTOMER_NIC      ,...                                                                                              
			CUSTOMER_CIF      ,...                                                                                              
			OPEN_DATE         ,...                                                                                              
			OPEN_JULIAN_DATE  ,...                                                                                              
			OPEN_DATE_1       ,...                                                                                              
			CLOSE_DATE        ,...                                                                                              
			CLOSE_JULIAN_DATE ,...                                                                                              
			CLOSE_DATE_1      ,...                                                                                              
			ADVANCE_TYPE      ,...                                                                                              
			PRODUCT_TYPE      ,...                                                                                              
			PERIOD_MONTHS     ,...                                                                                              
			INTEREST_RATE     ,...                                                                                              
			SPECIAL_RATE      ,...                                                                                              
			ITEM_COUNT        ,...                                                                                              
			ADVANCE_AMOUNT    ,...                                                                                              
			SETTLEMT_AMOUNT   ,...                                                                                              
			TOTAL_AMOUNT  ,   ...                                                                                               
			ASSESSED_VALUE  , ...                                                                                               
            NET_GOLD_VALUE,...                                                                                         
			PAWN_TICK_NO...                                                                                                     
		...                                                                                                                  
			...                                                                                                                 
   FROM     TBL_C_M_PAWNING_DETAILS...                                                                                 
   ...                                                                                                                 
...                                                                                                                    
)   TBL_CORE_PAWNING_DETAILS...                                                                                        
ON...                                                                                                                  
     TBL_C_M_PAWNING_DETAILS.ILOANMASTER_ID =   TBL_CORE_PAWNING_DETAILS.LOAN_NO_OD_NO...                              
	 AND TBL_C_M_PAWNING_DETAILS.PAWN_TICK_NO =   TBL_CORE_PAWNING_DETAILS.PAWN_TICK_NO...                                
WHEN MATCHED THEN...                                                                                                   
update SET...                                                                                                          
    TBL_C_M_PAWNING_DETAILS.ILOANMASTER_ID =   TBL_CORE_PAWNING_DETAILS.LOAN_NO_OD_NO,...                              
	TBL_C_M_PAWNING_DETAILS.LOAN_OD_TYPE =   TBL_CORE_PAWNING_DETAILS.LOAN_OD_TYPE,...                                    
	TBL_C_M_PAWNING_DETAILS.CUSTOMER_NIC =   TBL_CORE_PAWNING_DETAILS.CUSTOMER_NIC,...                                    
	TBL_C_M_PAWNING_DETAILS.CUSTOMER_CIF =   TBL_CORE_PAWNING_DETAILS.CUSTOMER_CIF,...                                    
	TBL_C_M_PAWNING_DETAILS.OPEN_DATE =   TBL_CORE_PAWNING_DETAILS.OPEN_DATE,...                                          
	TBL_C_M_PAWNING_DETAILS.OPEN_JULIAN_DATE =   TBL_CORE_PAWNING_DETAILS.OPEN_JULIAN_DATE,...                            
	TBL_C_M_PAWNING_DETAILS.OPEN_DATE_1 =   TBL_CORE_PAWNING_DETAILS.OPEN_DATE_1,...                                      
	TBL_C_M_PAWNING_DETAILS.CLOSE_DATE =   TBL_CORE_PAWNING_DETAILS.CLOSE_DATE,...                                        
	TBL_C_M_PAWNING_DETAILS.CLOSE_JULIAN_DATE =   TBL_CORE_PAWNING_DETAILS.CLOSE_JULIAN_DATE,...                          
	TBL_C_M_PAWNING_DETAILS.CLOSE_DATE_1 =   TBL_CORE_PAWNING_DETAILS.CLOSE_DATE_1,...                                    
	TBL_C_M_PAWNING_DETAILS.ADVANCE_TYPE =   TBL_CORE_PAWNING_DETAILS.ADVANCE_TYPE,...                                    
	TBL_C_M_PAWNING_DETAILS.PRODUCT_TYPE =   TBL_CORE_PAWNING_DETAILS.PRODUCT_TYPE,...                                    
	TBL_C_M_PAWNING_DETAILS.PERIOD_MONTHS =   TBL_CORE_PAWNING_DETAILS.PERIOD_MONTHS,...                                  
	TBL_C_M_PAWNING_DETAILS.INTEREST_RATE =   TBL_CORE_PAWNING_DETAILS.INTEREST_RATE,...                                  
	TBL_C_M_PAWNING_DETAILS.SPECIAL_RATE =   TBL_CORE_PAWNING_DETAILS.SPECIAL_RATE,...                                    
	TBL_C_M_PAWNING_DETAILS.ITEM_COUNT =   TBL_CORE_PAWNING_DETAILS.ITEM_COUNT,...                                        
	TBL_C_M_PAWNING_DETAILS.ADVANCE_AMOUNT =   TBL_CORE_PAWNING_DETAILS.ADVANCE_AMOUNT,...                                
	TBL_C_M_PAWNING_DETAILS.SETTLEMT_AMOUNT =   TBL_CORE_PAWNING_DETAILS.SETTLEMT_AMOUNT,...                              
	TBL_C_M_PAWNING_DETAILS.TOTAL_AMOUNT =   TBL_CORE_PAWNING_DETAILS.TOTAL_AMOUNT,...                                    
	TBL_C_M_PAWNING_DETAILS.ASSESSED_VALUE =   TBL_CORE_PAWNING_DETAILS.ASSESSED_VALUE,...                                
	TBL_C_M_PAWNING_DETAILS.NET_GOLD_VALUE =   TBL_CORE_PAWNING_DETAILS.NET_GOLD_VALUE,...                                
	TBL_C_M_PAWNING_DETAILS.PAWN_TICK_NO =   TBL_CORE_PAWNING_DETAILS.PAWN_TICK_NO...                                     
...                                                                                                                    
...                                                                                                                    
	 WHEN NOT MATCHED THEN...                                                                                             
...                                                                                                                    
INSERT (...                                                                                                            
		     LOAN_OD_TYPE      ,...                                                                                          
			ILOANMASTER_ID     ,...                                                                                             
			CUSTOMER_NIC      ,...                                                                                              
			CUSTOMER_CIF      ,...                                                                                              
			OPEN_DATE         ,...                                                                                              
			OPEN_JULIAN_DATE  ,...                                                                                              
			OPEN_DATE_1       ,...                                                                                              
			CLOSE_DATE        ,...                                                                                              
			CLOSE_JULIAN_DATE ,...                                                                                              
			CLOSE_DATE_1      ,...                                                                                              
			ADVANCE_TYPE      ,...                                                                                              
			PRODUCT_TYPE      ,...                                                                                              
			PERIOD_MONTHS     ,...                                                                                              
			INTEREST_RATE     ,...                                                                                              
			SPECIAL_RATE      ,...                                                                                              
			ITEM_COUNT        ,...                                                                                              
			ADVANCE_AMOUNT    ,...                                                                                              
			SETTLEMT_AMOUNT   ,...                                                                                              
			TOTAL_AMOUNT  ,   ...                                                                                               
			ASSESSED_VALUE  , ...                                                                                               
            NET_GOLD_VALUE,...                                                                                         
			PAWN_TICK_NO...                                                                                                     
...                                                                                                                    
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
	        LOAN_OD_TYPE      ,...                                                                                        
			LOAN_NO_OD_NO     ,...                                                                                              
			CUSTOMER_NIC      ,...                                                                                              
			CUSTOMER_CIF      ,...                                                                                              
			OPEN_DATE         ,...                                                                                              
			OPEN_JULIAN_DATE  ,...                                                                                              
			OPEN_DATE_1       ,...                                                                                              
			CLOSE_DATE        ,...                                                                                              
			CLOSE_JULIAN_DATE ,...                                                                                              
			CLOSE_DATE_1      ,...                                                                                              
			ADVANCE_TYPE      ,...                                                                                              
			PRODUCT_TYPE      ,...                                                                                              
			PERIOD_MONTHS     ,...                                                                                              
			INTEREST_RATE     ,...                                                                                              
			SPECIAL_RATE      ,...                                                                                              
			ITEM_COUNT        ,...                                                                                              
			ADVANCE_AMOUNT    ,...                                                                                              
			SETTLEMT_AMOUNT   ,...                                                                                              
			TOTAL_AMOUNT  ,   ...                                                                                               
			ASSESSED_VALUE  , ...                                                                                               
            NET_GOLD_VALUE,...                                                                                         
			PAWN_TICK_NO...                                                                                                     
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='    COM_MGR_PAWNING_DETAILS Completed Successfully !'...                                            
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='    COM_MGR_PAWNING_DETAILS Completed With Errors, Please refer TBL_ERROR_LOG_DB for mo...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   '    COM_MGR_PAWNING_DETAILS',...                                                                   
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                
...                                                                                                                    


