
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
...                                                                                                                    
--drop procedure [COM_MGR_PAYMENT_INFO]...                                                                             
CREATE   PROCEDURE [dbo].[COM_MGR_PAYMENT_INFO](@para_UserID FLOAT) AS...                                              
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_MGR_PAYMENT_INFO...                                                                              
Author          : ...                                                                                                  
Date ALTERd     : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_MGR_PAYMENT_INFO',...                                                                                             
'PAYMENT INFO',...                                                                                                     
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
  TBL_C_M_PAYMENT_INFO...                                                                                              
USING...                                                                                                               
(...                                                                                                                   
select ...                                                                                                             
		...                                                                                                                  
		(SELECT P.IID ...                                                                                                    
		FROM  TBL_C_A_PAYMENT_MAIN P...                                                                                      
		WHERE P.IRECEIPT_NO= A.RECEIPT_NO ) AS PAYMT_MAIN_ID ,...                                                            
...                                                                                                                    
		RECEIPT_NO				,...                                                                                                   
		APPLIED_DATE			,...                                                                                                  
		PAYMT_DATE				,...                                                                                                   
		AMOUNT					,...                                                                                                      
		PAYMT_CODE				,...                                                                                                   
		PAYMT_TYPE				,...                                                                                                   
		REF_NO					,...                                                                                                      
		LAST_UPDATED_DATE		,...                                                                                              
		DATE_CREATED...                                                                                                      
		...                                                                                                                  
from TBL_CORE_PAYMENT_INFO a...                                                                                        
...                                                                                                                    
  EXCEPT...                                                                                                            
    SELECT ...                                                                                                         
			...                                                                                                                 
			IPAYMENTMAINID		,...                                                                                                
			VRECEIPT_NO         ,...                                                                                            
			DAPPLIED_DATE		,...                                                                                                 
			DPAYMT_DATE         ,...                                                                                            
			DAMT				,...                                                                                                        
			VPAYMENT_CODE       ,...                                                                                            
			VPAYMENT_TYPE       ,...                                                                                            
			VREFFERENCE_NO      ,...                                                                                            
			DDATE_UPDATED		,...                                                                                                 
			DDATE_CREATED...                                                                                                    
			...                                                                                                                 
			...                                                                                                                 
    FROM   TBL_C_M_PAYMENT_INFO...                                                                                     
...                                                                                                                    
) TBL_CORE_PAYMENT_INFO...                                                                                             
ON...                                                                                                                  
  ...                                                                                                                  
  TBL_C_M_PAYMENT_INFO.VRECEIPT_NO		= TBL_CORE_PAYMENT_INFO.RECEIPT_NO AND...                                          
  TBL_C_M_PAYMENT_INFO.IPAYMENTMAINID	= TBL_CORE_PAYMENT_INFO.PAYMT_MAIN_ID...                                         
  AND TBL_C_M_PAYMENT_INFO.DPAYMT_DATE	= TBL_CORE_PAYMENT_INFO.PAYMT_DATE...                                           
  WHEN MATCHED THEN...                                                                                                 
  update set...                                                                                                        
...                                                                                                                    
	TBL_C_M_PAYMENT_INFO.IPAYMENTMAINID		= TBL_CORE_PAYMENT_INFO.PAYMT_MAIN_ID	,...                                       
	TBL_C_M_PAYMENT_INFO.VRECEIPT_NO		= TBL_CORE_PAYMENT_INFO.RECEIPT_NO		,...                                            
	TBL_C_M_PAYMENT_INFO.VPAYMENT_CODE		= TBL_CORE_PAYMENT_INFO.PAYMT_CODE		,...                                          
	TBL_C_M_PAYMENT_INFO.VPAYMENT_TYPE		= TBL_CORE_PAYMENT_INFO.PAYMT_TYPE		,...                                          
	TBL_C_M_PAYMENT_INFO.VREFFERENCE_NO		= TBL_CORE_PAYMENT_INFO.REF_NO			,...                                            
	TBL_C_M_PAYMENT_INFO.DPAYMT_DATE		= TBL_CORE_PAYMENT_INFO.PAYMT_DATE		,...                                            
	TBL_C_M_PAYMENT_INFO.DAPPLIED_DATE		= TBL_CORE_PAYMENT_INFO.APPLIED_DATE	,...                                         
	TBL_C_M_PAYMENT_INFO.DAMT				= TBL_CORE_PAYMENT_INFO.AMOUNT			,...                                                    
	TBL_C_M_PAYMENT_INFO.DDATE_UPDATED		= GETDATE()...                                                                    
...                                                                                                                    
...                                                                                                                    
WHEN NOT MATCHED THEN...                                                                                               
INSERT (...                                                                                                            
		...                                                                                                                  
...                                                                                                                    
	IPAYMENTMAINID		,...                                                                                                  
	VRECEIPT_NO			,...                                                                                                    
	VTRANSACTION_NO		,...                                                                                                 
	VPAYMENT_CODE		,...                                                                                                   
	VPAYMENT_TYPE		,...                                                                                                   
	VREFFERENCE_NO		,...                                                                                                  
	DPAYMT_DATE			,...                                                                                                    
	DAPPLIED_DATE		,...                                                                                                   
	DAMT				,...                                                                                                          
	DELETE_FLAG			,...                                                                                                    
	DDATE_CREATED		,...                                                                                                   
	DDATE_UPDATED...                                                                                                      
...                                                                                                                    
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
	...                                                                                                                   
		PAYMT_MAIN_ID      ,...                                                                                              
		RECEIPT_NO		   ,...                                                                                                  
		NULL		       ,...                                                                                                    
		PAYMT_CODE	       ,...                                                                                               
		PAYMT_TYPE	       ,...                                                                                               
		REF_NO			   ,...                                                                                                     
		PAYMT_DATE	       ,...                                                                                               
		APPLIED_DATE       ,...                                                                                              
		AMOUNT	           ,...                                                                                               
		NULL               ,...                                                                                              
		GETDATE()	       ,...                                                                                                
		NULL...                                                                                                              
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_MGR_PAYMENT_INFO Completed Successfully !'...                                                   
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_MGR_PAYMENT_INFO Completed With Errors, Please refer TBL_ERROR_LOG_DB for more deta...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'COM_MGR_PAYMENT_INFO',...                                                                          
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


