
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
...                                                                                                                    
CREATE PROCEDURE [dbo].[COM_CORE_PRODUCT_DETAILS](@para_UserID FLOAT)AS...                                             
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_CORE_PRODUCT_DETAILS...                                                                          
Author          : ...                                                                                                  
Date Created    : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : System User information from COM DB...                                                               
Level           : DB Link to Core...                                                                                   
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID,...                                                                                                                
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_CORE_PRODUCT_DETAILS',...                                                                                         
'TBL_CORE_PRODUCT_DETAILS',...                                                                                         
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
--TRUNCATE TABLE BEFORE INSERT...                                                                                      
TRUNCATE TABLE TBL_CORE_CUSTOMER_INFO;...                                                                              
...                                                                                                                    
--CARD...                                                                                                              
INSERT INTO TBL_CORE_PRODUCT_DETAILS(...                                                                               
	--CONTRACT_NO					,	...                                                                                               
	STATEMENT_OPTION			,...                                                                                               
	--CASH_LIMIT					,...                                                                                                 
	TEMP_CREDIT_AMOUT			,...                                                                                              
	TEMP_CASH_AMOUT				,...                                                                                               
	OTB_CREDIT					,...                                                                                                   
	OTB_CASH					,...                                                                                                     
	--ACCOUNT_TYPE				,...                                                                                                
	MAS_CARD					,...                                                                                                     
	NEXT_RENEW_DATE				,...                                                                                               
	BILLING_CYCLE_CODE			,...                                                                                             
	CASH_ADVANCE_RATE			,...                                                                                              
	MOTHERS_MAIDEN_NAME			,...                                                                                            
	DIRECT_DEBIT_PYMNT_ACC		,...                                                                                          
	PAYMENT_CODE				,...                                                                                                  
	--RELATIVE_NAME				,...                                                                                               
	--RELATIONSHIP				,...                                                                                                
	STANDING_ORDER_ACCOUNT		,...                                                                                          
	STANDING_ORDER_BRANCH		,...                                                                                           
	STANDING_ORDER_PRESENTAGE	,...                                                                                        
	VVIP						,...                                                                                                        
	INCOME						,...                                                                                                      
	START_DATE					,...                                                                                                   
	EXPIRY_DATE					,...                                                                                                  
	LIMIT_AMOUNT				,...                                                                                                  
	UTILIZED_AMOUNT ...                                                                                                   
	 ...                                                                                                                  
       )...                                                                                                            
SELECT ...                                                                                                             
...                                                                                                                    
	--SUBSTR(a.CARDNUMBER, 1, 4) || REGEXP_REPLACE(SUBSTR(a.CARDNUMBER, 5,8), '[0-9]', 'X')||SUBSTR(a.CARDNUMBER, 13, 1...
	ESTATEMENTOPTION,...                                                                                                  
	--f.CARD_CREDITLIMIT,...                                                                                              
	ONLINE_BALANCE as TEMPCREDITAMOUNT,...                                                                                
	TEMPCASHAMOUNT,...                                                                                                    
	OTBCREDIT,...                                                                                                         
	OTBCASH,...                                                                                                           
	MASS_CARD,...                                                                                                         
	NEXT_RENEW_DATE,...                                                                                                   
	BILLING_CYCLE,...                                                                                                     
	CASH_ADV_RATE,...                                                                                                     
	MOTHERSMAIDENNAME,...                                                                                                 
	DD_PAY_ACCOUNT,...                                                                                                    
	PAY_CODE,...                                                                                                          
	DEBITACCOUNTNO,...                                                                                                    
	BRANCH,...                                                                                                            
	AUTOSETAMOUNT,...                                                                                                     
	VVIP,...                                                                                                              
	INCOMEAMOUNT,...                                                                                                      
	a.CARDCREATEDDATE,...                                                                                                 
	a.EXPIERYDATE,...                                                                                                     
	CARD_CASHLIMIT,...                                                                                                    
	CARD_OUTSTANDING as CardUtilization...                                                                                
	--MAIDEN_NAME...                                                                                                      
...                                                                                                                    
from cms_repo_cardcustomers a...                                                                                       
left join STG_CMS_ONLINEBALANCE b on a.CARDNUMBER=b.CARDNUMBER...                                                      
left join STG_CMS_BACKEND_CARD c on c.CARDNUMBER=a.CARDNUMBER...                                                       
left join STG_CMS_BE_APPLICPERSONAL d on d.NIC=a.IDNUMBER...                                                           
left join (select * from STG_CMS_BE_AUTOSETTLEMENT where AUTOSETTLEMENTSTATUS='ACT') e on e.CARDNO=a.CARDNUMBER...     
--left join  (select * from cms_repo_carddailysummary where EOD_DATE =to_date(sysdate-1)) f on f.CARDNUMBER=a.CARDNU...
left join STG_CMS_COL_121 g on g.CARD_NO=a.CARDNUMBER...                                                               
	...                                                                                                                   
    ...                                                                                                                
SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                
...                                                                                                                    
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                           
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='DFCC_CORE_PRODUCT_DETAILS Completed Successfully !'...                                              
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSPROCESSE=0,...                                                                                  
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='DFCC_CORE_PRODUCT_DETAILS Completed With Errors, Please refer TBL_ERROR_LOG_DB for more...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
           DPOSTDATETIME,...                                                                                           
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'DFCC_CORE_PRODUCT_DETAILS',...                                                                     
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


