
Text                                                                                                                   
----                                                                                                                   
CREATE PROCEDURE [dbo].[COM_MGR_TBL_USER_PROFILE](@para_UserID FLOAT)AS...                                             
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_MGR_TBL_USER_PROFILE...                                                                          
Author          : Chamika Weerasinghe...                                                                               
Date Created    : 21/09/2021...                                                                                        
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_MGR_TBL_USER_PROFILE',...                                                                                         
'USER',...                                                                                                             
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
  TBL_USER_PROFILE...                                                                                                  
USING...                                                                                                               
(...                                                                                                                   
	select 	...                                                                                                           
		(SELECT L.IID ...                                                                                                    
		FROM TBL_USERS L...                                                                                                  
		WHERE L.VUSERNAME = A.VUSERNAME ) AS IUSERID,...                                                                     
		VTITLE         ,...                                                                                                  
		VFIRSTNAME	   ,...                                                                                                   
		VLASTNAME	   ,...                                                                                                    
		VDESIGNATION   ,...                                                                                                  
		VEMP_NO		   ,...                                                                                                     
	   (SELECT B.IID...                                                                                                   
		FROM TBL_C_SET_BUSINESS_ENTITY B...                                                                                  
		WHERE  B.VCODE = A.VBRANCH) AS IBUSINESSENTITYID,...                                                                 
		VEMAIL		   ,...                                                                                                      
	    VUSER_CONTACT_NO1,...                                                                                             
		VUSER_CONTACT_NO2,...                                                                                                
		OFFICE_NO,...                                                                                                        
		VDEPARTMENT...                                                                                                       
...                                                                                                                    
...                                                                                                                    
		...                                                                                                                  
...                                                                                                                    
	...                                                                                                                   
from TBL_CORE_SYSTEM_USER a...                                                                                         
...                                                                                                                    
  EXCEPT...                                                                                                            
    SELECT ...                                                                                                         
	        IUSERID,...                                                                                                   
			VTITLE        ,...                                                                                                  
			VFIRSTNAME	  ,...                                                                                                   
			VLASTNAME	  ,...                                                                                                    
			VDESIGNATION  ,...                                                                                                  
			VEMP_NO		  ,...                                                                                                     
			IBUSINESSENTITYID	  ,...                                                                                            
			VEMAIL		  ,...                                                                                                      
			VMOBILE,...                                                                                                         
			VTELEPHONE,...                                                                                                      
			VOFFICE	,...                                                                                                        
			VDEPARTMENT...                                                                                                      
...                                                                                                                    
...                                                                                                                    
			...                                                                                                                 
    FROM   TBL_USER_PROFILE...                                                                                         
...                                                                                                                    
) TBL_CORE_SYSTEM_USER...                                                                                              
ON...                                                                                                                  
  TBL_USER_PROFILE.VEMP_NO = TBL_CORE_SYSTEM_USER.VEMP_NO...                                                           
   WHEN MATCHED THEN...                                                                                                
	update set...                                                                                                         
	TBL_USER_PROFILE.IUSERID=TBL_CORE_SYSTEM_USER.IUSERID,...                                                             
	TBL_USER_PROFILE.VTITLE=TBL_CORE_SYSTEM_USER.VTITLE,...                                                               
	TBL_USER_PROFILE.VFIRSTNAME=TBL_CORE_SYSTEM_USER.VFIRSTNAME ,...                                                      
	TBL_USER_PROFILE.VLASTNAME=TBL_CORE_SYSTEM_USER.VLASTNAME ,...                                                        
	TBL_USER_PROFILE.VDESIGNATION=TBL_CORE_SYSTEM_USER.VDESIGNATION ,...                                                  
	TBL_USER_PROFILE.VEMP_NO=TBL_CORE_SYSTEM_USER.VEMP_NO,...                                                             
	TBL_USER_PROFILE.IBUSINESSENTITYID=TBL_CORE_SYSTEM_USER.IBUSINESSENTITYID,...                                         
	TBL_USER_PROFILE.VEMAIL=TBL_CORE_SYSTEM_USER.VEMAIL,...                                                               
	TBL_USER_PROFILE.VMOBILE=TBL_CORE_SYSTEM_USER.VUSER_CONTACT_NO1,...                                                   
	TBL_USER_PROFILE.VTELEPHONE=TBL_CORE_SYSTEM_USER.VUSER_CONTACT_NO2,...                                                
	TBL_USER_PROFILE.VOFFICE=TBL_CORE_SYSTEM_USER.OFFICE_NO,...                                                           
    TBL_USER_PROFILE.VDEPARTMENT=TBL_CORE_SYSTEM_USER.VDEPARTMENT,...                                                  
	TBL_USER_PROFILE.DUPDATEDATE=GETDATE()...                                                                             
	WHEN NOT MATCHED THEN...                                                                                              
	INSERT (			...                                                                                                        
	     	IUSERID          ,...                                                                                           
			ITITLEID		 ,...                                                                                                     
			VFULLNAME		 ,...                                                                                                    
			VFIRSTNAME		 ,...                                                                                                   
			VLASTNAME		 ,...                                                                                                    
			VOFFICE			 ,...                                                                                                     
			VOFFICEEXT		 ,...                                                                                                   
			VEMAIL			 ,...                                                                                                      
			VNEWNIC			 ,...                                                                                                     
			VOLDNIC			 ,...                                                                                                     
			IGENDERID		 ,...                                                                                                    
			VPASSPORT		 ,...                                                                                                    
			VDRIVERLICENCE	 ,...                                                                                                
			DDOB			 ,...                                                                                                        
			VUSERTYPE		 ,...                                                                                                    
			IDESIGNATIONID	 ,...                                                                                                
			IUNITID			 ,...                                                                                                     
			ILEVELID		 ,...                                                                                                     
			IBUSINESSENTITYID,...                                                                                               
			VUSERIMAGE		 ,...                                                                                                   
			IPROVINCEID		 ,...                                                                                                  
			IDISTRICTID		 ,...                                                                                                  
			IAGAID			 ,...                                                                                                      
			IGSID			 ,...                                                                                                       
			IZONEID			 ,...                                                                                                     
			IREGIONALID		 ,...                                                                                                  
			IDELIND			 ,...                                                                                                     
			DDELETEDDATE	 ,...                                                                                                  
			IPUBLISH		 ,...                                                                                                     
			IADDEDBY		 ,...                                                                                                     
			DADDEDDATE		 ,...                                                                                                   
			IUPDATEDBY		 ,...                                                                                                   
			VURL			 ,...                                                                                                        
			VTITLE			 ,...                                                                                                      
			VDESIGNATION	 ,...                                                                                                  
			VEMP_NO			 ,...                                                                                                     
			VMOBILE,...                                                                                                         
			VTELEPHONE,...                                                                                                      
			VDEPARTMENT...                                                                                                      
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
		    IUSERID           ,...                                                                                           
			NULL              ,...                                                                                              
			NULL			  ,...                                                                                                       
			VFIRSTNAME		  ,...                                                                                                  
			VLASTNAME		  ,...                                                                                                   
			OFFICE_NO         ,...                                                                                              
		...                                                                                                                  
			NULL			  ,...                                                                                                       
			VEMAIL			  ,...                                                                                                     
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			IBUSINESSENTITYID			  ,...                                                                                          
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			GETDATE()			  ,...                                                                                                  
			NULL			  ,...                                                                                                       
			NULL			  ,...                                                                                                       
			VTITLE			  ,...                                                                                                     
			VDESIGNATION	  ,...                                                                                                 
			VEMP_NO			  ,...                                                                                                    
			VUSER_CONTACT_NO1,...                                                                                               
			VUSER_CONTACT_NO2,...                                                                                               
			VDEPARTMENT...                                                                                                      
		...                                                                                                                  
...                                                                                                                    
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_MGR_TBL_USER_PROFILE Completed Successfully !'...                                               
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_MGR_TBL_USER_PROFILE Completed With Errors, Please refer TBL_ERROR_LOG_DB for more ...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'COM_MGR_TBL_USER_PROFILE',...                                                                      
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


