
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE   PROCEDURE [dbo].[COM_CORE_REGION](@para_UserID FLOAT)AS...                                                    
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_CORE_REGION...                                                                                   
Author          : ...                                                                                                  
Date Created    : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : System User information from COM DB...                                                               
Level           : DB Link to Core...                                                                                   
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID,...                                                                                                                
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_CORE_REGION',...                                                                                                  
'TBL_CORE_REGION',...                                                                                                  
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
	--LOAN ...                                                                                                            
	INSERT INTO TBL_CORE_REGION(...                                                                                       
		--REGION_CODE,...                                                                                                    
		REGION_NAME...                                                                                                       
		   )...                                                                                                              
	SELECT ...                                                                                                            
			--CO_CODE,...                                                                                                       
			REGION...                                                                                                           
...                                                                                                                    
	FROM  TX_BRANCH_REGION_NEW ;...                                                                                       
...                                                                                                                    
	--LEASE...                                                                                                            
	INSERT INTO TBL_CORE_REGION(...                                                                                       
		--REGION_CODE,...                                                                                                    
		REGION_NAME...                                                                                                       
		   )...                                                                                                              
	SELECT ...                                                                                                            
			--CODE,...                                                                                                          
			REGION...                                                                                                           
...                                                                                                                    
	FROM  TX_BRANCH_REGION_NEW ;...                                                                                       
...                                                                                                                    
...                                                                                                                    
	--CARD...                                                                                                             
	INSERT INTO TBL_CORE_REGION(...                                                                                       
		REGION_CODE...                                                                                                       
...                                                                                                                    
		   )...                                                                                                              
	SELECT ...                                                                                                            
			REGION...                                                                                                           
...                                                                                                                    
	FROM  VIEW_TX_REGION ;...                                                                                             
...                                                                                                                    
...                                                                                                                    
    ...                                                                                                                
	 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                              
...                                                                                                                    
...                                                                                                                    
	/* Update Process Status Log- Reporting Successful Completion */...                                                   
	UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                   
	SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                          
			DENDTIM=GETDATE(),...                                                                                               
			VCOMMENTS='COM_CORE_REGION Completed Successfully !'...                                                             
	WHERE   IID= @var_ProcessStatusID;...                                                                                 
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSPROCESSE=0,...                                                                                  
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_CORE_REGION Completed With Errors, Please refer TBL_ERROR_LOG_DB for more details !...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'COM_CORE_REGION',...                                                                               
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


