
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE PROCEDURE [dbo].[COM_MGR_RELATED_ADVANCES](@para_UserID FLOAT)AS...                                             
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       :   COM_MGR_RELATED_ADVANCES...                                                                        
Author          : Navodya Wimalasooriya...                                                                             
Date Created    : 21/09/2021...                                                                                        
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'  COM_MGR_RELATED_ADVANCES',...                                                                                       
'RELATED_ADVANCES',...                                                                                                 
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
MERGE INTO...                                                                                                          
   TBL_C_M_RELATED_ADVANCES...                                                                                         
    ...                                                                                                                
USING...                                                                                                               
(...                                                                                                                   
select ...                                                                                                             
		    NEW_LOAN_NO             ,...                                                                                     
			RESCHEDULE_DATE         ,...                                                                                        
			CLASSIFICATION_CODE     ,...                                                                                        
			MAXIMUM_OVERDUE_DAYS    ,...                                                                                        
			RESCHEDULE_CODE         ,...                                                                                        
			RESCHEDULE_REGULARIZED  ,...                                                                                        
			REVIEW_DATE             ,...                                                                                        
			CAPITAL_PORTION         ,...                                                                                        
			INTEREST_PORTION...                                                                                                 
...                                                                                                                    
from TBL_CORE_RELATED_ADVANCES a...                                                                                    
...                                                                                                                    
		EXCEPT...                                                                                                            
			SELECT...                                                                                                           
			NEW_LOAN_NO             ,...                                                                                        
			RESCHEDULE_DATE         ,...                                                                                        
			CLASSIFICATION_CODE     ,...                                                                                        
			MAXIMUM_OVERDUE_DAYS    ,...                                                                                        
			RESCHEDULE_CODE         ,...                                                                                        
			RESCHEDULE_REGULARIZED  ,...                                                                                        
			REVIEW_DATE             ,...                                                                                        
			CAPITAL_PORTION         ,...                                                                                        
			INTEREST_PORTION...                                                                                                 
...                                                                                                                    
		...                                                                                                                  
			...                                                                                                                 
   FROM   TBL_C_M_RELATED_ADVANCES...                                                                                  
...                                                                                                                    
) TBL_CORE_RELATED_ADVANCES...                                                                                         
ON...                                                                                                                  
   TBL_C_M_RELATED_ADVANCES.CLASSIFICATION_CODE = TBL_CORE_RELATED_ADVANCES.CLASSIFICATION_CODE...                     
   WHEN NOT MATCHED THEN...                                                                                            
INSERT (...                                                                                                            
			NEW_LOAN_NO             ,...                                                                                        
			RESCHEDULE_DATE         ,...                                                                                        
			CLASSIFICATION_CODE     ,...                                                                                        
			MAXIMUM_OVERDUE_DAYS    ,...                                                                                        
			RESCHEDULE_CODE         ,...                                                                                        
			RESCHEDULE_REGULARIZED  ,...                                                                                        
			REVIEW_DATE             ,...                                                                                        
			CAPITAL_PORTION         ,...                                                                                        
			INTEREST_PORTION...                                                                                                 
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
	        NEW_LOAN_NO             ,...                                                                                  
			RESCHEDULE_DATE         ,...                                                                                        
			CLASSIFICATION_CODE     ,...                                                                                        
			MAXIMUM_OVERDUE_DAYS    ,...                                                                                        
			RESCHEDULE_CODE         ,...                                                                                        
			RESCHEDULE_REGULARIZED  ,...                                                                                        
			REVIEW_DATE             ,...                                                                                        
			CAPITAL_PORTION         ,...                                                                                        
			INTEREST_PORTION...                                                                                                 
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='  COM_MGR_RELATED_ADVANCES Completed Successfully !'...                                             
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='  COM_MGR_RELATED_ADVANCES Completed With Errors, Please refer TBL_ERROR_LOG_DB for mor...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   '  COM_MGR_RELATED_ADVANCES',...                                                                    
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


