
Text                                                                                                                   
----                                                                                                                   
CREATE PROCEDURE [dbo].[COM_MGR_LOAN_MASTER_LOAN](@para_UserID FLOAT)AS...                                             
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);		...                                                                            
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       :COM_MGR_LOAN_MASTER...                                                                                
Author          :Chamika Weersinghe...                                                                                 
Date ALTERd    : 12/10/202...                                                                                          
Date Last Mod.  : ...                                                                                                  
Description     : Merge data for Original table from core table...                                                     
Level           : merging...                                                                                           
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID			,...                                                                                                             
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
...                                                                                                                    
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_MGR_LOAN_MASTER_LOAN',...                                                                                         
'LOAN_MASTER_LOAN',...                                                                                                 
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
...                                                                                                                    
MERGE INTO...                                                                                                          
   TBL_C_M_LOAN_MASTER...                                                                                              
USING...                                                                                                               
(...                                                                                                                   
select ...                                                                                                             
		(CASE	WHEN B.MAIN_PRODUCT_ID = 1 THEN 2 --personal ...                                                               
				WHEN B.MAIN_PRODUCT_ID = 2 THEN 1 --housing...                                                                     
				WHEN B.MAIN_PRODUCT_ID = 4 THEN 7 --pawining...                                                                    
				WHEN B.MAIN_PRODUCT_ID = 3 THEN 6 --leasing and HP...                                                              
				WHEN B.MAIN_PRODUCT_ID = 6 THEN 5...                                                                               
				WHEN B.MAIN_PRODUCT_ID = 7 THEN 5  --trade loan...                                                                 
				WHEN B.MAIN_PRODUCT_ID IN (5,8,9,10,11,12,16) THEN 3  --term loan...                                               
			ELSE 10...                                                                                                          
		END )  AS IPRODUCT_ID	,...                                                                                           
...                                                                                                                    
				(SELECT B.IID...                                                                                                   
				FROM TBL_C_SET_SUB_PRODUCT B...                                                                                    
				WHERE  B.VSUBPRODUCTCODE = CAST(A.SUB_PRODUCT_ID AS INT)) AS ISUB_PRODUCT_ID,...                                   
...                                                                                                                    
...                                                                                                                    
				(SELECT B.IID...                                                                                                   
				FROM TBL_C_SET_BUSINESS_ENTITY B...                                                                                
				WHERE  B.VCODE = A.MAIN_BRANCH_ID) AS IBRANCH_ID,...                                                               
				A.MAIN_BRANCH_ID            ,...                                                                                   
				A.V_SEQUENCE                ,...                                                                                   
				A.MAIN_ACCOUNT_NO           ,...                                                                                   
...                                                                                                                    
				(select max(c.iid)...                                                                                              
				from  tbl_c_m_customer_info c...                                                                                   
				where c.VNEW_NIC = a.PRIMARY_CUS_ID ) as PRIMARY_CUS_ID,...                                                        
...                                                                                                                    
				A.SECONDORY_CUS_ID          ,...                                                                                   
				A.CONTRACT_NO               ,...                                                                                   
				A.OLD_CONTRACT_NO           ,...                                                                                   
	            A.MAIN_FACILITY_NO	,...                                                                                   
				A.LAST_LETTER_ISSUED        ,...                                                                                   
				A.LOAN_APPLY_AMOUNT         ,...                                                                                   
				A.LOAN_APPLY_DATE           ,...                                                                                   
				A.LOAN_APPROVE_DATE         ,...                                                                                   
				A.LOAN_APPROVE_AMOUNT       ,...                                                                                   
				A.ACCOUNT_OPEN_DATE         ,...                                                                                   
				A.FIRST_DISBURSEMENT_DATE   ,...                                                                                   
				A.CLOSED_DATE               ,...                                                                                   
				A.LOAN_TERM                 ,...                                                                                   
				A.INSTALLMENT_AMOUNT        ,...                                                                                   
				A.PURPOSE                   ,...                                                                                   
				A.LOAN_PAYMENT_METHOD       ,...                                                                                   
				A.CLOSED_REASON,...                                                                                                
				A.DATE_CREATED,...                                                                                                 
				A.LAST_UPDATED_DATE,...                                                                                            
                'Y' AS ACCOUNT_STATUS,...                                                                              
				A.ILOAN_AMOUNT,...                                                                                                 
				A.RESHEDULE_FLAG,...                                                                                               
 A.NEXT_INSTALLMENT_DATE, ...                                                                                          
				A.NEXT_INSTALLMENT_AMOUNT,...                                                                                      
				A.NEXT_INSTALLMEN_TYPE ,...                                                                                        
				A.TC_ID,...                                                                                                        
				...                                                                                                                
				A.CURRENCY,...                                                                                                     
				A.RENT_DUE_DATE,...                                                                                                
				A.OFFICE_CODE,...                                                                                                  
				A.MORATORIUM_CODE,...                                                                                              
				A.NPA_FLAG,...                                                                                                     
				A.DAILY_FACTOR,...                                                                                                 
				A.LATE_FEES,...                                                                                                    
				A.MATURE_DATE,...                                                                                                  
				A.TRUE_RATE  ,...                                                                                                  
					A.PRINCIPAL               ,           ...                                                                         
			    A.TRAN_DESCRIPTION        , ...                                                                                 
				A.MATURITY_PERIOD         , ...                                                                                    
				A.REFERENCE_LC            , ...                                                                                    
				A.INVOICE_NO              , ...                                                                                    
				A.PRODUCT                 , ...                                                                                    
				A.CIF                     , ...                                                                                    
				A.CARD_ACC_TYPE           , ...                                                                                    
				A.MAS_CARD                , ...                                                                                    
				A.ACCOUNT1                , ...                                                                                    
				A.BILLING_CYCLE_CODE      , ...                                                                                    
				A.ACC_STATUS              , ...                                                                                    
				A.CITIZEN_ID              , ...                                                                                    
				A.DIRECT_DEBIT_PYMNT_ACC  , ...                                                                                    
				A.PAYMENT_CODE            , ...                                                                                    
				A.LAST_PAYMENT            , ...                                                                                    
				A.LAST_PAYMENT_DATE       , ...                                                                                    
				A.MINIMUM_PAYMENT         , ...                                                                                    
				A.EXPIRED_PAYMENTS        , ...                                                                                    
				A.APP_APPROVAL_DATE       , ...                                                                                    
				A.BRANCH_OFFICE_CODE      , ...                                                                                    
				A.FUTURE_PYMNT_DUE_DATE   , ...                                                                                    
				A.CARD_STATUS             , ...                                                                                    
				A.FIELD4                  , ...                                                                                    
				A.VIP_PROFILE             , ...                                                                                    
				A.OCCU_CODE               , ...                                                                                    
				A.MOTHERS_MAIDEN_NAME     , ...                                                                                    
				A.MILITARY_BRANCH         , ...                                                                                    
				A.INCOME_1                , ...                                                                                    
				A.INCOME_2                , ...                                                                                    
				A.EMAIL                   , ...                                                                                    
				A.CLIENT_ID               , ...                                                                                    
				A.SCH_NAME                 ,...                                                                                    
				A.VLAST_PAYMENT_DATE        ,...                                                                                   
				A.LAST_PAYMENT_AMOUNT      ,...                                                                                    
				A.LAST_DUE_DATE              ,...                                                                                  
			    A.PRODUCT_ID,...                                                                                                
				A.SUB_PRODUCT_ID...                                                                                                
			...                                                                                                                 
...                                                                                                                    
from TBL_CORE_CONTRACT_INFO A...                                                                                       
left join TBL_CORE_PRODUCT_SUB B ON CAST(A.SUB_PRODUCT_ID AS INT) = B.SUB_PRODUCT_ID ...                               
WHERE A.PRODUCT_ID = 'LOAN' ...                                                                                        
...                                                                                                                    
  EXCEPT...                                                                                                            
    SELECT ...                                                                                                         
IPRODUCT_ID					,...                                                                                                   
ISUB_PRODUCT_ID             ,...                                                                                       
IBENTITY_ID                 ,...                                                                                       
IBRANCH_ID,...                                                                                                         
ISEQ                        ,...                                                                                       
VACCOUNT_NO                 ,...                                                                                       
IPRIMARY_CUSTORMER_ID       ,...                                                                                       
ISECONDARY_CUSTORMER_ID     ,...                                                                                       
VCONTRACT_NO                ,...                                                                                       
VOLD_CONTRACT_NO            ,...                                                                                       
VACCOUNT_SUB_NO	,...                                                                                                   
VLOT_ISSUED                 ,...                                                                                       
DLOAN_APPLY_AMT             ,...                                                                                       
DLOAN_APPLY_DTE             ,...                                                                                       
DLOAN_APPROVE_DTE           ,...                                                                                       
DLOAN_APPROVE_AMT           ,...                                                                                       
DACC_OPEN_DATE              ,...                                                                                       
DLOAN_FIRST_DISBURSE_DTE    ,...                                                                                       
DCLOSE_DATE                 ,...                                                                                       
ILOAN_TERM                  ,...                                                                                       
IINSTALMENT_AMOUNT          ,...                                                                                       
VCREDIT_PURPOSE             ,...                                                                                       
VLOAN_PAYMT_METHD           ,...                                                                                       
VACCOUNT_CLOSED_REASON      ,...                                                                                       
DATE_CREATED                ,...                                                                                       
DATE_LAST_UPDATED,...                                                                                                  
IACCOUNT_ACTIVE,...                                                                                                    
ILOAN_AMOUNT,...                                                                                                       
RESHEDULE_FLAG,...                                                                                                     
NEXT_INSTALLMENT_DATE, ...                                                                                             
NEXT_INSTALLMENT_AMOUNT,...                                                                                            
NEXT_INSTALLMEN_TYPE,...                                                                                               
TC_ID,...                                                                                                              
VCURRENCY,...                                                                                                          
DRENT_DUE_DATE,...                                                                                                     
OFFICE_CODE,...                                                                                                        
MORATORIUM_FLAG,...                                                                                                    
VNPSTATUS,...                                                                                                          
DAILY_FACTOR,...                                                                                                       
LATE_FEES,...                                                                                                          
DMAT_DATE,...                                                                                                          
TRUE_RATE,...                                                                                                          
PRINCIPAL               ,     ...                                                                                      
TRAN_DESCRIPTION        , ...                                                                                          
MATURITY_PERIOD         , ...                                                                                          
REFERENCE_LC            , ...                                                                                          
INVOICE_NO              , ...                                                                                          
PRODUCT                 , ...                                                                                          
CIF                     , ...                                                                                          
CARD_ACC_TYPE           , ...                                                                                          
MAS_CARD                , ...                                                                                          
ACCOUNT1                , ...                                                                                          
BILLING_CYCLE_CODE      , ...                                                                                          
ACC_STATUS              , ...                                                                                          
CITIZEN_ID              , ...                                                                                          
DIRECT_DEBIT_PYMNT_ACC  , ...                                                                                          
PAYMENT_CODE            , ...                                                                                          
LAST_PAYMENT            , ...                                                                                          
LAST_PAYMENT_DATE       , ...                                                                                          
MINIMUM_PAYMENT         , ...                                                                                          
EXPIRED_PAYMENTS        , ...                                                                                          
APP_APPROVAL_DATE       , ...                                                                                          
BRANCH_OFFICE_CODE      , ...                                                                                          
FUTURE_PYMNT_DUE_DATE   , ...                                                                                          
CARD_STATUS             , ...                                                                                          
FIELD4                  , ...                                                                                          
VIP_PROFILE             , ...                                                                                          
OCCU_CODE               , ...                                                                                          
MOTHERS_MAIDEN_NAME     , ...                                                                                          
MILITARY_BRANCH         , ...                                                                                          
INCOME_1                , ...                                                                                          
INCOME_2                , ...                                                                                          
EMAIL                   , ...                                                                                          
CLIENT_ID               , ...                                                                                          
SCH_NAME                 ,...                                                                                          
VLAST_PAYMENT_DATE        ,...                                                                                         
LAST_PAYMENT_AMOUNT      ,...                                                                                          
LAST_DUE_DATE             ,...                                                                                         
VPRODUCT_CATEGORY         ,...                                                                                         
VSUBPRODUCT_CATEGORY...                                                                                                
	...                                                                                                                   
   FROM   TBL_C_M_LOAN_MASTER where IPRODUCT_ID IN (1,2,3,5,6,7)...                                                    
...                                                                                                                    
) TBL_CORE_CONTRACT_INFO  ...                                                                                          
ON...                                                                                                                  
   TBL_C_M_LOAN_MASTER.VCONTRACT_NO = TBL_CORE_CONTRACT_INFO.CONTRACT_NO...                                            
   WHEN MATCHED THEN...                                                                                                
   UPDATE SET...                                                                                                       
TBL_C_M_LOAN_MASTER.IPRODUCT_ID					=	TBL_CORE_CONTRACT_INFO.IPRODUCT_ID				,...                                       
TBL_C_M_LOAN_MASTER.ISUB_PRODUCT_ID				=	TBL_CORE_CONTRACT_INFO.ISUB_PRODUCT_ID          ,...                          
TBL_C_M_LOAN_MASTER.IBENTITY_ID					=	TBL_CORE_CONTRACT_INFO.IBRANCH_ID               ,...                             
TBL_C_M_LOAN_MASTER.IBRANCH_ID					=	TBL_CORE_CONTRACT_INFO.MAIN_BRANCH_ID           ,...                              
TBL_C_M_LOAN_MASTER.ISEQ						=	TBL_CORE_CONTRACT_INFO.V_SEQUENCE               ,...                                   
TBL_C_M_LOAN_MASTER.VACCOUNT_NO					=	TBL_CORE_CONTRACT_INFO.MAIN_ACCOUNT_NO          ,...                             
TBL_C_M_LOAN_MASTER.IPRIMARY_CUSTORMER_ID		=	TBL_CORE_CONTRACT_INFO.PRIMARY_CUS_ID           ,...                      
TBL_C_M_LOAN_MASTER.ISECONDARY_CUSTORMER_ID		=	TBL_CORE_CONTRACT_INFO.SECONDORY_CUS_ID         ,...                    
TBL_C_M_LOAN_MASTER.VOLD_CONTRACT_NO			=	TBL_CORE_CONTRACT_INFO.OLD_CONTRACT_NO          ,...                          
TBL_C_M_LOAN_MASTER.VACCOUNT_SUB_NO			=	TBL_CORE_CONTRACT_INFO.MAIN_FACILITY_NO          ,...                          
TBL_C_M_LOAN_MASTER.VLOT_ISSUED					=	TBL_CORE_CONTRACT_INFO.LAST_LETTER_ISSUED       ,...                             
TBL_C_M_LOAN_MASTER.DLOAN_APPLY_AMT				=	TBL_CORE_CONTRACT_INFO.LOAN_APPLY_AMOUNT        ,...                          
TBL_C_M_LOAN_MASTER.DLOAN_APPLY_DTE				=	TBL_CORE_CONTRACT_INFO.LOAN_APPLY_DATE          ,...                          
TBL_C_M_LOAN_MASTER.DLOAN_APPROVE_DTE			=	TBL_CORE_CONTRACT_INFO.LOAN_APPROVE_DATE        ,...                         
TBL_C_M_LOAN_MASTER.DLOAN_APPROVE_AMT			=	TBL_CORE_CONTRACT_INFO.LOAN_APPROVE_AMOUNT      ,...                         
TBL_C_M_LOAN_MASTER.DACC_OPEN_DATE				=	TBL_CORE_CONTRACT_INFO.ACCOUNT_OPEN_DATE        ,...                           
TBL_C_M_LOAN_MASTER.DLOAN_FIRST_DISBURSE_DTE	=	TBL_CORE_CONTRACT_INFO.FIRST_DISBURSEMENT_DATE  ,...                    
TBL_C_M_LOAN_MASTER.DCLOSE_DATE					=	TBL_CORE_CONTRACT_INFO.CLOSED_DATE              ,...                             
TBL_C_M_LOAN_MASTER.ILOAN_TERM					=	TBL_CORE_CONTRACT_INFO.LOAN_TERM                ,...                              
TBL_C_M_LOAN_MASTER.IINSTALMENT_AMOUNT			=	TBL_CORE_CONTRACT_INFO.INSTALLMENT_AMOUNT       ,...                        
TBL_C_M_LOAN_MASTER.VCREDIT_PURPOSE				=	TBL_CORE_CONTRACT_INFO.PURPOSE                  ,...                          
TBL_C_M_LOAN_MASTER.VLOAN_PAYMT_METHD			=	TBL_CORE_CONTRACT_INFO.LOAN_PAYMENT_METHOD      ,...                         
TBL_C_M_LOAN_MASTER.VACCOUNT_CLOSED_REASON		=	TBL_CORE_CONTRACT_INFO.CLOSED_REASON            ,...                     
TBL_C_M_LOAN_MASTER.ILOAN_AMOUNT			    =	TBL_CORE_CONTRACT_INFO.ILOAN_AMOUNT             ,...                          
TBL_C_M_LOAN_MASTER.DATE_CREATED				=	TBL_CORE_CONTRACT_INFO.DATE_CREATED             ,...                             
TBL_C_M_LOAN_MASTER.DATE_LAST_UPDATED			=	TBL_CORE_CONTRACT_INFO.LAST_UPDATED_DATE		,      ...                         
TBL_C_M_LOAN_MASTER.RESHEDULE_FLAG			=	TBL_CORE_CONTRACT_INFO.RESHEDULE_FLAG,...                                       
TBL_C_M_LOAN_MASTER.NEXT_INSTALLMENT_DATE			=	TBL_CORE_CONTRACT_INFO.NEXT_INSTALLMENT_DATE,...                         
TBL_C_M_LOAN_MASTER.NEXT_INSTALLMENT_AMOUNT			=	TBL_CORE_CONTRACT_INFO.NEXT_INSTALLMENT_AMOUNT,...                     
TBL_C_M_LOAN_MASTER.NEXT_INSTALLMEN_TYPE 			=	TBL_CORE_CONTRACT_INFO.NEXT_INSTALLMEN_TYPE,...                          
TBL_C_M_LOAN_MASTER.TC_ID = TBL_CORE_CONTRACT_INFO.TC_ID,...                                                           
TBL_C_M_LOAN_MASTER.IACCOUNT_ACTIVE = TBL_CORE_CONTRACT_INFO.ACCOUNT_STATUS,...                                        
TBL_C_M_LOAN_MASTER.VCURRENCY = TBL_CORE_CONTRACT_INFO.CURRENCY,...                                                    
TBL_C_M_LOAN_MASTER.DRENT_DUE_DATE = TBL_CORE_CONTRACT_INFO.RENT_DUE_DATE,...                                          
TBL_C_M_LOAN_MASTER.OFFICE_CODE = TBL_CORE_CONTRACT_INFO.OFFICE_CODE,...                                               
TBL_C_M_LOAN_MASTER.MORATORIUM_FLAG = TBL_CORE_CONTRACT_INFO.MORATORIUM_CODE,...                                       
TBL_C_M_LOAN_MASTER.VNPSTATUS = TBL_CORE_CONTRACT_INFO.NPA_FLAG,...                                                    
TBL_C_M_LOAN_MASTER.DAILY_FACTOR = TBL_CORE_CONTRACT_INFO.DAILY_FACTOR,...                                             
TBL_C_M_LOAN_MASTER.LATE_FEES = TBL_CORE_CONTRACT_INFO.LATE_FEES,...                                                   
TBL_C_M_LOAN_MASTER.DMAT_DATE = TBL_CORE_CONTRACT_INFO.MATURE_DATE,...                                                 
TBL_C_M_LOAN_MASTER.TRUE_RATE = TBL_CORE_CONTRACT_INFO.TRUE_RATE   ,...                                                
TBL_C_M_LOAN_MASTER.PRINCIPAL = TBL_CORE_CONTRACT_INFO.PRINCIPAL  ,...                                                 
TBL_C_M_LOAN_MASTER.TRAN_DESCRIPTION = TBL_CORE_CONTRACT_INFO.TRAN_DESCRIPTION  ,...                                   
TBL_C_M_LOAN_MASTER.MATURITY_PERIOD = TBL_CORE_CONTRACT_INFO.MATURITY_PERIOD  ,...                                     
TBL_C_M_LOAN_MASTER.REFERENCE_LC = TBL_CORE_CONTRACT_INFO.REFERENCE_LC  ,...                                           
TBL_C_M_LOAN_MASTER.INVOICE_NO = TBL_CORE_CONTRACT_INFO.INVOICE_NO  ,...                                               
TBL_C_M_LOAN_MASTER.PRODUCT  = TBL_CORE_CONTRACT_INFO.PRODUCT  ,...                                                    
TBL_C_M_LOAN_MASTER.CIF = TBL_CORE_CONTRACT_INFO.CIF  ,...                                                             
TBL_C_M_LOAN_MASTER.CARD_ACC_TYPE = TBL_CORE_CONTRACT_INFO.CARD_ACC_TYPE  ,...                                         
TBL_C_M_LOAN_MASTER.MAS_CARD = TBL_CORE_CONTRACT_INFO.MAS_CARD  ,...                                                   
TBL_C_M_LOAN_MASTER.ACCOUNT1 = TBL_CORE_CONTRACT_INFO.ACCOUNT1  ,...                                                   
TBL_C_M_LOAN_MASTER.BILLING_CYCLE_CODE = TBL_CORE_CONTRACT_INFO.BILLING_CYCLE_CODE  ,...                               
TBL_C_M_LOAN_MASTER.ACC_STATUS = TBL_CORE_CONTRACT_INFO.ACC_STATUS  ,...                                               
TBL_C_M_LOAN_MASTER.DIRECT_DEBIT_PYMNT_ACC= TBL_CORE_CONTRACT_INFO.DIRECT_DEBIT_PYMNT_ACC  ,...                        
TBL_C_M_LOAN_MASTER.PAYMENT_CODE = TBL_CORE_CONTRACT_INFO.PAYMENT_CODE  ,...                                           
TBL_C_M_LOAN_MASTER.LAST_PAYMENT = TBL_CORE_CONTRACT_INFO.LAST_PAYMENT  ,...                                           
TBL_C_M_LOAN_MASTER.LAST_PAYMENT_DATE = TBL_CORE_CONTRACT_INFO.LAST_PAYMENT_DATE  ,...                                 
TBL_C_M_LOAN_MASTER.MINIMUM_PAYMENT = TBL_CORE_CONTRACT_INFO.MINIMUM_PAYMENT  ,...                                     
TBL_C_M_LOAN_MASTER.APP_APPROVAL_DATE = TBL_CORE_CONTRACT_INFO.APP_APPROVAL_DATE  ,...                                 
TBL_C_M_LOAN_MASTER.BRANCH_OFFICE_CODE = TBL_CORE_CONTRACT_INFO.BRANCH_OFFICE_CODE  ,...                               
TBL_C_M_LOAN_MASTER.FUTURE_PYMNT_DUE_DATE = TBL_CORE_CONTRACT_INFO.FUTURE_PYMNT_DUE_DATE  ,...                         
TBL_C_M_LOAN_MASTER.CARD_STATUS = TBL_CORE_CONTRACT_INFO.CARD_STATUS  ,...                                             
TBL_C_M_LOAN_MASTER.FIELD4 = TBL_CORE_CONTRACT_INFO.FIELD4  ,...                                                       
TBL_C_M_LOAN_MASTER.VIP_PROFILE = TBL_CORE_CONTRACT_INFO.VIP_PROFILE  ,...                                             
TBL_C_M_LOAN_MASTER.OCCU_CODE = TBL_CORE_CONTRACT_INFO.OCCU_CODE  ,...                                                 
TBL_C_M_LOAN_MASTER.MOTHERS_MAIDEN_NAME = TBL_CORE_CONTRACT_INFO.MOTHERS_MAIDEN_NAME  ,...                             
TBL_C_M_LOAN_MASTER.MILITARY_BRANCH = TBL_CORE_CONTRACT_INFO.MILITARY_BRANCH  ,...                                     
TBL_C_M_LOAN_MASTER.INCOME_1 = TBL_CORE_CONTRACT_INFO.INCOME_1  ,...                                                   
TBL_C_M_LOAN_MASTER.INCOME_2 = TBL_CORE_CONTRACT_INFO.INCOME_2  ,...                                                   
TBL_C_M_LOAN_MASTER.EMAIL = TBL_CORE_CONTRACT_INFO.EMAIL  ,...                                                         
TBL_C_M_LOAN_MASTER.CLIENT_ID = TBL_CORE_CONTRACT_INFO.CLIENT_ID  ,...                                                 
TBL_C_M_LOAN_MASTER.SCH_NAME = TBL_CORE_CONTRACT_INFO.SCH_NAME  ,...                                                   
TBL_C_M_LOAN_MASTER.VLAST_PAYMENT_DATE = TBL_CORE_CONTRACT_INFO.VLAST_PAYMENT_DATE  ,...                               
TBL_C_M_LOAN_MASTER.LAST_PAYMENT_AMOUNT  = TBL_CORE_CONTRACT_INFO.LAST_PAYMENT_AMOUNT  ,...                            
TBL_C_M_LOAN_MASTER.LAST_DUE_DATE = TBL_CORE_CONTRACT_INFO.LAST_DUE_DATE               ,...                            
TBL_C_M_LOAN_MASTER.VPRODUCT_CATEGORY  = TBL_CORE_CONTRACT_INFO.PRODUCT_ID  ,...                                       
TBL_C_M_LOAN_MASTER.VSUBPRODUCT_CATEGORY = TBL_CORE_CONTRACT_INFO.SUB_PRODUCT_ID   ...                                 
...                                                                                                                    
   WHEN NOT MATCHED THEN...                                                                                            
INSERT (...                                                                                                            
	...                                                                                                                   
	...                                                                                                                   
	IPRODUCT_ID,...                                                                                                       
	ISUB_PRODUCT_ID,...                                                                                                   
	IBENTITY_ID,...                                                                                                       
	IBRANCH_ID,...                                                                                                        
	ISEQ,...                                                                                                              
	VACCOUNT_NO,...                                                                                                       
	IPRIMARY_CUSTORMER_ID,...                                                                                             
	ISECONDARY_CUSTORMER_ID,...                                                                                           
	VCONTRACT_NO,...                                                                                                      
	VOLD_CONTRACT_NO,...                                                                                                  
	VACCOUNT_SUB_NO	,...                                                                                                  
	VLOT_ISSUED,...                                                                                                       
	DLOAN_APPLY_AMT,...                                                                                                   
	DLOAN_APPLY_DTE,...                                                                                                   
	DLOAN_APPROVE_DTE,...                                                                                                 
	DLOAN_APPROVE_AMT,...                                                                                                 
	DACC_OPEN_DATE,...                                                                                                    
	DLOAN_FIRST_DISBURSE_DTE,...                                                                                          
	DCLOSE_DATE,...                                                                                                       
	ILOAN_TERM,...                                                                                                        
	IINSTALMENT_AMOUNT,...                                                                                                
	VCREDIT_PURPOSE,...                                                                                                   
	VLOAN_PAYMT_METHD,...                                                                                                 
	VACCOUNT_CLOSED_REASON,...                                                                                            
    IACCOUNT_ACTIVE,...                                                                                                
	ILOAN_AMOUNT,...                                                                                                      
	DATE_CREATED,...                                                                                                      
	DATE_LAST_UPDATED,...                                                                                                 
	RESHEDULE_FLAG,...                                                                                                    
	NEXT_INSTALLMENT_DATE, ...                                                                                            
	NEXT_INSTALLMENT_AMOUNT,...                                                                                           
	NEXT_INSTALLMEN_TYPE ,...                                                                                             
	TC_ID,...                                                                                                             
	VCURRENCY,...                                                                                                         
	DRENT_DUE_DATE,...                                                                                                    
	OFFICE_CODE,...                                                                                                       
	MORATORIUM_FLAG,...                                                                                                   
	VNPSTATUS,...                                                                                                         
	DAILY_FACTOR,...                                                                                                      
	LATE_FEES,...                                                                                                         
	DMAT_DATE,...                                                                                                         
	TRUE_RATE,...                                                                                                         
	PRINCIPAL               ,     ...                                                                                     
	TRAN_DESCRIPTION        , ...                                                                                         
	MATURITY_PERIOD         , ...                                                                                         
	REFERENCE_LC            , ...                                                                                         
	INVOICE_NO              , ...                                                                                         
	PRODUCT                 , ...                                                                                         
	CIF                     , ...                                                                                         
	CARD_ACC_TYPE           , ...                                                                                         
	MAS_CARD                , ...                                                                                         
	ACCOUNT1                , ...                                                                                         
	BILLING_CYCLE_CODE      , ...                                                                                         
	ACC_STATUS              , ...                                                                                         
	CITIZEN_ID              , ...                                                                                         
	DIRECT_DEBIT_PYMNT_ACC  , ...                                                                                         
	PAYMENT_CODE            , ...                                                                                         
	LAST_PAYMENT            , ...                                                                                         
	LAST_PAYMENT_DATE       , ...                                                                                         
	MINIMUM_PAYMENT         , ...                                                                                         
	EXPIRED_PAYMENTS        , ...                                                                                         
	APP_APPROVAL_DATE       , ...                                                                                         
	BRANCH_OFFICE_CODE      , ...                                                                                         
	FUTURE_PYMNT_DUE_DATE   , ...                                                                                         
	CARD_STATUS             , ...                                                                                         
	FIELD4                  , ...                                                                                         
	VIP_PROFILE             , ...                                                                                         
	OCCU_CODE               , ...                                                                                         
	MOTHERS_MAIDEN_NAME     , ...                                                                                         
	MILITARY_BRANCH         , ...                                                                                         
	INCOME_1                , ...                                                                                         
	INCOME_2                , ...                                                                                         
	EMAIL                   , ...                                                                                         
	CLIENT_ID               , ...                                                                                         
	SCH_NAME                 ,...                                                                                         
	VLAST_PAYMENT_DATE        ,...                                                                                        
	LAST_PAYMENT_AMOUNT      ,...                                                                                         
	LAST_DUE_DATE             ,...                                                                                        
    VPRODUCT_CATEGORY,...                                                                                              
	VSUBPRODUCT_CATEGORY...                                                                                               
...                                                                                                                    
       )...                                                                                                            
VALUES...                                                                                                              
      ( ...                                                                                                            
	...                                                                                                                   
	IPRODUCT_ID	,...                                                                                                      
	ISUB_PRODUCT_ID,...                                                                                                   
	CAST (MAIN_BRANCH_ID AS INT),...                                                                                      
	IBRANCH_ID,...                                                                                                        
	CAST(V_SEQUENCE AS INT),...                                                                                           
	MAIN_ACCOUNT_NO,...                                                                                                   
	PRIMARY_CUS_ID	,...                                                                                                   
	SECONDORY_CUS_ID,...                                                                                                  
	CONTRACT_NO	,...                                                                                                      
	OLD_CONTRACT_NO	,...                                                                                                  
	MAIN_FACILITY_NO	,...                                                                                                 
	LAST_LETTER_ISSUED	,...                                                                                               
	LOAN_APPLY_AMOUNT	,...                                                                                                
	LOAN_APPLY_DATE	,...                                                                                                  
	LOAN_APPROVE_DATE	,...                                                                                                
	LOAN_APPROVE_AMOUNT	,...                                                                                              
	ACCOUNT_OPEN_DATE,	...                                                                                                
	FIRST_DISBURSEMENT_DATE,...                                                                                           
	CLOSED_DATE	,...                                                                                                      
	LOAN_TERM	,...                                                                                                        
	INSTALLMENT_AMOUNT,	...                                                                                               
	PURPOSE	,...                                                                                                          
	LOAN_PAYMENT_METHOD	,...                                                                                              
	CLOSED_REASON,...                                                                                                     
    ACCOUNT_STATUS,...                                                                                                 
	ILOAN_AMOUNT,...                                                                                                      
	DATE_CREATED,...                                                                                                      
	LAST_UPDATED_DATE,...                                                                                                 
	RESHEDULE_FLAG,...                                                                                                    
	NEXT_INSTALLMENT_DATE, ...                                                                                            
	NEXT_INSTALLMENT_AMOUNT,...                                                                                           
	NEXT_INSTALLMEN_TYPE,...                                                                                              
	TC_ID,...                                                                                                             
	CURRENCY,...                                                                                                          
	RENT_DUE_DATE,...                                                                                                     
	OFFICE_CODE,...                                                                                                       
	MORATORIUM_CODE,...                                                                                                   
	NPA_FLAG,...                                                                                                          
	DAILY_FACTOR,...                                                                                                      
	LATE_FEES,...                                                                                                         
	MATURE_DATE,...                                                                                                       
	TRUE_RATE ,...                                                                                                        
		PRINCIPAL               ,     ...                                                                                    
	TRAN_DESCRIPTION        , ...                                                                                         
	MATURITY_PERIOD         , ...                                                                                         
	REFERENCE_LC            , ...                                                                                         
	INVOICE_NO              , ...                                                                                         
	PRODUCT                 , ...                                                                                         
	CIF                     , ...                                                                                         
	CARD_ACC_TYPE           , ...                                                                                         
	MAS_CARD                , ...                                                                                         
	ACCOUNT1                , ...                                                                                         
	BILLING_CYCLE_CODE      , ...                                                                                         
	ACC_STATUS              , ...                                                                                         
	CITIZEN_ID              , ...                                                                                         
	DIRECT_DEBIT_PYMNT_ACC  , ...                                                                                         
	PAYMENT_CODE            , ...                                                                                         
	LAST_PAYMENT            , ...                                                                                         
	LAST_PAYMENT_DATE       , ...                                                                                         
	MINIMUM_PAYMENT         , ...                                                                                         
	EXPIRED_PAYMENTS        , ...                                                                                         
	APP_APPROVAL_DATE       , ...                                                                                         
	BRANCH_OFFICE_CODE      , ...                                                                                         
	FUTURE_PYMNT_DUE_DATE   , ...                                                                                         
	CARD_STATUS             , ...                                                                                         
	FIELD4                  , ...                                                                                         
	VIP_PROFILE             , ...                                                                                         
	OCCU_CODE               , ...                                                                                         
	MOTHERS_MAIDEN_NAME     , ...                                                                                         
	MILITARY_BRANCH         , ...                                                                                         
	INCOME_1                , ...                                                                                         
	INCOME_2                , ...                                                                                         
	EMAIL                   , ...                                                                                         
	CLIENT_ID               , ...                                                                                         
	SCH_NAME                 ,...                                                                                         
	VLAST_PAYMENT_DATE        ,...                                                                                        
	LAST_PAYMENT_AMOUNT      ,...                                                                                         
	LAST_DUE_DATE            ,...                                                                                         
    PRODUCT_ID               ,...                                                                                      
	SUB_PRODUCT_ID...                                                                                                     
	...                                                                                                                   
...                                                                                                                    
      );...                                                                                                            
    ...                                                                                                                
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSTOBEPROCESSED=@var_Rowsprocessed,...                                                                      
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_MGR_LOAN_MASTER_LOAN Completed Successfully !'...                                               
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSTOBEPROCESSED=0,...                                                                             
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_MGR_LOAN_MASTER loan Completed With Errors, Please refer TBL_ERROR_LOG_DB for more ...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_ERROR_LOG,...                                                                    
                   'COM_MGR_LOAN_MASTER_LOAN',...                                                                      
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
				    END CATCH...                                                                                                   
...                                                                                                                    
END;                                                                                                                   


