
Text                                                                                                                   
----                                                                                                                   
CREATE   PROCEDURE [dbo].[COM_CORE_ACCOUNT_INFO](@para_UserID FLOAT)AS...                                              
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_CORE_ACCOUNT_INFO...                                                                             
Author          : ...                                                                                                  
Date Created    : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : System User information from DFCC DB...                                                              
Level           : DB Link to Core...                                                                                   
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID,...                                                                                                                
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_CORE_ACCOUNT_INFO',...                                                                                            
'TBL_CORE_ACCOUNT_INFO',...                                                                                            
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
--LOAN...                                                                                                              
INSERT INTO TBL_CORE_ACCOUNT_INFO(...                                                                                  
			ACCOUNT_ID,...                                                                                                      
			ACCOUNT_TYPE,...                                                                                                    
			ACCOUNT_NO,...                                                                                                      
			OLD_ACCOUNT_NO,...                                                                                                  
			ACCOUNT_AMOUNT,...                                                                                                  
			ACCOUNT_OPEN_DATE,...                                                                                               
			OWNERSHIP_TYPE,...                                                                                                  
			DEPOSITE_TYPE,...                                                                                                   
			MATURITY_DATE,...                                                                                                   
			BRANCH,...                                                                                                          
			CURRENCY,...                                                                                                        
			TERM,...                                                                                                            
			ACCOUNT_STATUS,...                                                                                                  
			ACCOUNT_CLOSED_DATE,...                                                                                             
			ACTUAL_BALANCE,...                                                                                                  
			LEDGER_BALANCE,...                                                                                                  
			AVAILBLE_BALANCE,...                                                                                                
			ACCRUED_INTEREST...                                                                                                 
       )...                                                                                                            
SELECT ...                                                                                                             
		CUSTOMER,...                                                                                                         
		ACTIVE_PRODUCT,...                                                                                                   
		LINKED_APPL_ID,...                                                                                                   
		ALT_ACCT_ID,...                                                                                                      
		CONVERTED_BALANCE,...                                                                                                
		ORIG_CONTRACT_DATE,...                                                                                               
		CUSTOMER_ROLE,...                                                                                                    
		ACTIVE_PRODUCT,...                                                                                                   
		MATURITY_DATE,...                                                                                                    
		CO_CODE,...                                                                                                          
		CURRENCY,...                                                                                                         
		TERM,...                                                                                                             
		ACCT_STATUS,...                                                                                                      
		ACCT_CLOSE_DATE,...                                                                                                  
		ONLINE_ACTUAL_BAL,...                                                                                                
		WORKING_BALANCE,...                                                                                                  
		WORKING_BALANCE,...                                                                                                  
		ACCRUED_INTEREST...                                                                                                  
...                                                                                                                    
FROM  TX_BRANCH_PROTFOLIO_REPORT ...                                                                                   
WHERE TYPE = 'LN' ;...                                                                                                 
...                                                                                                                    
...                                                                                                                    
SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                                
...                                                                                                                    
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                           
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_CORE_ACCOUNT_INFO Completed Successfully !'...                                                  
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSPROCESSE=0,...                                                                                  
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_CORE_ACCOUNT_INFO Completed With Errors, Please refer TBL_ERROR_LOG_DB for more det...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                               
                   'COM_CORE_ACCOUNT_INFO',...                                                                         
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


