
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE   PROCEDURE [dbo].[COM_CORE_MOVABLE_INFO](@para_UserID FLOAT)AS...                                              
BEGIN...                                                                                                               
...                                                                                                                    
  DECLARE ...                                                                                                          
   @var_ErrorLogID        DECIMAL(20),...                                                                              
   @var_ProcessStatusID   DECIMAL(20),  ...                                                                            
   @var_Rowsprocessed     DECIMAL(20),  ...                                                                            
   @var_ErrorMessage      VARCHAR(500),...                                                                             
   @IsERROR               INT,...                                                                                      
   @Error_Message         VARCHAR(500),...                                                                             
   @ERROR_LINE            VARCHAR(20);   ...                                                                           
...                                                                                                                    
   SET @var_Rowsprocessed =  0;...                                                                                     
/* -------------------------------------------------------------------------*...                                       
Procedure       : COM_CORE_MOVABLE_INFO...                                                                             
Author          : ...                                                                                                  
Date Created    : ...                                                                                                  
Date Last Mod.  : ...                                                                                                  
Description     : System User information from COM DB...                                                               
Level           : DB Link to Core...                                                                                   
...                                                                                                                    
=============================================================================*/...                                     
...                                                                                                                    
...                                                                                                                    
SELECT @var_ProcessStatusID = NEXT VALUE FOR SEQ_C_LOG_PROCESS_STATUS;...                                              
...                                                                                                                    
INSERT INTO TBL_C_LOG_PROCESS_STATUS...                                                                                
(...                                                                                                                   
IID,...                                                                                                                
VPROCESSDESC,...                                                                                                       
VPHASE,...                                                                                                             
DSTARTTIME...                                                                                                          
)...                                                                                                                   
SELECT ...                                                                                                             
@var_ProcessStatusID,...                                                                                               
'COM_CORE_MOVABLE_INFO',...                                                                                            
'TBL_CORE_OFFICERS',...                                                                                                
GETDATE()...                                                                                                           
;...                                                                                                                   
...                                                                                                                    
BEGIN TRY...                                                                                                           
...                                                                                                                    
TRUNCATE TABLE TBL_CORE_MOVABLE_INFO;...                                                                               
...                                                                                                                    
--LOAN...                                                                                                              
INSERT INTO TBL_CORE_MOVABLE_INFO(...                                                                                  
	CUSTOMER_CIF 			,...                                                                                                  
	CONTRACT_NO				,...                                                                                                   
	ASSEST_NAME				,...                                                                                                   
	ASSET_CODE				,...                                                                                                    
	ASSEST_DES				,...                                                                                                    
	COLLETERAL_NO			,...                                                                                                  
	COLLETERAL_SUBID		,...                                                                                                
	ASSEST_OWNER			,...                                                                                                   
	CURRENCY				,...                                                                                                      
	REG_NO					,...                                                                                                       
	VEHICLE_BRAND_MODEL		,...                                                                                             
	VEHICLE_ID				,...                                                                                                    
	SHARE_COUNTER			,...                                                                                                  
	ORIGINAL_QUANTITY		,...                                                                                               
	SHARE_PRICE				,...                                                                                                   
	LAND_AREA_UNIT			,...                                                                                                 
	DEED_NO					,...                                                                                                      
	--MORTGAGE_BOND_VALUE	,...                                                                                            
	MARKET_VALUE			,...                                                                                                   
	FSV_VALUE				,...                                                                                                     
	VALUER_NAME				,...                                                                                                   
	VALUATION_DATE			,...                                                                                                 
	--VALUTAION_EXPIRE_DATE	,...                                                                                          
	CR_BOOK_NO				,...                                                                                                    
	CHASSIS_NO				,...                                                                                                    
	ENGINE_NO				,...                                                                                                     
	MAKE					,...                                                                                                         
	MODEL...                                                                                                              
       )...                                                                                                            
SELECT ...                                                                                                             
    B.CUSTOMER_ID AS Customer_Cif,...                                                                                  
    D.ACCOUNT AS Contract_No,...                                                                                       
    E.DESCRIPTION,...                                                                                                  
    B.COLLATERAL_CODE,...                                                                                              
	E.DESCRIPTION AS ASSEST_DES,...                                                                                       
    B.ID AS Colleteral_Reference_No,...                                                                                
	B.APPLICATION_ID Colleteral_Account_No,...                                                                            
    B.CUSTOMER_ID AS Colleteral_Owner,...                                                                              
    B.CURRENCY,...                                                                                                     
    A.VEHICLE_REGISTRATION_NUMBER AS REG_NO,...                                                                        
    A.VEHICLE_MAKE_OR_MODEL,...                                                                                        
	A.VEHICLE_REGISTRATION_NUMBER AS VEHICLE_ID,...                                                                       
    A.SHARE_BROKER,...                                                                                                 
    A.ORG_NUMBER_OF_SHARES_PLEDGED,...                                                                                 
    A.ORIGINAL_SHARE_PRICE,...                                                                                         
	A.LAND_EXTENT,...                                                                                                     
	A.PLAN_NUMBER_AND_DATE,...                                                                                            
    A.REVISED_MARKET_VALUE,...                                                                                         
    A.ORIGINAL_FORCED_SALE_VALUE,...                                                                                   
    A.VALUERS_NAME,...                                                                                                 
    A.ORIGINAL_VALUATION_DATE,...                                                                                      
	F.CR_BOOK_NO,...                                                                                                      
    A.CHASSIS_NUMBER,...                                                                                               
    A.ENGINE_NUMBER,...                                                                                                
    A.VEHICLE_MAKE_OR_MODEL AS MAKE,...                                                                                
    A.VEHICLE_MAKE_OR_MODEL AS MODEL...                                                                                
FROM...                                                                                                                
    DWH.tx_lkpvco_collateral_details A...                                                                              
JOIN...                                                                                                                
    DWH.TX_COLLATERAL B ON A.ID = B.ID...                                                                              
JOIN...                                                                                                                
    DWH.tx_collateral_right_limit_reference C ON B.COLLATERAL_RIGHT_ID = C.ID...                                       
JOIN...                                                                                                                
    DWH.tx_limit_extend D ON C.LIMIT_REFERENCE = D.ID...                                                               
JOIN...                                                                                                                
    DWH.TX_COLLATERAL_CODE E ON B.COLLATERAL_TYPE = E.ID...                                                            
LEFT JOIN...                                                                                                           
    DWH.TX_COLLECT_121_LOANS F ON D.ACCOUNT = F.LINKED_APPL_ID ;...                                                    
  ...                                                                                                                  
--LEASE...                                                                                                             
INSERT INTO TBL_CORE_MOVABLE_INFO(...                                                                                  
	--CUSTOMER_CIF 			,...                                                                                                
	CONTRACT_NO				,...                                                                                                   
	ASSET_CODE				,...                                                                                                    
	ASSEST_TYPE_ID			,...                                                                                                 
	ASSEST_NAME				,...                                                                                                   
	REG_NO					,...                                                                                                       
	VEHICLE_BRAND_MODEL		,...                                                                                             
	VEHICLE_ID				,...                                                                                                    
	ASSET_SERIAL_NO			,...                                                                                                
	ORIGINAL_QUANTITY		,...                                                                                               
	COLLETERAL_AMOUNT		,...                                                                                               
	MARKET_VALUE			,...                                                                                                   
	FSV_VALUE				,...                                                                                                     
	VALUER_NAME				,...                                                                                                   
	VALUATION_DATE			,...                                                                                                 
	CR_BOOK_NO				,...                                                                                                    
	CHASSIS_NO				,...                                                                                                    
	ENGINE_NO				,...                                                                                                     
	COLOR					,...                                                                                                        
	MAKE					,...                                                                                                         
	MODEL					...                                                                                                         
...                                                                                                                    
       )...                                                                                                            
...                                                                                                                    
SELECT...                                                                                                              
    F.FACNO,...                                                                                                        
    EQ.EQTYPECODE,...                                                                                                  
	ASPROVAL.EQTYPEID,...                                                                                                 
    EQ.DESCR,...                                                                                                       
    case when ASPROVAL.EQTYPEID IN ( '8', '17', '23', '1', '3',...                                                     
                                    '9', '13', '2', '10', '16',...                                                     
                                    '18', '19', '20', '21', '22',...                                                   
                                    '24', '5', '12', '14', '15' ) then  ASPROVAL.CUSLINE5 ...                          
    when ASPROVAL.EQTYPEID IN ( '4','7','25' ) then ASPROVAL.CUSLINE9...                                               
    when ASPROVAL.EQTYPEID IN ( '26' ) then  ASPROVAL.CUSLINE4 end as vehicleNo,...                                    
    MO.MODELCODE,...                                                                                                   
	ASPROVAL.CUSLINE5,...                                                                                                 
    ALOT.NOOFASSET,...                                                                                                 
    ALOT.ASSETID,...                                                                                                   
    ALOT.UNITPRICE,...                                                                                                 
	CASE...                                                                                                               
        WHEN ASPROVAL.EQTYPEID IN ( '8', '17', '23', '1', '3',...                                                      
                       '9', '13', '2', '10', '16',...                                                                  
                                    '18', '19', '20', '21', '22',...                                                   
                                    '24', '5', '12', '14', '15' ) THEN...                                              
            CUSLINE37...                                                                                               
        WHEN ASPROVAL.EQTYPEID IN ( '11' ) THEN...                                                                     
            CUSLINE20...                                                                                               
        WHEN ASPROVAL.EQTYPEID IN ( '4', '7', '25' ) THEN...                                                           
            CUSLINE36...                                                                                               
        WHEN ASPROVAL.EQTYPEID IN ( '6' ) THEN...                                                                      
            CUSLINE18...                                                                                               
        WHEN ASPROVAL.EQTYPEID IN ( '26' ) THEN...                                                                     
            CUSLINE12...                                                                                               
    END AS MARKETVAL,...                                                                                               
    COL121.FS_VALUE,...                                                                                                
	COL121.VALUER,...                                                                                                     
    COL121.VALUATION_DATE,...                                                                                          
    ASPROVAL.CUSLINE5,...                                                                                              
	ASPROVAL.CUSLINE3,...                                                                                                 
    ASPROVAL.CUSLINE2,...                                                                                              
    ASPROVAL.CUSLINE20,...                                                                                             
    ALOT.MAKEID,...                                                                                                    
    ALOT.MODELID...                                                                                                    
...                                                                                                                    
FROM...                                                                                                                
    STG_SKL_ASSET_PRO_VAL_DRF ASPROVAL...                                                                              
	LEFT JOIN STG_SKL_FACILITY_DRF F ON F.APPID = ASPROVAL.APPID AND F.TCID = ASPROVAL.TCID...                            
    LEFT JOIN STG_SKL_EQTYPE EQ ON ASPROVAL.EQTYPEID = EQ.EQTYPEID...                                                  
    LEFT JOIN STG_SKL_MODEL MO ON ALOT.MODELID = MO.MODELID...                                                         
    LEFT JOIN STG_SKL_ASSET_LOT ALOT ON F.FACID = ALOT.FACID...                                                        
    LEFT JOIN STG_SKL_COL_121 COL121 ON F.FACID = COL121.FACID;...                                                     
...                                                                                                                    
...                                                                                                                    
 SET @var_Rowsprocessed = @@ROWCOUNT;...                                                                               
...                                                                                                                    
...                                                                                                                    
/* Update Process Status Log- Reporting Successful Completion */...                                                    
UPDATE  TBL_C_LOG_PROCESS_STATUS...                                                                                    
SET     IROWSPROCESSE=@var_Rowsprocessed,...                                                                           
        DENDTIM=GETDATE(),...                                                                                          
        VCOMMENTS='COM_CORE_MOVABLE_INFO Completed Successfully !'...                                                  
WHERE   IID= @var_ProcessStatusID;...                                                                                  
...                                                                                                                    
END TRY...                                                                                                             
...                                                                                                                    
...                                                                                                                    
BEGIN CATCH...                                                                                                         
...                                                                                                                    
     SELECT @IsERROR =1,...                                                                                            
	 @Error_Message=ERROR_MESSAGE(),...                                                                                   
     @ERROR_LINE = ERROR_LINE();...                                                                                    
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE      TBL_C_LOG_PROCESS_STATUS...                                                                          
          SET     IROWSPROCESSE=0,...                                                                                  
                  DENDTIM=GETDATE(),...                                                                                
                  VCOMMENTS='COM_CORE_MOVABLE_INFO Completed With Errors, Please refer TBL_ERROR_LOG_DB for more det...
          WHERE   IID= @var_ProcessStatusID;...                                                                        
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
                    INSERT INTO TBL_C_LOG_ERROR_DB...                                                                  
                    (...                                                                                               
                    IID,...                                                                                            
                    VITEMNAME,...                                                                                      
                    VERROR_MESSAGE,...                                                                                 
                    DPOSTDATETIME,...                                                                                  
                    ICREATEDBY...                                                                                      
...                                                                                                                    
                    )...                                                                                               
                   SELECT...                                                                                           
                   NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                               
                   'COM_CORE_MOVABLE_INFO',...                                                                         
                   @Error_Message+'line '+@ERROR_LINE,...                                                              
                   GETDATE(),...                                                                                       
                   @para_UserID ...                                                                                    
                   ;...                                                                                                
...                                                                                                                    
    END CATCH...                                                                                                       
END;...                                                                                                                


