
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE PROCEDURE CUSTOMER_PREFERENCES AS...                                                                            
BEGIN...                                                                                                               
	BEGIN TRY...                                                                                                          
   	DECLARE ...                                                                                                        
		@v_uid				NUMERIC,...                                                                                                
        @v_counter          NUMERIC,...                                                                                
        @v_contractNo       VARCHAR(400),...                                                                           
        @v_customer_id      NUMERIC,...                                                                                
   		@v_iloanmasterId	NUMERIC,...                                                                                      
--   		v_title			VARCHAR2 DEFAULT NULL;...                                                                             
        @v_errorNo       	VARCHAR(3),...                                                                               
        @v_error        	VARCHAR(400),...                                                                              
		...                                                                                                                  
		@pcur_customer_preference_id NUMERIC,...                                                                             
		@pcur_iloan_master_id		 NUMERIC,...                                                                                  
		@pcur_icustormer_id			 NUMERIC,...                                                                                   
		@pcur_vcall_time_pref		 VARCHAR(200),...                                                                             
		@pcur_vspcins_pref			 VARCHAR(200),...                                                                               
		@pcur_vmonthly_sms_pref		 VARCHAR(200),...                                                                           
		@pcur_vptp_sms_pref			 VARCHAR(200),...                                                                              
		@pcur_voverdue_sms_pref		 VARCHAR(200),...                                                                           
		@pcur_vemail_pref			 VARCHAR(200),...                                                                                
		@pcur_vptp_email_pref		 VARCHAR(200),...                                                                             
		@pcur_vpref_lang			 VARCHAR(200),...                                                                                 
		@pcur_voverdue_email_pref	 VARCHAR(200),...                                                                          
		@pcur_vdetails				 VARCHAR(200),...                                                                                  
		@pcur_added_date			 DATETIME,...                                                                                     
		@pcur_added_user			 NUMERIC,...                                                                                      
...                                                                                                                    
		@pcur_tlm_vcontractNo		 VARCHAR(200),...                                                                             
		@pcur_tu_username			 VARCHAR(200),...                                                                                
...                                                                                                                    
		@IsERROR INT,...                                                                                                     
		@Error_Message VARCHAR(500),...                                                                                      
		@ERROR_LINE VARCHAR(20);...                                                                                          
     ...                                                                                                               
        DECLARE p_cursor CURSOR FOR ...                                                                                
        SELECT aah.*, ...                                                                                              
			tlm.VCONTRACT_NO AS tlm_vContractNo,...                                                                             
--			tci.VNIC AS tci_vnic,...                                                                                          
            u.vusername AS tu_username...                                                                              
         FROM SYN_tbl_customer_preferences aah ...                                                                     
            join SYN_TBL_LOAN_MASTER tlm...                                                                            
            on  tlm.iloan_master_id=aah.iloan_master_id...                                                             
--            SYN_TBL_CUSTOMER_INFO  tci,...                                                                           
            left join  SYN_TBL_users u...                                                                              
            on aah.added_user = u.iuser_id ...                                                                         
            ORDER BY aah.customer_preference_id ASC;...                                                                
--         aah.icustormer_id =tci.icustormer_id)...                                                                    
...                                                                                                                    
        OPEN p_cursor;...                                                                                              
        FETCH p_cursor INTO @pcur_customer_preference_id, @pcur_iloan_master_id, @pcur_icustormer_id, @pcur_vcall_ti...
							@pcur_vmonthly_sms_pref, @pcur_vptp_sms_pref, @pcur_voverdue_sms_pref, @pcur_vemail_pref, @pcur_vptp_email_pr...
							@pcur_vpref_lang, @pcur_voverdue_email_pref, @pcur_vdetails, @pcur_added_date, @pcur_added_user,...             
							@pcur_tlm_vcontractNo, @pcur_tu_username;...                                                                    
        WHILE @@FETCH_STATUS=0...                                                                                      
        BEGIN...                                                                                                       
            BEGIN...                                                                                                   
                SET @v_errorNo 		= '01';...                                                                            
                SET @v_uid			= 0;...                                                                                   
                SET @v_iloanMasterId = 0;...                                                                           
                SET @v_customer_id   = 0;...                                                                           
                SET @v_contractNo =NULL;...                                                                            
--                v_title			:= NULL;...                                                                                
...                                                                                                                    
               	BEGIN TRY...                                                                                           
	                SET @v_errorNo 		= '02';...                                                                           
                    SET @v_contractNo   =@pcur_tlm_vcontractNo;...                                                     
--	                v_username		:= p_cursor.tu_username;...                                                             
--                  	v_title		 	:= p_cursor.csm_title;...                                                              
...                                                                                                                    
--	                SELECT 		NVL(ISECTION_MAIN_ID, 0) ...                                                               
--	                INTO 		v_sectionMainId ...                                                                          
--	                FROM 		TBL_CAMPAIGN_SECTION_MAIN csm...                                                             
--	                WHERE 		csm.VTITLE = v_title;...                                                                    
...                                                                                                                    
                    IF (@pcur_tu_username IS NULL) ...                                                                 
					BEGIN...                                                                                                          
                        SET @v_uid = @pcur_added_user;...                                                              
                    END...                                                                                             
                    ELSE ...                                                                                           
					BEGIN ...                                                                                                         
                        ...                                                                                            
                        SELECT 	@v_uid = ISNULL(TU.IID,0) ...                                                          
                        FROM 	TBL_USERS tu...                                                                          
                        WHERE 	@pcur_tu_username = tu.VUSERNAME;...                                                    
                    END ...                                                                                            
...                                                                                                                    
--                    dbms_output.put_line(v_uid);...                                                                  
                    PRINT @pcur_tu_username;...                                                                        
...                                                                                                                    
            		SELECT 	@v_iloanMasterId = ISNULL(IID, 0) ...                                                            
		            FROM 	TBL_C_M_LOAN_MASTER tlm ...                                                                        
		            WHERE 	tlm.VCONTRACT_NO = @pcur_tlm_vcontractNo;...                                                      
...                                                                                                                    
                    ...                                                                                                
                    SELECT @v_customer_id = ISNULL(IPRIMARY_CUSTORMER_ID, 0) ...                                       
                    FROM TBL_C_M_LOAN_MASTER cii...                                                                    
                    WHERE cii.vcontract_no = @pcur_tlm_vcontractNo;...                                                 
...                                                                                                                    
				END TRY...                                                                                                         
                BEGIN CATCH...                                                                                         
                        SET @v_error = ERROR_MESSAGE();...                                                             
                        ...                                                                                            
                        INSERT INTO tbl_data_migration_error_stg...                                                    
     (err_source, err_desc, err_identify_type,...                                                                      
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                  
                        VALUES ...                                                                                     
                        ('DATA_MIGRATION.TBL_C_A_CUSTOMER_PREFERENCES', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_...
                         @pcur_tlm_vcontractNo, GETDATE(), @v_errorNo, 'cp', NULL);...                                 
                                              ...                                                                      
                END CATCH...                                                                                           
...                                                                                                                    
                BEGIN TRY...                                                                                           
                    SET @v_errorNo = '04';...                                                                          
...                                                                                                                    
                    IF(@v_iloanmasterId != 0) ...                                                                      
					BEGIN...                                                                                                          
                        SET @v_errorNo = '05';...                                                                      
...                                                                                                                    
                        ...                                                                                            
                        INSERT INTO TBL_C_A_CUSTOMER_PREFERENCES...                                                    
                        (IID, ILOAN_MASTER_ID, ICUSTORMER_ID,VCALL_TIME_PREF,VSPCINS_PREF,...                          
                        VMONTHLY_SMS_PREF,VPTP_SMS_PREF,VOVERDUE_SMS_PREF,VEMAIL_PREF,VPTP_EMAIL_PREF,...              
                        VPREF_LANG,VOVERDUE_EMAIL_PREF,VDETAILS,IDELIND,DDELETEDDATE,...                               
                        IPUBLISH,IADDEDBY,DADDEDDATE,IUPDATEDBY,DUPDATEDATE,...                                        
						VURL, OLD_CUS_PREF_ID, OLD_LOAN_MASTER_ID, VUSERNAME, VCONTRACTNO,...                                            
						MIGRATE_FLAG)...                                                                                                 
                        VALUES ...                                                                                     
                        ('SEQ', @v_iloanMasterId, @v_customer_id, @pcur_vcall_time_pref, @pcur_vspcins_pref,...        
						@pcur_vmonthly_sms_pref, @pcur_vptp_sms_pref, @pcur_voverdue_sms_pref, @pcur_vemail_pref, @pcur_vptp_email_pre...
						@pcur_vpref_lang, @pcur_voverdue_email_pref, @pcur_vdetails, NULL, NULL,...                                      
						1, @v_uid, @pcur_added_date, NULL, NULL,...                                                                      
						NULL, @pcur_customer_preference_id, @pcur_iloan_master_id, @pcur_tu_username, @pcur_tlm_vcontractNo,...          
						1);...                                                                                                           
						...                                                                                                              
                    END...                                                                                             
                    ELSE ...                                                                                           
					BEGIN...                                                                                                          
                        SET @v_errorNo = '06';...                                                                      
                        SET @v_error = 'loan master mapping data is null';...                                          
                        ...                                                                                            
                        INSERT INTO tbl_data_migration_error_stg...                                                    
                        (err_source, err_desc, err_identify_type,...                                                   
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                  
                        VALUES ...                                                                                     
                        ('DATA_MIGRATION.TBL_C_A_CUSTOMER_PREFERENCES', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_...
                         @pcur_tlm_vcontractNo, GETDATE(), @v_errorNo, 'cp', NULL);...                                 
                                           ...                                                                         
                    END ...                                                                                            
                ...                                                                                                    
				END TRY...                                                                                                         
				BEGIN CATCH...                                                                                                     
                  ...                                                                                                  
                        SET @v_error = ERROR_MESSAGE();...                                                             
                        ...                                                                                            
                        INSERT INTO tbl_data_migration_error_stg...                                                    
                        (err_source, err_desc, err_identify_type,...                                                   
                         err_identify_id, err_date, err_no, cr_no, err_parameters)...                                  
                        VALUES ...                                                                                     
                        ('DATA_MIGRATION.TBL_C_A_CUSTOMER_PREFERENCES', 'loop : ' + isnull(@v_error, ''), 'CONTRACT_...
                         @pcur_tlm_vcontractNo, GETDATE(), @v_errorNo, 'cp', ISNULL(@v_iloanmasterId, '') + '|' + is...
                                          ...                                                                          
                END CATCH...                                                                                           
...                                                                                                                    
            END;...                                                                                                    
...                                                                                                                    
        FETCH p_cursor INTO @pcur_customer_preference_id, @pcur_iloan_master_id, @pcur_icustormer_id, @pcur_vcall_ti...
							@pcur_vmonthly_sms_pref, @pcur_vptp_sms_pref, @pcur_voverdue_sms_pref, @pcur_vemail_pref, @pcur_vptp_email_pr...
							@pcur_vpref_lang, @pcur_voverdue_email_pref, @pcur_vdetails, @pcur_added_date, @pcur_added_user,...             
							@pcur_tlm_vcontractNo, @pcur_tu_username;...                                                                    
        END;...                                                                                                        
        CLOSE p_cursor;...                                                                                             
        DEALLOCATE p_cursor;...                                                                                        
     ...                                                                                                               
    END TRY...                                                                                                         
	BEGIN CATCH...                                                                                                        
            SELECT @IsERROR = 1,...                                                                                    
			@Error_Message = ERROR_MESSAGE(),...                                                                                
			@ERROR_LINE = ERROR_LINE();...                                                                                      
            ...                                                                                                        
            INSERT INTO tbl_data_migration_error_stg...                                                                
            (err_source, err_desc, err_identify_type,...                                                               
             err_identify_id, err_date, err_no, cr_no, err_parameters)...                                              
            VALUES ...                                                                                                 
            ('DATA_MIGRATION.TBL_C_A_CUSTOMER_PREFERENCES', @Error_Message+'line '+@ERROR_LINE, 'CONTRACT_NO',...      
             @v_contractNo, GETDATE(), @v_errorNo, 'taa', NULL);...                                                    
    END CATCH        ...                                                                                               
END;                                                                                                                   


