
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
CREATE   PROCEDURE [dbo].[P_LETTER_ALLOCATOR](@P_PRODUCT_CODE VARCHAR(3))...                                           
AS...                                                                                                                  
BEGIN...                                                                                                               
BEGIN TRY...                                                                                                           
DECLARE...                                                                                                             
	@v_errorLogId			NUMERIC(20,0),...                                                                                     
	@v_processStatusId		NUMERIC(20,0),...                                                                                 
	@v_rowsProcessed		NUMERIC(20,0),...                                                                                   
	@v_rowsDeleted			NUMERIC(20,0),...                                                                                    
	@v_currentDateTime		DATETIME2,...                                                                                     
	@v_currentDate			DATE,...                                                                                             
	@v_productId			NUMERIC(20,0),...                                                                                      
	...                                                                                                                   
	@v_notes				VARCHAR(1000),...                                                                                         
	@v_actionStatus			VARCHAR(50),...                                                                                     
	@v_itypeId				NUMERIC(10,0),	...                                                                                      
	--@v_icat1Id				NUMERIC(10,0),...                                                                                     
	@v_icat2Id				NUMERIC(10,0),	...                                                                                      
	@v_iActionAccStatusId	NUMERIC(10,0),...                                                                               
...                                                                                                                    
...                                                                                                                    
	@v_loanMasterId			NUMERIC(20,0),...                                                                                   
	@v_contractNo			VARCHAR(50),...                                                                                       
	@v_cat1Id				NUMERIC(20),...                                                                                          
	@v_custId				NUMERIC(20),...                                                                                          
	@v_actionCatVtitle		VARCHAR(100),...                                                                                  
	@v_comConfigType		VARCHAR(100),...                                                                                    
	@v_comConfigSubType		VARCHAR(100),...                                                                                 
	@v_comConfigCode		VARCHAR(100),...                                                                                    
	@v_comConfigMethod		VARCHAR(100),...                                                                                  
	@v_comProductId			NUMERIC(20),...                                                                                     
	@v_comSubProductId		NUMERIC(20),...                                                                                   
	@v_dpd					NUMERIC(20),...                                                                                            
	@v_controlValue			NUMERIC(20),...                                                                                     
	@v_parantialStatusId	NUMERIC,...                                                                                      
	@v_snapshotDate			DATETIME2,...                                                                                       
	@v_campaignId			NUMERIC,...                                                                                           
	@v_letterDate			DATETIME2,...                                                                                         
	@v_setId				NUMERIC,...                                                                                               
	@v_letterId				NUMERIC,...                                                                                            
	@v_actionCurId			NUMERIC,...                                                                                          
	@v_histDtlId			NUMERIC,...                                                                                            
	@v_ptpArrDate			DATETIME2,...                                                                                         
	@v_prpArrAmount			NUMERIC,...                                                                                         
	@v_matureDate			DATE,...                                                                                              
	@v_setInstDate			DATE,...                                                                                             
	@v_setInstAmount		NUMERIC,...                                                                                         
...                                                                                                                    
...                                                                                                                    
	@v_isError				INT,...                                                                                                 
	@v_errorMessage			VARCHAR(500),...                                                                                    
    @v_errorLine			VARCHAR(20);...                                                                                     
...                                                                                                                    
	SET @v_processStatusId	= NEXT VALUE FOR seq_c_log_process_status;...                                                  
    SET @v_currentDateTime	= GETDATE();...                                                                             
	SET @v_currentDate		= CAST(CONVERT(DATE,GETDATE()) AS DATE);...                                                       
...                                                                                                                    
    INSERT INTO tbl_c_log_process_status...                                                                            
	(iid, vprocessdesc, vphase, dstarttime)...                                                                            
    VALUES...                                                                                                          
	(@v_processStatusId, 'Start Campaign Creation Stored Procedure P_LETTER_ALLOCATOR',...                                
	 'Campaign Creation', GETDATE());...                                                                                  
...                                                                                                                    
	SELECT @v_productId = iid  ...                                                                                        
	FROM tbl_c_set_product p ...                                                                                          
	WHERE vproductcode = @P_PRODUCT_CODE...                                                                               
		AND ipublish = 1;...                                                                                                 
...                                                                                                                    
	PRINT '1';		...                                                                                                       
	DECLARE dpd_letter_cur CURSOR LOCAL FAST_FORWARD FOR ...                                                              
	SELECT dl.iloan_master_id, lm.vcontract_no, lm.iprimary_custormer_id, ...                                             
		ac.iid AS vc_cat_id, cc.type, cc.sub_type, cc.vcode AS let_code,  ...                                                
		cc.method, lm.iproduct_id, lm.isub_product_id, dl.iarr_days, ...                                                     
		acc_stat.iparental_status_id, dl.dsnapshot_date,...                                                                  
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
		) AS camp,...                                                                                                        
		CAST(GETDATE() AS DATE)...                                                                                           
	FROM tbl_c_m_delinquency dl...                                                                                        
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = dl.iproductid...                                        
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = dl.iloan_master_id...                                                  
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_set_grand_parantial_status gps ON gps.iid =acc_stat.igrand_parantial_status_id...                   
		INNER JOIN tbl_c_set_parantial_status ps ON ps.iid = acc_stat.iparental_status_id...                                 
		INNER JOIN tbl_c_set_product pm ON pm.iid = lm.iproduct_id...                                                        
		INNER JOIN tbl_c_set_action_category1 ac ON ac.iproductid = dl.iproductid AND cc.template_code = ac.vcode AND ityp...
	WHERE dl.iactioned = 1 ...                                                                                            
		AND dl.iproductid = @v_productId...                                                                                  
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'DPD_LETTER'...                                                                                    
		AND cc.dpd_value = dl.iarr_days ...                                                                                  
		AND lm.LETTER_PREF=1...                                                                                              
		AND cc.ipublish = 1...                                                                                               
		AND lm.delete_flag IS NULL ...                                                                                       
		AND UPPER(gps.vstatus) = 'ACTIVE' ...                                                                                
		AND gps.ipublish = 1...                                                                                              
		--AND ps.vtitle IN ('COLLECTIONS', 'RECOVERIES')...                                                                  
        AND NOT EXISTS (SELECT 'X'...                                                                                  
                        FROM tbl_letters let...                                                                        
                        WHERE  let.iLoan_Master_ID  = dl.iloan_master_id ...                                           
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.vcode...                                                                                   
                            AND CAST(let.dpicked_date_time AS DATE) = CAST(dl.dSnapshot_Date AS DATE));...             
...                                                                                                                    
	OPEN dpd_letter_cur...                                                                                                
...                                                                                                                    
	FETCH NEXT FROM dpd_letter_cur...                                                                                     
	INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                   
		@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                               
		@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                  
		@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                               
...                                                                                                                    
	WHILE @@FETCH_STATUS = 0...                                                                                           
		BEGIN /* Begin of While loop */ ...                                                                                  
			SET @v_actionStatus = 'LETTER';...                                                                                  
...                                                                                                                    
			SELECT @v_letterId = CAST(CURRENT_VALUE AS INT) ...                                                                 
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_LETTER'; ...                                                                                        
...                                                                                                                    
			INSERT INTO tbl_letters ...                                                                                         
			(iletter_id, iloan_master_id, vcontractno, iproduct_id, icampaign_id,...                                            
			 icatid, vstatus, dpicked_date_time, vurl, ddelinquent_date, ...                                                    
			 vactive, sent_method, daddeddate)...                                                                               
			VALUES ...                                                                                                          
			(NEXT VALUE FOR seq_letter, @v_loanMasterId, @v_contractNo, @v_comProductId, @v_campaignId,...                      
			 @v_cat1Id, @v_comConfigCode, @v_snapshotDate, NEWID(), @v_snapshotDate,...                                         
			 'Y', @v_comConfigMethod, GETDATE());...                                                                            
...                                                                                                                    
			SET @v_notes = @v_actionCatVtitle + ' Sent On ' + CAST(@v_snapshotDate AS VARCHAR);...                              
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history...                                                                      
			(iid, vtype, iloan_master_id, iactionuser_id, ddatetime,...                                                         
             tntbs_notes, vntbs_title, --iaccount_status, ...                                                          
			 iproduct_id)...                                                                                                    
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY, 'COMMUNICATION', @v_loanMasterId, 1, @v_letterDate,...                      
			 @v_notes, 'LETTER', --NULL, ...                                                                                    
			 @v_comProductId);...                                                                                               
...                                                                                                                    
			SELECT @v_actionCurId = CAST(CURRENT_VALUE AS INT) ...                                                              
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_C_A_ACTION_HISTORY'; ...                                                                            
			...                                                                                                                 
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history_details ...                                                             
			(iid, ihistory_id, ...                                                                                              
			--iparental_status_id,...                                                                                           
             itype_id, icat1_id, icat2_id, icat3_id, ...                                                               
			 vtypeid_sub, iaccount_status)...                                                                                   
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY_DETAILS, @v_actionCurId, ...                                                 
			--@v_parantialStatusId,...                                                                                          
			 NULL, @v_cat1Id, @v_icat2Id, NULL, ...                                                                             
			 @v_comConfigSubType, NULL);...                                                                                     
...                                                                                                                    
...                                                                                                                    
			FETCH NEXT FROM dpd_letter_cur...                                                                                   
			INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                 
				@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                             
				@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                
				@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                             
...                                                                                                                    
		END /* End of While loop */ ...                                                                                      
...                                                                                                                    
    CLOSE dpd_letter_cur...                                                                                            
    DEALLOCATE dpd_letter_cur...                                                                                       
...                                                                                                                    
...                                                                                                                    
	PRINT '2';		...                                                                                                       
	DECLARE dpd_letter_cur_jb CURSOR LOCAL FAST_FORWARD FOR ...                                                           
	SELECT dl.iloan_master_id, lm.vcontract_no, lm.iprimary_custormer_id, ...                                             
		ac.iid AS vc_cat_id, cc.type, cc.sub_type, cc.vcode AS let_code,  ...                                                
		cc.method, lm.iproduct_id, lm.isub_product_id, dl.iarr_days, ...                                                     
		acc_stat.iparental_status_id, dl.dsnapshot_date,...                                                                  
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
		) AS camp,...                                                                                                        
		CAST(GETDATE() AS DATE)...                                                                                           
	FROM tbl_c_m_delinquency dl...                                                                                        
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = dl.iproductid...                                        
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = dl.iloan_master_id...                                                  
		INNER JOIN TBL_C_M_LOAN_RELATION_DETAILS dt ON dt.ILOAN_MASTER_ID=lm.iid...                                          
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_set_grand_parantial_status gps ON gps.iid =acc_stat.igrand_parantial_status_id...                   
		INNER JOIN tbl_c_set_parantial_status ps ON ps.iid = acc_stat.iparental_status_id...                                 
		INNER JOIN tbl_c_set_product pm ON pm.iid = lm.iproduct_id...                                                        
		INNER JOIN tbl_c_set_action_category1 ac ON ac.iproductid = dl.iproductid AND cc.template_code = ac.vcode AND ityp...
	WHERE dl.iactioned = 1 ...                                                                                            
		AND dl.iproductid = @v_productId...                                                                                  
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'DPD_LETTER_JB'...                                                                                 
		AND cc.dpd_value = dl.iarr_days ...                                                                                  
		AND dt.IRELATION_STATUS_ID=3...                                                                                      
		AND lm.LETTER_PREF=1...                                                                                              
		AND cc.ipublish = 1...                                                                                               
		AND lm.delete_flag IS NULL ...                                                                                       
		AND UPPER(gps.vstatus) = 'ACTIVE' ...                                                                                
		AND gps.ipublish = 1...                                                                                              
		--AND ps.vtitle IN ('COLLECTIONS', 'RECOVERIES')...                                                                  
        AND NOT EXISTS (SELECT 'X'...                                                                                  
                        FROM tbl_letters let...                                                                        
                        WHERE  let.iLoan_Master_ID  = dl.iloan_master_id ...                                           
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.vcode...                                                                                   
                            AND CAST(let.dpicked_date_time AS DATE) = CAST(dl.dSnapshot_Date AS DATE));...             
...                                                                                                                    
	OPEN dpd_letter_cur_jb...                                                                                             
...                                                                                                                    
	FETCH NEXT FROM dpd_letter_cur_jb...                                                                                  
	INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                   
		@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                               
		@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                  
		@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                               
...                                                                                                                    
	WHILE @@FETCH_STATUS = 0...                                                                                           
		BEGIN /* Begin of While loop */ ...                                                                                  
			SET @v_actionStatus = 'LETTER';...                                                                                  
...                                                                                                                    
			SELECT @v_letterId = CAST(CURRENT_VALUE AS INT) ...                                                                 
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_LETTER'; ...                                                                                        
...                                                                                                                    
			INSERT INTO tbl_letters ...                                                                                         
			(iletter_id, iloan_master_id, vcontractno, iproduct_id, icampaign_id,...                                            
			 icatid, vstatus, dpicked_date_time, vurl, ddelinquent_date, ...                                                    
			 vactive, sent_method, daddeddate)...                                                                               
			VALUES ...                                                                                                          
			(NEXT VALUE FOR seq_letter, @v_loanMasterId, @v_contractNo, @v_comProductId, @v_campaignId,...                      
			 @v_cat1Id, @v_comConfigCode, @v_snapshotDate, NEWID(), @v_snapshotDate,...                                         
			 'Y', @v_comConfigMethod, GETDATE());...                                                                            
...                                                                                                                    
			SET @v_notes = @v_actionCatVtitle + ' Sent On ' + CAST(@v_snapshotDate AS VARCHAR);...                              
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history...                                                                      
			(iid, vtype, iloan_master_id, iactionuser_id, ddatetime,...                                                         
             tntbs_notes, vntbs_title, --iaccount_status, ...                                                          
			 iproduct_id)...                                                                                                    
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY, 'COMMUNICATION', @v_loanMasterId, 1, @v_letterDate,...                      
			 @v_notes, 'LETTER', --NULL, ...                                                                                    
			 @v_comProductId);...                                                                                               
...                                                                                                                    
			SELECT @v_actionCurId = CAST(CURRENT_VALUE AS INT) ...                                                              
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_C_A_ACTION_HISTORY'; ...                                                                            
			...                                                                                                                 
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history_details ...                                                             
			(iid, ihistory_id, ...                                                                                              
			--iparental_status_id,...                                                                                           
             itype_id, icat1_id, icat2_id, icat3_id, ...                                                               
			 vtypeid_sub, iaccount_status)...                                                                                   
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY_DETAILS, @v_actionCurId, ...                                                 
			--@v_parantialStatusId,...                                                                                          
			 NULL, @v_cat1Id, @v_icat2Id, NULL, ...                                                                             
			 @v_comConfigSubType, NULL);...                                                                                     
...                                                                                                                    
...                                                                                                                    
			FETCH NEXT FROM dpd_letter_cur_jb...                                                                                
			INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                 
				@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                             
				@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                
				@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                             
...                                                                                                                    
		END /* End of While loop */ ...                                                                                      
...                                                                                                                    
    CLOSE dpd_letter_cur_jb...                                                                                         
    DEALLOCATE dpd_letter_cur_jb...                                                                                    
...                                                                                                                    
	PRINT '3';		...                                                                                                       
	DECLARE dpd_letter_cur_gu CURSOR LOCAL FAST_FORWARD FOR ...                                                           
	SELECT dl.iloan_master_id, lm.vcontract_no, lm.iprimary_custormer_id, ...                                             
		ac.iid AS vc_cat_id, cc.type, cc.sub_type, cc.vcode AS let_code,  ...                                                
		cc.method, lm.iproduct_id, lm.isub_product_id, dl.iarr_days, ...                                                     
		acc_stat.iparental_status_id, dl.dsnapshot_date,...                                                                  
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
		) AS camp,...                                                                                                        
		CAST(GETDATE() AS DATE)...                                                                                           
	FROM tbl_c_m_delinquency dl...                                                                                        
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = dl.iproductid...                                        
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = dl.iloan_master_id...                                                  
		INNER JOIN TBL_C_M_LOAN_RELATION_DETAILS dt ON dt.ILOAN_MASTER_ID=lm.iid...                                          
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_set_grand_parantial_status gps ON gps.iid =acc_stat.igrand_parantial_status_id...                   
		INNER JOIN tbl_c_set_parantial_status ps ON ps.iid = acc_stat.iparental_status_id...                                 
		INNER JOIN tbl_c_set_product pm ON pm.iid = lm.iproduct_id...                                                        
		INNER JOIN tbl_c_set_action_category1 ac ON ac.iproductid = dl.iproductid AND cc.template_code = ac.vcode AND ityp...
	WHERE dl.iactioned = 1 ...                                                                                            
		AND dl.iproductid = @v_productId...                                                                                  
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'DPD_LETTER_JB'...                                                                                 
		AND cc.dpd_value = dl.iarr_days ...                                                                                  
		AND dt.IRELATION_STATUS_ID=4...                                                                                      
		AND lm.LETTER_PREF=1...                                                                                              
		AND cc.ipublish = 1...                                                                                               
		AND lm.delete_flag IS NULL ...                                                                                       
		AND UPPER(gps.vstatus) = 'ACTIVE' ...                                                                                
		AND gps.ipublish = 1...                                                                                              
		--AND ps.vtitle IN ('COLLECTIONS', 'RECOVERIES')...                                                                  
        AND NOT EXISTS (SELECT 'X'...                                                                                  
                        FROM tbl_letters let...                                                                        
                        WHERE  let.iLoan_Master_ID  = dl.iloan_master_id ...                                           
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.vcode...                                                                                   
                            AND CAST(let.dpicked_date_time AS DATE) = CAST(dl.dSnapshot_Date AS DATE));...             
...                                                                                                                    
	OPEN dpd_letter_cur_gu...                                                                                             
...                                                                                                                    
	FETCH NEXT FROM dpd_letter_cur_gu...                                                                                  
	INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                   
		@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                               
		@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                  
		@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                               
...                                                                                                                    
	WHILE @@FETCH_STATUS = 0...                                                                                           
		BEGIN /* Begin of While loop */ ...                                                                                  
			SET @v_actionStatus = 'LETTER';...                                                                                  
...                                                                                                                    
			SELECT @v_letterId = CAST(CURRENT_VALUE AS INT) ...                                                                 
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_LETTER'; ...                                                                                        
...                                                                                                                    
			INSERT INTO tbl_letters ...                                                                                         
			(iletter_id, iloan_master_id, vcontractno, iproduct_id, icampaign_id,...                                            
			 icatid, vstatus, dpicked_date_time, vurl, ddelinquent_date, ...                                                    
			 vactive, sent_method, daddeddate)...                                                                               
			VALUES ...                                                                                                          
			(NEXT VALUE FOR seq_letter, @v_loanMasterId, @v_contractNo, @v_comProductId, @v_campaignId,...                      
			 @v_cat1Id, @v_comConfigCode, @v_snapshotDate, NEWID(), @v_snapshotDate,...                                         
			 'Y', @v_comConfigMethod, GETDATE());...                                                                            
...                                                                                                                    
			SET @v_notes = @v_actionCatVtitle + ' Sent On ' + CAST(@v_snapshotDate AS VARCHAR);...                              
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history...                                                                      
			(iid, vtype, iloan_master_id, iactionuser_id, ddatetime,...                                                         
             tntbs_notes, vntbs_title, --iaccount_status, ...                                                          
			 iproduct_id)...                                                                                                    
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY, 'COMMUNICATION', @v_loanMasterId, 1, @v_letterDate,...                      
			 @v_notes, 'LETTER', --NULL, ...                                                                                    
			 @v_comProductId);...                                                                                               
...                                                                                                                    
			SELECT @v_actionCurId = CAST(CURRENT_VALUE AS INT) ...                                                              
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_C_A_ACTION_HISTORY'; ...                                                                            
			...                                                                                                                 
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history_details ...                                                             
			(iid, ihistory_id, ...                                                                                              
			--iparental_status_id,...                                                                                           
             itype_id, icat1_id, icat2_id, icat3_id, ...                                                               
			 vtypeid_sub, iaccount_status)...                                                                                   
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY_DETAILS, @v_actionCurId, ...                                                 
			--@v_parantialStatusId,...                                                                                          
			 NULL, @v_cat1Id, @v_icat2Id, NULL, ...                                                                             
			 @v_comConfigSubType, NULL);...                                                                                     
...                                                                                                                    
...                                                                                                                    
			FETCH NEXT FROM dpd_letter_cur_gu...                                                                                
			INTO @v_loanMasterId, @v_contractNo, @v_custId, ...                                                                 
				@v_cat1Id, @v_comConfigType, @v_comConfigSubType, @v_comConfigCode,...                                             
				@v_comConfigMethod, @v_comProductId, @v_comSubProductId, @v_dpd,...                                                
				@v_parantialStatusId, @v_snapshotDate, @v_campaignId, @v_letterDate...                                             
...                                                                                                                    
		END /* End of While loop */ ...                                                                                      
...                                                                                                                    
    CLOSE dpd_letter_cur_gu...                                                                                         
    DEALLOCATE dpd_letter_cur_gu...                                                                                    
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
	...                                                                                                                   
	PRINT '4';...                                                                                                         
...                                                                                                                    
	DECLARE settlement_letter_cur CURSOR LOCAL FAST_FORWARD FOR ...                                                       
	SELECT dl.iloan_master_id, lm.vcontract_no, st.iid AS settlement_id,...                                               
		lm.iprimary_custormer_id, ac.iid AS vc_cat1_id, cc.type, cc.sub_type,...                                             
		cc.vcode AS let_code, cc.method,dl.iproductid, dl.iarr_days,...                                                      
		acc_stat.iparental_status_id, dl.dsnapshot_date AS letter_date,...                                                   
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
				AND CAST(c.daddeddate AS DATE) = CAST(dl.dSnapshot_Date AS DATE)...                                                
		) AS camp,...                                                                                                        
		(SELECT CAST(sp1.dinstallmentdate AS DATE)--, iinstallment...                                                        
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'PENDING'...                                                                          
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS installmentdate,...                                                   
		(SELECT iinstallment...                                                                                              
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'PENDING'...                                                                          
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS iinstallment...                                                       
	FROM tbl_c_a_settlement st...                                                                                         
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = st.iloanmasterid...                                                    
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = lm.iproduct_id...                                       
		INNER JOIN tbl_c_m_delinquency dl ON dl.iloan_master_id = lm.iid...                                                  
		INNER JOIN tbl_c_set_action_category1 ac ON ac.vcode = cc.template_code AND ac.iproductid = dl.iproductid AND ityp...
	WHERE st.ipublish = 1...                                                                                              
		AND st.iapprove = 1...                                                                                               
		AND st.vstatus = 'ACTIVE'...                                                                                         
		AND lm.delete_flag IS NULL ...                                                                                       
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'SETTLMENT_CONFIRM'...                                                                             
		AND cc.ipublish = 1...                                                                                               
		AND dl.iactioned = 1...                                                                                              
		AND dl.iproductid = @v_productId...                                                                                  
		AND NOT EXISTS (SELECT 'X'...                                                                                        
						FROM tbl_letters let...                                                                                          
						WHERE let.iLoan_Master_ID = dl.iloan_master_id...                                                                
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.VCODE...                                                                                   
							AND let.settlement_id = st.iid)...                                                                              
...                                                                                                                    
		UNION...                                                                                                             
...                                                                                                                    
		SELECT dl.iloan_master_id, lm.vcontract_no, st.iid AS settlement_id,...                                              
		lm.iprimary_custormer_id, ac.iid AS vc_cat1_id, cc.type, cc.sub_type,...                                             
		cc.vcode AS let_code, cc.method,dl.iproductid, dl.iarr_days,...                                                      
		acc_stat.iparental_status_id, dl.dsnapshot_date AS letter_date,...                                                   
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
				AND CAST(c.daddeddate AS DATE) = CAST(dl.dSnapshot_Date AS DATE)...                                                
		) AS camp,...                                                                                                        
		(SELECT CAST(sp1.dinstallmentdate AS DATE)--, iinstallment...                                                        
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'KEPT'...                                                                             
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS installmentdate,...                                                   
		(SELECT iinstallment...                                                                                              
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'KEPT'...                                                                             
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS iinstallment...                                                       
	FROM tbl_c_a_settlement st...                                                                                         
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = st.iloanmasterid...                                                    
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = lm.iproduct_id...                                       
		INNER JOIN tbl_c_m_delinquency dl ON dl.iloan_master_id = lm.iid...                                                  
		INNER JOIN tbl_c_set_action_category1 ac ON ac.vcode = cc.template_code AND ac.iproductid = dl.iproductid AND ityp...
	WHERE st.ipublish = 1...                                                                                              
		AND st.iapprove = 1...                                                                                               
		AND st.vstatus = 'KEPT'...                                                                                           
		AND lm.delete_flag IS NULL ...                                                                                       
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'SETTLMENT_COMPLETE'...                                                                            
		AND cc.ipublish = 1...                                                                                               
		AND dl.iactioned = 1...                                                                                              
		AND dl.iproductid = @v_productId...                                                                                  
		AND NOT EXISTS (SELECT 'X'...                                                                                        
						FROM tbl_letters let...                                                                                          
						WHERE let.iLoan_Master_ID = dl.iloan_master_id...                                                                
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.VCODE...                                                                                   
							AND let.settlement_id = st.iid)...                                                                              
...                                                                                                                    
		UNION...                                                                                                             
...                                                                                                                    
		SELECT dl.iloan_master_id, lm.vcontract_no, st.iid AS settlement_id,...                                              
		lm.iprimary_custormer_id, ac.iid AS vc_cat1_id, cc.type, cc.sub_type,...                                             
		cc.vcode AS let_code, cc.method,dl.iproductid, dl.iarr_days,...                                                      
		acc_stat.iparental_status_id, dl.dsnapshot_date AS letter_date,...                                                   
		(...                                                                                                                 
			SELECT MAX(c.iid)...                                                                                                
			FROM tbl_c_camp_campaign_accounts b,...                                                                             
				tbl_c_camp_campaign_details c ...                                                                                  
			WHERE b.icamaign_detail_id = c.iid...                                                                               
				AND b.iloan_master_id = dl.iloan_master_id...                                                                      
				AND b.iproduct_id = dl.iproductid ...                                                                              
				AND c.ipublish = 1...                                                                                              
				AND c.vstatus = 'Active'...                                                                                        
				AND CAST(c.daddeddate AS DATE) = CAST(dl.dSnapshot_Date AS DATE)...                                                
		) AS camp,...                                                                                                        
		(SELECT CAST(sp1.dinstallmentdate AS DATE)--, iinstallment...                                                        
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'BROKEN'...                                                                           
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS installmentdate,...                                                   
		(SELECT iinstallment...                                                                                              
		FROM tbl_c_a_settlement st1,...                                                                                      
			tbl_c_a_settlement_plan sp1...                                                                                      
		WHERE st1.iid = sp1.isettlementid...                                                                                 
			AND st1.iid = st.iid...                                                                                             
			AND CAST(sp1.dinstallmentdate AS DATE) = (SELECT CAST(MIN(sp.dinstallmentdate) AS DATE) ...                         
													 FROM tbl_c_a_settlement_plan sp...                                                                       
													 WHERE sp.vstatus = 'BROKEN'...                                                                           
														AND sp.ipublish = 1...                                                                                   
														AND sp.isettlementid = st.iid)) AS iinstallment...                                                       
	FROM tbl_c_a_settlement st...                                                                                         
		INNER JOIN tbl_c_m_loan_master lm ON lm.iid = st.iloanmasterid...                                                    
		INNER JOIN tbl_c_a_account_status acc_stat ON acc_stat.iloan_master_id = lm.iid ...                                  
		INNER JOIN tbl_c_communication_config cc ON cc.iproduct_id = lm.iproduct_id...                                       
		INNER JOIN tbl_c_m_delinquency dl ON dl.iloan_master_id = lm.iid...                                                  
		INNER JOIN tbl_c_set_action_category1 ac ON ac.vcode = cc.template_code AND ac.iproductid = dl.iproductid AND ityp...
	WHERE st.ipublish = 1...                                                                                              
		AND st.iapprove = 1...                                                                                               
		AND st.vstatus = 'BROKEN'...                                                                                         
		AND lm.delete_flag IS NULL ...                                                                                       
		AND cc.type = 'LETTER'...                                                                                            
		AND cc.sub_type = 'SETTLMENT_CANCELLED'...                                                                           
		AND cc.ipublish = 1...                                                                                               
		AND dl.iactioned = 1...                                                                                              
		AND dl.iproductid = @v_productId...                                                                                  
		AND NOT EXISTS (SELECT 'X'...                                                                                        
						FROM tbl_letters let...                                                                                          
						WHERE let.iLoan_Master_ID = dl.iloan_master_id...                                                                
							AND let.iproduct_id = dl.iproductid...                                                                          
							AND let.vstatus = cc.VCODE...                                                                                   
							AND let.settlement_id = st.iid);...                                                                             
...                                                                                                                    
	OPEN settlement_letter_cur...                                                                                         
...                                                                                                                    
	FETCH NEXT FROM settlement_letter_cur...                                                                              
	INTO @v_loanMasterId, @v_contractNo, @v_setId, ...                                                                    
		@v_custId, @v_cat1Id, @v_comConfigType, @v_comConfigSubType, ...                                                     
		@v_comConfigCode, @v_comConfigMethod, @v_comProductId, @v_dpd,...                                                    
		@v_parantialStatusId, @v_snapshotDate, @v_campaignId, ...                                                            
		@v_setInstDate, @v_setInstAmount...                                                                                  
	WHILE @@FETCH_STATUS = 0...                                                                                           
		BEGIN /* Begin of While loop */ ...                                                                                  
			SET @v_actionStatus = 'LETTER';...                                                                                  
...                                                                                                                    
			SELECT @v_letterId = CAST(CURRENT_VALUE AS INT) ...                                                                 
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_LETTER'; ...                                                                                        
...                                                                                                                    
			 -- Inactivate previous letter in same category...                                                                  
            UPDATE tbl_letters ...                                                                                     
			SET vActive   = 'N'...                                                                                              
            WHERE iloan_master_id = @v_loanMasterId...                                                                 
				AND vactive = 'Y'...                                                                                               
				AND vstatus = @v_comConfigCode...                                                                                  
				AND settlement_id < @v_setId;...                                                                                   
...                                                                                                                    
			INSERT INTO tbl_letters ...                                                                                         
			(iletter_id, iloan_master_id, vcontractno, iproduct_id, iloan_product_id, ...                                       
			 icampaign_id, icatid, vstatus, dpicked_date_time, vurl, ddelinquent_date, ...                                      
			 vactive, sent_method, req_status, vletter_owner, iowner_cust_id, settlement_id,...                                 
			 inst_payment_date, settlement_inst_amount)...                                                                      
...                                                                                                                    
			VALUES ...                                                                                                          
			(NEXT VALUE FOR seq_letter, @v_loanMasterId, @v_contractNo, @v_comProductId, @v_comSubProductId, ...                
			 @v_campaignId, @v_cat1Id, @v_comConfigCode, @v_snapshotDate, NEWID(), @v_snapshotDate,...                          
			 'Y', @v_comConfigMethod, 'SYSTEM', 'AP', @v_custId, @v_setId,...                                                   
			 @v_setInstDate, @v_setInstAmount);...                                                                              
...                                                                                                                    
			SET @v_notes = @v_actionCatVtitle + ' Sent On ' + CAST(@v_snapshotDate AS VARCHAR);...                              
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history...                                                                      
			(iid, vtype, iloan_master_id, iactionuser_id, ddatetime,...                                                         
             tntbs_notes, vntbs_title, --iaccount_status, ...                                                          
			 iproduct_id)...                                                                                                    
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY, 'COMMUNICATION', @v_loanMasterId, 1, @v_letterDate,...                      
			 @v_notes, 'LETTER', --NULL, ...                                                                                    
			 @v_comProductId);...                                                                                               
...                                                                                                                    
			SELECT @v_actionCurId = CAST(CURRENT_VALUE AS INT) ...                                                              
			FROM sys.Sequences ...                                                                                              
			WHERE name='SEQ_C_A_ACTION_HISTORY'; ...                                                                            
			...                                                                                                                 
...                                                                                                                    
            INSERT INTO tbl_c_a_action_history_details ...                                                             
			(iid, ihistory_id, ...                                                                                              
			--iparental_status_id,...                                                                                           
             itype_id, icat1_id, icat2_id, icat3_id, ...                                                               
			 vtypeid_sub, iaccount_status)...                                                                                   
            VALUES...                                                                                                  
			(NEXT VALUE FOR SEQ_C_A_ACTION_HISTORY_DETAILS, @v_actionCurId, ...                                                 
			--@v_parantialStatusId,...                                                                                          
			 NULL, @v_cat1Id, @v_icat2Id, NULL, ...                                                                             
			 @v_comConfigSubType, NULL);...                                                                                     
...                                                                                                                    
...                                                                                                                    
			FETCH NEXT FROM settlement_letter_cur...                                                                            
			INTO @v_loanMasterId, @v_contractNo, @v_setId, ...                                                                  
				@v_custId, @v_cat1Id, @v_comConfigType, @v_comConfigSubType, ...                                                   
				@v_comConfigCode, @v_comConfigMethod, @v_comProductId, @v_dpd,...                                                  
				@v_parantialStatusId, @v_snapshotDate, @v_campaignId,...                                                           
				@v_setInstDate, @v_setInstAmount...                                                                                
...                                                                                                                    
		END /* End of While loop */ ...                                                                                      
...                                                                                                                    
    CLOSE settlement_letter_cur...                                                                                     
    DEALLOCATE settlement_letter_cur...                                                                                
...                                                                                                                    
    UPDATE tbl_c_log_process_status...                                                                                 
    SET dendtim   = GETDATE(),...                                                                                      
        vcomments = 'End Campaign Creation Stored Procedure P_LETTER_ALLOCATOR'...                                     
    WHERE iid = @v_processStatusId;	...                                                                                
...                                                                                                                    
END TRY ...                                                                                                            
BEGIN CATCH ...                                                                                                        
	 SELECT @v_isError = 1,...                                                                                            
	 @v_errorMessage = ERROR_MESSAGE(),...                                                                                
     @v_errorLine = ERROR_LINE();...                                                                                   
...                                                                                                                    
	 PRINT @v_errorMessage;...                                                                                            
  -- ------------------------------------------------------------------------------------------------*...              
...                                                                                                                    
      /* Add row to Process Status Log- Indcating Error occured */...                                                  
      UPDATE tbl_c_log_process_status...                                                                               
      SET irowsprocesse = 0,...                                                                                        
		dendtim = GETDATE(),...                                                                                              
		vcomments = 'P_LETTER_ALLOCATOR Completed With Errors, Please refer tbl_c_log_error_db for more details !'...        
      WHERE iid= @v_processStatusId;...                                                                                
...                                                                                                                    
      /* Log error Information in TBL_ERROR_LOG */...                                                                  
...                                                                                                                    
		INSERT INTO tbl_c_log_error_db...                                                                                    
		(iid,...                                                                                                             
		vitemname,...                                                                                                        
		verror_message,...                                                                                                   
		dpostdatetime,...                                                                                                    
		icreatedby)...                                                                                                       
		SELECT NEXT VALUE FOR SEQ_C_LOG_ERROR_DB,...                                                                         
		'P_SMS_ALLOCATOR',...                                                                                                
		@v_errorMessage+'line '+ @v_errorLine,...                                                                            
		GETDATE(),...                                                                                                        
		1;...                                                                                                                
END CATCH...                                                                                                           
...                                                                                                                    
END...                                                                                                                 


