
Text                                                                                                                   
----                                                                                                                   
CREATE PROCEDURE [dbo].[p_my_dashboard_w3](@fromDate VARCHAR(12), @toDate VARCHAR(12), @agent NUMERIC)...              
AS...                                                                                                                  
...                                                                                                                    
BEGIN ...                                                                                                              
DECLARE...                                                                                                             
	...                                                                                                                   
	@v_fromDate				DATE,...                                                                                               
	@v_toDate				DATE;...                                                                                                 
...                                                                                                                    
	PRINT '02';...                                                                                                        
	SET NOCOUNT ON; ...                                                                                                   
	SET @v_fromDate = CONVERT(DATE, @fromDate, 121);...                                                                   
...                                                                                                                    
	PRINT '03';...                                                                                                        
	SET @v_toDate = CONVERT(DATE, @toDate, 121);...                                                                       
...                                                                                                                    
	WITH hierarchy1 AS ...                                                                                                
	(...                                                                                                                  
		SELECT h1.iid, h1.iuserid, h1.iparentid, 0 AS level ...                                                              
		FROM tbl_c_set_user_hierarchy h1...                                                                                  
		WHERE iparentid = 9...                                                                                               
			AND (h1.ddeleteddate IS NULL OR h1.ddeleteddate < CONVERT(DATE, getdate(), 121))		...                               
		UNION ALL ...                                                                                                        
		SELECT h2.iid, h2.iuserid, h2.iparentid, level + 1 ...                                                               
		FROM tbl_c_set_user_hierarchy h2...                                                                                  
			INNER JOIN hierarchy1 h ON h.iuserid = h2.iparentid...                                                              
		WHERE (h2.ddeleteddate IS NULL OR h2.ddeleteddate <  CONVERT(DATE, getdate(), 121))...                               
	),...                                                                                                                 
	hierarchy AS(...                                                                                                      
		SELECT h.iid, h.iuserid, h.iparentid, -1 AS level  ...                                                               
		FROM tbl_c_set_user_hierarchy h...                                                                                   
		WHERE iuserid = 9...                                                                                                 
		UNION ALL...                                                                                                         
		SELECT h1.iid, h1.iuserid, h1.iparentid, 0 AS level  ...                                                             
		FROM hierarchy1 h1...                                                                                                
	),...                                                                                                                 
	summary AS...                                                                                                         
	(SELECT aa.*...                                                                                                       
	FROM tbl_c_a_agent_action aa ...                                                                                      
		LEFT JOIN tbl_c_m_loan_master lm ON aa.iloan_master_id = lm.iid...                                                   
		LEFT JOIN tbl_users u ON aa.iuser_id = u.iid...                                                                      
		--LEFT JOIN tbl_user_profile up ON up.iuserid = u.iid ...                                                            
		LEFT JOIN tbl_user_profile up ON up.iuserid = aa.iuser_id ...                                                        
	WHERE aa.iuser_id IN (SELECT iuserid...                                                                               
						  FROM hierarchy h)...                                                                                           
		--AND aa.ihist_id IS NOT NULL --commented on 9/6./23...                                                              
		AND CAST(aa.iaccess_time AS DATE)  BETWEEN @v_fromDate AND @v_toDate...                                              
...                                                                                                                    
)...                                                                                                                   
--select * from summary s...                                                                                           
...                                                                                                                    
SELECT agentName,...                                                                                                   
		ISNULL(rpc, 0) AS rpc, ...                                                                                           
		contractCount,...                                                                                                    
		ISNULL((CAST(ISNULL(rpc, 0)AS FLOAT) / CAST(NULLIF(callCount, 0)AS FLOAT)*100),0) AS rpcRate, --added on 9/6/23 ...  
		--CONVERT(DECIMAL(16,2), ISNULL(rpc, 0)) / CONVERT(DECIMAL(16,2), ISNULL(contractCount, 0)) AS rpcRate --commented...
		CONCAT(CONCAT(callCount, '/'), contractCount) AS accounts,...                                                        
		ISNULL(nrpc, 0) AS nrpc,...                                                                                          
		ISNULL((CAST(ISNULL(nrpc, 0)AS FLOAT) / CAST(NULLIF(callCount, 0)AS FLOAT)*100),0) AS nrpcRate, ...                  
		ISNULL(ptp, 0) AS ptp,...                                                                                            
		ISNULL(arr, 0) AS arr,...                                                                                            
		ISNULL(cbl, 0) AS cbl,...                                                                                            
		ISNULL(oh, 0) AS oh,...                                                                                              
		ISNULL(oth, 0) AS oth,...                                                                                            
		ISNULL(extra, 0) AS extra,...                                                                                        
		ISNULL(inb, 0) AS inb,...                                                                                            
		ISNULL(expt, 0) AS "exp"...                                                                                          
	FROM(...                                                                                                              
		SELECT s.iuser_id,...                                                                                                
			(SELECT COALESCE(vfullname, vfirstname, vlastname)  FROM tbl_user_profile up WHERE up.iuserid = s.iuser_id) AS ag...
			--(SELECT SUM(ISNULL(rpc, 0)) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE s.iuser_id = s1.iuser_id) AS ...
			(SELECT COUNT(*) FROM summary s1 WHERE s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS contractCount,...          
			(SELECT COUNT(*) FROM summary) AS total,...                                                                         
			(SELECT NULLIF(COUNT(*), 0) FROM summary) AS total_format,...                                                       
			/*(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE vremarks = 'Call' AND s.iuser_id = s1.iu...
			(SELECT SUM(ISNULL(nrpc, 0)) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE s.iuser_id = s1.iuser_id) AS n...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'PTP' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'ARR' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'CBL' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OH' AND s.iuser_id = s1.iuser_id) AS oh,...                      
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OTH' AND s.iuser_id = s1.iuser_id) AS oth,...                    
			(SELECT COUNT(*) FROM summary WHERE rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH')) AS extra,...                
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE vremarks = 'Inbound' AND s.iuser_id = s1.i...
			(SELECT COUNT(*) FROM summary s1 WHERE ihist_id IS NOT NULL AND exp_type > 0 AND s.iuser_id = s1.iuser_id) AS exp...
			SUM(ISNULL(rpc, 0)) AS rpc,...                                                                                      
			ISNULL((SELECT COUNT(*) FROM summary s1 WHERE s1.vremarks = 'Call' AND icall_count=1 AND s.iuser_id = s1.iuser_id...
			(SELECT SUM(ISNULL(nrpc, 0)) FROM summary s1 WHERE s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS nrpc,...       
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'PTP' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS ptp...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'ARR' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS arr...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'CBL' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS cbl...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OH' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS oh,... 
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OTH' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS oth...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH') AND s.iuser_id = s1.ius...
			(SELECT COUNT(*) FROM summary s1 WHERE vremarks = 'Inbound' AND s.iuser_id = s1.iuser_id GROUP BY s1.iuser_id) AS...
			(SELECT COUNT(*) FROM summary s1 WHERE ihist_id IS NOT NULL AND exp_type > 0 AND s.iuser_id = s1.iuser_id GROUP B...
...                                                                                                                    
		FROM summary s...                                                                                                    
		GROUP by iuser_id) oq...                                                                                             
	...                                                                                                                   
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
	END;                                                                                                                  


