
Text                                                                                                                   
----                                                                                                                   
...                                                                                                                    
CREATE PROCEDURE [dbo].[p_unit_dashboard_w3](@fromDate VARCHAR(10), @toDate VARCHAR(10), @unitId NUMERIC, @loggedUse...
AS...                                                                                                                  
BEGIN ...                                                                                                              
DECLARE...                                                                                                             
	@v_fromDate				DATE,...                                                                                               
	@v_toDate				DATE,...                                                                                                 
	@v_unitId				NUMERIC;...                                                                                              
...                                                                                                                    
	SET @v_fromDate = CONVERT(DATE, @fromDate, 121);...                                                                   
	SET @v_toDate = CONVERT(DATE, @toDate, 121);...                                                                       
	SET @v_unitId = @unitId;...                                                                                           
...                                                                                                                    
	PRINT '01';...                                                                                                        
...                                                                                                                    
	IF(@unitId = 0 OR @unitId IS NULL)...                                                                                 
	BEGIN...                                                                                                              
		PRINT '02';...                                                                                                       
		SELECT @v_unitId = up.iunitid ...                                                                                    
		FROM tbl_user_profile up...                                                                                          
		WHERE up.iuserid = @loggedUserId;...                                                                                 
		PRINT '03';...                                                                                                       
	END;...                                                                                                               
...                                                                                                                    
	--SET @v_unitId = @loggedUserId;...                                                                                   
...                                                                                                                    
	PRINT '04';...                                                                                                        
	PRINT @v_unitId;...                                                                                                   
...                                                                                                                    
	WITH users AS...                                                                                                      
	(...                                                                                                                  
		SELECT u.* ...                                                                                                       
		FROM tbl_users u ...                                                                                                 
			LEFT JOIN tbl_user_profile up ON u.iid = up.iuserid...                                                              
		WHERE up.iunitid = 2...                                                                                              
	),...                                                                                                                 
	...                                                                                                                   
	...                                                                                                                   
	summary AS...                                                                                                         
	(SELECT ...                                                                                                           
	--hp.*, --commented on 13/6/23...                                                                                     
	aa.iuser_id,--added on 13/6/23...                                                                                     
	hp.damount,...                                                                                                        
	aa.ihist_id,...                                                                                                       
	CAST(aa.iaccess_time AS DATE) AS iaccess_time, hp.iid AS hist_id, ISNULL(aa.rpc, 0) rpc, ISNULL(aa.nrpc, 0) nrpc,...  
		aa.vremarks, aa.icall_count, aa.rpc_type, aa.exp_type, aa.iall_action...                                             
	FROM tbl_c_a_agent_action aa...                                                                                       
		INNER JOIN tbl_c_m_loan_master lm ON aa.ILOAN_MASTER_ID = lm.iid...                                                  
		--INNER JOIN tbl_c_a_action_history_promise hp ON lm.iid = hp.iloan_master_id AND aa.ihist_id = aa.ihist_id  --com...
		LEFT  JOIN tbl_c_a_action_history_promise hp ON hp.iloan_master_id=lm.iid  AND aa.ihist_id = aa.ihist_id AND aa.iu...
		LEFT JOIN tbl_c_set_action_category2 ac2 ON ac2.iid = hp.icat2id...                                                  
		LEFT JOIN tbl_user_profile up ON up.iuserid = aa.iuser_id...                                                         
		LEFT JOIN tbl_users u ON up.iuserid = u.iid AND aa.iuser_id = u.iid...                                               
	WHERE u.iid IN (SELECT u.iid FROM users u))...                                                                        
		--AND aa.ihist_id IS NOT NULL --commented on 14/6/23...                                                              
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
	SELECT iuser_id,...                                                                                                   
		agentName,...                                                                                                        
		ISNULL(rpc, 0) AS rpc, ...                                                                                           
		--CONVERT(DECIMAL(16,2), ISNULL(rpc, 0)) / CONVERT(DECIMAL(16,2), ISNULL(contractCount, 0)) AS rpcRate,...           
		 ISNULL((CAST(ISNULL(rpc, 0)AS FLOAT) / CAST(NULLIF(callCount, 0)AS FLOAT)*100),0) AS rpcRate, ...                   
		ISNULL(callCount, 0) AS callCount,...                                                                                
		CONCAT(CONCAT(ISNULL(callCount, 0), '/'), contractCount) AS accounts,...                                             
		ISNULL(nrpc, 0) AS nrpc,...                                                                                          
		--CONVERT(DECIMAL(16,2), ISNULL(nrpc, 0)) / CONVERT(DECIMAL(16,2), ISNULL(contractCount, 0)) AS nrpcRate, ...        
		ISNULL((CAST(ISNULL(nrpc, 0)AS FLOAT) / CAST(NULLIF(callCount, 0)AS FLOAT)*100),0) AS nrpcRate, ...                  
		ISNULL(ptp, 0) AS ptp,...                                                                                            
		ISNULL(arr, 0) AS arr,...                                                                                            
		ISNULL(cbl, 0) AS cbl,...                                                                                            
		ISNULL(oh, 0) AS oh,...                                                                                              
		ISNULL(oth, 0) AS oth,...                                                                                            
		ISNULL(extra, 0) AS extra,...                                                                                        
		ISNULL(inb, 0) AS inb,...                                                                                            
		ISNULL(expt, 0) AS "exp"...                                                                                          
	FROM(...                                                                                                              
		SELECT  s.iuser_id,...                                                                                               
			(SELECT COALESCE(vfullname, vfirstname, vlastname)  FROM tbl_user_profile up WHERE up.iuserid = s.iuser_id) AS ag...
			--(SELECT SUM(ISNULL(rpc, 0)) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE s.iuser_id = s1.iuser_id) AS ...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND s.iuser_id = s1.iuser_i...
			/*(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE vremarks = 'Call' AND s.iuser_id = s1.iu...
			(SELECT SUM(ISNULL(nrpc, 0)) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE s.iuser_id = s1.iuser_id) AS n...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'PTP' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'ARR' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE rpc_type = 'CBL' AND s.iuser_id = s1.iuser...
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OH' AND s.iuser_id = s1.iuser_id) AS oh,...                      
			(SELECT COUNT(*) FROM summary s1 WHERE rpc_type = 'OTH' AND s.iuser_id = s1.iuser_id) AS oth,...                    
			(SELECT COUNT(*) FROM summary WHERE rpc_type NOT IN ('PTP', 'ARR', 'CBL', 'OH', 'OTH')) AS extra,...                
			(SELECT COUNT(*) OVER (PARTITION BY s1.iuser_id) FROM summary s1 WHERE vremarks = 'Inbound' AND s.iuser_id = s1.i...
			(SELECT COUNT(*) FROM summary s1 WHERE ihist_id IS NOT NULL AND exp_type > 0 AND s.iuser_id = s1.iuser_id) AS exp...
			(SELECT SUM(ISNULL(rpc, 0)) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND s.iuser_id =...
			ISNULL((SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND s1.vremarks = 'C...
			(SELECT SUM(ISNULL(nrpc, 0)) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND s.iuser_id ...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND iaccess_time BETWEEN @v...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate  AND rpc_type = 'ARR' AND s...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'CBL' AND s....
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'OH' AND s.i...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type = 'OTH' AND s....
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND rpc_type NOT IN ('PTP',...
			(SELECT COUNT(*) FROM summary s1 WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND vremarks = 'Inbound' AN...
			(SELECT COUNT(*) FROM summary s1  WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate AND ihist_id IS NOT NULL A...
...                                                                                                                    
		FROM summary s...                                                                                                    
		WHERE iaccess_time BETWEEN @v_fromDate AND @v_toDate...                                                              
		GROUP by iuser_id) oq...                                                                                             
...                                                                                                                    
	...                                                                                                                   
...                                                                                                                    
...                                                                                                                    
...                                                                                                                    
END;                                                                                                                   


